In [1]:
from pylab import *
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline

DATA_PATH = "/home/xiaohang/Desktop/59970/project/311_Service_Requests_2015.csv" # Make this the /path/to/the/data

In [2]:
col = ['Created Date', 'Incident Zip', 'Complaint Type', 'Agency']
#my_type = {'Created Date': str, 'Incident Zip': float, 'Complaint Type': str}
data_2015 = pd.read_csv(DATA_PATH, usecols=col)

/home/xiaohang/anaconda3/envs/xiaohang/lib/python3.5/site-packages/IPython/core/interactiveshell.py:2723: DtypeWarning: Columns (8) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [3]:
data_2015.head()

             Created Date Agency          Complaint Type Incident Zip
0  03/26/2015 06:50:06 PM   DSNY                Graffiti        11104
1  03/28/2015 04:30:52 PM    DOB            Building/Use        11361
2  04/01/2015 04:48:00 PM    DOT  Street Light Condition          NaN
3  05/04/2015 04:46:00 PM    DOT  Street Light Condition        11234
4  04/17/2015 01:50:07 PM   DSNY                Graffiti        11236

In [4]:
data_2015.dtypes

Created Date      object
Agency            object
Complaint Type    object
Incident Zip      object
dtype: object

In [5]:
len(data_2015)

2282098

In [135]:
data_clean = data_2015.dropna()#remove NaN object

In [136]:
data_clean.dtypes

Created Date      object
Agency            object
Complaint Type    object
Incident Zip      object
dtype: object

In [140]:
data_clean['Incident Zip'] = data_clean['Incident Zip'].convert_objects(convert_numeric=True)#convert incident zip to float data type

print(len(data_clean))
data_clean.dtypes

2114699

/home/xiaohang/anaconda3/envs/xiaohang/lib/python3.5/site-packages/ipykernel/__main__.py:1: FutureWarning: convert_objects is deprecated.  Use the data-type specific converters pd.to_datetime, pd.to_timedelta and pd.to_numeric.
  if __name__ == '__main__':
/home/xiaohang/anaconda3/envs/xiaohang/lib/python3.5/site-packages/ipykernel/__main__.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  if __name__ == '__main__':

Created Date       object
Agency             object
Complaint Type     object
Incident Zip      float64
dtype: object

In [141]:
data_clean = data_clean.loc[data_clean['Incident Zip'] <= float((99999))]#remove weird zip code

In [142]:
len(data_clean)

2114609

### clean complain type

In [143]:
complaint_type = data_clean['Complaint Type']

In [144]:
complaint_type.head(20)

0                          Graffiti
1                      Building/Use
3            Street Light Condition
4                          Graffiti
5            Street Light Condition
7                          Graffiti
8                      Building/Use
9                          Graffiti
10                     Building/Use
11                         Graffiti
12                     Building/Use
13    General Construction/Plumbing
14                         Graffiti
15                     Building/Use
18    General Construction/Plumbing
19                     Building/Use
20                         Graffiti
21          Overgrown Tree/Branches
22                     Building/Use
23          Overgrown Tree/Branches
Name: Complaint Type, dtype: object

In [145]:
complaint_type = complaint_type.drop_duplicates()#rebundant

In [146]:
complaint_type.head(20)

0                                     Graffiti
1                                 Building/Use
3                       Street Light Condition
13               General Construction/Plumbing
21                     Overgrown Tree/Branches
38               Root/Sewer/Sidewalk Condition
69                            New Tree Request
81                              Taxi Complaint
85                       Street Sign - Damaged
96                                Damaged Tree
100                        Special Enforcement
103                   Traffic Signal Condition
113                      Street Sign - Missing
119                               Water System
122                                   Plumbing
129                           Street Condition
131                                   Elevator
140    Special Projects Inspection Team (SPIT)
216                                      Noise
221                                  Dead Tree
Name: Complaint Type, dtype: object

In [147]:
len(complaint_type)

200

In [148]:
data_sample = data_clean[['Created Date', 'Incident Zip']]
data_target = data_clean[['Complaint Type']]

In [149]:
data_sample.head()
#data_sample.dtypes

             Created Date  Incident Zip
0  03/26/2015 06:50:06 PM       11104.0
1  03/28/2015 04:30:52 PM       11361.0
3  05/04/2015 04:46:00 PM       11234.0
4  04/17/2015 01:50:07 PM       11236.0
5  05/04/2015 04:41:00 PM       11234.0

In [150]:
data_target.head()
#data_target.dtypes

           Complaint Type
0                Graffiti
1            Building/Use
3  Street Light Condition
4                Graffiti
5  Street Light Condition

In [151]:
complaint_type = complaint_type.reset_index(drop = True)#replace index number
complaint_type.describe()

count                200
unique               200
top       Drinking Water
freq                   1
Name: Complaint Type, dtype: object

In [152]:
#my_to_str = lambda x:str(x)
#data_clean['Complaint Type'] = data_clean['Complaint Type'].astype('str')

In [153]:
data_clean.dtypes

Created Date       object
Agency             object
Complaint Type     object
Incident Zip      float64
dtype: object

In [154]:
#data_clean['Incident Zip'] = data_clean['Incident Zip'].convert_objects(convert_numeric=True)

In [155]:
#data_2015['Complaint Type'] = data_2015
#data_clean.dtypes

In [156]:
complaint_array = complaint_type.values

In [157]:
complaint_dic = {}
count = 0
for i in complaint_array:
    complaint_dic[i] = count
    count+=1

In [158]:
complaint_dic

{'AGENCY': 188,
 'APPLIANCE': 100,
 'Adopt-A-Basket': 154,
 'Advocate - Other': 194,
 'Advocate - RPIE': 199,
 'Advocate-Commercial Exemptions': 192,
 'Advocate-Personal Exemptions': 190,
 'Advocate-Prop Class Incorrect': 191,
 'Advocate-SCRIE/DRIE': 189,
 'Air Quality': 22,
 "Alzheimer's Care": 78,
 'Animal Abuse': 124,
 'Animal Facility - No Permit': 152,
 'Animal in a Park': 50,
 'Asbestos': 40,
 'BEST/Site Safety': 44,
 'Beach/Pool/Sauna Complaint': 147,
 'Bereavement Support Group': 166,
 'Bike Rack Condition': 85,
 'Bike/Roller/Skate Chronic': 138,
 'Blocked Driveway': 74,
 'Boilers': 90,
 'Bottled Water': 173,
 'Bridge Condition': 150,
 'Broken Muni Meter': 87,
 'Broken Parking Meter': 134,
 'Building Condition': 183,
 'Building/Use': 1,
 'Bus Stop Shelter Placement': 132,
 'Calorie Labeling': 170,
 'Case Management Agency Complaint': 159,
 'City Vehicle Placard Complaint': 86,
 'Collection Truck Noise': 137,
 'Construction': 73,
 'Consumer Complaint': 84,
 'Cranes and Derricks': 116,
 'Curb Condition': 135,
 'DOF Parking - Tax Exemption': 56,
 'DOF Property - City Rebate': 66,
 'DOF Property - Owner Issue': 57,
 'DOF Property - Payment Issue': 49,
 'DOF Property - Property Value': 76,
 'DOF Property - RPIE Issue': 67,
 'DOF Property - Reduction Issue': 51,
 'DOF Property - Request Copy': 48,
 'DOF Property - Update Account': 106,
 'DOOR/WINDOW': 105,
 'DPR Internal': 61,
 'Damaged Tree': 9,
 'Day Care': 197,
 'Dead Tree': 19,
 'Derelict Bicycle': 70,
 'Derelict Vehicle': 107,
 'Derelict Vehicles': 52,
 'Dirty Conditions': 55,
 'Disorderly Youth': 120,
 'Drinking': 114,
 'Drinking Water': 155,
 'EAP Inspection - F59': 136,
 'ELECTRIC': 103,
 'ELEVATOR': 39,
 'Elder Abuse': 64,
 'Electrical': 33,
 'Elevator': 16,
 'Emergency Response Team (ERT)': 29,
 'FLOORING/STAIRS': 95,
 'Fire Alarm - Addition': 171,
 'Fire Alarm - Modification': 151,
 'Fire Alarm - New System': 149,
 'Fire Alarm - Reinspection': 141,
 'Fire Alarm - Replacement': 169,
 'Fire Safety Director - F58': 126,
 'Foam Ban Enforcement': 187,
 'Food Establishment': 88,
 'Food Poisoning': 121,
 'For Hire Vehicle Complaint': 28,
 'For Hire Vehicle Report': 133,
 'Forensic Engineering': 174,
 'Found Property': 80,
 'GENERAL': 99,
 'Gas Station Discharge Lines': 198,
 'General Construction/Plumbing': 3,
 'Graffiti': 0,
 'HEAT/HOT WATER': 102,
 'Harboring Bees/Wasps': 161,
 'Hazardous Materials': 38,
 'Hazmat Storage/Use': 165,
 'Highway Condition': 98,
 'Home Care Provider Complaint': 160,
 'Home Delivered Meal - Missed Delivery': 97,
 'Home Delivered Meal Complaint': 110,
 'Homeless Encampment': 91,
 'Homeless Person Assistance': 111,
 'Housing - Low Income Senior': 77,
 'Housing Options': 75,
 'Illegal Animal Kept as Pet': 144,
 'Illegal Animal Sold': 175,
 'Illegal Fireworks': 119,
 'Illegal Parking': 63,
 'Illegal Tree Damage': 25,
 'Indoor Air Quality': 123,
 'Indoor Sewage': 130,
 'Industrial Waste': 42,
 'Interior Demo': 195,
 'Investigations and Discipline (IAD)': 45,
 'Laboratory': 176,
 'Lead': 37,
 'Legal Services Provider Complaint': 162,
 'Lifeguard': 167,
 'Literature Request': 112,
 'Litter Basket / Request': 65,
 'Maintenance or Facility': 54,
 'Miscellaneous Categories': 157,
 'Missed Collection (All Materials)': 68,
 'Mold': 146,
 'Municipal Parking Facility': 163,
 'NORC Complaint': 196,
 'New Tree Request': 6,
 'Noise': 18,
 'Noise - Commercial': 92,
 'Noise - Helicopter': 122,
 'Noise - House of Worship': 125,
 'Noise - Park': 94,
 'Noise - Residential': 47,
 'Noise - Street/Sidewalk': 82,
 'Noise - Vehicle': 60,
 'Non-Emergency Police Matter': 89,
 'Non-Residential Heat': 20,
 'OUTSIDE BUILDING': 117,
 'Open Flame Permit': 139,
 'Other Enforcement': 81,
 'Overflowing Litter Baskets': 93,
 'Overflowing Recycling Baskets': 142,
 'Overgrown Tree/Branches': 4,
 'PAINT/PLASTER': 72,
 'PLUMBING': 71,
 'Panhandling': 143,
 'Plant': 41,
 'Plumbing': 14,
 'Poison Ivy': 182,
 'Posting Advertisement': 153,
 'Public Assembly': 164,
 'Public Assembly - Temporary': 181,
 'Public Payphone Complaint': 131,
 'Public Toilet': 178,
 'Radioactive Material': 168,
 'Rangehood': 177,
 'Recycling Enforcement': 96,
 'Rodent': 32,
 'Root/Sewer/Sidewalk Condition': 5,
 'SAFETY': 108,
 'SCRIE': 53,
 'SRDE': 109,
 'Sanitation Condition': 58,
 'Scaffold Safety': 34,
 'School Maintenance': 46,
 'Senior Center Complaint': 30,
 'Sewer': 21,
 'Sidewalk Condition': 27,
 'Smoking': 23,
 'Snow': 69,
 'Special Enforcement': 10,
 'Special Natural Area District (SNAD)': 24,
 'Special Projects Inspection Team (SPIT)': 17,
 'Sprinkler - Mechanical': 185,
 'Squeegee': 180,
 'Stalled Sites': 31,
 'Standing Water': 179,
 'Standpipe - Mechanical': 172,
 'Street Condition': 15,
 'Street Light Condition': 2,
 'Street Sign - Damaged': 8,
 'Street Sign - Dangling': 26,
 'Street Sign - Missing': 12,
 'Sweeping/Inadequate': 79,
 'Sweeping/Missed': 62,
 'Tanning': 140,
 'Tattooing': 156,
 'Taxi Complaint': 7,
 'Taxi Report': 129,
 'Taxpayer Advocate Inquiry': 193,
 'Traffic': 104,
 'Traffic Signal Condition': 11,
 'Transportation Provider Complaint': 158,
 'UNSANITARY CONDITION': 43,
 'Unleashed Dog': 127,
 'Unsanitary Animal Facility': 148,
 'Unsanitary Animal Pvt Property': 115,
 'Unsanitary Pigeon Condition': 113,
 'Urinating in Public': 118,
 'VACANT APARTMENT': 184,
 'Vacant Lot': 83,
 'Vending': 128,
 'Violation of Park Rules': 59,
 'WATER LEAK': 101,
 'Water Conservation': 35,
 'Water Quality': 36,
 'Water System': 13,
 'Window Guard': 145,
 'X-Ray Machine/Equipment': 186}

In [159]:
data_clean.head(10)

              Created Date Agency          Complaint Type  Incident Zip
0   03/26/2015 06:50:06 PM   DSNY                Graffiti       11104.0
1   03/28/2015 04:30:52 PM    DOB            Building/Use       11361.0
3   05/04/2015 04:46:00 PM    DOT  Street Light Condition       11234.0
4   04/17/2015 01:50:07 PM   DSNY                Graffiti       11236.0
5   05/04/2015 04:41:00 PM    DOT  Street Light Condition       11234.0
7   05/06/2015 12:39:31 AM   DSNY                Graffiti       11373.0
8   05/05/2015 10:49:36 AM    DOB            Building/Use       10033.0
9   05/06/2015 01:04:44 PM   DSNY                Graffiti       10023.0
10  05/09/2015 10:49:42 AM    DOB            Building/Use       11235.0
11  05/12/2015 07:09:38 AM   DSNY                Graffiti       11229.0

### clean 'Created Date'

In [160]:
dates = pd.to_datetime(data_clean['Created Date'], format = ('%I/%d/%Y %H:%M:%S %p'))#convert to datetime

In [161]:
dates.apply(lambda x: x.strftime('%I-%d-%Y %H:%M:%S'))
dates.head()

0          06-26-2015 06:50:06
1          04-28-2015 04:30:52
3          04-04-2015 04:46:00
4          01-17-2015 01:50:07
5          04-04-2015 04:41:00
7          12-06-2015 12:39:31
8          10-05-2015 10:49:36
9          01-06-2015 01:04:44
10         10-09-2015 10:49:42
11         07-12-2015 07:09:38
12         10-12-2015 10:54:03
13         09-12-2015 09:42:43
14         02-13-2015 02:52:23
15         12-15-2015 12:51:36
18         08-18-2015 08:49:28
19         07-20-2015 07:18:56
20         07-04-2015 07:22:00
21         01-29-2015 01:22:49
22         01-20-2015 01:18:11
23         02-02-2015 02:30:17
24         09-03-2015 09:20:12
25         09-03-2015 09:12:24
26         03-04-2015 03:14:28
27         10-29-2015 10:50:12
28         12-09-2015 12:49:22
29         10-08-2015 10:23:41
30         10-11-2015 10:25:06
31         11-09-2015 11:39:37
32         01-12-2015 01:40:50
33         01-12-2015 01:12:49
                  ...
2282066    09-20-2015 09:36:21
2282067    04-20-2015 04:54:01
2282068    04-20-2015 04:25:46
2282070    10-21-2015 10:02:57
2282071    03-20-2015 03:36:05
2282072    01-20-2015 01:14:18
2282073    06-19-2015 06:53:18
2282074    05-21-2015 05:01:40
2282075    08-20-2015 08:47:54
2282076    02-21-2015 02:49:25
2282077    05-22-2015 05:53:07
2282079    11-19-2015 11:35:26
2282080    06-18-2015 06:11:54
2282081    06-21-2015 06:55:36
2282082    09-19-2015 09:50:11
2282083    12-21-2015 12:47:00
2282084    05-21-2015 05:59:35
2282085    11-20-2015 11:18:52
2282086    09-21-2015 09:52:02
2282087    07-21-2015 07:32:09
2282088    01-21-2015 01:20:01
2282089    01-20-2015 01:17:10
2282090    11-19-2015 11:38:27
2282091    08-20-2015 08:49:35
2282092    08-20-2015 08:56:51
2282093    08-20-2015 08:50:24
2282094    07-21-2015 07:30:48
2282095    12-02-2015 12:58:00
2282096    08-02-2015 08:59:00
2282097    09-16-2015 09:42:04
Name: Created Date, dtype: object

In [162]:
dates[0].hour

6

In [163]:
len(dates)

2114609

In [164]:
dates.index = range(2114609)

In [165]:
dates.head(10)

0   2015-01-26 06:50:06
1   2015-01-28 04:30:52
2   2015-01-04 04:46:00
3   2015-01-17 01:50:07
4   2015-01-04 04:41:00
5   2015-01-06 12:39:31
6   2015-01-05 10:49:36
7   2015-01-06 01:04:44
8   2015-01-09 10:49:42
9   2015-01-12 07:09:38
Name: Created Date, dtype: datetime64[ns]

In [166]:
date_hours = {}

for i in dates.index:
    date_hours[i] = dates[i].hour

In [167]:
data_sample.index = range(2114609)

In [201]:
data_sample['Created Date'].apply(lambda x: x.hour)
data_sample.head()

AttributeError: 'int' object has no attribute 'hour'

In [169]:
data_target_num = data_target.replace(complaint_dic)

In [170]:
data_target_num.dtypes

Complaint Type    int64
dtype: object

In [171]:
data_target_num.head()

   Complaint Type
0               0
1               1
3               2
4               0
5               2

In [172]:
data_sample.dtypes

Created Date    datetime64[ns]
Incident Zip           float64
dtype: object

In [173]:
data_sample.index = range(2114609)

In [174]:
#data_sample['Created Date'] = dates
data_sample.head()

         Created Date  Incident Zip
0 2015-01-26 06:50:06       11104.0
1 2015-01-28 04:30:52       11361.0
2 2015-01-04 04:46:00       11234.0
3 2015-01-17 01:50:07       11236.0
4 2015-01-04 04:41:00       11234.0

In [175]:
data_sample['Created Date'] = data_sample['Created Date'].apply(lambda x: x.hour)

/home/xiaohang/anaconda3/envs/xiaohang/lib/python3.5/site-packages/ipykernel/__main__.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  if __name__ == '__main__':

In [180]:
data_clean.head()

             Created Date Agency          Complaint Type  Incident Zip
0  03/26/2015 06:50:06 PM   DSNY                Graffiti       11104.0
1  03/28/2015 04:30:52 PM    DOB            Building/Use       11361.0
3  05/04/2015 04:46:00 PM    DOT  Street Light Condition       11234.0
4  04/17/2015 01:50:07 PM   DSNY                Graffiti       11236.0
5  05/04/2015 04:41:00 PM    DOT  Street Light Condition       11234.0

In [181]:
data_sample.head()

   Created Date  Incident Zip
0             6       11104.0
1             4       11361.0
2             4           NaN
3             1       11234.0
4             4       11236.0

In [182]:
data_sample['Incident Zip'] = data_clean['Incident Zip']

/home/xiaohang/anaconda3/envs/xiaohang/lib/python3.5/site-packages/ipykernel/__main__.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  if __name__ == '__main__':

In [183]:
data_sample.head()

   Created Date  Incident Zip
0             6       11104.0
1             4       11361.0
2             4           NaN
3             1       11234.0
4             4       11236.0

In [184]:
data_sample.shape

(2114609, 2)

In [185]:
data_target_num.shape

(2114609, 1)

In [187]:
data_target_num.index = range(2114609)

In [188]:
data_target_num.head()

   Complaint Type
0               0
1               1
2               2
3               0
4               2

In [55]:
data_agency.head()

0    DSNY
1     DOB
2     DOT
3    DSNY
4     DOT
Name: Agency, dtype: object

In [190]:
data_agency = data_agency.drop_duplicates()
len(data_agency)

18

In [191]:
data_agency

0          DSNY
1           DOB
3           DOT
21          DPR
81          TLC
119         DEP
228       DOHMH
2380       DFTA
4881        HPD
13549       DOE
66721      NYPD
68882       DOF
72021       DCA
72243     3-1-1
177978      DHS
191153      EDC
192126     FDNY
193627    DOITT
Name: Agency, dtype: object

In [192]:
data_agency.index = range(18)
data_agency.head()

0    DSNY
1     DOB
2     DOT
3     DPR
4     TLC
Name: Agency, dtype: object

In [193]:
agency_num = data_agency.values
agency_dic = {}
count = 0
for i in agency_num:
    agency_dic[i] = count
    count+=1

In [194]:
agency_dic

{'3-1-1': 13,
 'DCA': 12,
 'DEP': 5,
 'DFTA': 7,
 'DHS': 14,
 'DOB': 1,
 'DOE': 9,
 'DOF': 11,
 'DOHMH': 6,
 'DOITT': 17,
 'DOT': 2,
 'DPR': 3,
 'DSNY': 0,
 'EDC': 15,
 'FDNY': 16,
 'HPD': 8,
 'NYPD': 10,
 'TLC': 4}

In [195]:
agency_num = data_clean['Agency'].replace(agency_dic)
agency_num.head(10)

0     0
1     1
3     2
4     0
5     2
7     0
8     1
9     0
10    1
11    0
Name: Agency, dtype: int64

In [196]:
data_clean.head(10)
data_clean.index = range(2114609)

In [197]:
data_sample['Incident Zip'] = data_clean['Incident Zip']

/home/xiaohang/anaconda3/envs/xiaohang/lib/python3.5/site-packages/ipykernel/__main__.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  if __name__ == '__main__':

In [198]:
data_sample.head()

   Created Date  Incident Zip
0             6       11104.0
1             4       11361.0
2             4       11234.0
3             1       11236.0
4             4       11234.0

In [97]:
#data_sample['Incident Zip'] = data_clean['Incident Zip']

In [105]:
data_sample.loc[data_sample['Incident Zip'] == '06770-3437']

         Created Date Incident Zip
2107865             1   06770-3437

In [106]:
data_sample['Incident Zip'][2107865] = '06770'

/home/xiaohang/anaconda3/envs/xiaohang/lib/python3.5/site-packages/ipykernel/__main__.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  if __name__ == '__main__':

In [108]:
data_sample.loc[data_sample['Incident Zip'] == '30348-5658']

         Created Date Incident Zip
2076518             5   30348-5658

In [109]:
data_sample['Incident Zip'][2076518] = '30348'

/home/xiaohang/anaconda3/envs/xiaohang/lib/python3.5/site-packages/ipykernel/__main__.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  if __name__ == '__main__':

In [111]:
data_sample.loc[data_sample['Incident Zip'] == 'NJ 07114']

         Created Date Incident Zip
903449             10     NJ 07114
2047979            12     NJ 07114

In [113]:
data_sample['Incident Zip'][903449] = '07114'
data_sample['Incident Zip'][2047979] = '07114'

/home/xiaohang/anaconda3/envs/xiaohang/lib/python3.5/site-packages/ipykernel/__main__.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  if __name__ == '__main__':
/home/xiaohang/anaconda3/envs/xiaohang/lib/python3.5/site-packages/ipykernel/__main__.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  from ipykernel import kernelapp as app

In [133]:
data_clean.loc[data_clean['Incident Zip'] == 'NTY']

                   Created Date Agency  Complaint Type Incident Zip
1947228  11/26/2015 10:59:38 AM    TLC  Taxi Complaint          NTY

In [116]:
data_sample['Incident Zip'][2028962] = '07114'

/home/xiaohang/anaconda3/envs/xiaohang/lib/python3.5/site-packages/ipykernel/__main__.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  if __name__ == '__main__':

In [123]:
data_sample['Incident Zip'] = data_sample['Incident Zip'].convert_objects(convert_numeric=True)

/home/xiaohang/anaconda3/envs/xiaohang/lib/python3.5/site-packages/ipykernel/__main__.py:1: FutureWarning: convert_objects is deprecated.  Use the data-type specific converters pd.to_datetime, pd.to_timedelta and pd.to_numeric.
  if __name__ == '__main__':

In [128]:
data_sample2 = data_sample.loc[data_sample['Incident Zip'] <= float((99999))]

In [129]:
data_sample2.head()

   Created Date  Incident Zip
0             6       11104.0
1             4       11361.0
2             4       11234.0
3             1       11236.0
4             4       11234.0

In [130]:
len(data_sample2)

2114616

In [134]:
data_sample2['Incident Zip'][1947228]

KeyError: 1947228

In [ ]:
'NTY'

In [200]:
from sklearn.cross_validation import cross_val_score
from sklearn.neighbors import KNeighborsClassifier
knn_5 = KNeighborsClassifier(n_neighbors=5)
scores = cross_val_score(knn_5, data_sample, agency_num, cv = 10)
scores

array([ 0.39653664,  0.39427815,  0.38437676,  0.39964911,  0.36504904,
        0.24745222,  0.2516209 ,  0.25528957,  0.24087622,  0.24598374])