In [38]:
import numpy as np
import pandas as pd
from pandas import DataFrame, Series
import statsmodels.formula.api as sm
from sklearn.linear_model import LinearRegression
import scipy, scipy.stats
import matplotlib.pyplot as plt 
import datetime as dt 
import numpy.linalg as lin 

PATH_classSize = "/Users/aijiechen/Desktop/2016_Fall/data_science/Assignment/Project_SAT/data science new topic/2010-2011_Class_Size_-_School-level_detail.csv" 
PATH_ApTest = "/Users/aijiechen/Desktop/2016_Fall/data_science/Assignment/Project_SAT/data science new topic/AP__College_Board__2010_School_Level_Results.csv"
PATH_graduateOutcome = "/Users/aijiechen/Desktop/2016_Fall/data_science/Assignment/Project_SAT/data science new topic/Graduation_Outcomes_-_Classes_Of_2005-2010_-_School_Level.csv"
PATH_mathTest = "/Users/aijiechen/Desktop/2016_Fall/data_science/Assignment/Project_SAT/data science new topic/NYS_Math_Test_Results_By_Grade_2006-2011_-_School_Level_-_All_Students.csv"
PATH_SAT_result = "/Users/aijiechen/Desktop/2016_Fall/data_science/Assignment/Project_SAT/data science new topic/SAT_Results.csv"
PATH_Attendent = "/Users/aijiechen/Desktop/2016_Fall/data_science/Assignment/Project_SAT/data science new topic/School_Attendance_and_Enrollment_Statistics_by_District__2010-11_.csv"
PATH_Demographics = "/Users/aijiechen/Desktop/2016_Fall/data_science/Assignment/Project_SAT/data science new topic/School_Demographics_and_Accountability_Snapshot_2006-2012.csv"
PATH_nysd = "/Users/aijiechen/Desktop/2016_Fall/data_science/Assignment/Project_SAT/data science new topic/nysd.csv"
PATH_progress = "/Users/aijiechen/Desktop/2016_Fall/data_science/Assignment/Project_SAT/data science new topic/School_Progress_Report_2010-2011.csv"

# class size data

In [39]:
data_clssSize = pd.read_csv(PATH_classSize)
data_clssSize.head()

,CSD,BOROUGH,SCHOOL CODE,SCHOOL NAME,GRADE,PROGRAM TYPE,CORE SUBJECT (MS CORE and 9-12 ONLY),CORE COURSE (MS CORE and 9-12 ONLY),SERVICE CATEGORY(K-9* ONLY),NUMBER OF STUDENTS / SEATS FILLED,NUMBER OF SECTIONS,AVERAGE CLASS SIZE,SIZE OF SMALLEST CLASS,SIZE OF LARGEST CLASS,DATA SOURCE,SCHOOLWIDE PUPIL-TEACHER RATIO
0,1,M,M015,P.S. 015 Roberto Clemente,0K,GEN ED,-,-,-,19.0,1.0,19.0,19.0,19.0,ATS,NaN
1,1,M,M015,P.S. 015 Roberto Clemente,0K,CTT,-,-,-,21.0,1.0,21.0,21.0,21.0,ATS,NaN
2,1,M,M015,P.S. 015 Roberto Clemente,01,GEN ED,-,-,-,17.0,1.0,17.0,17.0,17.0,ATS,NaN
3,1,M,M015,P.S. 015 Roberto Clemente,01,CTT,-,-,-,17.0,1.0,17.0,17.0,17.0,ATS,NaN
4,1,M,M015,P.S. 015 Roberto Clemente,02,GEN ED,-,-,-,15.0,1.0,15.0,15.0,15.0,ATS,NaN

In [40]:
data_clssSize["DBN"] = data_clssSize.apply(lambda x: "{0:02d}{1}".format(x["CSD"], x["SCHOOL CODE"]), axis=1)
data_clssSize.head()

,CSD,BOROUGH,SCHOOL CODE,SCHOOL NAME,GRADE,PROGRAM TYPE,CORE SUBJECT (MS CORE and 9-12 ONLY),CORE COURSE (MS CORE and 9-12 ONLY),SERVICE CATEGORY(K-9* ONLY),NUMBER OF STUDENTS / SEATS FILLED,NUMBER OF SECTIONS,AVERAGE CLASS SIZE,SIZE OF SMALLEST CLASS,SIZE OF LARGEST CLASS,DATA SOURCE,SCHOOLWIDE PUPIL-TEACHER RATIO,DBN
0,1,M,M015,P.S. 015 Roberto Clemente,0K,GEN ED,-,-,-,19.0,1.0,19.0,19.0,19.0,ATS,NaN,01M015
1,1,M,M015,P.S. 015 Roberto Clemente,0K,CTT,-,-,-,21.0,1.0,21.0,21.0,21.0,ATS,NaN,01M015
2,1,M,M015,P.S. 015 Roberto Clemente,01,GEN ED,-,-,-,17.0,1.0,17.0,17.0,17.0,ATS,NaN,01M015
3,1,M,M015,P.S. 015 Roberto Clemente,01,CTT,-,-,-,17.0,1.0,17.0,17.0,17.0,ATS,NaN,01M015
4,1,M,M015,P.S. 015 Roberto Clemente,02,GEN ED,-,-,-,15.0,1.0,15.0,15.0,15.0,ATS,NaN,01M015

In [41]:
data_clssSize = data_clssSize[data_clssSize["GRADE "] == "09-12"]
data_clssSize = data_clssSize[data_clssSize["PROGRAM TYPE"] == "GEN ED"]
data_clssSize = data_clssSize.groupby("DBN").agg(np.mean)
data_clssSize.reset_index(inplace=True)
data_clssSize.shape

(583, 8)

In [42]:
classSize = data_clssSize.ix[0:,['DBN','AVERAGE CLASS SIZE']]
classSize.head()

      DBN  AVERAGE CLASS SIZE
0  01M292           22.564286
1  01M332           22.000000
2  01M378           33.000000
3  01M448           22.231250
4  01M450           21.200000

In [43]:
classSize.shape

(583, 2)

In [44]:
data_ApTest = pd.read_csv(PATH_ApTest)
data_ApTest.head()

,DBN,SchoolName,AP Test Takers,Total Exams Taken,Number of Exams with scores 3 4 or 5
0,01M448,UNIVERSITY NEIGHBORHOOD H.S.,39,49,10
1,01M450,EAST SIDE COMMUNITY HS,19,21,s
2,01M515,LOWER EASTSIDE PREP,24,26,24
3,01M539,"NEW EXPLORATIONS SCI,TECH,MATH",255,377,191
4,02M296,High School of Hospitality Management,s,s,s

In [45]:
data_graduateOutcome = pd.read_csv(PATH_graduateOutcome)
data_graduateOutcome.head()

,Demographic,DBN,School Name,Cohort,Total Cohort,Total Grads - n,Total Grads - % of cohort,Total Regents - n,Total Regents - % of cohort,Total Regents - % of grads,...,Regents w/o Advanced - n,Regents w/o Advanced - % of cohort,Regents w/o Advanced - % of grads,Local - n,Local - % of cohort,Local - % of grads,Still Enrolled - n,Still Enrolled - % of cohort,Dropped Out - n,Dropped Out - % of cohort
0,Total Cohort,01M292,HENRY STREET SCHOOL FOR INTERNATIONAL,2003,5,s,s,s,s,s,...,s,s,s,s,s,s,s,s,s,s
1,Total Cohort,01M292,HENRY STREET SCHOOL FOR INTERNATIONAL,2004,55,37,67.3%,17,30.9%,45.9%,...,17,30.9%,45.9%,20,36.4%,54.1%,15,27.3%,3,5.5%
2,Total Cohort,01M292,HENRY STREET SCHOOL FOR INTERNATIONAL,2005,64,43,67.2%,27,42.2%,62.8%,...,27,42.2%,62.8%,16,25%,37.200000000000003%,9,14.1%,9,14.1%
3,Total Cohort,01M292,HENRY STREET SCHOOL FOR INTERNATIONAL,2006,78,43,55.1%,36,46.2%,83.7%,...,36,46.2%,83.7%,7,9%,16.3%,16,20.5%,11,14.1%
4,Total Cohort,01M292,HENRY STREET SCHOOL FOR INTERNATIONAL,2006 Aug,78,44,56.4%,37,47.4%,84.1%,...,37,47.4%,84.1%,7,9%,15.9%,15,19.2%,11,14.1%

# Math Test

In [51]:
data_mathTest=pd.read_csv(PATH_mathTest)
data_mathTest.head()

,DBN,Grade,Year,Category,Number Tested,Mean Scale Score,Level 1 #,Level 1 %,Level 2 #,Level 2 %,Level 3 #,Level 3 %,Level 4 #,Level 4 %,Level 3+4 #,Level 3+4 %
0,01M015,3,2006,All Students,39,667,2,5.1%,11,28.2%,20,51.3%,6,15.4%,26,66.7%
1,01M015,3,2007,All Students,31,672,2,6.5%,3,9.7%,22,71%,4,12.9%,26,83.9%
2,01M015,3,2008,All Students,37,668,0,0%,6,16.2%,29,78.4%,2,5.4%,31,83.8%
3,01M015,3,2009,All Students,33,668,0,0%,4,12.1%,28,84.8%,1,3%,29,87.9%
4,01M015,3,2010,All Students,26,677,6,23.1%,12,46.2%,6,23.1%,2,7.7%,8,30.8%

In [53]:
data_mathTest.dtypes

DBN                 object
Grade               object
Year                 int64
Category            object
Number Tested        int64
Mean Scale Score    object
Level 1 #           object
Level 1 %           object
Level 2 #           object
Level 2 %           object
Level 3 #           object
Level 3 %           object
Level 4 #           object
Level 4 %           object
Level 3+4 #         object
Level 3+4 %         object
dtype: object

In [62]:
data_mathTest = data_mathTest[data_mathTest["Year"] == 2011]
data_mathTest = data_mathTest[data_mathTest["Grade"] == 'All Grades']
mathTest = data_mathTest.ix[0:,['DBN','Mean Scale Score']]
mathTest.shape

(1132, 2)

# Attedent

In [ ]:
data_Attendent = pd.read_csv(PATH_Attendent)
data_Attendent.head()

In [ ]:
data_Demographics = pd.read_csv(PATH_Demographics)
data_Demographics.head()

In [ ]:
data_Demographics.schoolyear.sort_values()

In [ ]:
data_nysd = pd.read_csv(PATH_nysd)
data_nysd.head()

# Sum SAT score

In [63]:
data_SAT_result = pd.read_csv(PATH_SAT_result)
data_SAT_result.head()

,DBN,SCHOOL NAME,Num of SAT Test Takers,SAT Critical Reading Avg. Score,SAT Math Avg. Score,SAT Writing Avg. Score
0,01M292,HENRY STREET SCHOOL FOR INTERNATIONAL STUDIES,29,355,404,363
1,01M448,UNIVERSITY NEIGHBORHOOD HIGH SCHOOL,91,383,423,366
2,01M450,EAST SIDE COMMUNITY SCHOOL,70,377,402,370
3,01M458,FORSYTH SATELLITE ACADEMY,7,414,401,359
4,01M509,MARTA VALLE HIGH SCHOOL,44,390,433,384

In [ ]:
data_SAT_result.dtypes

In [ ]:
data_SAT_result["SAT Critical Reading Avg. Score"] = data_SAT_result["SAT Critical Reading Avg. Score"].convert_objects(convert_numeric=True)
data_SAT_result["SAT Math Avg. Score"] = data_SAT_result["SAT Math Avg. Score"].convert_objects(convert_numeric=True)
data_SAT_result["SAT Writing Avg. Score"] = data_SAT_result["SAT Writing Avg. Score"].convert_objects(convert_numeric=True)

data_SAT_result.dtypes
data_SAT_result["SAT_score"] = data_SAT_result["SAT Critical Reading Avg. Score"]+data_SAT_result["SAT Math Avg. Score"] +data_SAT_result["SAT Writing Avg. Score"]
data_SAT_result.head()

In [ ]:
SAT = data_SAT_result.ix[0:,['DBN','SAT_score']]
SAT.shape

In [ ]:
data_ApTest.dtypes

In [ ]:
cols = ['AP Test Takers ', 'Total Exams Taken', 'Number of Exams with scores 3 4 or 5']

for col in cols:
    data_ApTest[col] = data_ApTest[col].convert_objects(convert_numeric=True)

data_ApTest.dtypes

In [ ]:
data_progress = pd.read_csv(PATH_progress)
data_progress.head()