In [1]:
from pylab import *
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline

DATA_PATH = "D:/data/school/" # Make this the /path/to/the/data

In [2]:
data_ap = pd.read_csv(DATA_PATH + "AP__College_Board__2010_School_Level_Results.csv")

In [56]:
data_class_size = pd.read_csv(DATA_PATH + "2010-2011_Class_Size_-_School-level_detail.csv")

In [4]:
data_demographics = pd.read_csv(DATA_PATH + "School_Demographics_and_Accountability_Snapshot_2006-2012.csv")

In [5]:
data_graduation = pd.read_csv(DATA_PATH + "Graduation_Outcomes_-_Classes_Of_2005-2010_-_School_Level.csv")

In [6]:
data_hs_directory = pd.read_csv(DATA_PATH + "School_Demographics_and_Accountability_Snapshot_2006-2012.csv")

In [7]:
data_math_test_results = pd.read_csv(DATA_PATH + "NYS_Math_Test_Results_By_Grade_2006-2011_-_School_Level_-_All_Students.csv")

In [8]:
data_sat_results = pd.read_csv(DATA_PATH + "SAT_Results.csv")

In [89]:
data_attendance = pd.read_csv(DATA_PATH + 'School_Attendance_and_Enrollment_Statistics_by_District__2010-11_.csv')

In [9]:
data_ap.head()

,DBN,SchoolName,AP Test Takers,Total Exams Taken,Number of Exams with scores 3 4 or 5
0,01M448,UNIVERSITY NEIGHBORHOOD H.S.,39,49,10
1,01M450,EAST SIDE COMMUNITY HS,19,21,s
2,01M515,LOWER EASTSIDE PREP,24,26,24
3,01M539,"NEW EXPLORATIONS SCI,TECH,MATH",255,377,191
4,02M296,High School of Hospitality Management,s,s,s

In [57]:
data_class_size.head()

,CSD,BOROUGH,SCHOOL CODE,SCHOOL NAME,GRADE,PROGRAM TYPE,CORE SUBJECT (MS CORE and 9-12 ONLY),CORE COURSE (MS CORE and 9-12 ONLY),SERVICE CATEGORY(K-9* ONLY),NUMBER OF STUDENTS / SEATS FILLED,NUMBER OF SECTIONS,AVERAGE CLASS SIZE,SIZE OF SMALLEST CLASS,SIZE OF LARGEST CLASS,DATA SOURCE,SCHOOLWIDE PUPIL-TEACHER RATIO
0,1,M,M015,P.S. 015 Roberto Clemente,0K,GEN ED,-,-,-,19.0,1.0,19.0,19.0,19.0,ATS,NaN
1,1,M,M015,P.S. 015 Roberto Clemente,0K,CTT,-,-,-,21.0,1.0,21.0,21.0,21.0,ATS,NaN
2,1,M,M015,P.S. 015 Roberto Clemente,01,GEN ED,-,-,-,17.0,1.0,17.0,17.0,17.0,ATS,NaN
3,1,M,M015,P.S. 015 Roberto Clemente,01,CTT,-,-,-,17.0,1.0,17.0,17.0,17.0,ATS,NaN
4,1,M,M015,P.S. 015 Roberto Clemente,02,GEN ED,-,-,-,15.0,1.0,15.0,15.0,15.0,ATS,NaN

In [11]:
data_demographics.head()

,DBN,Name,schoolyear,fl_percent,frl_percent,total_enrollment,prek,k,grade1,grade2,...,black_num,black_per,hispanic_num,hispanic_per,white_num,white_per,male_num,male_per,female_num,female_per
0,01M015,P.S. 015 ROBERTO CLEMENTE,20052006,89.4,NaN,281,15,36,40,33,...,74,26.3,189,67.3,5,1.8,158.0,56.2,123.0,43.8
1,01M015,P.S. 015 ROBERTO CLEMENTE,20062007,89.4,NaN,243,15,29,39,38,...,68,28.0,153,63.0,4,1.6,140.0,57.6,103.0,42.4
2,01M015,P.S. 015 ROBERTO CLEMENTE,20072008,89.4,NaN,261,18,43,39,36,...,77,29.5,157,60.2,7,2.7,143.0,54.8,118.0,45.2
3,01M015,P.S. 015 ROBERTO CLEMENTE,20082009,89.4,NaN,252,17,37,44,32,...,75,29.8,149,59.1,7,2.8,149.0,59.1,103.0,40.9
4,01M015,P.S. 015 ROBERTO CLEMENTE,20092010,,96.5,208,16,40,28,32,...,67,32.2,118,56.7,6,2.9,124.0,59.6,84.0,40.4

In [12]:
data_graduation.head()

,Demographic,DBN,School Name,Cohort,Total Cohort,Total Grads - n,Total Grads - % of cohort,Total Regents - n,Total Regents - % of cohort,Total Regents - % of grads,...,Regents w/o Advanced - n,Regents w/o Advanced - % of cohort,Regents w/o Advanced - % of grads,Local - n,Local - % of cohort,Local - % of grads,Still Enrolled - n,Still Enrolled - % of cohort,Dropped Out - n,Dropped Out - % of cohort
0,Total Cohort,01M292,HENRY STREET SCHOOL FOR INTERNATIONAL,2003,5,s,s,s,s,s,...,s,s,s,s,s,s,s,s,s,s
1,Total Cohort,01M292,HENRY STREET SCHOOL FOR INTERNATIONAL,2004,55,37,67.3%,17,30.9%,45.9%,...,17,30.9%,45.9%,20,36.4%,54.1%,15,27.3%,3,5.5%
2,Total Cohort,01M292,HENRY STREET SCHOOL FOR INTERNATIONAL,2005,64,43,67.2%,27,42.2%,62.8%,...,27,42.2%,62.8%,16,25%,37.200000000000003%,9,14.1%,9,14.1%
3,Total Cohort,01M292,HENRY STREET SCHOOL FOR INTERNATIONAL,2006,78,43,55.1%,36,46.2%,83.7%,...,36,46.2%,83.7%,7,9%,16.3%,16,20.5%,11,14.1%
4,Total Cohort,01M292,HENRY STREET SCHOOL FOR INTERNATIONAL,2006 Aug,78,44,56.4%,37,47.4%,84.1%,...,37,47.4%,84.1%,7,9%,15.9%,15,19.2%,11,14.1%

In [13]:
data_hs_directory.head()

,DBN,Name,schoolyear,fl_percent,frl_percent,total_enrollment,prek,k,grade1,grade2,...,black_num,black_per,hispanic_num,hispanic_per,white_num,white_per,male_num,male_per,female_num,female_per
0,01M015,P.S. 015 ROBERTO CLEMENTE,20052006,89.4,NaN,281,15,36,40,33,...,74,26.3,189,67.3,5,1.8,158.0,56.2,123.0,43.8
1,01M015,P.S. 015 ROBERTO CLEMENTE,20062007,89.4,NaN,243,15,29,39,38,...,68,28.0,153,63.0,4,1.6,140.0,57.6,103.0,42.4
2,01M015,P.S. 015 ROBERTO CLEMENTE,20072008,89.4,NaN,261,18,43,39,36,...,77,29.5,157,60.2,7,2.7,143.0,54.8,118.0,45.2
3,01M015,P.S. 015 ROBERTO CLEMENTE,20082009,89.4,NaN,252,17,37,44,32,...,75,29.8,149,59.1,7,2.8,149.0,59.1,103.0,40.9
4,01M015,P.S. 015 ROBERTO CLEMENTE,20092010,,96.5,208,16,40,28,32,...,67,32.2,118,56.7,6,2.9,124.0,59.6,84.0,40.4

In [32]:
data_math_test_results.head()

,DBN,Grade,Year,Category,Number Tested,Mean Scale Score,Level 1 #,Level 1 %,Level 2 #,Level 2 %,Level 3 #,Level 3 %,Level 4 #,Level 4 %,Level 3+4 #,Level 3+4 %
0,01M015,3,2006,All Students,39,667,2,5.1%,11,28.2%,20,51.3%,6,15.4%,26,66.7%
1,01M015,3,2007,All Students,31,672,2,6.5%,3,9.7%,22,71%,4,12.9%,26,83.9%
2,01M015,3,2008,All Students,37,668,0,0%,6,16.2%,29,78.4%,2,5.4%,31,83.8%
3,01M015,3,2009,All Students,33,668,0,0%,4,12.1%,28,84.8%,1,3%,29,87.9%
4,01M015,3,2010,All Students,26,677,6,23.1%,12,46.2%,6,23.1%,2,7.7%,8,30.8%

In [15]:
data_math_test_results.head()

,DBN,Grade,Year,Category,Number Tested,Mean Scale Score,Level 1 #,Level 1 %,Level 2 #,Level 2 %,Level 3 #,Level 3 %,Level 4 #,Level 4 %,Level 3+4 #,Level 3+4 %
0,01M015,3,2006,All Students,39,667,2,5.1%,11,28.2%,20,51.3%,6,15.4%,26,66.7%
1,01M015,3,2007,All Students,31,672,2,6.5%,3,9.7%,22,71%,4,12.9%,26,83.9%
2,01M015,3,2008,All Students,37,668,0,0%,6,16.2%,29,78.4%,2,5.4%,31,83.8%
3,01M015,3,2009,All Students,33,668,0,0%,4,12.1%,28,84.8%,1,3%,29,87.9%
4,01M015,3,2010,All Students,26,677,6,23.1%,12,46.2%,6,23.1%,2,7.7%,8,30.8%

In [16]:
data_sat_results.head()

,DBN,SCHOOL NAME,Num of SAT Test Takers,SAT Critical Reading Avg. Score,SAT Math Avg. Score,SAT Writing Avg. Score
0,01M292,HENRY STREET SCHOOL FOR INTERNATIONAL STUDIES,29,355,404,363
1,01M448,UNIVERSITY NEIGHBORHOOD HIGH SCHOOL,91,383,423,366
2,01M450,EAST SIDE COMMUNITY SCHOOL,70,377,402,370
3,01M458,FORSYTH SATELLITE ACADEMY,7,414,401,359
4,01M509,MARTA VALLE HIGH SCHOOL,44,390,433,384

# class size

In [58]:
def add_DBN_to_class(row):
    dbn = "{0:02d}{1}".format(row["CSD"], row["SCHOOL CODE"])
    return dbn
    
data_class_size["DBN"] = data_class_size.apply(add_DBN_to_class, axis=1)

In [60]:
data_class_size.dtypes

CSD                                       int64
BOROUGH                                  object
SCHOOL CODE                              object
SCHOOL NAME                              object
GRADE                                    object
PROGRAM TYPE                             object
CORE SUBJECT (MS CORE and 9-12 ONLY)     object
CORE COURSE (MS CORE and 9-12 ONLY)      object
SERVICE CATEGORY(K-9* ONLY)              object
NUMBER OF STUDENTS / SEATS FILLED       float64
NUMBER OF SECTIONS                      float64
AVERAGE CLASS SIZE                      float64
SIZE OF SMALLEST CLASS                  float64
SIZE OF LARGEST CLASS                   float64
DATA SOURCE                              object
SCHOOLWIDE PUPIL-TEACHER RATIO          float64
DBN                                      object
dtype: object

In [61]:
data_class_size = data_class_size.drop(['CSD', 'BOROUGH', 'SCHOOL CODE'], 1)

In [62]:
data_class_size

,SCHOOL NAME,GRADE,PROGRAM TYPE,CORE SUBJECT (MS CORE and 9-12 ONLY),CORE COURSE (MS CORE and 9-12 ONLY),SERVICE CATEGORY(K-9* ONLY),NUMBER OF STUDENTS / SEATS FILLED,NUMBER OF SECTIONS,AVERAGE CLASS SIZE,SIZE OF SMALLEST CLASS,SIZE OF LARGEST CLASS,DATA SOURCE,SCHOOLWIDE PUPIL-TEACHER RATIO,DBN
0,P.S. 015 Roberto Clemente,0K,GEN ED,-,-,-,19.0,1.0,19.0,19.0,19.0,ATS,NaN,01M015
1,P.S. 015 Roberto Clemente,0K,CTT,-,-,-,21.0,1.0,21.0,21.0,21.0,ATS,NaN,01M015
2,P.S. 015 Roberto Clemente,01,GEN ED,-,-,-,17.0,1.0,17.0,17.0,17.0,ATS,NaN,01M015
3,P.S. 015 Roberto Clemente,01,CTT,-,-,-,17.0,1.0,17.0,17.0,17.0,ATS,NaN,01M015
4,P.S. 015 Roberto Clemente,02,GEN ED,-,-,-,15.0,1.0,15.0,15.0,15.0,ATS,NaN,01M015
5,P.S. 015 Roberto Clemente,02,CTT,-,-,-,17.0,1.0,17.0,17.0,17.0,ATS,NaN,01M015
6,P.S. 015 Roberto Clemente,03,GEN ED,-,-,-,12.0,1.0,12.0,12.0,12.0,ATS,NaN,01M015
7,P.S. 015 Roberto Clemente,03,CTT,-,-,-,15.0,1.0,15.0,15.0,15.0,ATS,NaN,01M015
8,P.S. 015 Roberto Clemente,04,GEN ED,-,-,-,26.0,2.0,13.0,12.0,14.0,ATS,NaN,01M015
9,P.S. 015 Roberto Clemente,05,GEN ED,-,-,-,27.0,1.0,27.0,27.0,27.0,ATS,NaN,01M015
10,P.S. 015 Roberto Clemente,0K-09,SPEC ED,-,-,12:1:1,9.0,1.0,9.0,9.0,9.0,ATS,NaN,01M015
11,P.S. 015 Roberto Clemente,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,8.4,01M015
12,P.S. 019 Asher Levy,0K,GEN ED,-,-,-,39.0,2.0,19.5,18.0,21.0,ATS,NaN,01M019
13,P.S. 019 Asher Levy,0K,CTT,-,-,-,12.0,1.0,12.0,12.0,12.0,ATS,NaN,01M019
14,P.S. 019 Asher Levy,01,GEN ED,-,-,-,39.0,2.0,19.5,19.0,20.0,ATS,NaN,01M019
15,P.S. 019 Asher Levy,01,CTT,-,-,-,13.0,1.0,13.0,13.0,13.0,ATS,NaN,01M019
16,P.S. 019 Asher Levy,02,GEN ED,-,-,-,46.0,2.0,23.0,22.0,24.0,ATS,NaN,01M019
17,P.S. 019 Asher Levy,03,GEN ED,-,-,-,35.0,2.0,17.5,17.0,18.0,ATS,NaN,01M019
18,P.S. 019 Asher Levy,04,GEN ED,-,-,-,22.0,1.0,22.0,22.0,22.0,ATS,NaN,01M019
19,P.S. 019 Asher Levy,04,CTT,-,-,-,24.0,1.0,24.0,24.0,24.0,ATS,NaN,01M019
20,P.S. 019 Asher Levy,05,GEN ED,-,-,-,22.0,1.0,22.0,22.0,22.0,ATS,NaN,01M019
21,P.S. 019 Asher Levy,05,CTT,-,-,-,21.0,1.0,21.0,21.0,21.0,ATS,NaN,01M019
22,P.S. 019 Asher Levy,0K-09,SPEC ED,-,-,12:1,7.0,1.0,7.0,7.0,7.0,ATS,NaN,01M019
23,P.S. 019 Asher Levy,0K-09,SPEC ED,-,-,12:1:1,11.0,1.0,11.0,11.0,11.0,ATS,NaN,01M019
24,P.S. 019 Asher Levy,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,10.0,01M019
25,P.S. 020 Anna Silver,0K,GEN ED,-,-,-,89.0,4.0,22.3,20.0,23.0,ATS,NaN,01M020
26,P.S. 020 Anna Silver,0K,CTT,-,-,-,22.0,1.0,22.0,22.0,22.0,ATS,NaN,01M020
27,P.S. 020 Anna Silver,01,GEN ED,-,-,-,69.0,3.0,23.0,22.0,24.0,ATS,NaN,01M020
28,P.S. 020 Anna Silver,01,CTT,-,-,-,21.0,1.0,21.0,21.0,21.0,ATS,NaN,01M020
29,P.S. 020 Anna Silver,02,GEN ED,-,-,-,55.0,3.0,18.3,16.0,21.0,ATS,NaN,01M020
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
27581,Bushwick Leaders High School for Academic Exce...,09-12,GEN ED,SCIENCE,Other Science,-,313.0,12.0,26.1,18.0,33.0,STARS,NaN,32K556
27582,Bushwick Leaders High School for Academic Exce...,09-12,GEN ED,SOCIAL STUDIES,Global History & Geography,-,289.0,11.0,26.3,15.0,34.0,STARS,NaN,32K556
27583,Bushwick Leaders High School for Academic Exce...,09-12,GEN ED,SOCIAL STUDIES,US History & Government,-,128.0,5.0,25.6,13.0,32.0,STARS,NaN,32K556
27584,Bushwick Leaders High School for Academic Exce...,09-12,GEN ED,SOCIAL STUDIES,Economics,-,59.0,2.0,29.5,26.0,33.0,STARS,NaN,32K556
27585,Bushwick Leaders High School for Academic Exce...,09-12,GEN ED,SOCIAL STUDIES,Participation in Government,-,63.0,2.0,31.5,30.0,33.0,STARS,NaN,32K556
27586,Bushwick Leaders High School for Academic Exce...,09-12,SPEC ED,ENGLISH,English 9,-,14.0,1.0,14.0,14.0,14.0,STARS,NaN,32K556
27587,Bushwick Leaders High School for Academic Exce...,09-12,SPEC ED,ENGLISH,English 10,-,11.0,1.0,11.0,11.0,11.0,STARS,NaN,32K556
27588,Bushwick Leaders High School for Academic Exce...,09-12,SPEC ED,ENGLISH,English 11,-,10.0,1.0,10.0,10.0,10.0,STARS,NaN,32K556
27589,Bushwick Leaders High School for Academic Exce...,09-12,SPEC ED,MATH,Integrated Algebra,-,26.0,2.0,13.0,12.0,14.0,STARS,NaN,32K556
27590,Bushwick Leaders High School for Academic Exce...,09-12,SPEC ED,SCIENCE,Earth Science,-,22.0,2.0,11.0,11.0,11.0,STARS,NaN,32K556
27591,Bushwick Leaders High School for Academic Exce...,09-12,SPEC ED,SCIENCE,Living Environment,-,25.0,2.0,12.5,12.0,13.0,STARS,NaN,32K556
27592,Bushwick Leaders High School for Academic Exce...,09-12,SPEC ED,SCIENCE,Chemistry,-,22.0,2.0,11.0,11.0,11.0,STARS,NaN,32K556
27593,Bushwick Leaders High School for Academic Exce...,09-12,SPEC ED,SOCIAL STUDIES,Global History & Geography,-,36.0,3.0,12.0,10.0,14.0,STARS,NaN,32K556
27594,Bushwick Leaders High School for Academic Exce...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,14.7,32K556
27595,Bushwick Community High School,09-12,GEN ED,ENGLISH,English 9,-,261.0,10.0,26.1,17.0,35.0,STARS,NaN,32K564
27596,Bushwick Community High School,09-12,GEN ED,ENGLISH,English 10,-,102.0,4.0,25.5,17.0,30.0,STARS,NaN,32K564
27597,Bushwick Community High School,09-12,GEN ED,ENGLISH,English 11,-,144.0,6.0,24.0,21.0,28.0,STARS,NaN,32K564
27598,Bushwick Community High School,09-12,GEN ED,ENGLISH,English 12,-,132.0,5.0,26.4,19.0,29.0,STARS,NaN,32K564
27599,Bushwick Community High School,09-12,GEN ED,MATH,Integrated Algebra,-,342.0,14.0,24.4,19.0,28.0,STARS,NaN,32K564
27600,Bushwick Community High School,09-12,GEN ED,MATH,Math A,-,23.0,1.0,23.0,23.0,23.0,STARS,NaN,32K564
27601,Bushwick Community High School,09-12,GEN ED,SCIENCE,Earth Science,-,24.0,2.0,12.0,12.0,12.0,STARS,NaN,32K564
27602,Bushwick Community High School,09-12,GEN ED,SCIENCE,Living Environment,-,161.0,6.0,26.8,17.0,31.0,STARS,NaN,32K564
27603,Bushwick Community High School,09-12,GEN ED,SCIENCE,Chemistry,-,57.0,2.0,28.5,27.0,30.0,STARS,NaN,32K564
27604,Bushwick Community High School,09-12,GEN ED,SCIENCE,Physics,-,49.0,2.0,24.5,22.0,27.0,STARS,NaN,32K564
27605,Bushwick Community High School,09-12,GEN ED,SOCIAL STUDIES,Global History & Geography,-,237.0,10.0,23.7,15.0,31.0,STARS,NaN,32K564
27606,Bushwick Community High School,09-12,GEN ED,SOCIAL STUDIES,US History & Government,-,256.0,10.0,25.6,15.0,35.0,STARS,NaN,32K564
27607,Bushwick Community High School,09-12,GEN ED,SOCIAL STUDIES,Economics,-,65.0,2.0,32.5,32.0,33.0,STARS,NaN,32K564
27608,Bushwick Community High School,09-12,GEN ED,SOCIAL STUDIES,Participation in Government,-,53.0,2.0,26.5,25.0,28.0,STARS,NaN,32K564
27609,Bushwick Community High School,09-12,CTT,MATH,Integrated Algebra,-,50.0,2.0,25.0,25.0,25.0,STARS,NaN,32K564
27610,Bushwick Community High School,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,17.1,32K564

In [63]:
class_size_temp =  data_class_size
class_size_temp = class_size_temp[class_size_temp["GRADE "] == '09-12']
class_size_temp = class_size_temp[class_size_temp["PROGRAM TYPE"] == 'GEN ED']

In [64]:
class_size_temp = class_size_temp.groupby("DBN").agg(np.mean)

In [66]:
class_size_temp.head()

,NUMBER OF STUDENTS / SEATS FILLED,NUMBER OF SECTIONS,AVERAGE CLASS SIZE,SIZE OF SMALLEST CLASS,SIZE OF LARGEST CLASS,SCHOOLWIDE PUPIL-TEACHER RATIO
DBN,,,,,,
01M292,88.0000,4.000000,22.564286,18.50,26.571429,NaN
01M332,46.0000,2.000000,22.000000,21.00,23.500000,NaN
01M378,33.0000,1.000000,33.000000,33.00,33.000000,NaN
01M448,105.6875,4.750000,22.231250,18.25,27.062500,NaN
01M450,57.6000,2.733333,21.200000,19.40,22.866667,NaN

In [67]:
data_class_size = class_size_temp

## SAT result

In [80]:
sat_results_temp = data_sat_results.drop("Num of SAT Test Takers", 1)

In [84]:
sat_results_temp['SAT Math Avg. Score'] = sat_results_temp['SAT Math Avg. Score'].convert_objects(convert_numeric = True)
sat_results_temp['SAT Critical Reading Avg. Score'] = sat_results_temp['SAT Critical Reading Avg. Score'].convert_objects(convert_numeric = True)
sat_results_temp['SAT Writing Avg. Score'] = sat_results_temp['SAT Writing Avg. Score'].convert_objects(convert_numeric = True)

C:\Anaconda3\lib\site-packages\ipykernel\__main__.py:1: FutureWarning: convert_objects is deprecated.  Use the data-type specific converters pd.to_datetime, pd.to_timedelta and pd.to_numeric.
  if __name__ == '__main__':
C:\Anaconda3\lib\site-packages\ipykernel\__main__.py:2: FutureWarning: convert_objects is deprecated.  Use the data-type specific converters pd.to_datetime, pd.to_timedelta and pd.to_numeric.
  from ipykernel import kernelapp as app
C:\Anaconda3\lib\site-packages\ipykernel\__main__.py:3: FutureWarning: convert_objects is deprecated.  Use the data-type specific converters pd.to_datetime, pd.to_timedelta and pd.to_numeric.
  app.launch_new_instance()

In [86]:
sat_results_temp["Total_Avg"] = sat_results_temp.apply(lambda x: x['SAT Math Avg. Score'] + x['SAT Critical Reading Avg. Score'] + x['SAT Writing Avg. Score'], axis=1)

In [87]:
sat_results_temp

,DBN,SCHOOL NAME,SAT Critical Reading Avg. Score,SAT Math Avg. Score,SAT Writing Avg. Score,Total_Avg
0,01M292,HENRY STREET SCHOOL FOR INTERNATIONAL STUDIES,355.0,404.0,363.0,1122.0
1,01M448,UNIVERSITY NEIGHBORHOOD HIGH SCHOOL,383.0,423.0,366.0,1172.0
2,01M450,EAST SIDE COMMUNITY SCHOOL,377.0,402.0,370.0,1149.0
3,01M458,FORSYTH SATELLITE ACADEMY,414.0,401.0,359.0,1174.0
4,01M509,MARTA VALLE HIGH SCHOOL,390.0,433.0,384.0,1207.0
5,01M515,LOWER EAST SIDE PREPARATORY HIGH SCHOOL,332.0,557.0,316.0,1205.0
6,01M539,"NEW EXPLORATIONS INTO SCIENCE, TECHNOLOGY AND ...",522.0,574.0,525.0,1621.0
7,01M650,CASCADES HIGH SCHOOL,417.0,418.0,411.0,1246.0
8,01M696,BARD HIGH SCHOOL EARLY COLLEGE,624.0,604.0,628.0,1856.0
9,02M047,47 THE AMERICAN SIGN LANGUAGE AND ENGLISH SECO...,395.0,400.0,387.0,1182.0
10,02M288,FOOD AND FINANCE HIGH SCHOOL,409.0,393.0,392.0,1194.0
11,02M294,ESSEX STREET ACADEMY,394.0,384.0,378.0,1156.0
12,02M296,HIGH SCHOOL OF HOSPITALITY MANAGEMENT,374.0,375.0,362.0,1111.0
13,02M298,PACE HIGH SCHOOL,423.0,438.0,432.0,1293.0
14,02M300,URBAN ASSEMBLY SCHOOL OF DESIGN AND CONSTRUCTI...,404.0,449.0,416.0,1269.0
15,02M303,"FACING HISTORY SCHOOL, THE",353.0,358.0,340.0,1051.0
16,02M305,"URBAN ASSEMBLY ACADEMY OF GOVERNMENT AND LAW, THE",375.0,388.0,385.0,1148.0
17,02M308,LOWER MANHATTAN ARTS ACADEMY,403.0,392.0,405.0,1200.0
18,02M313,"JAMES BALDWIN SCHOOL, THE: A SCHOOL FOR EXPEDI...",408.0,390.0,390.0,1188.0
19,02M316,URBAN ASSEMBLY SCHOOL OF BUSINESS FOR YOUNG WO...,373.0,370.0,384.0,1127.0
20,02M374,GRAMERCY ARTS HIGH SCHOOL,391.0,391.0,394.0,1176.0
21,02M376,NYC ISCHOOL,473.0,483.0,479.0,1435.0
22,02M392,MANHATTAN BUSINESS ACADEMY,NaN,NaN,NaN,NaN
23,02M393,BUSINESS OF SPORTS SCHOOL,NaN,NaN,NaN,NaN
24,02M394,EMMA LAZARUS HIGH SCHOOL,319.0,512.0,357.0,1188.0
25,02M399,THE HIGH SCHOOL FOR LANGUAGE AND DIPLOMACY,NaN,NaN,NaN,NaN
26,02M400,HIGH SCHOOL FOR ENVIRONMENTAL STUDIES,465.0,493.0,461.0,1419.0
27,02M407,INSTITUTE FOR COLLABORATIVE EDUCATION,492.0,465.0,467.0,1424.0
28,02M408,PROFESSIONAL PERFORMING ARTS HIGH SCHOOL,509.0,490.0,523.0,1522.0
29,02M411,BARUCH COLLEGE CAMPUS HIGH SCHOOL,496.0,563.0,518.0,1577.0
...,...,...,...,...,...,...
448,30Q580,BACCALAUREATE SCHOOL FOR GLOBAL EDUCATION,524.0,568.0,544.0,1636.0
449,31R047,CSI HIGH SCHOOL FOR INTERNATIONAL STUDIES,452.0,451.0,450.0,1353.0
450,31R064,GAYNOR MCCOWN EXPEDITIONARY LEARNING SCHOOL,398.0,412.0,385.0,1195.0
451,31R080,THE MICHAEL J. PETRIDES SCHOOL,472.0,488.0,466.0,1426.0
452,31R440,NEW DORP HIGH SCHOOL,424.0,437.0,416.0,1277.0
453,31R445,PORT RICHMOND HIGH SCHOOL,424.0,438.0,417.0,1279.0
454,31R450,CURTIS HIGH SCHOOL,437.0,435.0,429.0,1301.0
455,31R455,TOTTENVILLE HIGH SCHOOL,462.0,486.0,470.0,1418.0
456,31R460,SUSAN E. WAGNER HIGH SCHOOL,455.0,474.0,459.0,1388.0
457,31R470,CONCORD HIGH SCHOOL,466.0,455.0,414.0,1335.0
458,31R600,RALPH R. MCKEE CAREER AND TECHNICAL EDUCATION ...,416.0,422.0,397.0,1235.0
459,31R605,STATEN ISLAND TECHNICAL HIGH SCHOOL,635.0,682.0,636.0,1953.0
460,31R607,YOUNG ADULT BOROUGH CENTER AT STATEN IS TECH HS,405.0,375.0,370.0,1150.0
461,32K403,ACADEMY FOR ENVIRONMENTAL LEADERSHIP,380.0,366.0,352.0,1098.0
462,32K545,EBC HIGH SCHOOL FOR PUBLIC SERVICE–BUSHWICK,384.0,409.0,361.0,1154.0
463,32K549,BUSHWICK SCHOOL FOR SOCIAL JUSTICE,348.0,353.0,334.0,1035.0
464,32K552,ACADEMY OF URBAN PLANNING,342.0,364.0,354.0,1060.0
465,32K554,ALL CITY LEADERSHIP SECONDARY SCHOOL,428.0,465.0,422.0,1315.0
466,32K556,BUSHWICK LEADERS HIGH SCHOOL FOR ACADEMIC EXCE...,347.0,358.0,350.0,1055.0
467,32K564,BUSHWICK COMMUNITY HIGH SCHOOL,359.0,317.0,358.0,1034.0
468,75K371,P.S. 371 s LILLIAN L. RASHKIS,NaN,NaN,NaN,NaN
469,75M035,P.S. 035,NaN,NaN,NaN,NaN
470,75Q256,P.S. Q256,NaN,NaN,NaN,NaN
471,75Q811,P.S. Q811,429.0,444.0,433.0,1306.0
472,75R025,SOUTH RICHMOND HIGH SCHOOL I.S./P.S. 25,NaN,NaN,NaN,NaN
473,75X012,P.S. X012 LEWIS AND CLARK SCHOOL,NaN,NaN,NaN,NaN
474,75X754,J. M. RAPPORT SCHOOL CAREER DEVELOPMENT,NaN,NaN,NaN,NaN
475,79M645,SCHOOL FOR COOPERATIVE TECHNICAL EDUCATION,NaN,NaN,NaN,NaN
476,79Q950,GED PLUS s CITYWIDE,496.0,400.0,426.0,1322.0
477,79X490,PHOENIX ACADEMY,367.0,370.0,360.0,1097.0

# math test

In [91]:
data_math_test_results

,DBN,Grade,Year,Category,Number Tested,Mean Scale Score,Level 1 #,Level 1 %,Level 2 #,Level 2 %,Level 3 #,Level 3 %,Level 4 #,Level 4 %,Level 3+4 #,Level 3+4 %
0,01M015,3,2006,All Students,39,667,2,5.1%,11,28.2%,20,51.3%,6,15.4%,26,66.7%
1,01M015,3,2007,All Students,31,672,2,6.5%,3,9.7%,22,71%,4,12.9%,26,83.9%
2,01M015,3,2008,All Students,37,668,0,0%,6,16.2%,29,78.4%,2,5.4%,31,83.8%
3,01M015,3,2009,All Students,33,668,0,0%,4,12.1%,28,84.8%,1,3%,29,87.9%
4,01M015,3,2010,All Students,26,677,6,23.1%,12,46.2%,6,23.1%,2,7.7%,8,30.8%
5,01M015,3,2011,All Students,28,671,10,35.7%,13,46.4%,5,17.9%,0,0%,5,17.9%
6,01M015,4,2006,All Students,49,629,20,40.8%,18,36.7%,10,20.4%,1,2%,11,22.4%
7,01M015,4,2007,All Students,40,659,4,10%,13,32.5%,18,45%,5,12.5%,23,57.5%
8,01M015,4,2008,All Students,41,655,5,12.2%,15,36.6%,18,43.9%,3,7.3%,21,51.2%
9,01M015,4,2009,All Students,39,655,4,10.3%,15,38.5%,18,46.2%,2,5.1%,20,51.3%
10,01M015,4,2010,All Students,29,663,7,24.1%,12,41.4%,9,31%,1,3.4%,10,34.5%
11,01M015,4,2011,All Students,28,668,3,10.7%,14,50%,9,32.1%,2,7.1%,11,39.3%
12,01M015,5,2006,All Students,31,630,12,38.7%,9,29%,10,32.3%,0,0%,10,32.3%
13,01M015,5,2007,All Students,50,637,10,20%,24,48%,15,30%,1,2%,16,32%
14,01M015,5,2008,All Students,36,660,3,8.3%,11,30.6%,19,52.8%,3,8.3%,22,61.1%
15,01M015,5,2009,All Students,39,661,2,5.1%,14,35.9%,16,41%,7,17.9%,23,59%
16,01M015,5,2010,All Students,35,662,6,17.1%,19,54.3%,9,25.7%,1,2.9%,10,28.6%
17,01M015,5,2011,All Students,25,667,5,20%,8,32%,12,48%,0,0%,12,48%
18,01M015,6,2006,All Students,39,639,10,25.6%,12,30.8%,17,43.6%,0,0%,17,43.6%
19,01M015,All Grades,2006,All Students,158,NaN,44,27.8%,50,31.6%,57,36.1%,7,4.4%,64,40.5%
20,01M015,All Grades,2007,All Students,121,NaN,16,13.2%,40,33.1%,55,45.5%,10,8.3%,65,53.7%
21,01M015,All Grades,2008,All Students,114,NaN,8,7%,32,28.1%,66,57.9%,8,7%,74,64.9%
22,01M015,All Grades,2009,All Students,111,NaN,6,5.4%,33,29.7%,62,55.9%,10,9%,72,64.9%
23,01M015,All Grades,2010,All Students,90,NaN,19,21.1%,43,47.8%,24,26.7%,4,4.4%,28,31.1%
24,01M015,All Grades,2011,All Students,81,669,18,22.2%,35,43.2%,26,32.1%,2,2.5%,28,34.6%
25,01M019,3,2006,All Students,66,673,7,10.6%,10,15.2%,34,51.5%,15,22.7%,49,74.2%
26,01M019,3,2007,All Students,44,678,2,4.5%,4,9.1%,30,68.2%,8,18.2%,38,86.4%
27,01M019,3,2008,All Students,51,676,0,0%,10,19.6%,34,66.7%,7,13.7%,41,80.4%
28,01M019,3,2009,All Students,48,687,0,0%,3,6.3%,36,75%,9,18.8%,45,93.8%
29,01M019,3,2010,All Students,36,682,3,8.3%,16,44.4%,14,38.9%,3,8.3%,17,47.2%
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
28448,75X723,4,2011,All Students,25,631,12,48%,10,40%,3,12%,0,0%,3,12%
28449,75X723,5,2006,All Students,25,568,21,84%,4,16%,0,0%,0,0%,0,0%
28450,75X723,5,2007,All Students,43,592,32,74.4%,9,20.9%,2,4.7%,0,0%,2,4.7%
28451,75X723,5,2008,All Students,46,601,30,65.2%,11,23.9%,5,10.9%,0,0%,5,10.9%
28452,75X723,5,2009,All Students,39,622,13,33.3%,20,51.3%,6,15.4%,0,0%,6,15.4%
28453,75X723,5,2010,All Students,62,625,32,51.6%,26,41.9%,4,6.5%,0,0%,4,6.5%
28454,75X723,6,2006,All Students,43,557,41,95.3%,2,4.7%,0,0%,0,0%,0,0%
28455,75X723,6,2007,All Students,43,578,38,88.4%,4,9.3%,1,2.3%,0,0%,1,2.3%
28456,75X723,6,2008,All Students,26,575,24,92.3%,2,7.7%,0,0%,0,0%,0,0%
28457,75X723,6,2009,All Students,34,598,24,70.6%,9,26.5%,1,2.9%,0,0%,1,2.9%
28458,75X723,6,2010,All Students,34,597,28,82.4%,5,14.7%,1,2.9%,0,0%,1,2.9%
28459,75X723,6,2011,All Students,54,597,44,81.5%,10,18.5%,0,0%,0,0%,0,0%
28460,75X723,7,2006,All Students,22,565,21,95.5%,1,4.5%,0,0%,0,0%,0,0%
28461,75X723,7,2007,All Students,35,573,32,91.4%,3,8.6%,0,0%,0,0%,0,0%
28462,75X723,7,2008,All Students,34,589,21,61.8%,13,38.2%,0,0%,0,0%,0,0%
28463,75X723,7,2009,All Students,32,605,15,46.9%,15,46.9%,2,6.3%,0,0%,2,6.3%
28464,75X723,7,2010,All Students,45,598,38,84.4%,7,15.6%,0,0%,0,0%,0,0%
28465,75X723,7,2011,All Students,28,593,25,89.3%,3,10.7%,0,0%,0,0%,0,0%
28466,75X723,8,2006,All Students,20,540,19,95%,1,5%,0,0%,0,0%,0,0%
28467,75X723,8,2007,All Students,27,570,24,88.9%,3,11.1%,0,0%,0,0%,0,0%
28468,75X723,8,2008,All Students,36,567,34,94.4%,2,5.6%,0,0%,0,0%,0,0%
28469,75X723,8,2009,All Students,31,597,18,58.1%,13,41.9%,0,0%,0,0%,0,0%
28470,75X723,8,2010,All Students,38,598,32,84.2%,6,15.8%,0,0%,0,0%,0,0%
28471,75X723,8,2011,All Students,32,595,24,75%,7,21.9%,1,3.1%,0,0%,1,3.1%
28472,75X723,All Grades,2006,All Students,133,NaN,114,85.7%,14,10.5%,4,3%,1,0.8%,5,3.8%
28473,75X723,All Grades,2007,All Students,219,NaN,170,77.6%,34,15.5%,13,5.9%,2,0.9%,15,6.8%
28474,75X723,All Grades,2008,All Students,211,NaN,139,65.9%,46,21.8%,26,12.3%,0,0%,26,12.3%
28475,75X723,All Grades,2009,All Students,209,NaN,88,42.1%,87,41.6%,30,14.4%,4,1.9%,34,16.3%
28476,75X723,All Grades,2010,All Students,242,NaN,157,64.9%,75,31%,10,4.1%,0,0%,10,4.1%
28477,75X723,All Grades,2011,All Students,229,617,153,66.8%,67,29.3%,8,3.5%,1,0.4%,9,3.9%

In [ ]:
# data_required = data_required.loc[data_required['Incident Zip'] <= float(99999)]
math_test_results_temp = math_test_results_temp.loc[math_test_results_temp]

In [92]:
math_test_results_temp = data_math_test_results[['DBN', 'Mean Scale Score']]

In [93]:
math_test_results_temp

          DBN Mean Scale Score
0      01M015              667
1      01M015              672
2      01M015              668
3      01M015              668
4      01M015              677
5      01M015              671
6      01M015              629
7      01M015              659
8      01M015              655
9      01M015              655
10     01M015              663
11     01M015              668
12     01M015              630
13     01M015              637
14     01M015              660
15     01M015              661
16     01M015              662
17     01M015              667
18     01M015              639
19     01M015              NaN
20     01M015              NaN
21     01M015              NaN
22     01M015              NaN
23     01M015              NaN
24     01M015              669
25     01M019              673
26     01M019              678
27     01M019              676
28     01M019              687
29     01M019              682
...       ...              ...
28448  75X723              631
28449  75X723              568
28450  75X723              592
28451  75X723              601
28452  75X723              622
28453  75X723              625
28454  75X723              557
28455  75X723              578
28456  75X723              575
28457  75X723              598
28458  75X723              597
28459  75X723              597
28460  75X723              565
28461  75X723              573
28462  75X723              589
28463  75X723              605
28464  75X723              598
28465  75X723              593
28466  75X723              540
28467  75X723              570
28468  75X723              567
28469  75X723              597
28470  75X723              598
28471  75X723              595
28472  75X723              NaN
28473  75X723              NaN
28474  75X723              NaN
28475  75X723              NaN
28476  75X723              NaN
28477  75X723              617

[28478 rows x 2 columns]

# Attendens

In [90]:
data_attendance

                    District YTD % Attendance (Avg)  YTD Enrollment(Avg)
0                DISTRICT 01                 91.18%                12367
1                DISTRICT 02                 89.01%                60823
2                DISTRICT 03                 89.28%                21962
3                DISTRICT 04                 91.13%                14252
4                DISTRICT 05                 89.08%                13170
5                DISTRICT 06                 91.34%                25733
6                DISTRICT 07                 86.75%                19717
7                DISTRICT 08                 87.15%                31625
8                DISTRICT 09                 89.27%                34518
9                DISTRICT 10                 88.92%                56757
10               DISTRICT 11                 89.84%                38230
11               DISTRICT 12                 87.33%                23118
12               DISTRICT 13                 89.56%                22785
13               DISTRICT 14                 89.41%                20181
14               DISTRICT 15                 91.27%                26786
15               DISTRICT 16                 85.55%                10196
16               DISTRICT 17                 89.67%                26551
17               DISTRICT 18                 89.83%                18641
18               DISTRICT 19                 87.81%                25632
19               DISTRICT 20                 92.77%                44214
20               DISTRICT 21                  90.5%                34342
21               DISTRICT 22                 92.57%                36352
22               DISTRICT 23                 86.98%                11833
23               DISTRICT 24                 92.21%                52936
24               DISTRICT 25                  91.9%                34371
25               DISTRICT 26                 93.34%                31988
26               DISTRICT 27                 89.88%                46007
27               DISTRICT 28                  91.7%                37009
28               DISTRICT 29                 92.14%                27232
29               DISTRICT 30                 92.79%                39742
30               DISTRICT 31                 90.98%                59373
31               DISTRICT 32                 89.28%                15297
32    SPECIAL ED DISTRICT 75                 83.21%                21435
33  ALTERNATIVE HIGH SCHOOLS                 63.81%                 7288
34                  Citywide                 89.99%              1002463

# Merge data