In [1]:
from pylab import *
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline

DATA_PATH = "D:/data/school/" # Make this the /path/to/the/data

In [2]:
data_ap = pd.read_csv(DATA_PATH + "AP__College_Board__2010_School_Level_Results.csv")

In [3]:
data_class_size = pd.read_csv(DATA_PATH + "2010-2011_Class_Size_-_School-level_detail.csv")

In [4]:
data_demographics = pd.read_csv(DATA_PATH + "School_Demographics_and_Accountability_Snapshot_2006-2012.csv")

In [5]:
data_graduation = pd.read_csv(DATA_PATH + "Graduation_Outcomes_-_Classes_Of_2005-2010_-_School_Level.csv")

In [6]:
data_hs_directory = pd.read_csv(DATA_PATH + "School_Demographics_and_Accountability_Snapshot_2006-2012.csv")

In [7]:
data_math_test_results = pd.read_csv(DATA_PATH + "NYS_Math_Test_Results_By_Grade_2006-2011_-_School_Level_-_All_Students.csv")

In [8]:
data_sat_results = pd.read_csv(DATA_PATH + "SAT_Results.csv")

In [9]:
data_attendance = pd.read_csv(DATA_PATH + 'School_Attendance_and_Enrollment_Statistics_by_District__2010-11_.csv')

In [79]:
data_school_grade = pd.read_csv(DATA_PATH + 'School_Progress_Report_2010-2011.csv')

In [10]:
data_ap.head()

,DBN,SchoolName,AP Test Takers,Total Exams Taken,Number of Exams with scores 3 4 or 5
0,01M448,UNIVERSITY NEIGHBORHOOD H.S.,39,49,10
1,01M450,EAST SIDE COMMUNITY HS,19,21,s
2,01M515,LOWER EASTSIDE PREP,24,26,24
3,01M539,"NEW EXPLORATIONS SCI,TECH,MATH",255,377,191
4,02M296,High School of Hospitality Management,s,s,s

In [11]:
data_class_size.head()

,CSD,BOROUGH,SCHOOL CODE,SCHOOL NAME,GRADE,PROGRAM TYPE,CORE SUBJECT (MS CORE and 9-12 ONLY),CORE COURSE (MS CORE and 9-12 ONLY),SERVICE CATEGORY(K-9* ONLY),NUMBER OF STUDENTS / SEATS FILLED,NUMBER OF SECTIONS,AVERAGE CLASS SIZE,SIZE OF SMALLEST CLASS,SIZE OF LARGEST CLASS,DATA SOURCE,SCHOOLWIDE PUPIL-TEACHER RATIO
0,1,M,M015,P.S. 015 Roberto Clemente,0K,GEN ED,-,-,-,19.0,1.0,19.0,19.0,19.0,ATS,NaN
1,1,M,M015,P.S. 015 Roberto Clemente,0K,CTT,-,-,-,21.0,1.0,21.0,21.0,21.0,ATS,NaN
2,1,M,M015,P.S. 015 Roberto Clemente,01,GEN ED,-,-,-,17.0,1.0,17.0,17.0,17.0,ATS,NaN
3,1,M,M015,P.S. 015 Roberto Clemente,01,CTT,-,-,-,17.0,1.0,17.0,17.0,17.0,ATS,NaN
4,1,M,M015,P.S. 015 Roberto Clemente,02,GEN ED,-,-,-,15.0,1.0,15.0,15.0,15.0,ATS,NaN

In [12]:
data_demographics.head()

,DBN,Name,schoolyear,fl_percent,frl_percent,total_enrollment,prek,k,grade1,grade2,...,black_num,black_per,hispanic_num,hispanic_per,white_num,white_per,male_num,male_per,female_num,female_per
0,01M015,P.S. 015 ROBERTO CLEMENTE,20052006,89.4,NaN,281,15,36,40,33,...,74,26.3,189,67.3,5,1.8,158.0,56.2,123.0,43.8
1,01M015,P.S. 015 ROBERTO CLEMENTE,20062007,89.4,NaN,243,15,29,39,38,...,68,28.0,153,63.0,4,1.6,140.0,57.6,103.0,42.4
2,01M015,P.S. 015 ROBERTO CLEMENTE,20072008,89.4,NaN,261,18,43,39,36,...,77,29.5,157,60.2,7,2.7,143.0,54.8,118.0,45.2
3,01M015,P.S. 015 ROBERTO CLEMENTE,20082009,89.4,NaN,252,17,37,44,32,...,75,29.8,149,59.1,7,2.8,149.0,59.1,103.0,40.9
4,01M015,P.S. 015 ROBERTO CLEMENTE,20092010,,96.5,208,16,40,28,32,...,67,32.2,118,56.7,6,2.9,124.0,59.6,84.0,40.4

In [13]:
data_graduation.head()

,Demographic,DBN,School Name,Cohort,Total Cohort,Total Grads - n,Total Grads - % of cohort,Total Regents - n,Total Regents - % of cohort,Total Regents - % of grads,...,Regents w/o Advanced - n,Regents w/o Advanced - % of cohort,Regents w/o Advanced - % of grads,Local - n,Local - % of cohort,Local - % of grads,Still Enrolled - n,Still Enrolled - % of cohort,Dropped Out - n,Dropped Out - % of cohort
0,Total Cohort,01M292,HENRY STREET SCHOOL FOR INTERNATIONAL,2003,5,s,s,s,s,s,...,s,s,s,s,s,s,s,s,s,s
1,Total Cohort,01M292,HENRY STREET SCHOOL FOR INTERNATIONAL,2004,55,37,67.3%,17,30.9%,45.9%,...,17,30.9%,45.9%,20,36.4%,54.1%,15,27.3%,3,5.5%
2,Total Cohort,01M292,HENRY STREET SCHOOL FOR INTERNATIONAL,2005,64,43,67.2%,27,42.2%,62.8%,...,27,42.2%,62.8%,16,25%,37.200000000000003%,9,14.1%,9,14.1%
3,Total Cohort,01M292,HENRY STREET SCHOOL FOR INTERNATIONAL,2006,78,43,55.1%,36,46.2%,83.7%,...,36,46.2%,83.7%,7,9%,16.3%,16,20.5%,11,14.1%
4,Total Cohort,01M292,HENRY STREET SCHOOL FOR INTERNATIONAL,2006 Aug,78,44,56.4%,37,47.4%,84.1%,...,37,47.4%,84.1%,7,9%,15.9%,15,19.2%,11,14.1%

In [14]:
data_hs_directory.head()

,DBN,Name,schoolyear,fl_percent,frl_percent,total_enrollment,prek,k,grade1,grade2,...,black_num,black_per,hispanic_num,hispanic_per,white_num,white_per,male_num,male_per,female_num,female_per
0,01M015,P.S. 015 ROBERTO CLEMENTE,20052006,89.4,NaN,281,15,36,40,33,...,74,26.3,189,67.3,5,1.8,158.0,56.2,123.0,43.8
1,01M015,P.S. 015 ROBERTO CLEMENTE,20062007,89.4,NaN,243,15,29,39,38,...,68,28.0,153,63.0,4,1.6,140.0,57.6,103.0,42.4
2,01M015,P.S. 015 ROBERTO CLEMENTE,20072008,89.4,NaN,261,18,43,39,36,...,77,29.5,157,60.2,7,2.7,143.0,54.8,118.0,45.2
3,01M015,P.S. 015 ROBERTO CLEMENTE,20082009,89.4,NaN,252,17,37,44,32,...,75,29.8,149,59.1,7,2.8,149.0,59.1,103.0,40.9
4,01M015,P.S. 015 ROBERTO CLEMENTE,20092010,,96.5,208,16,40,28,32,...,67,32.2,118,56.7,6,2.9,124.0,59.6,84.0,40.4

In [15]:
data_math_test_results.head()

,DBN,Grade,Year,Category,Number Tested,Mean Scale Score,Level 1 #,Level 1 %,Level 2 #,Level 2 %,Level 3 #,Level 3 %,Level 4 #,Level 4 %,Level 3+4 #,Level 3+4 %
0,01M015,3,2006,All Students,39,667,2,5.1%,11,28.2%,20,51.3%,6,15.4%,26,66.7%
1,01M015,3,2007,All Students,31,672,2,6.5%,3,9.7%,22,71%,4,12.9%,26,83.9%
2,01M015,3,2008,All Students,37,668,0,0%,6,16.2%,29,78.4%,2,5.4%,31,83.8%
3,01M015,3,2009,All Students,33,668,0,0%,4,12.1%,28,84.8%,1,3%,29,87.9%
4,01M015,3,2010,All Students,26,677,6,23.1%,12,46.2%,6,23.1%,2,7.7%,8,30.8%

In [16]:
data_math_test_results.head()

,DBN,Grade,Year,Category,Number Tested,Mean Scale Score,Level 1 #,Level 1 %,Level 2 #,Level 2 %,Level 3 #,Level 3 %,Level 4 #,Level 4 %,Level 3+4 #,Level 3+4 %
0,01M015,3,2006,All Students,39,667,2,5.1%,11,28.2%,20,51.3%,6,15.4%,26,66.7%
1,01M015,3,2007,All Students,31,672,2,6.5%,3,9.7%,22,71%,4,12.9%,26,83.9%
2,01M015,3,2008,All Students,37,668,0,0%,6,16.2%,29,78.4%,2,5.4%,31,83.8%
3,01M015,3,2009,All Students,33,668,0,0%,4,12.1%,28,84.8%,1,3%,29,87.9%
4,01M015,3,2010,All Students,26,677,6,23.1%,12,46.2%,6,23.1%,2,7.7%,8,30.8%

In [17]:
data_sat_results.head()

,DBN,SCHOOL NAME,Num of SAT Test Takers,SAT Critical Reading Avg. Score,SAT Math Avg. Score,SAT Writing Avg. Score
0,01M292,HENRY STREET SCHOOL FOR INTERNATIONAL STUDIES,29,355,404,363
1,01M448,UNIVERSITY NEIGHBORHOOD HIGH SCHOOL,91,383,423,366
2,01M450,EAST SIDE COMMUNITY SCHOOL,70,377,402,370
3,01M458,FORSYTH SATELLITE ACADEMY,7,414,401,359
4,01M509,MARTA VALLE HIGH SCHOOL,44,390,433,384

# class size

In [18]:
def add_DBN_to_class(row):
    dbn = "{0:02d}{1}".format(row["CSD"], row["SCHOOL CODE"])
    return dbn
    
data_class_size["DBN"] = data_class_size.apply(add_DBN_to_class, axis=1)

In [19]:
data_class_size.dtypes

CSD                                       int64
BOROUGH                                  object
SCHOOL CODE                              object
SCHOOL NAME                              object
GRADE                                    object
PROGRAM TYPE                             object
CORE SUBJECT (MS CORE and 9-12 ONLY)     object
CORE COURSE (MS CORE and 9-12 ONLY)      object
SERVICE CATEGORY(K-9* ONLY)              object
NUMBER OF STUDENTS / SEATS FILLED       float64
NUMBER OF SECTIONS                      float64
AVERAGE CLASS SIZE                      float64
SIZE OF SMALLEST CLASS                  float64
SIZE OF LARGEST CLASS                   float64
DATA SOURCE                              object
SCHOOLWIDE PUPIL-TEACHER RATIO          float64
DBN                                      object
dtype: object

In [20]:
class_size_temp = data_class_size.drop(['CSD', 'BOROUGH', 'SCHOOL CODE'], 1)

In [21]:
class_size_temp.head()

,SCHOOL NAME,GRADE,PROGRAM TYPE,CORE SUBJECT (MS CORE and 9-12 ONLY),CORE COURSE (MS CORE and 9-12 ONLY),SERVICE CATEGORY(K-9* ONLY),NUMBER OF STUDENTS / SEATS FILLED,NUMBER OF SECTIONS,AVERAGE CLASS SIZE,SIZE OF SMALLEST CLASS,SIZE OF LARGEST CLASS,DATA SOURCE,SCHOOLWIDE PUPIL-TEACHER RATIO,DBN
0,P.S. 015 Roberto Clemente,0K,GEN ED,-,-,-,19.0,1.0,19.0,19.0,19.0,ATS,NaN,01M015
1,P.S. 015 Roberto Clemente,0K,CTT,-,-,-,21.0,1.0,21.0,21.0,21.0,ATS,NaN,01M015
2,P.S. 015 Roberto Clemente,01,GEN ED,-,-,-,17.0,1.0,17.0,17.0,17.0,ATS,NaN,01M015
3,P.S. 015 Roberto Clemente,01,CTT,-,-,-,17.0,1.0,17.0,17.0,17.0,ATS,NaN,01M015
4,P.S. 015 Roberto Clemente,02,GEN ED,-,-,-,15.0,1.0,15.0,15.0,15.0,ATS,NaN,01M015

In [22]:
# class_size_temp =  data_class_size
class_size_temp = class_size_temp[class_size_temp["GRADE "] == '09-12']
class_size_temp = class_size_temp[class_size_temp["PROGRAM TYPE"] == 'GEN ED']

In [23]:
class_size_temp = class_size_temp.groupby("DBN").agg(np.mean)

In [24]:
class_size_temp.head()

,NUMBER OF STUDENTS / SEATS FILLED,NUMBER OF SECTIONS,AVERAGE CLASS SIZE,SIZE OF SMALLEST CLASS,SIZE OF LARGEST CLASS,SCHOOLWIDE PUPIL-TEACHER RATIO
DBN,,,,,,
01M292,88.0000,4.000000,22.564286,18.50,26.571429,NaN
01M332,46.0000,2.000000,22.000000,21.00,23.500000,NaN
01M378,33.0000,1.000000,33.000000,33.00,33.000000,NaN
01M448,105.6875,4.750000,22.231250,18.25,27.062500,NaN
01M450,57.6000,2.733333,21.200000,19.40,22.866667,NaN

In [25]:
data_class_size = class_size_temp.reset_index()

In [26]:
data_class_size.head()

,DBN,NUMBER OF STUDENTS / SEATS FILLED,NUMBER OF SECTIONS,AVERAGE CLASS SIZE,SIZE OF SMALLEST CLASS,SIZE OF LARGEST CLASS,SCHOOLWIDE PUPIL-TEACHER RATIO
0,01M292,88.0000,4.000000,22.564286,18.50,26.571429,NaN
1,01M332,46.0000,2.000000,22.000000,21.00,23.500000,NaN
2,01M378,33.0000,1.000000,33.000000,33.00,33.000000,NaN
3,01M448,105.6875,4.750000,22.231250,18.25,27.062500,NaN
4,01M450,57.6000,2.733333,21.200000,19.40,22.866667,NaN

In [27]:
data_class_size = data_class_size[['DBN', 'AVERAGE CLASS SIZE']]
data_class_size.head()

      DBN  AVERAGE CLASS SIZE
0  01M292           22.564286
1  01M332           22.000000
2  01M378           33.000000
3  01M448           22.231250
4  01M450           21.200000

In [28]:
len(data_class_size)

583

In [29]:
data_class_size_final = data_class_size

## SAT result

In [30]:
sat_results_temp = data_sat_results.drop("Num of SAT Test Takers", 1)

In [31]:
sat_results_temp['SAT Math Avg. Score'] = sat_results_temp['SAT Math Avg. Score'].convert_objects(convert_numeric = True)
sat_results_temp['SAT Critical Reading Avg. Score'] = sat_results_temp['SAT Critical Reading Avg. Score'].convert_objects(convert_numeric = True)
sat_results_temp['SAT Writing Avg. Score'] = sat_results_temp['SAT Writing Avg. Score'].convert_objects(convert_numeric = True)

C:\Anaconda3\lib\site-packages\ipykernel\__main__.py:1: FutureWarning: convert_objects is deprecated.  Use the data-type specific converters pd.to_datetime, pd.to_timedelta and pd.to_numeric.
  if __name__ == '__main__':
C:\Anaconda3\lib\site-packages\ipykernel\__main__.py:2: FutureWarning: convert_objects is deprecated.  Use the data-type specific converters pd.to_datetime, pd.to_timedelta and pd.to_numeric.
  from ipykernel import kernelapp as app
C:\Anaconda3\lib\site-packages\ipykernel\__main__.py:3: FutureWarning: convert_objects is deprecated.  Use the data-type specific converters pd.to_datetime, pd.to_timedelta and pd.to_numeric.
  app.launch_new_instance()

In [32]:
sat_results_temp["Total_Avg"] = sat_results_temp.apply(lambda x: x['SAT Math Avg. Score'] + x['SAT Critical Reading Avg. Score'] + x['SAT Writing Avg. Score'], axis=1)

In [33]:
sat_results_temp.head()

,DBN,SCHOOL NAME,SAT Critical Reading Avg. Score,SAT Math Avg. Score,SAT Writing Avg. Score,Total_Avg
0,01M292,HENRY STREET SCHOOL FOR INTERNATIONAL STUDIES,355.0,404.0,363.0,1122.0
1,01M448,UNIVERSITY NEIGHBORHOOD HIGH SCHOOL,383.0,423.0,366.0,1172.0
2,01M450,EAST SIDE COMMUNITY SCHOOL,377.0,402.0,370.0,1149.0
3,01M458,FORSYTH SATELLITE ACADEMY,414.0,401.0,359.0,1174.0
4,01M509,MARTA VALLE HIGH SCHOOL,390.0,433.0,384.0,1207.0

In [34]:
sat_results_final = sat_results_temp[['DBN', 'Total_Avg']]

In [35]:
sat_results_final.head()

      DBN  Total_Avg
0  01M292     1122.0
1  01M448     1172.0
2  01M450     1149.0
3  01M458     1174.0
4  01M509     1207.0

In [36]:
len(sat_results_final)

478

# math test

In [37]:
data_math_test_results.head()

,DBN,Grade,Year,Category,Number Tested,Mean Scale Score,Level 1 #,Level 1 %,Level 2 #,Level 2 %,Level 3 #,Level 3 %,Level 4 #,Level 4 %,Level 3+4 #,Level 3+4 %
0,01M015,3,2006,All Students,39,667,2,5.1%,11,28.2%,20,51.3%,6,15.4%,26,66.7%
1,01M015,3,2007,All Students,31,672,2,6.5%,3,9.7%,22,71%,4,12.9%,26,83.9%
2,01M015,3,2008,All Students,37,668,0,0%,6,16.2%,29,78.4%,2,5.4%,31,83.8%
3,01M015,3,2009,All Students,33,668,0,0%,4,12.1%,28,84.8%,1,3%,29,87.9%
4,01M015,3,2010,All Students,26,677,6,23.1%,12,46.2%,6,23.1%,2,7.7%,8,30.8%

In [38]:
# data_required = data_required.loc[data_required['Incident Zip'] <= float(99999)]
math_test_results_temp = data_math_test_results.loc[data_math_test_results['Year'] == 2011]
math_test_results_temp = math_test_results_temp.loc[data_math_test_results['Grade'] == 'All Grades']

In [39]:
math_test_results_temp.head()

,DBN,Grade,Year,Category,Number Tested,Mean Scale Score,Level 1 #,Level 1 %,Level 2 #,Level 2 %,Level 3 #,Level 3 %,Level 4 #,Level 4 %,Level 3+4 #,Level 3+4 %
24,01M015,All Grades,2011,All Students,81,669,18,22.2%,35,43.2%,26,32.1%,2,2.5%,28,34.6%
50,01M019,All Grades,2011,All Students,112,683,4,3.6%,46,41.1%,48,42.9%,14,12.5%,62,55.4%
75,01M020,All Grades,2011,All Students,258,682,19,7.4%,87,33.7%,109,42.2%,43,16.7%,152,58.9%
117,01M034,All Grades,2011,All Students,246,673,25,10.2%,84,34.1%,104,42.3%,33,13.4%,137,55.7%
142,01M063,All Grades,2011,All Students,77,689,4,5.2%,26,33.8%,24,31.2%,23,29.9%,47,61%

In [40]:
math_test_results_temp = math_test_results_temp[['DBN', 'Mean Scale Score']]

In [41]:
math_test_results_temp.tail()

          DBN Mean Scale Score
28334  75X186              621
28375  75X188              623
28410  75X352              635
28436  75X721              635
28477  75X723              617

In [42]:
len(math_test_results_temp)

1132

In [43]:
math_test_results_final = math_test_results_temp

# Attendance

In [44]:
data_attendance.tail()

                    District YTD % Attendance (Avg)  YTD Enrollment(Avg)
30               DISTRICT 31                 90.98%                59373
31               DISTRICT 32                 89.28%                15297
32    SPECIAL ED DISTRICT 75                 83.21%                21435
33  ALTERNATIVE HIGH SCHOOLS                 63.81%                 7288
34                  Citywide                 89.99%              1002463

In [45]:
data_attendance.dtypes

District                  object
YTD % Attendance (Avg)    object
YTD Enrollment(Avg)        int64
dtype: object

In [46]:
attendance_temp = data_attendance

In [47]:
attendance_temp['District'] = data_attendance.apply(lambda x: x['District'].replace('DISTRICT ', ''), axis=1)

In [48]:
attendance_temp = attendance_temp.drop([33, 34])

In [49]:
attendance_temp['District'] = attendance_temp.apply(lambda x: x['District'].replace('SPECIAL ED ', ''), axis=1)

In [50]:
attendance_temp.head()

  District YTD % Attendance (Avg)  YTD Enrollment(Avg)
0       01                 91.18%                12367
1       02                 89.01%                60823
2       03                 89.28%                21962
3       04                 91.13%                14252
4       05                 89.08%                13170

In [51]:
attendance_temp['YTD % Attendance (Avg)'] = attendance_temp.apply(lambda x: x['YTD % Attendance (Avg)'].replace('%', ''), axis=1)

In [52]:
attendance_temp = attendance_temp.rename(columns={'YTD % Attendance (Avg)':'Avg_ttendance', 'YTD Enrollment(Avg)':'Avg_enrollment'})

In [53]:
attendance_temp.head()

  District Avg_ttendance  Avg_enrollment
0       01         91.18           12367
1       02         89.01           60823
2       03         89.28           21962
3       04         91.13           14252
4       05         89.08           13170

In [68]:
attendance_final = attendance_temp

In [73]:
attendance_final["District"]

0     01
1     02
2     03
3     04
4     05
5     06
6     07
7     08
8     09
9     10
10    11
11    12
12    13
13    14
14    15
15    16
16    17
17    18
18    19
19    20
20    21
21    22
22    23
23    24
24    25
25    26
26    27
27    28
28    29
29    30
30    31
31    32
32    75
Name: District, dtype: object

# AP score

In [54]:
data_ap.head()

,DBN,SchoolName,AP Test Takers,Total Exams Taken,Number of Exams with scores 3 4 or 5
0,01M448,UNIVERSITY NEIGHBORHOOD H.S.,39,49,10
1,01M450,EAST SIDE COMMUNITY HS,19,21,s
2,01M515,LOWER EASTSIDE PREP,24,26,24
3,01M539,"NEW EXPLORATIONS SCI,TECH,MATH",255,377,191
4,02M296,High School of Hospitality Management,s,s,s

In [55]:
len(data_ap)

258

# Merge data

In [56]:
len(data_sat_results)

478

In [57]:
sat_class_size = pd.merge(data_class_size_final, sat_results_final, how='inner', on='DBN')

In [58]:
sat_class_size = sat_class_size.dropna()

In [59]:
len(sat_class_size)

401

In [60]:
sat_size_math = pd.merge(sat_class_size, math_test_results_final, how='inner', on='DBN')

In [61]:
sat_size_math = sat_size_math.dropna()

In [62]:
len(sat_size_math)

68

In [63]:
sat_size_math.tail()

       DBN  AVERAGE CLASS SIZE  Total_Avg Mean Scale Score
63  29Q259           25.775000     1173.0              673
64  29Q283           23.837500     1100.0              663
65  30Q580           20.469231     1636.0              713
66  31R080           30.272222     1426.0              686
67  32K554           17.793750     1315.0              689

### merge attendence

In [64]:
sat_class_size_temp = sat_class_size

In [65]:
sat_class_size_temp['District'] = sat_class_size_temp.apply(lambda x: x['DBN'][0:2], axis=1)

In [69]:
sat_class_size_temp.tail()

        DBN  AVERAGE CLASS SIZE  Total_Avg District
429  32K549           22.760000     1035.0       32
430  32K552           23.900000     1060.0       32
431  32K554           17.793750     1315.0       32
432  32K556           25.060000     1055.0       32
433  32K564           24.964286     1034.0       32

In [81]:
sat_class_size_temp["District"].head()

0    01
1    01
2    01
3    01
4    01
Name: District, dtype: object

In [75]:
sat_size_atte = pd.merge(sat_class_size_temp, attendance_final, how='inner', on='District')

In [82]:
sat_size_atte.head()

,DBN,AVERAGE CLASS SIZE,Total_Avg,District,Avg_ttendance,Avg_enrollment
0,01M292,22.564286,1122.0,01,91.18,12367
1,01M448,22.231250,1172.0,01,91.18,12367
2,01M450,21.200000,1149.0,01,91.18,12367
3,01M458,23.000000,1174.0,01,91.18,12367
4,01M509,23.571429,1207.0,01,91.18,12367

# school grade data

In [83]:
data_school_grade.head()

,﻿DBN,DISTRICT,SCHOOL,PRINCIPAL,PROGRESS REPORT TYPE,SCHOOL LEVEL*,PEER INDEX*,2010-2011 OVERALL GRADE,2010-2011 OVERALL SCORE,2010-2011 ENVIRONMENT CATEGORY SCORE,2010-2011 ENVIRONMENT GRADE,2010-2011 PERFORMANCE CATEGORY SCORE,2010-2011 PERFORMANCE GRADE,2010-2011 PROGRESS CATEGORY SCORE,2010-2011 PROGRESS GRADE,2010-2011 ADDITIONAL CREDIT,2009-10 PROGRESS REPORT GRADE
0,01M015,1,P.S. 015 Roberto Clemente,Irene Sanchez,EMS,Elementary,63.61,C,27.0,6.4,B,2.1,D,18.0,C,0.5,C
1,01M019,1,P.S. 019 Asher Levy,Jacqueline Flanagan,EMS,Elementary,49.48,B,48.7,7.8,B,5.2,D,35.1,A,0.5,C
2,01M020,1,P.S. 020 Anna Silver,James Lee,EMS,Elementary,56.65,B,48.2,7.7,B,7.4,C,31.1,B,2.0,A
3,01M034,1,P.S. 034 Franklin D. Roosevelt,Joyce Stallings Harte,EMS,K-8,67.97,C,39.8,7.5,B,11.3,B,18.5,C,2.5,B
4,01M063,1,P.S. 063 William McKinley,Darlene Despeignes,EMS,Elementary,58.85,B,49.0,8.1,B,10.4,B,29.0,B,1.5,B

In [84]:
len(data_school_grade)

1715

In [86]:
school_grade_temp = data_school_grade.drop(["DISTRICT", "SCHOOL", "PRINCIPAL", "PROGRESS REPORT TYPE", ], axis=1)

In [87]:
school_grade_temp

,﻿DBN,PRINCIPAL,PROGRESS REPORT TYPE,SCHOOL LEVEL*,PEER INDEX*,2010-2011 OVERALL GRADE,2010-2011 OVERALL SCORE,2010-2011 ENVIRONMENT CATEGORY SCORE,2010-2011 ENVIRONMENT GRADE,2010-2011 PERFORMANCE CATEGORY SCORE,2010-2011 PERFORMANCE GRADE,2010-2011 PROGRESS CATEGORY SCORE,2010-2011 PROGRESS GRADE,2010-2011 ADDITIONAL CREDIT,2009-10 PROGRESS REPORT GRADE
0,01M015,Irene Sanchez,EMS,Elementary,63.61,C,27.0,6.4,B,2.1,D,18.0,C,0.5,C
1,01M019,Jacqueline Flanagan,EMS,Elementary,49.48,B,48.7,7.8,B,5.2,D,35.1,A,0.5,C
2,01M020,James Lee,EMS,Elementary,56.65,B,48.2,7.7,B,7.4,C,31.1,B,2.0,A
3,01M034,Joyce Stallings Harte,EMS,K-8,67.97,C,39.8,7.5,B,11.3,B,18.5,C,2.5,B
4,01M063,Darlene Despeignes,EMS,Elementary,58.85,B,49.0,8.1,B,10.4,B,29.0,B,1.5,B
5,01M064,Marlon L. Hosang,EMS,Elementary,60.73,C,25.8,9.7,A,4.5,D,11.6,D,0.0,C
6,01M110,Karen Feuer,EMS,Elementary,40.85,C,38.1,4.1,C,10.9,B,22.1,C,1.0,D
7,01M134,Loretta Caputo,EMS,Elementary,54.33,C,34.6,4.2,C,5.9,C,24.0,C,0.5,B
8,01M137,Melissa Rodriguez,EMS,Elementary,57.88,F,17.6,5.1,C,4.8,D,6.7,F,1.0,C
9,01M140,Esteban Barrientos,EMS,K-8,61.28,D,23.6,8.4,B,5.1,D,9.6,D,0.5,B
10,01M142,Rhonda Levy,EMS,Elementary,63.39,C,29.2,10.0,A,7.1,C,10.6,F,1.5,B
11,01M184,Ling Ling Chou,EMS,K-8,28.13,A,86.8,9.8,A,20.9,A,50.6,A,5.5,A
12,01M188,Mary Pree,EMS,K-8,64.17,A,60.7,4.1,C,7.9,C,41.7,A,7.0,C
13,01M292,Erin Balet,EMS,Middle,1.95,C,32.4,5.1,C,4.1,D,18.7,C,4.5,C
14,01M292,Erin Balet,HS,High School,1.81,C,49.8,6.9,D,12.8,C,30.1,C,NaN,D
15,01M301,George Morgan,EMS,Middle,1.90,B,47.6,7.0,B,8.9,C,28.7,B,3.0,C
16,01M315,Robin Williams,EMS,Elementary,35.33,C,38.2,8.6,A,12.2,B,16.4,C,1.0,C
17,01M332,Laura Peynado,EMS,Middle,1.78,C,39.3,10.6,A,5.3,D,22.4,C,1.0,B
18,01M345,Judith De Los Santos,EMS,Middle,2.29,B,41.7,6.8,B,10.4,B,23.5,C,1.0,B
19,01M361,Maria Velez Clarke,EMS,Elementary,32.99,B,42.0,7.7,B,4.4,D,27.9,B,2.0,C
20,01M363,Milo Novelo,EMS,Elementary,31.12,C,27.0,5.1,C,6.2,C,13.2,D,2.5,C
21,01M364,Alison Gail Hazut,EMS,Elementary,31.60,C,31.4,11.1,A,3.8,D,13.5,D,3.0,D
22,01M378,Carry Chan,EMS,Middle,2.23,B,53.8,8.6,B,12.9,B,27.3,B,5.0,B
23,01M448,Elizabeth Collins,HS,High School,2.03,C,57.6,6.9,D,13.9,C,35.8,B,1.0,C
24,01M450,Mark Federman,EMS,Middle,1.99,A,63.5,12.5,A,14.6,A,27.9,B,8.5,A
25,01M450,Mark Federman,HS,High School,2.26,A,77.0,12.9,A,18.4,A,38.7,B,7.0,A
26,01M458,Ingrid Roberts Haynes,HST,Transfer High School,2.19,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
27,01M509,Mimi Fortunato,HS,High School,1.78,C,54.0,6.7,D,15.7,B,30.6,C,1.0,B
28,01M515,Martha Polin,HST,Transfer High School,2.50,A,75.6,9.4,B,18.4,A,39.8,B,8.0,A
29,01M539,Dr. Olga Livanis,EMS,K-8,13.51,A,73.5,6.8,B,22.4,A,44.3,A,0.0,A
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1685,84R073,Jamie V. Esperon,EMS,Middle,2.26,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1686,84X165,Ira Victor,EMS,Elementary,57.45,B,54.4,11.9,A,15.2,A,26.3,B,1.0,B
1687,84X185,Meghan Kimpton (K-4)/Mathias Guishard (5-8),EMS,K-8,54.79,D,21.1,8.7,A,8.8,C,2.6,F,1.0,B
1688,84X255,Charlene Reid,EMS,Elementary,47.49,A,90.4,11.9,A,21.6,A,51.9,A,5.0,A
1689,84X309,Evelyn Hey,EMS,Elementary,57.71,B,54.8,10.6,A,13.7,B,30.0,B,0.5,A
1690,84X345,Betsy Olney,EMS,K-8,60.14,B,45.3,10.0,A,8.9,C,23.4,C,3.0,C
1691,84X345,Betsy Olney,HS,High School,2.43,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1692,84X346,Lester Long,EMS,Elementary,55.55,A,78.8,10.5,A,18.0,A,49.3,A,1.0,D
1693,84X347,Elaine Ruiz Lopez,HS,High School,2.45,A,72.6,11.9,A,16.3,B,38.4,B,6.0,C
1694,84X378,Brenda Carrasquillo,EMS,Elementary,48.00,A,66.8,12.2,A,19.7,A,34.9,A,0.0,C
1695,84X389,Celia Domenech,EC,K-3,54.88,C,26.2,8.9,B,9.2,B,8.1,C,0.0,NaN
1696,84X393,Ashish Kapadia,HS,High School,2.44,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1697,84X394,Jessica Nauiokas,EC,K-3,60.17,D,16.0,9.5,A,3.4,F,3.1,F,0.0,NaN
1698,84X395,Eugene Foley,HS,High School,2.26,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1699,84X398,Martha Andrews/Sasha Wilson,EC,K-3,52.17,C,19.1,12.4,A,3.1,F,3.6,F,0.0,NaN
1700,84X407,Kristina Jelinek,EMS,Elementary,58.91,D,19.5,8.0,B,7.3,C,4.2,F,0.0,C
1701,84X419,Catherine Jackvony,EMS,Elementary,61.34,F,16.5,11.9,A,4.6,D,0.0,F,0.0,B
1702,84X422,Midga Agosto,EMS,Elementary,55.96,D,22.5,7.4,B,12.8,B,2.3,F,0.0,A
1703,84X482,John Xavier,EMS,Middle,2.59,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1704,84X488,Caitlin Franco,EMS,Middle,2.44,C,39.5,10.2,A,8.0,C,19.7,C,1.5,NaN
1705,84X496,Michelle Allen,EC,K-3,59.94,A,70.8,14.2,A,22.8,A,29.8,A,4.0,NaN
1706,84X703,Jacqueline King-Robinson,EMS,Middle,2.68,C,28.0,9.8,A,6.7,C,10.5,D,1.0,C
1707,84X703,Jacqueline King-Robinson,HS,High School,2.75,C,37.8,10.1,B,13.6,C,14.1,F,NaN,C
1708,84X704,Natalie Webb,EMS,Middle,2.87,A,67.9,13.3,A,13.9,B,34.7,B,6.0,A
1709,84X704,Natalie Webb,HS,High School,2.94,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1710,84X705,Marilyn Calo,EMS,K-8,55.01,B,41.3,14.2,A,10.2,C,16.9,C,0.0,B
1711,84X706,Cleveland Person,EMS,K-8,58.02,C,33.1,8.9,A,5.8,D,16.4,C,2.0,C
1712,84X717,Daniel Garcia,EMS,K-8,51.84,A,64.3,11.4,A,18.1,A,34.8,A,0.0,B
1713,84X718,Shubert Jacobs,EMS,Elementary,52.21,C,35.2,9.8,A,10.2,B,15.2,D,0.0,C
1714,84X730,Christina Brown,EMS,Elementary,58.86,D,23.3,8.3,B,7.1,C,6.4,F,1.5,B