In [195]:
from pylab import *
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline
from sklearn.cross_validation import cross_val_score
from sklearn.neighbors import KNeighborsClassifier
from sklearn.lda import LDA
import datetime

#data1 = "/Users/Derrick/Desktop/data science new topic/SAT_Results.csv" # data path to data
#data2 = "/Users/Derrick/Desktop/data science new topic/nysd.csv"
#data3 = "/Users/Derrick/Desktop/data science new topic/NYS_Math_Test_Results_By_Grade_2006-2011_-_School_Level_-_All_Students.csv"
#data4 = "/Users/Derrick/Desktop/data science new topic/School_Attendance_and_Enrollment_Statistics_by_District__2010-11.csv"
#data5 = "/Users/Derrick/Desktop/data science new topic/School_Demographics_and_Accountability_Snapshot_2006-2012.csv"
#data6 = "/Users/Derrick/Desktop/data science new topic/Graduation_Outcomes_-_Classes_Of_2005-2010_-_School_Level.csv"
#data7 = "/Users/Derrick/Desktop/data science new topic/AP__College_Board__2010_School_Level_Results.csv"
#data8 = "/Users/Derrick/Desktop/data science new topic/2010-2011_Class_Size_-_School-level_detail.csv"
#data9 = "/Users/Derrick/Desktop/data science new topic/masterfile11_d75_final.xlsx"
#data10 = "/Users/Derrick/Desktop/data science new topic/masterfile11_gened_final.xlsx"
#data11 = "/Users/Derrick/Desktop/data science new topic/Survey Data Dictionary.xls"

data1 = "/Users/dev_derrick/Desktop/data science new topic/SAT_Results.csv" # data path to data
data2 = "/Users/dev_derrick/Desktop/data science new topic/nysd.csv"
data3 = "/Users/dev_derrick/Desktop/data science new topic/NYS_Math_Test_Results_By_Grade_2006-2011_-_School_Level_-_All_Students.csv"
data4 = "/Users/dev_derrick/Desktop/data science new topic/School_Attendance_and_Enrollment_Statistics_by_District__2010-11_.csv"
data5 = "/Users/dev_derrick/Desktop/data science new topic/School_Demographics_and_Accountability_Snapshot_2006-2012.csv"
data6 = "/Users/dev_derrick/Desktop/data science new topic/Graduation_Outcomes_-_Classes_Of_2005-2010_-_School_Level.csv"
data7 = "/Users/dev_derrick/Desktop/data science new topic/AP__College_Board__2010_School_Level_Results.csv"
data8 = "/Users/dev_derrick/Desktop/data science new topic/2010-2011_Class_Size_-_School-level_detail.csv"
data9 = "/Users/dev_derrick/Desktop/data science new topic/masterfile11_d75_final.txt"
data10 = "/Users/dev_derrick/Desktop/data science new topic/masterfile11_gened_final.txt"
data11 = "/Users/dev_derrick/Desktop/data science new topic/Survey Data Dictionary.xls"
data12 = "/Users/dev_derrick/Desktop/data science new topic/DOE_High_School_Directory_2014-2015.csv"

In [196]:
readFile1 = pd.read_csv(data1)
readFile1.head()

,DBN,SCHOOL NAME,Num of SAT Test Takers,SAT Critical Reading Avg. Score,SAT Math Avg. Score,SAT Writing Avg. Score
0,01M292,HENRY STREET SCHOOL FOR INTERNATIONAL STUDIES,29,355,404,363
1,01M448,UNIVERSITY NEIGHBORHOOD HIGH SCHOOL,91,383,423,366
2,01M450,EAST SIDE COMMUNITY SCHOOL,70,377,402,370
3,01M458,FORSYTH SATELLITE ACADEMY,7,414,401,359
4,01M509,MARTA VALLE HIGH SCHOOL,44,390,433,384

In [245]:
readFile1.ix[readFile1['Num of SAT Test Takers']=="s"] = np.nan

In [246]:
readFile1

,DBN,SCHOOL NAME,Num of SAT Test Takers,SAT Critical Reading Avg. Score,SAT Math Avg. Score,SAT Writing Avg. Score,Total SAT Score
0,01M292,HENRY STREET SCHOOL FOR INTERNATIONAL STUDIES,29,355.0,404.0,363.0,1122.0
1,01M448,UNIVERSITY NEIGHBORHOOD HIGH SCHOOL,91,383.0,423.0,366.0,1172.0
2,01M450,EAST SIDE COMMUNITY SCHOOL,70,377.0,402.0,370.0,1149.0
3,01M458,FORSYTH SATELLITE ACADEMY,7,414.0,401.0,359.0,1174.0
4,01M509,MARTA VALLE HIGH SCHOOL,44,390.0,433.0,384.0,1207.0
5,01M515,LOWER EAST SIDE PREPARATORY HIGH SCHOOL,112,332.0,557.0,316.0,1205.0
6,01M539,"NEW EXPLORATIONS INTO SCIENCE, TECHNOLOGY AND ...",159,522.0,574.0,525.0,1621.0
7,01M650,CASCADES HIGH SCHOOL,18,417.0,418.0,411.0,1246.0
8,01M696,BARD HIGH SCHOOL EARLY COLLEGE,130,624.0,604.0,628.0,1856.0
9,02M047,47 THE AMERICAN SIGN LANGUAGE AND ENGLISH SECO...,16,395.0,400.0,387.0,1182.0
10,02M288,FOOD AND FINANCE HIGH SCHOOL,62,409.0,393.0,392.0,1194.0
11,02M294,ESSEX STREET ACADEMY,53,394.0,384.0,378.0,1156.0
12,02M296,HIGH SCHOOL OF HOSPITALITY MANAGEMENT,58,374.0,375.0,362.0,1111.0
13,02M298,PACE HIGH SCHOOL,85,423.0,438.0,432.0,1293.0
14,02M300,URBAN ASSEMBLY SCHOOL OF DESIGN AND CONSTRUCTI...,48,404.0,449.0,416.0,1269.0
15,02M303,"FACING HISTORY SCHOOL, THE",76,353.0,358.0,340.0,1051.0
16,02M305,"URBAN ASSEMBLY ACADEMY OF GOVERNMENT AND LAW, THE",50,375.0,388.0,385.0,1148.0
17,02M308,LOWER MANHATTAN ARTS ACADEMY,40,403.0,392.0,405.0,1200.0
18,02M313,"JAMES BALDWIN SCHOOL, THE: A SCHOOL FOR EXPEDI...",69,408.0,390.0,390.0,1188.0
19,02M316,URBAN ASSEMBLY SCHOOL OF BUSINESS FOR YOUNG WO...,42,373.0,370.0,384.0,1127.0
20,02M374,GRAMERCY ARTS HIGH SCHOOL,60,391.0,391.0,394.0,1176.0
21,02M376,NYC ISCHOOL,92,473.0,483.0,479.0,1435.0
22,NaN,NaN,NaN,NaN,NaN,NaN,NaN
23,NaN,NaN,NaN,NaN,NaN,NaN,NaN
24,02M394,EMMA LAZARUS HIGH SCHOOL,79,319.0,512.0,357.0,1188.0
25,NaN,NaN,NaN,NaN,NaN,NaN,NaN
26,02M400,HIGH SCHOOL FOR ENVIRONMENTAL STUDIES,263,465.0,493.0,461.0,1419.0
27,02M407,INSTITUTE FOR COLLABORATIVE EDUCATION,54,492.0,465.0,467.0,1424.0
28,02M408,PROFESSIONAL PERFORMING ARTS HIGH SCHOOL,94,509.0,490.0,523.0,1522.0
29,02M411,BARUCH COLLEGE CAMPUS HIGH SCHOOL,104,496.0,563.0,518.0,1577.0
...,...,...,...,...,...,...,...
448,30Q580,BACCALAUREATE SCHOOL FOR GLOBAL EDUCATION,61,524.0,568.0,544.0,1636.0
449,31R047,CSI HIGH SCHOOL FOR INTERNATIONAL STUDIES,137,452.0,451.0,450.0,1353.0
450,31R064,GAYNOR MCCOWN EXPEDITIONARY LEARNING SCHOOL,61,398.0,412.0,385.0,1195.0
451,31R080,THE MICHAEL J. PETRIDES SCHOOL,107,472.0,488.0,466.0,1426.0
452,31R440,NEW DORP HIGH SCHOOL,391,424.0,437.0,416.0,1277.0
453,31R445,PORT RICHMOND HIGH SCHOOL,271,424.0,438.0,417.0,1279.0
454,31R450,CURTIS HIGH SCHOOL,375,437.0,435.0,429.0,1301.0
455,31R455,TOTTENVILLE HIGH SCHOOL,807,462.0,486.0,470.0,1418.0
456,31R460,SUSAN E. WAGNER HIGH SCHOOL,535,455.0,474.0,459.0,1388.0
457,31R470,CONCORD HIGH SCHOOL,10,466.0,455.0,414.0,1335.0
458,31R600,RALPH R. MCKEE CAREER AND TECHNICAL EDUCATION ...,94,416.0,422.0,397.0,1235.0
459,31R605,STATEN ISLAND TECHNICAL HIGH SCHOOL,227,635.0,682.0,636.0,1953.0
460,31R607,YOUNG ADULT BOROUGH CENTER AT STATEN IS TECH HS,10,405.0,375.0,370.0,1150.0
461,32K403,ACADEMY FOR ENVIRONMENTAL LEADERSHIP,50,380.0,366.0,352.0,1098.0
462,32K545,EBC HIGH SCHOOL FOR PUBLIC SERVICE–BUSHWICK,88,384.0,409.0,361.0,1154.0
463,32K549,BUSHWICK SCHOOL FOR SOCIAL JUSTICE,75,348.0,353.0,334.0,1035.0
464,32K552,ACADEMY OF URBAN PLANNING,67,342.0,364.0,354.0,1060.0
465,32K554,ALL CITY LEADERSHIP SECONDARY SCHOOL,39,428.0,465.0,422.0,1315.0
466,32K556,BUSHWICK LEADERS HIGH SCHOOL FOR ACADEMIC EXCE...,23,347.0,358.0,350.0,1055.0
467,32K564,BUSHWICK COMMUNITY HIGH SCHOOL,24,359.0,317.0,358.0,1034.0
468,NaN,NaN,NaN,NaN,NaN,NaN,NaN
469,NaN,NaN,NaN,NaN,NaN,NaN,NaN
470,NaN,NaN,NaN,NaN,NaN,NaN,NaN
471,75Q811,P.S. Q811,32,429.0,444.0,433.0,1306.0
472,NaN,NaN,NaN,NaN,NaN,NaN,NaN
473,NaN,NaN,NaN,NaN,NaN,NaN,NaN
474,NaN,NaN,NaN,NaN,NaN,NaN,NaN
475,NaN,NaN,NaN,NaN,NaN,NaN,NaN
476,79Q950,GED PLUS s CITYWIDE,8,496.0,400.0,426.0,1322.0
477,79X490,PHOENIX ACADEMY,9,367.0,370.0,360.0,1097.0

In [197]:
readFile2 = pd.read_csv(data2)
readFile2.head()

,the_geom,SchoolDist,Shape_Leng,Shape_Area
0,MULTIPOLYGON (((-73.82049919995312 40.80101146...,25,175816.081000,4.436314e+08
1,MULTIPOLYGON (((-74.02552971543656 40.65147855...,20,95513.486010,2.427230e+08
2,MULTIPOLYGON (((-73.95671863064405 40.78660079...,3,52071.976405,1.134879e+08
3,MULTIPOLYGON (((-73.92133752419399 40.80085210...,4,52056.107857,5.262001e+07
4,MULTIPOLYGON (((-73.74344992332192 40.77824115...,26,125716.377003,4.249042e+08

In [198]:
readFile3 = pd.read_csv(data3)
readFile3.head()

,DBN,Grade,Year,Category,Number Tested,Mean Scale Score,Level 1 #,Level 1 %,Level 2 #,Level 2 %,Level 3 #,Level 3 %,Level 4 #,Level 4 %,Level 3+4 #,Level 3+4 %
0,01M015,3,2006,All Students,39,667,2,5.1%,11,28.2%,20,51.3%,6,15.4%,26,66.7%
1,01M015,3,2007,All Students,31,672,2,6.5%,3,9.7%,22,71%,4,12.9%,26,83.9%
2,01M015,3,2008,All Students,37,668,0,0%,6,16.2%,29,78.4%,2,5.4%,31,83.8%
3,01M015,3,2009,All Students,33,668,0,0%,4,12.1%,28,84.8%,1,3%,29,87.9%
4,01M015,3,2010,All Students,26,677,6,23.1%,12,46.2%,6,23.1%,2,7.7%,8,30.8%

In [199]:
readFile4 = pd.read_csv(data4)
readFile4.head()

      District YTD % Attendance (Avg)  YTD Enrollment(Avg)
0  DISTRICT 01                 91.18%                12367
1  DISTRICT 02                 89.01%                60823
2  DISTRICT 03                 89.28%                21962
3  DISTRICT 04                 91.13%                14252
4  DISTRICT 05                 89.08%                13170

In [200]:
readFile5 = pd.read_csv(data5)
readFile5.head()

,DBN,Name,schoolyear,fl_percent,frl_percent,total_enrollment,prek,k,grade1,grade2,...,black_num,black_per,hispanic_num,hispanic_per,white_num,white_per,male_num,male_per,female_num,female_per
0,01M015,P.S. 015 ROBERTO CLEMENTE,20052006,89.4,NaN,281,15,36,40,33,...,74,26.3,189,67.3,5,1.8,158.0,56.2,123.0,43.8
1,01M015,P.S. 015 ROBERTO CLEMENTE,20062007,89.4,NaN,243,15,29,39,38,...,68,28.0,153,63.0,4,1.6,140.0,57.6,103.0,42.4
2,01M015,P.S. 015 ROBERTO CLEMENTE,20072008,89.4,NaN,261,18,43,39,36,...,77,29.5,157,60.2,7,2.7,143.0,54.8,118.0,45.2
3,01M015,P.S. 015 ROBERTO CLEMENTE,20082009,89.4,NaN,252,17,37,44,32,...,75,29.8,149,59.1,7,2.8,149.0,59.1,103.0,40.9
4,01M015,P.S. 015 ROBERTO CLEMENTE,20092010,,96.5,208,16,40,28,32,...,67,32.2,118,56.7,6,2.9,124.0,59.6,84.0,40.4

In [201]:
readFile6 = pd.read_csv(data6)
readFile6.head()

,Demographic,DBN,School Name,Cohort,Total Cohort,Total Grads - n,Total Grads - % of cohort,Total Regents - n,Total Regents - % of cohort,Total Regents - % of grads,...,Regents w/o Advanced - n,Regents w/o Advanced - % of cohort,Regents w/o Advanced - % of grads,Local - n,Local - % of cohort,Local - % of grads,Still Enrolled - n,Still Enrolled - % of cohort,Dropped Out - n,Dropped Out - % of cohort
0,Total Cohort,01M292,HENRY STREET SCHOOL FOR INTERNATIONAL,2003,5,s,s,s,s,s,...,s,s,s,s,s,s,s,s,s,s
1,Total Cohort,01M292,HENRY STREET SCHOOL FOR INTERNATIONAL,2004,55,37,67.3%,17,30.9%,45.9%,...,17,30.9%,45.9%,20,36.4%,54.1%,15,27.3%,3,5.5%
2,Total Cohort,01M292,HENRY STREET SCHOOL FOR INTERNATIONAL,2005,64,43,67.2%,27,42.2%,62.8%,...,27,42.2%,62.8%,16,25%,37.200000000000003%,9,14.1%,9,14.1%
3,Total Cohort,01M292,HENRY STREET SCHOOL FOR INTERNATIONAL,2006,78,43,55.1%,36,46.2%,83.7%,...,36,46.2%,83.7%,7,9%,16.3%,16,20.5%,11,14.1%
4,Total Cohort,01M292,HENRY STREET SCHOOL FOR INTERNATIONAL,2006 Aug,78,44,56.4%,37,47.4%,84.1%,...,37,47.4%,84.1%,7,9%,15.9%,15,19.2%,11,14.1%

In [202]:
readFile7 = pd.read_csv(data7)
readFile7.head()

,DBN,SchoolName,AP Test Takers,Total Exams Taken,Number of Exams with scores 3 4 or 5
0,01M448,UNIVERSITY NEIGHBORHOOD H.S.,39,49,10
1,01M450,EAST SIDE COMMUNITY HS,19,21,s
2,01M515,LOWER EASTSIDE PREP,24,26,24
3,01M539,"NEW EXPLORATIONS SCI,TECH,MATH",255,377,191
4,02M296,High School of Hospitality Management,s,s,s

In [203]:
readFile8 = pd.read_csv(data8)
readFile8.head()

,CSD,BOROUGH,SCHOOL CODE,SCHOOL NAME,GRADE,PROGRAM TYPE,CORE SUBJECT (MS CORE and 9-12 ONLY),CORE COURSE (MS CORE and 9-12 ONLY),SERVICE CATEGORY(K-9* ONLY),NUMBER OF STUDENTS / SEATS FILLED,NUMBER OF SECTIONS,AVERAGE CLASS SIZE,SIZE OF SMALLEST CLASS,SIZE OF LARGEST CLASS,DATA SOURCE,SCHOOLWIDE PUPIL-TEACHER RATIO
0,1,M,M015,P.S. 015 Roberto Clemente,0K,GEN ED,-,-,-,19.0,1.0,19.0,19.0,19.0,ATS,NaN
1,1,M,M015,P.S. 015 Roberto Clemente,0K,CTT,-,-,-,21.0,1.0,21.0,21.0,21.0,ATS,NaN
2,1,M,M015,P.S. 015 Roberto Clemente,01,GEN ED,-,-,-,17.0,1.0,17.0,17.0,17.0,ATS,NaN
3,1,M,M015,P.S. 015 Roberto Clemente,01,CTT,-,-,-,17.0,1.0,17.0,17.0,17.0,ATS,NaN
4,1,M,M015,P.S. 015 Roberto Clemente,02,GEN ED,-,-,-,15.0,1.0,15.0,15.0,15.0,ATS,NaN

In [204]:
readFile12 = pd.read_csv(data12)
readFile12.head()

,dbn,school_name,boro,building_code,phone_number,fax_number,grade_span_min,grade_span_max,expgrade_span_min,expgrade_span_max,...,priority02,priority03,priority04,priority05,priority06,priority07,priority08,priority09,priority10,Location 1
0,17K548,Brooklyn School for Music & Theatre,Brooklyn,K440,718-230-6250,718-230-6262,9,12,NaN,NaN,...,Then to New York City residents,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"883 Classon Avenue\nBrooklyn, NY 11225\n(40.67..."
1,09X543,High School for Violin and Dance,Bronx,X400,718-842-0687,718-589-9849,9,12,NaN,NaN,...,Then to New York City residents who attend an ...,Then to Bronx students or residents,Then to New York City residents,NaN,NaN,NaN,NaN,NaN,NaN,"1110 Boston Road\nBronx, NY 10456\n(40.8276026..."
2,09X327,Comprehensive Model School Project M.S. 327,Bronx,X240,718-294-8111,718-294-8109,6,12,NaN,NaN,...,Then to Bronx students or residents who attend...,Then to New York City residents who attend an ...,Then to Bronx students or residents,Then to New York City residents,NaN,NaN,NaN,NaN,NaN,"1501 Jerome Avenue\nBronx, NY 10452\n(40.84241..."
3,02M280,Manhattan Early College School for Advertising,Manhattan,M520,718-935-3477,NaN,9,10,9,14.0,...,Then to New York City residents who attend an ...,Then to Manhattan students or residents,Then to New York City residents,NaN,NaN,NaN,NaN,NaN,NaN,"411 Pearl Street\nNew York, NY 10038\n(40.7106..."
4,28Q680,Queens Gateway to Health Sciences Secondary Sc...,Queens,Q695,718-969-3155,718-969-3552,6,12,NaN,NaN,...,Then to Districts 28 and 29 students or residents,Then to Queens students or residents,Then to New York City residents,NaN,NaN,NaN,NaN,NaN,NaN,"160-20 Goethals Avenue\nJamaica, NY 11432\n(40..."

In [205]:
readFile5["DBN"].head()

0    01M015
1    01M015
2    01M015
3    01M015
4    01M015
Name: DBN, dtype: object

#### add DBN column into readfile8, including CSD, Borough and School Code

In [206]:
readFile8["DBN"] = readFile8.apply(lambda x: "{0:02d}{1}".format(x["CSD"], x["SCHOOL CODE"]), axis=1)
readFile8.head()

,CSD,BOROUGH,SCHOOL CODE,SCHOOL NAME,GRADE,PROGRAM TYPE,CORE SUBJECT (MS CORE and 9-12 ONLY),CORE COURSE (MS CORE and 9-12 ONLY),SERVICE CATEGORY(K-9* ONLY),NUMBER OF STUDENTS / SEATS FILLED,NUMBER OF SECTIONS,AVERAGE CLASS SIZE,SIZE OF SMALLEST CLASS,SIZE OF LARGEST CLASS,DATA SOURCE,SCHOOLWIDE PUPIL-TEACHER RATIO,DBN
0,1,M,M015,P.S. 015 Roberto Clemente,0K,GEN ED,-,-,-,19.0,1.0,19.0,19.0,19.0,ATS,NaN,01M015
1,1,M,M015,P.S. 015 Roberto Clemente,0K,CTT,-,-,-,21.0,1.0,21.0,21.0,21.0,ATS,NaN,01M015
2,1,M,M015,P.S. 015 Roberto Clemente,01,GEN ED,-,-,-,17.0,1.0,17.0,17.0,17.0,ATS,NaN,01M015
3,1,M,M015,P.S. 015 Roberto Clemente,01,CTT,-,-,-,17.0,1.0,17.0,17.0,17.0,ATS,NaN,01M015
4,1,M,M015,P.S. 015 Roberto Clemente,02,GEN ED,-,-,-,15.0,1.0,15.0,15.0,15.0,ATS,NaN,01M015

In [207]:
new_readFile8 = readFile8.drop(readFile8.columns[[0, 1, 2]], axis=1)

In [208]:
new_readFile8

,SCHOOL NAME,GRADE,PROGRAM TYPE,CORE SUBJECT (MS CORE and 9-12 ONLY),CORE COURSE (MS CORE and 9-12 ONLY),SERVICE CATEGORY(K-9* ONLY),NUMBER OF STUDENTS / SEATS FILLED,NUMBER OF SECTIONS,AVERAGE CLASS SIZE,SIZE OF SMALLEST CLASS,SIZE OF LARGEST CLASS,DATA SOURCE,SCHOOLWIDE PUPIL-TEACHER RATIO,DBN
0,P.S. 015 Roberto Clemente,0K,GEN ED,-,-,-,19.0,1.0,19.0,19.0,19.0,ATS,NaN,01M015
1,P.S. 015 Roberto Clemente,0K,CTT,-,-,-,21.0,1.0,21.0,21.0,21.0,ATS,NaN,01M015
2,P.S. 015 Roberto Clemente,01,GEN ED,-,-,-,17.0,1.0,17.0,17.0,17.0,ATS,NaN,01M015
3,P.S. 015 Roberto Clemente,01,CTT,-,-,-,17.0,1.0,17.0,17.0,17.0,ATS,NaN,01M015
4,P.S. 015 Roberto Clemente,02,GEN ED,-,-,-,15.0,1.0,15.0,15.0,15.0,ATS,NaN,01M015
5,P.S. 015 Roberto Clemente,02,CTT,-,-,-,17.0,1.0,17.0,17.0,17.0,ATS,NaN,01M015
6,P.S. 015 Roberto Clemente,03,GEN ED,-,-,-,12.0,1.0,12.0,12.0,12.0,ATS,NaN,01M015
7,P.S. 015 Roberto Clemente,03,CTT,-,-,-,15.0,1.0,15.0,15.0,15.0,ATS,NaN,01M015
8,P.S. 015 Roberto Clemente,04,GEN ED,-,-,-,26.0,2.0,13.0,12.0,14.0,ATS,NaN,01M015
9,P.S. 015 Roberto Clemente,05,GEN ED,-,-,-,27.0,1.0,27.0,27.0,27.0,ATS,NaN,01M015
10,P.S. 015 Roberto Clemente,0K-09,SPEC ED,-,-,12:1:1,9.0,1.0,9.0,9.0,9.0,ATS,NaN,01M015
11,P.S. 015 Roberto Clemente,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,8.4,01M015
12,P.S. 019 Asher Levy,0K,GEN ED,-,-,-,39.0,2.0,19.5,18.0,21.0,ATS,NaN,01M019
13,P.S. 019 Asher Levy,0K,CTT,-,-,-,12.0,1.0,12.0,12.0,12.0,ATS,NaN,01M019
14,P.S. 019 Asher Levy,01,GEN ED,-,-,-,39.0,2.0,19.5,19.0,20.0,ATS,NaN,01M019
15,P.S. 019 Asher Levy,01,CTT,-,-,-,13.0,1.0,13.0,13.0,13.0,ATS,NaN,01M019
16,P.S. 019 Asher Levy,02,GEN ED,-,-,-,46.0,2.0,23.0,22.0,24.0,ATS,NaN,01M019
17,P.S. 019 Asher Levy,03,GEN ED,-,-,-,35.0,2.0,17.5,17.0,18.0,ATS,NaN,01M019
18,P.S. 019 Asher Levy,04,GEN ED,-,-,-,22.0,1.0,22.0,22.0,22.0,ATS,NaN,01M019
19,P.S. 019 Asher Levy,04,CTT,-,-,-,24.0,1.0,24.0,24.0,24.0,ATS,NaN,01M019
20,P.S. 019 Asher Levy,05,GEN ED,-,-,-,22.0,1.0,22.0,22.0,22.0,ATS,NaN,01M019
21,P.S. 019 Asher Levy,05,CTT,-,-,-,21.0,1.0,21.0,21.0,21.0,ATS,NaN,01M019
22,P.S. 019 Asher Levy,0K-09,SPEC ED,-,-,12:1,7.0,1.0,7.0,7.0,7.0,ATS,NaN,01M019
23,P.S. 019 Asher Levy,0K-09,SPEC ED,-,-,12:1:1,11.0,1.0,11.0,11.0,11.0,ATS,NaN,01M019
24,P.S. 019 Asher Levy,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,10.0,01M019
25,P.S. 020 Anna Silver,0K,GEN ED,-,-,-,89.0,4.0,22.3,20.0,23.0,ATS,NaN,01M020
26,P.S. 020 Anna Silver,0K,CTT,-,-,-,22.0,1.0,22.0,22.0,22.0,ATS,NaN,01M020
27,P.S. 020 Anna Silver,01,GEN ED,-,-,-,69.0,3.0,23.0,22.0,24.0,ATS,NaN,01M020
28,P.S. 020 Anna Silver,01,CTT,-,-,-,21.0,1.0,21.0,21.0,21.0,ATS,NaN,01M020
29,P.S. 020 Anna Silver,02,GEN ED,-,-,-,55.0,3.0,18.3,16.0,21.0,ATS,NaN,01M020
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
27581,Bushwick Leaders High School for Academic Exce...,09-12,GEN ED,SCIENCE,Other Science,-,313.0,12.0,26.1,18.0,33.0,STARS,NaN,32K556
27582,Bushwick Leaders High School for Academic Exce...,09-12,GEN ED,SOCIAL STUDIES,Global History & Geography,-,289.0,11.0,26.3,15.0,34.0,STARS,NaN,32K556
27583,Bushwick Leaders High School for Academic Exce...,09-12,GEN ED,SOCIAL STUDIES,US History & Government,-,128.0,5.0,25.6,13.0,32.0,STARS,NaN,32K556
27584,Bushwick Leaders High School for Academic Exce...,09-12,GEN ED,SOCIAL STUDIES,Economics,-,59.0,2.0,29.5,26.0,33.0,STARS,NaN,32K556
27585,Bushwick Leaders High School for Academic Exce...,09-12,GEN ED,SOCIAL STUDIES,Participation in Government,-,63.0,2.0,31.5,30.0,33.0,STARS,NaN,32K556
27586,Bushwick Leaders High School for Academic Exce...,09-12,SPEC ED,ENGLISH,English 9,-,14.0,1.0,14.0,14.0,14.0,STARS,NaN,32K556
27587,Bushwick Leaders High School for Academic Exce...,09-12,SPEC ED,ENGLISH,English 10,-,11.0,1.0,11.0,11.0,11.0,STARS,NaN,32K556
27588,Bushwick Leaders High School for Academic Exce...,09-12,SPEC ED,ENGLISH,English 11,-,10.0,1.0,10.0,10.0,10.0,STARS,NaN,32K556
27589,Bushwick Leaders High School for Academic Exce...,09-12,SPEC ED,MATH,Integrated Algebra,-,26.0,2.0,13.0,12.0,14.0,STARS,NaN,32K556
27590,Bushwick Leaders High School for Academic Exce...,09-12,SPEC ED,SCIENCE,Earth Science,-,22.0,2.0,11.0,11.0,11.0,STARS,NaN,32K556
27591,Bushwick Leaders High School for Academic Exce...,09-12,SPEC ED,SCIENCE,Living Environment,-,25.0,2.0,12.5,12.0,13.0,STARS,NaN,32K556
27592,Bushwick Leaders High School for Academic Exce...,09-12,SPEC ED,SCIENCE,Chemistry,-,22.0,2.0,11.0,11.0,11.0,STARS,NaN,32K556
27593,Bushwick Leaders High School for Academic Exce...,09-12,SPEC ED,SOCIAL STUDIES,Global History & Geography,-,36.0,3.0,12.0,10.0,14.0,STARS,NaN,32K556
27594,Bushwick Leaders High School for Academic Exce...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,14.7,32K556
27595,Bushwick Community High School,09-12,GEN ED,ENGLISH,English 9,-,261.0,10.0,26.1,17.0,35.0,STARS,NaN,32K564
27596,Bushwick Community High School,09-12,GEN ED,ENGLISH,English 10,-,102.0,4.0,25.5,17.0,30.0,STARS,NaN,32K564
27597,Bushwick Community High School,09-12,GEN ED,ENGLISH,English 11,-,144.0,6.0,24.0,21.0,28.0,STARS,NaN,32K564
27598,Bushwick Community High School,09-12,GEN ED,ENGLISH,English 12,-,132.0,5.0,26.4,19.0,29.0,STARS,NaN,32K564
27599,Bushwick Community High School,09-12,GEN ED,MATH,Integrated Algebra,-,342.0,14.0,24.4,19.0,28.0,STARS,NaN,32K564
27600,Bushwick Community High School,09-12,GEN ED,MATH,Math A,-,23.0,1.0,23.0,23.0,23.0,STARS,NaN,32K564
27601,Bushwick Community High School,09-12,GEN ED,SCIENCE,Earth Science,-,24.0,2.0,12.0,12.0,12.0,STARS,NaN,32K564
27602,Bushwick Community High School,09-12,GEN ED,SCIENCE,Living Environment,-,161.0,6.0,26.8,17.0,31.0,STARS,NaN,32K564
27603,Bushwick Community High School,09-12,GEN ED,SCIENCE,Chemistry,-,57.0,2.0,28.5,27.0,30.0,STARS,NaN,32K564
27604,Bushwick Community High School,09-12,GEN ED,SCIENCE,Physics,-,49.0,2.0,24.5,22.0,27.0,STARS,NaN,32K564
27605,Bushwick Community High School,09-12,GEN ED,SOCIAL STUDIES,Global History & Geography,-,237.0,10.0,23.7,15.0,31.0,STARS,NaN,32K564
27606,Bushwick Community High School,09-12,GEN ED,SOCIAL STUDIES,US History & Government,-,256.0,10.0,25.6,15.0,35.0,STARS,NaN,32K564
27607,Bushwick Community High School,09-12,GEN ED,SOCIAL STUDIES,Economics,-,65.0,2.0,32.5,32.0,33.0,STARS,NaN,32K564
27608,Bushwick Community High School,09-12,GEN ED,SOCIAL STUDIES,Participation in Government,-,53.0,2.0,26.5,25.0,28.0,STARS,NaN,32K564
27609,Bushwick Community High School,09-12,CTT,MATH,Integrated Algebra,-,50.0,2.0,25.0,25.0,25.0,STARS,NaN,32K564
27610,Bushwick Community High School,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,17.1,32K564

In [209]:
cols = new_readFile8.columns.tolist()
cols

['SCHOOL NAME',
 'GRADE ',
 'PROGRAM TYPE',
 'CORE SUBJECT (MS CORE and 9-12 ONLY)',
 'CORE COURSE (MS CORE and 9-12 ONLY)',
 'SERVICE CATEGORY(K-9* ONLY)',
 'NUMBER OF STUDENTS / SEATS FILLED',
 'NUMBER OF SECTIONS',
 'AVERAGE CLASS SIZE',
 'SIZE OF SMALLEST CLASS',
 'SIZE OF LARGEST CLASS',
 'DATA SOURCE',
 'SCHOOLWIDE PUPIL-TEACHER RATIO',
 'DBN']

In [210]:
cols_switch = cols[-1:] + cols[:-1]
cols_switch

['DBN',
 'SCHOOL NAME',
 'GRADE ',
 'PROGRAM TYPE',
 'CORE SUBJECT (MS CORE and 9-12 ONLY)',
 'CORE COURSE (MS CORE and 9-12 ONLY)',
 'SERVICE CATEGORY(K-9* ONLY)',
 'NUMBER OF STUDENTS / SEATS FILLED',
 'NUMBER OF SECTIONS',
 'AVERAGE CLASS SIZE',
 'SIZE OF SMALLEST CLASS',
 'SIZE OF LARGEST CLASS',
 'DATA SOURCE',
 'SCHOOLWIDE PUPIL-TEACHER RATIO']

In [211]:
new_readFile8 =  new_readFile8[cols_switch]
new_readFile8.head()

,DBN,SCHOOL NAME,GRADE,PROGRAM TYPE,CORE SUBJECT (MS CORE and 9-12 ONLY),CORE COURSE (MS CORE and 9-12 ONLY),SERVICE CATEGORY(K-9* ONLY),NUMBER OF STUDENTS / SEATS FILLED,NUMBER OF SECTIONS,AVERAGE CLASS SIZE,SIZE OF SMALLEST CLASS,SIZE OF LARGEST CLASS,DATA SOURCE,SCHOOLWIDE PUPIL-TEACHER RATIO
0,01M015,P.S. 015 Roberto Clemente,0K,GEN ED,-,-,-,19.0,1.0,19.0,19.0,19.0,ATS,NaN
1,01M015,P.S. 015 Roberto Clemente,0K,CTT,-,-,-,21.0,1.0,21.0,21.0,21.0,ATS,NaN
2,01M015,P.S. 015 Roberto Clemente,01,GEN ED,-,-,-,17.0,1.0,17.0,17.0,17.0,ATS,NaN
3,01M015,P.S. 015 Roberto Clemente,01,CTT,-,-,-,17.0,1.0,17.0,17.0,17.0,ATS,NaN
4,01M015,P.S. 015 Roberto Clemente,02,GEN ED,-,-,-,15.0,1.0,15.0,15.0,15.0,ATS,NaN

#### change column[dbn] name in readFile12 to DBN

In [212]:
readFile12["DBN"] = readFile12["dbn"]
readFile12.head()

,dbn,school_name,boro,building_code,phone_number,fax_number,grade_span_min,grade_span_max,expgrade_span_min,expgrade_span_max,...,priority03,priority04,priority05,priority06,priority07,priority08,priority09,priority10,Location 1,DBN
0,17K548,Brooklyn School for Music & Theatre,Brooklyn,K440,718-230-6250,718-230-6262,9,12,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"883 Classon Avenue\nBrooklyn, NY 11225\n(40.67...",17K548
1,09X543,High School for Violin and Dance,Bronx,X400,718-842-0687,718-589-9849,9,12,NaN,NaN,...,Then to Bronx students or residents,Then to New York City residents,NaN,NaN,NaN,NaN,NaN,NaN,"1110 Boston Road\nBronx, NY 10456\n(40.8276026...",09X543
2,09X327,Comprehensive Model School Project M.S. 327,Bronx,X240,718-294-8111,718-294-8109,6,12,NaN,NaN,...,Then to New York City residents who attend an ...,Then to Bronx students or residents,Then to New York City residents,NaN,NaN,NaN,NaN,NaN,"1501 Jerome Avenue\nBronx, NY 10452\n(40.84241...",09X327
3,02M280,Manhattan Early College School for Advertising,Manhattan,M520,718-935-3477,NaN,9,10,9,14.0,...,Then to Manhattan students or residents,Then to New York City residents,NaN,NaN,NaN,NaN,NaN,NaN,"411 Pearl Street\nNew York, NY 10038\n(40.7106...",02M280
4,28Q680,Queens Gateway to Health Sciences Secondary Sc...,Queens,Q695,718-969-3155,718-969-3552,6,12,NaN,NaN,...,Then to Queens students or residents,Then to New York City residents,NaN,NaN,NaN,NaN,NaN,NaN,"160-20 Goethals Avenue\nJamaica, NY 11432\n(40...",28Q680

In [213]:
new_readFile12 = readFile12.drop(readFile12.columns[[0]], axis=1)
#new_readFile12.head()

In [214]:
cols2 = new_readFile12.columns.tolist()
cols2

['school_name',
 'boro',
 'building_code',
 'phone_number',
 'fax_number',
 'grade_span_min',
 'grade_span_max',
 'expgrade_span_min',
 'expgrade_span_max',
 'bus',
 'subway',
 'primary_address_line_1',
 'city',
 'state_code',
 'zip',
 'website',
 'total_students',
 'campus_name',
 'school_type',
 'overview_paragraph',
 'program_highlights',
 'language_classes',
 'advancedplacement_courses',
 'online_ap_courses',
 'online_language_courses',
 'extracurricular_activities',
 'psal_sports_boys',
 'psal_sports_girls',
 'psal_sports_coed',
 'school_sports',
 'partner_cbo',
 'partner_hospital',
 'partner_highered',
 'partner_cultural',
 'partner_nonprofit',
 'partner_corporate',
 'partner_financial',
 'partner_other',
 'addtl_info1',
 'addtl_info2',
 'start_time',
 'end_time',
 'se_services',
 'ell_programs',
 'school_accessibility_description',
 'number_programs',
 'priority01',
 'priority02',
 'priority03',
 'priority04',
 'priority05',
 'priority06',
 'priority07',
 'priority08',
 'priority09',
 'priority10',
 'Location 1',
 'DBN']

In [215]:
cols2_switch = cols2[-1:] + cols2[:-1]
cols2_switch

['DBN',
 'school_name',
 'boro',
 'building_code',
 'phone_number',
 'fax_number',
 'grade_span_min',
 'grade_span_max',
 'expgrade_span_min',
 'expgrade_span_max',
 'bus',
 'subway',
 'primary_address_line_1',
 'city',
 'state_code',
 'zip',
 'website',
 'total_students',
 'campus_name',
 'school_type',
 'overview_paragraph',
 'program_highlights',
 'language_classes',
 'advancedplacement_courses',
 'online_ap_courses',
 'online_language_courses',
 'extracurricular_activities',
 'psal_sports_boys',
 'psal_sports_girls',
 'psal_sports_coed',
 'school_sports',
 'partner_cbo',
 'partner_hospital',
 'partner_highered',
 'partner_cultural',
 'partner_nonprofit',
 'partner_corporate',
 'partner_financial',
 'partner_other',
 'addtl_info1',
 'addtl_info2',
 'start_time',
 'end_time',
 'se_services',
 'ell_programs',
 'school_accessibility_description',
 'number_programs',
 'priority01',
 'priority02',
 'priority03',
 'priority04',
 'priority05',
 'priority06',
 'priority07',
 'priority08',
 'priority09',
 'priority10',
 'Location 1']

In [216]:
new_readFile12 = new_readFile12[cols2_switch]
new_readFile12.head()

,DBN,school_name,boro,building_code,phone_number,fax_number,grade_span_min,grade_span_max,expgrade_span_min,expgrade_span_max,...,priority02,priority03,priority04,priority05,priority06,priority07,priority08,priority09,priority10,Location 1
0,17K548,Brooklyn School for Music & Theatre,Brooklyn,K440,718-230-6250,718-230-6262,9,12,NaN,NaN,...,Then to New York City residents,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"883 Classon Avenue\nBrooklyn, NY 11225\n(40.67..."
1,09X543,High School for Violin and Dance,Bronx,X400,718-842-0687,718-589-9849,9,12,NaN,NaN,...,Then to New York City residents who attend an ...,Then to Bronx students or residents,Then to New York City residents,NaN,NaN,NaN,NaN,NaN,NaN,"1110 Boston Road\nBronx, NY 10456\n(40.8276026..."
2,09X327,Comprehensive Model School Project M.S. 327,Bronx,X240,718-294-8111,718-294-8109,6,12,NaN,NaN,...,Then to Bronx students or residents who attend...,Then to New York City residents who attend an ...,Then to Bronx students or residents,Then to New York City residents,NaN,NaN,NaN,NaN,NaN,"1501 Jerome Avenue\nBronx, NY 10452\n(40.84241..."
3,02M280,Manhattan Early College School for Advertising,Manhattan,M520,718-935-3477,NaN,9,10,9,14.0,...,Then to New York City residents who attend an ...,Then to Manhattan students or residents,Then to New York City residents,NaN,NaN,NaN,NaN,NaN,NaN,"411 Pearl Street\nNew York, NY 10038\n(40.7106..."
4,28Q680,Queens Gateway to Health Sciences Secondary Sc...,Queens,Q695,718-969-3155,718-969-3552,6,12,NaN,NaN,...,Then to Districts 28 and 29 students or residents,Then to Queens students or residents,Then to New York City residents,NaN,NaN,NaN,NaN,NaN,NaN,"160-20 Goethals Avenue\nJamaica, NY 11432\n(40..."

#### compress some data in readFile8

In [217]:
class_size = new_readFile8
class_size = class_size[class_size["GRADE "] == "09-12"]
class_size = class_size[class_size["PROGRAM TYPE"] == "GEN ED"]
class_size = class_size.groupby("DBN").agg(np.mean)
class_size.reset_index(inplace=True)
new_readFile8 = class_size

In [218]:
new_readFile8.head()

,DBN,NUMBER OF STUDENTS / SEATS FILLED,NUMBER OF SECTIONS,AVERAGE CLASS SIZE,SIZE OF SMALLEST CLASS,SIZE OF LARGEST CLASS,SCHOOLWIDE PUPIL-TEACHER RATIO
0,01M292,88.0000,4.000000,22.564286,18.50,26.571429,NaN
1,01M332,46.0000,2.000000,22.000000,21.00,23.500000,NaN
2,01M378,33.0000,1.000000,33.000000,33.00,33.000000,NaN
3,01M448,105.6875,4.750000,22.231250,18.25,27.062500,NaN
4,01M450,57.6000,2.733333,21.200000,19.40,22.866667,NaN

In [219]:
demographic = readFile5
demographic = demographic[demographic["schoolyear"] == 20112012]
readFile5 = demographic

In [220]:
readFile5.head()

,DBN,Name,schoolyear,fl_percent,frl_percent,total_enrollment,prek,k,grade1,grade2,...,black_num,black_per,hispanic_num,hispanic_per,white_num,white_per,male_num,male_per,female_num,female_per
6,01M015,P.S. 015 ROBERTO CLEMENTE,20112012,NaN,89.4,189,13,31,35,28,...,63,33.3,109,57.7,4,2.1,97.0,51.3,92.0,48.7
13,01M019,P.S. 019 ASHER LEVY,20112012,NaN,61.5,328,32,46,52,54,...,81,24.7,158,48.2,28,8.5,147.0,44.8,181.0,55.2
20,01M020,PS 020 ANNA SILVER,20112012,NaN,92.5,626,52,102,121,87,...,55,8.8,357,57.0,16,2.6,330.0,52.7,296.0,47.3
27,01M034,PS 034 FRANKLIN D ROOSEVELT,20112012,NaN,99.7,401,14,34,38,36,...,90,22.4,275,68.6,8,2.0,204.0,50.9,197.0,49.1
35,01M063,PS 063 WILLIAM MCKINLEY,20112012,NaN,78.9,176,18,20,30,21,...,41,23.3,110,62.5,15,8.5,97.0,55.1,79.0,44.9

In [225]:
new_readFile3 = readFile3[readFile3["Year"] == 2011]
new_readFile3 = readFile3[readFile3["Grade"] == "8"]

In [226]:
new_readFile3

,DBN,Grade,Year,Category,Number Tested,Mean Scale Score,Level 1 #,Level 1 %,Level 2 #,Level 2 %,Level 3 #,Level 3 %,Level 4 #,Level 4 %,Level 3+4 #,Level 3+4 %
111,01M034,8,2011,All Students,48,646,15,31.3%,22,45.8%,11,22.9%,0,0%,11,22.9%
280,01M140,8,2011,All Students,61,665,1,1.6%,43,70.5%,17,27.9%,0,0%,17,27.9%
346,01M184,8,2011,All Students,49,727,0,0%,0,0%,5,10.2%,44,89.8%,49,100%
388,01M188,8,2011,All Students,49,658,10,20.4%,26,53.1%,10,20.4%,3,6.1%,13,26.5%
411,01M292,8,2011,All Students,49,650,15,30.6%,25,51%,7,14.3%,2,4.1%,9,18.4%
433,01M301,8,2011,All Students,76,663,11,14.5%,39,51.3%,23,30.3%,3,3.9%,26,34.2%
482,01M332,8,2011,All Students,47,652,7,14.9%,24,51.1%,16,34%,0,0%,16,34%
503,01M345,8,2011,All Students,88,671,10,11.4%,33,37.5%,36,40.9%,9,10.2%,45,51.1%
590,01M378,8,2011,All Students,64,675,3,4.7%,27,42.2%,26,40.6%,8,12.5%,34,53.1%
610,01M450,8,2011,All Students,55,673,2,3.6%,24,43.6%,27,49.1%,2,3.6%,29,52.7%
651,01M539,8,2011,All Students,142,724,0,0%,1,0.7%,22,15.5%,119,83.8%,141,99.3%
674,01M839,8,2011,All Students,124,679,7,5.6%,38,30.6%,57,46%,22,17.7%,79,63.7%
1010,02M104,8,2011,All Students,285,693,8,2.8%,59,20.7%,111,38.9%,107,37.5%,218,76.5%
1052,02M111,8,2011,All Students,74,679,6,8.1%,26,35.1%,30,40.5%,12,16.2%,42,56.8%
1075,02M114,8,2011,All Students,126,713,0,0%,1,0.8%,37,29.4%,88,69.8%,125,99.2%
1165,02M126,8,2011,All Students,111,699,5,4.5%,12,10.8%,50,45%,44,39.6%,94,84.7%
1213,02M131,8,2011,All Students,305,685,17,5.6%,75,24.6%,134,43.9%,79,25.9%,213,69.8%
1285,02M167,8,2011,All Students,387,692,11,2.8%,83,21.4%,158,40.8%,135,34.9%,293,75.7%
1399,02M217,8,2011,All Students,36,676,3,8.3%,14,38.9%,12,33.3%,7,19.4%,19,52.8%
1441,02M225,8,2011,All Students,15,676,0,0%,6,40%,8,53.3%,1,6.7%,9,60%
1489,02M255,8,2011,All Students,124,703,0,0%,8,6.5%,50,40.3%,66,53.2%,116,93.5%
1513,02M260,8,2011,All Students,89,696,0,0%,10,11.2%,51,57.3%,28,31.5%,79,88.8%
1539,02M289,8,2011,All Students,89,694,0,0%,14,15.7%,48,53.9%,27,30.3%,75,84.3%
1588,02M312,8,2011,All Students,175,713,0,0%,5,2.9%,49,28%,121,69.1%,170,97.1%
1622,02M347,8,2011,All Students,9,652,3,33.3%,4,44.4%,2,22.2%,0,0%,2,22.2%
1646,02M407,8,2011,All Students,76,680,1,1.3%,28,36.8%,39,51.3%,8,10.5%,47,61.8%
1670,02M408,8,2011,All Students,30,694,0,0%,4,13.3%,17,56.7%,9,30%,26,86.7%
1694,02M413,8,2011,All Students,91,692,2,2.2%,13,14.3%,53,58.2%,23,25.3%,76,83.5%
1735,02M442,8,2011,All Students,20,704,0,0%,1,5%,9,45%,10,50%,19,95%
1758,02M655,8,2011,All Students,32,654,6,18.8%,17,53.1%,9,28.1%,0,0%,9,28.1%
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
27010,75K077,8,2011,All Students,1,s,s,s,s,s,s,s,s,s,s,s
27050,75K140,8,2011,All Students,18,585,17,94.4%,1,5.6%,0,0%,0,0%,0,0%
27078,75K141,8,2011,All Students,26,608,22,84.6%,3,11.5%,1,3.8%,0,0%,1,3.8%
27153,75K368,8,2011,All Students,26,598,19,73.1%,6,23.1%,1,3.8%,0,0%,1,3.8%
27195,75K369,8,2011,All Students,55,616,30,54.5%,24,43.6%,1,1.8%,0,0%,1,1.8%
27315,75K771,8,2011,All Students,17,615,14,82.4%,3,17.6%,0,0%,0,0%,0,0%
27373,75M035,8,2011,All Students,7,556,5,71.4%,2,28.6%,0,0%,0,0%,0,0%
27428,75M094,8,2011,All Students,2,s,s,s,s,s,s,s,s,s,s,s
27468,75M138,8,2011,All Students,2,s,s,s,s,s,s,s,s,s,s,s
27510,75M169,8,2011,All Students,38,612,29,76.3%,7,18.4%,1,2.6%,1,2.6%,2,5.3%
27581,75M811,8,2011,All Students,22,600,18,81.8%,4,18.2%,0,0%,0,0%,0,0%
27653,75Q009,8,2011,All Students,48,611,30,62.5%,18,37.5%,0,0%,0,0%,0,0%
27694,75Q023,8,2011,All Students,35,631,16,45.7%,13,37.1%,5,14.3%,1,2.9%,6,17.1%
27736,75Q075,8,2011,All Students,11,627,6,54.5%,4,36.4%,1,9.1%,0,0%,1,9.1%
27775,75Q177,8,2011,All Students,6,662,1,16.7%,2,33.3%,3,50%,0,0%,3,50%
27816,75Q224,8,2011,All Students,17,629,9,52.9%,4,23.5%,4,23.5%,0,0%,4,23.5%
27855,75Q233,8,2011,All Students,4,s,s,s,s,s,s,s,s,s,s,s
27923,75Q256,8,2011,All Students,44,636,17,38.6%,20,45.5%,5,11.4%,2,4.5%,7,15.9%
27959,75Q811,8,2011,All Students,1,s,s,s,s,s,s,s,s,s,s,s
28001,75Q993,8,2011,All Students,1,s,s,s,s,s,s,s,s,s,s,s
28043,75R025,8,2011,All Students,55,630,30,54.5%,15,27.3%,9,16.4%,1,1.8%,10,18.2%
28138,75X010,8,2011,All Students,24,648,8,33.3%,11,45.8%,3,12.5%,2,8.3%,5,20.8%
28205,75X017,8,2011,All Students,42,640,17,40.5%,20,47.6%,5,11.9%,0,0%,5,11.9%
28247,75X168,8,2011,All Students,17,633,12,70.6%,5,29.4%,0,0%,0,0%,0,0%
28286,75X176,8,2011,All Students,2,s,s,s,s,s,s,s,s,s,s,s
28328,75X186,8,2011,All Students,31,596,23,74.2%,8,25.8%,0,0%,0,0%,0,0%
28369,75X188,8,2011,All Students,33,606,25,75.8%,5,15.2%,2,6.1%,1,3%,3,9.1%
28405,75X352,8,2011,All Students,13,610,10,76.9%,3,23.1%,0,0%,0,0%,0,0%
28430,75X721,8,2011,All Students,4,s,s,s,s,s,s,s,s,s,s,s
28471,75X723,8,2011,All Students,32,595,24,75%,7,21.9%,1,3.1%,0,0%,1,3.1%

In [227]:
new_readFile6 = readFile6[readFile6["Cohort"] == "2006"]
new_readFile6 = readFile6[readFile6["Demographic"] == "Total Cohort"]

In [228]:
new_readFile6

,Demographic,DBN,School Name,Cohort,Total Cohort,Total Grads - n,Total Grads - % of cohort,Total Regents - n,Total Regents - % of cohort,Total Regents - % of grads,...,Regents w/o Advanced - n,Regents w/o Advanced - % of cohort,Regents w/o Advanced - % of grads,Local - n,Local - % of cohort,Local - % of grads,Still Enrolled - n,Still Enrolled - % of cohort,Dropped Out - n,Dropped Out - % of cohort
3,Total Cohort,01M292,HENRY STREET SCHOOL FOR INTERNATIONAL,2006,78,43,55.1%,36,46.2%,83.7%,...,36,46.2%,83.7%,7,9%,16.3%,16,20.5%,11,14.1%
10,Total Cohort,01M448,UNIVERSITY NEIGHBORHOOD HIGH SCHOOL,2006,124,53,42.7%,42,33.9%,79.2%,...,34,27.4%,64.2%,11,8.9%,20.8%,46,37.1%,20,16.100000000000001%
17,Total Cohort,01M450,EAST SIDE COMMUNITY SCHOOL,2006,90,70,77.8%,67,74.400000000000006%,95.7%,...,67,74.400000000000006%,95.7%,3,3.3%,4.3%,15,16.7%,5,5.6%
24,Total Cohort,01M509,MARTA VALLE HIGH SCHOOL,2006,84,47,56%,40,47.6%,85.1%,...,23,27.4%,48.9%,7,8.300000000000001%,14.9%,25,29.8%,5,6%
31,Total Cohort,01M515,LOWER EAST SIDE PREPARATORY HIGH SCHO,2006,193,105,54.4%,91,47.2%,86.7%,...,22,11.4%,21%,14,7.3%,13.3%,53,27.5%,35,18.100000000000001%
38,Total Cohort,01M539,NEW EXPLORATIONS INTO SCIENCE TECHNO,2006,46,46,100%,46,100%,100%,...,15,32.6%,32.6%,0,0%,0%,0,0%,0,0%
45,Total Cohort,01M650,CASCADES HIGH SCHOOL,2006,89,49,55.1%,36,40.4%,73.5%,...,36,40.4%,73.5%,13,14.6%,26.5%,34,38.200000000000003%,6,6.7%
52,Total Cohort,01M696,BARD HIGH SCHOOL EARLY COLLEGE,2006,139,134,96.4%,134,96.4%,100%,...,134,96.4%,100%,0,0%,0%,4,2.9%,1,0.7%
59,Total Cohort,02M047,47 THE AMERICAN SIGN LANGUAGE AND ENG,2006,25,19,76%,8,32%,42.1%,...,8,32%,42.1%,11,44%,57.9%,4,16%,1,4%
66,Total Cohort,02M288,FOOD AND FINANCE HIGH SCHOOL,2006,102,91,89.2%,77,75.5%,84.6%,...,77,75.5%,84.6%,14,13.7%,15.4%,5,4.9%,3,2.9%
72,Total Cohort,02M294,ESSEX STREET ACADEMY,2006,89,64,71.900000000000006%,58,65.2%,90.6%,...,58,65.2%,90.6%,6,6.7%,9.4%,15,16.899999999999999%,9,10.1%
77,Total Cohort,02M296,HIGH SCHOOL OF HOSPITALITY MANAGEMENT,2006,75,58,77.3%,50,66.7%,86.2%,...,49,65.3%,84.5%,8,10.7%,13.8%,11,14.7%,5,6.7%
83,Total Cohort,02M298,PACE HIGH SCHOOL,2006,92,78,84.8%,76,82.6%,97.4%,...,37,40.200000000000003%,47.4%,2,2.2%,2.6%,6,6.5%,4,4.3%
89,Total Cohort,02M300,URBAN ASSEMBLY SCHOOL OF DESIGN AND C,2006,80,49,61.3%,45,56.3%,91.8%,...,45,56.3%,91.8%,4,5%,8.199999999999999%,24,30%,7,8.800000000000001%
93,Total Cohort,02M303,FACING HISTORY SCHOOL THE,2006,71,34,47.9%,34,47.9%,100%,...,34,47.9%,100%,0,0%,0%,21,29.6%,14,19.7%
97,Total Cohort,02M305,URBAN ASSEMBLY ACADEMY OF GOVERNMENT,2006,61,46,75.400000000000006%,40,65.599999999999994%,87%,...,40,65.599999999999994%,87%,6,9.800000000000001%,13%,3,4.9%,10,16.399999999999999%
101,Total Cohort,02M308,LOWER MANHATTAN ARTS ACADEMY,2006,68,46,67.599999999999994%,32,47.1%,69.599999999999994%,...,31,45.6%,67.400000000000006%,14,20.6%,30.4%,15,22.1%,6,8.800000000000001%
107,Total Cohort,02M313,JAMES BALDWIN SCHOOL THE: A SCHOOL F,2006,79,41,51.9%,30,38%,73.2%,...,30,38%,73.2%,11,13.9%,26.8%,23,29.1%,12,15.2%
112,Total Cohort,02M316,URBAN ASSEMBLY SCHOOL OF BUSINESS FOR YOUNG WOMEN,2006,72,53,73.599999999999994%,44,61.1%,83%,...,36,50%,67.900000000000006%,9,12.5%,17%,13,18.100000000000001%,4,5.6%
115,Total Cohort,02M374,GRAMERCY ARTS HIGH SCHOOL,2006,93,68,73.099999999999994%,51,54.8%,75%,...,50,53.8%,73.5%,17,18.3%,25%,16,17.2%,7,7.5%
117,Total Cohort,02M394,EMMA LAZARUS HIGH SCHOOL,2006,10,s,s,s,s,s,...,s,s,s,s,s,s,s,s,s,s
124,Total Cohort,02M400,HIGH SCHOOL FOR ENVIRONMENTAL STUDIES,2006,352,262,74.400000000000006%,219,62.2%,83.6%,...,139,39.5%,53.1%,43,12.2%,16.399999999999999%,55,15.6%,22,6.3%
131,Total Cohort,02M407,INSTITUTE FOR COLLABORATIVE EDUCATION,2006,55,42,76.400000000000006%,0,0%,0%,...,0,0%,0%,42,76.400000000000006%,100%,11,20%,2,3.6%
138,Total Cohort,02M408,PROFESSIONAL PERFORMING ARTS HIGH SCH,2006,80,74,92.5%,61,76.3%,82.4%,...,53,66.3%,71.599999999999994%,13,16.3%,17.600000000000001%,6,7.5%,0,0%
150,Total Cohort,02M411,BARUCH COLLEGE CAMPUS HIGH SCHOOL,2006,105,103,98.1%,100,95.2%,97.1%,...,44,41.9%,42.7%,3,2.9%,2.9%,2,1.9%,0,0%
157,Total Cohort,02M412,N.Y.C. LAB SCHOOL FOR COLLABORATIVE S,2006,124,113,91.1%,106,85.5%,93.8%,...,44,35.5%,38.9%,7,5.6%,6.2%,9,7.3%,2,1.6%
165,Total Cohort,02M413,SCHOOL OF THE FUTURE HIGH SCHOOL,2006,95,61,64.2%,61,64.2%,100%,...,61,64.2%,100%,0,0%,0%,31,32.6%,2,2.1%
172,Total Cohort,02M414,N.Y.C. MUSEUM SCHOOL,2006,106,100,94.3%,86,81.099999999999994%,86%,...,81,76.400000000000006%,81%,14,13.2%,14%,3,2.8%,2,1.9%
179,Total Cohort,02M416,ELEANOR ROOSEVELT HIGH SCHOOL,2006,127,127,100%,126,99.2%,99.2%,...,16,12.6%,12.6%,1,0.8%,0.8%,0,0%,0,0%
185,Total Cohort,02M418,MILLENNIUM HIGH SCHOOL,2006,150,145,96.7%,139,92.7%,95.9%,...,71,47.3%,49%,6,4%,4.1%,5,3.3%,0,0%
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2296,Total Cohort,29Q272,GEORGE WASHINGTON CARVER HIGH SCHOOL,2006,103,81,78.599999999999994%,76,73.8%,93.8%,...,55,53.4%,67.900000000000006%,5,4.9%,6.2%,19,18.399999999999999%,3,2.9%
2300,Total Cohort,29Q283,PREPARATORY ACADEMY FOR WRITERS: A CO,2006,36,28,77.8%,12,33.299999999999997%,42.9%,...,12,33.299999999999997%,42.9%,16,44.4%,57.1%,3,8.300000000000001%,5,13.9%
2312,Total Cohort,29Q492,MATHEMATICS SCIENCE RESEARCH AND TEC,2006,108,73,67.599999999999994%,57,52.8%,78.099999999999994%,...,35,32.4%,47.9%,16,14.8%,21.9%,24,22.2%,10,9.300000000000001%
2320,Total Cohort,29Q494,LAW GOVERNMENT AND COMMUNITY SERVICE,2006,125,72,57.6%,61,48.8%,84.7%,...,49,39.200000000000003%,68.099999999999994%,11,8.800000000000001%,15.3%,35,28%,13,10.4%
2327,Total Cohort,29Q496,BUSINESS COMPUTER APPLICATIONS & ENT,2006,116,52,44.8%,33,28.4%,63.5%,...,29,25%,55.8%,19,16.399999999999999%,36.5%,39,33.6%,22,19%
2334,Total Cohort,29Q498,HUMANITIES & ARTS MAGNET HIGH SCHOOL,2006,94,72,76.599999999999994%,61,64.900000000000006%,84.7%,...,56,59.6%,77.8%,11,11.7%,15.3%,13,13.8%,6,6.4%
2341,Total Cohort,30Q445,WILLIAM CULLEN BRYANT HIGH SCHOOL,2006,810,449,55.4%,371,45.8%,82.6%,...,236,29.1%,52.6%,78,9.6%,17.399999999999999%,223,27.5%,110,13.6%
2348,Total Cohort,30Q450,LONG ISLAND CITY HIGH SCHOOL,2006,718,420,58.5%,374,52.1%,89%,...,263,36.6%,62.6%,46,6.4%,11%,180,25.1%,92,12.8%
2355,Total Cohort,30Q501,FRANK SINATRA SCHOOL OF THE ARTS HIGH SCHOOL,2006,171,162,94.7%,152,88.9%,93.8%,...,78,45.6%,48.1%,10,5.8%,6.2%,5,2.9%,3,1.8%
2362,Total Cohort,30Q502,INFORMATION TECHNOLOGY HIGH SCHOOL,2006,267,180,67.400000000000006%,144,53.9%,80%,...,109,40.799999999999997%,60.6%,36,13.5%,20%,50,18.7%,33,12.4%
2369,Total Cohort,30Q555,NEWCOMERS HIGH SCHOOL,2006,214,142,66.400000000000006%,123,57.5%,86.6%,...,87,40.700000000000003%,61.3%,19,8.9%,13.4%,38,17.8%,31,14.5%
2376,Total Cohort,30Q575,ACADEMY OF AMERICAN STUDIES,2006,155,125,80.599999999999994%,117,75.5%,93.6%,...,46,29.7%,36.799999999999997%,8,5.2%,6.4%,25,16.100000000000001%,3,1.9%
2382,Total Cohort,30Q580,BACCALAUREATE SCHOOL FOR GLOBAL EDUCA,2006,72,71,98.6%,69,95.8%,97.2%,...,32,44.4%,45.1%,2,2.8%,2.8%,0,0%,1,1.4%
2385,Total Cohort,31R047,CSI HIGH SCHOOL FOR INTERNATIONAL STU,2006,80,76,95%,66,82.5%,86.8%,...,58,72.5%,76.3%,10,12.5%,13.2%,3,3.8%,1,1.3%
2392,Total Cohort,31R080,THE MICHAEL J. PETRIDES SCHOOL,2006,113,100,88.5%,93,82.3%,93%,...,39,34.5%,39%,7,6.2%,7%,5,4.4%,3,2.7%
2399,Total Cohort,31R440,NEW DORP HIGH SCHOOL,2006,509,375,73.7%,301,59.1%,80.3%,...,216,42.4%,57.6%,74,14.5%,19.7%,77,15.1%,45,8.800000000000001%
2406,Total Cohort,31R445,PORT RICHMOND HIGH SCHOOL,2006,519,330,63.6%,248,47.8%,75.2%,...,180,34.700000000000003%,54.5%,82,15.8%,24.8%,109,21%,55,10.6%
2413,Total Cohort,31R450,CURTIS HIGH SCHOOL,2006,649,449,69.2%,404,62.2%,90%,...,283,43.6%,63%,45,6.9%,10%,122,18.8%,63,9.699999999999999%
2420,Total Cohort,31R455,TOTTENVILLE HIGH SCHOOL,2006,1069,877,82%,732,68.5%,83.5%,...,427,39.9%,48.7%,145,13.6%,16.5%,91,8.5%,87,8.1%
2427,Total Cohort,31R460,SUSAN E. WAGNER HIGH SCHOOL,2006,912,692,75.900000000000006%,580,63.6%,83.8%,...,363,39.799999999999997%,52.5%,112,12.3%,16.2%,96,10.5%,73,8%
2433,Total Cohort,31R470,CONCORD HIGH SCHOOL,2006,52,18,34.6%,8,15.4%,44.4%,...,8,15.4%,44.4%,10,19.2%,55.6%,23,44.2%,11,21.2%
2440,Total Cohort,31R600,RALPH R. MCKEE CAREER AND TECHNICAL E,2006,175,97,55.4%,75,42.9%,77.3%,...,19,10.9%,19.600000000000001%,22,12.6%,22.7%,49,28%,17,9.699999999999999%
2447,Total Cohort,31R605,STATEN ISLAND TECHNICAL HIGH SCHOOL,2006,288,287,99.7%,287,99.7%,100%,...,11,3.8%,3.8%,0,0%,0%,1,0.3%,0,0%
2451,Total Cohort,32K403,ACADEMY FOR ENVIRONMENTAL LEADERSHIP,2006,99,66,66.7%,45,45.5%,68.2%,...,42,42.4%,63.6%,21,21.2%,31.8%,23,23.2%,10,10.1%
2461,Total Cohort,32K545,EBC HIGH SCHOOL FOR PUBLIC SERVICEBU,2006,161,101,62.7%,48,29.8%,47.5%,...,42,26.1%,41.6%,53,32.9%,52.5%,53,32.9%,6,3.7%
2467,Total Cohort,32K549,BUSHWICK SCHOOL FOR SOCIAL JUSTICE,2006,97,74,76.3%,59,60.8%,79.7%,...,54,55.7%,73%,15,15.5%,20.3%,12,12.4%,9,9.300000000000001%
2474,Total Cohort,32K552,ACADEMY OF URBAN PLANNING,2006,115,55,47.8%,41,35.700000000000003%,74.5%,...,40,34.799999999999997%,72.7%,14,12.2%,25.5%,44,38.299999999999997%,10,8.699999999999999%
2480,Total Cohort,32K554,ALL CITY LEADERSHIP SECONDARY SCHOOL,2006,43,36,83.7%,23,53.5%,63.9%,...,18,41.9%,50%,13,30.2%,36.1%,5,11.6%,2,4.7%
2487,Total Cohort,32K556,BUSHWICK LEADERS HIGH SCHOOL FOR ACAD,2006,117,65,55.6%,28,23.9%,43.1%,...,23,19.7%,35.4%,37,31.6%,56.9%,24,20.5%,22,18.8%
2494,Total Cohort,32K564,BUSHWICK COMMUNITY HIGH SCHOOL,2006,128,10,7.8%,3,2.3%,30%,...,3,2.3%,30%,7,5.5%,70%,63,49.2%,52,40.6%

#### get total sat score

In [238]:
cols3 = ['SAT Math Avg. Score', 'SAT Critical Reading Avg. Score', 'SAT Writing Avg. Score']
for c in cols3:
    readFile1[c] = readFile1[c].convert_objects(convert_numeric=True)

readFile1['Total SAT Score'] = readFile1[cols3[0]] + readFile1[cols3[1]] + readFile1[cols3[2]]

/Users/dev_derrick/anaconda3/lib/python3.5/site-packages/ipykernel/__main__.py:3: FutureWarning: convert_objects is deprecated.  Use the data-type specific converters pd.to_datetime, pd.to_timedelta and pd.to_numeric.
  app.launch_new_instance()

In [239]:
readFile1.head()

,DBN,SCHOOL NAME,Num of SAT Test Takers,SAT Critical Reading Avg. Score,SAT Math Avg. Score,SAT Writing Avg. Score,Total SAT Score
0,01M292,HENRY STREET SCHOOL FOR INTERNATIONAL STUDIES,29,355.0,404.0,363.0,1122.0
1,01M448,UNIVERSITY NEIGHBORHOOD HIGH SCHOOL,91,383.0,423.0,366.0,1172.0
2,01M450,EAST SIDE COMMUNITY SCHOOL,70,377.0,402.0,370.0,1149.0
3,01M458,FORSYTH SATELLITE ACADEMY,7,414.0,401.0,359.0,1174.0
4,01M509,MARTA VALLE HIGH SCHOOL,44,390.0,433.0,384.0,1207.0

In [247]:
readFile12['lat'] = readFile12['Location 1'].apply(lambda x: x.split("\n")[-1].replace("(", "").replace(")", "").split(", ")[0])
readFile12['lon'] = readFile12['Location 1'].apply(lambda x: x.split("\n")[-1].replace("(", "").replace(")", "").split(", ")[1])

for c in ['lat', 'lon']:
    readFile12[c] = readFile12[c].convert_objects(convert_numeric=True)

/Users/dev_derrick/anaconda3/lib/python3.5/site-packages/ipykernel/__main__.py:5: FutureWarning: convert_objects is deprecated.  Use the data-type specific converters pd.to_datetime, pd.to_timedelta and pd.to_numeric.

In [263]:
merge1 = pd.merge(readFile1, new_readFile3, on='DBN')

In [264]:
merge2 = pd.merge(merge1, readFile5, on='DBN')

In [265]:
merge3 = pd.merge(merge2, new_readFile6, on='DBN')

In [266]:
merge4 = pd.merge(merge3, readFile7, on='DBN')

In [267]:
merge5 = pd.merge(merge4, new_readFile8, on='DBN')

In [268]:
merge6 = pd.merge(merge5, new_readFile12, on='DBN')

In [271]:
merge6

,DBN,SCHOOL NAME,Num of SAT Test Takers,SAT Critical Reading Avg. Score,SAT Math Avg. Score,SAT Writing Avg. Score,Total SAT Score,Grade,Year,Category,...,priority02,priority03,priority04,priority05,priority06,priority07,priority08,priority09,priority10,Location 1
0,01M450,EAST SIDE COMMUNITY SCHOOL,70,377.0,402.0,370.0,1149.0,8,2011,All Students,...,Then to New York City residents,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"420 East 12 Street\nNew York, NY 10009\n(40.72..."
1,01M539,"NEW EXPLORATIONS INTO SCIENCE, TECHNOLOGY AND ...",159,522.0,574.0,525.0,1621.0,8,2011,All Students,...,Then to New York City residents,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"111 Columbia Street\nNew York, NY 10002\n(40.7..."
2,02M408,PROFESSIONAL PERFORMING ARTS HIGH SCHOOL,94,509.0,490.0,523.0,1522.0,8,2011,All Students,...,Then to New York City residents,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"328 West 48 Street\nNew York, NY 10036\n(40.76..."
3,02M655,LIFE SCIENCES SECONDARY SCHOOL,61,409.0,424.0,403.0,1236.0,8,2011,All Students,...,Then to Manhattan students or residents,Then to New York City residents,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"320 East 96 Street\nNew York, NY 10128\n(40.78..."
4,03M415,WADLEIGH SECONDARY SCHOOL FOR THE PERFORMING &...,32,371.0,368.0,370.0,1109.0,8,2011,All Students,...,"Then to Districts 3, 5 and 6 students or resid...",Then to New York City residents,For M26W only: a. Priority to continuing 8th g...,NaN,NaN,NaN,NaN,NaN,NaN,"215 West 114 Street\nNew York, NY 10026\n(40.8..."
5,03M860,FREDERICK DOUGLASS ACADEMY II SECONDARY SCHOOL,43,356.0,379.0,361.0,1096.0,8,2011,All Students,...,Then to Districts 3 and 5 students or residents,Then to New York City residents,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"215 West 114 Street\nNew York, NY 10026\n(40.8..."
6,04M610,YOUNG WOMEN'S LEADERSHIP SCHOOL,70,432.0,446.0,448.0,1326.0,8,2011,All Students,...,Priority to continuing 8th graders,Then to District 4 students or residents,Then to New York City residents,NaN,NaN,NaN,NaN,NaN,NaN,"105 East 106 Street\nNew York, NY 10029\n(40.7..."
7,04M610,YOUNG WOMEN'S LEADERSHIP SCHOOL,70,432.0,446.0,448.0,1326.0,8,2011,All Students,...,Priority to continuing 8th graders,Then to District 4 students or residents,Then to New York City residents,NaN,NaN,NaN,NaN,NaN,NaN,"105 East 106 Street\nNew York, NY 10029\n(40.7..."
8,05M499,FREDERICK DOUGLASS ACADEMY,214,458.0,474.0,442.0,1374.0,8,2011,All Students,...,"Then to Districts 3, 4, and 5 students or resi...",Then to New York City residents,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"2581 7Th Avenue\nNew York, NY 10039\n(40.82430..."
9,05M670,THURGOOD MARSHALL ACADEMY FOR LEARNING AND SOC...,66,396.0,402.0,404.0,1202.0,8,2011,All Students,...,Then to District 5 students or residents,Then to Manhattan students or residents,Then to New York City residents,NaN,NaN,NaN,NaN,NaN,NaN,"200-214 West 135Th Street\nNew York, NY 10030\..."
10,07X221,SOUTH BRONX PREPARATORY: A COLLEGE BOARD SCHOOL,65,364.0,378.0,348.0,1090.0,8,2011,All Students,...,Then to Bronx students or residents who attend...,Then to New York City residents who attend an ...,Then to Bronx students or residents,Then to New York City residents,NaN,NaN,NaN,NaN,NaN,"360 East 145 Street\nBronx, NY 10454\n(40.8140..."
11,07X500,HOSTOSsLINCOLN ACADEMY OF SCIENCE,66,420.0,426.0,411.0,1257.0,8,2011,All Students,...,Then to New York City residents,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"600 Saint Ann'S Avenue\nBronx, NY 10455\n(40.8..."
12,07X551,BRONX ACADEMY OF LETTERS,51,413.0,381.0,407.0,1201.0,8,2011,All Students,...,Then to Bronx students or residents who attend...,Then to New York City residents who attend an ...,Then to Bronx students or residents,Then to New York City residents,NaN,NaN,NaN,NaN,NaN,"339 Morris Avenue\nBronx, NY 10451\n(40.813359..."
13,09X250,EXIMIUS COLLEGE PREPARATORY ACADEMY: A COLLEGE...,50,393.0,394.0,382.0,1169.0,8,2011,All Students,...,Then to New York City residents who attend an ...,Then to Bronx students or residents,Then to New York City residents,NaN,NaN,NaN,NaN,NaN,NaN,"1363 Fulton Avenue\nBronx, NY 10456\n(40.83373..."
14,09X505,"BRONX SCHOOL FOR LAW, GOVERNMENT AND JUSTICE",80,404.0,418.0,402.0,1224.0,8,2011,All Students,...,Then to Bronx students or residents,Then to New York City residents,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"244 East 163 Street\nBronx, NY 10451\n(40.8275..."
15,09X517,FREDERICK DOUGLASS ACADEMY III SECONDARY SCHOOL,50,368.0,384.0,369.0,1121.0,8,2011,All Students,...,Then to Bronx students or residents who attend...,Then to New York City residents who attend an ...,Then to Bronx students or residents,Then to New York City residents,NaN,NaN,NaN,NaN,NaN,"3630 Third Avenue\nBronx, NY 10456\n(40.834167..."
16,10X141,RIVERDALE / KINGSBRIDGE ACADEMY (MIDDLE SCHOOL...,113,438.0,455.0,440.0,1333.0,8,2011,All Students,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"660 West 237 Street\nBronx, NY 10463\n(40.8883..."
17,10X225,THEATRE ARTS PRODUCTION COMPANY SCHOOL,59,405.0,391.0,394.0,1190.0,8,2011,All Students,...,Then to Bronx students or residents,Then to New York City residents,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"2225 Webster Avenue\nBronx, NY 10457\n(40.8546..."
18,10X243,WEST BRONX ACADEMY FOR THE FUTURE,26,382.0,406.0,370.0,1158.0,8,2011,All Students,...,Then to Bronx students or residents who attend...,Then to New York City residents who attend an ...,Then to Bronx students or residents,Then to New York City residents,NaN,NaN,NaN,NaN,NaN,"500 East Fordham Road\nBronx, NY 10458\n(40.86..."
19,10X342,INTERNATIONAL SCHOOL FOR LIBERAL ARTS,49,300.0,333.0,301.0,934.0,8,2011,All Students,...,Priority to continuing 8th graders,Then to New York City residents,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"2780 Reservoir Avenue\nBronx, NY 10468\n(40.87..."
20,10X368,INsTECH ACADEMY (M.S. / HIGH SCHOOL 368),111,390.0,408.0,383.0,1181.0,8,2011,All Students,...,Then to District 10 students or residents,Then to Bronx students or residents,Then to New York City residents,NaN,NaN,NaN,NaN,NaN,NaN,"2975 Tibbett Avenue\nBronx, NY 10463\n(40.8800..."
21,11X270,ACADEMY FOR SCHOLARSHIP AND ENTREPRENEURSHIP: ...,56,386.0,394.0,361.0,1141.0,8,2011,All Students,...,Then to Bronx students or residents who attend...,Then to New York City residents who attend an ...,Then to Bronx students or residents,Then to New York City residents,NaN,NaN,NaN,NaN,NaN,"921 East 228Th Street\nBronx, NY 10466\n(40.88..."
22,12X267,BRONX LATIN,36,408.0,432.0,411.0,1251.0,8,2011,All Students,...,Then to New York City residents who attend an ...,Then to New York City residents,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"800 Home Street\nBronx, NY 10456\n(40.82776397..."
23,12X271,EAST BRONX ACADEMY FOR THE FUTURE,46,366.0,378.0,358.0,1102.0,8,2011,All Students,...,Then to Bronx students or residents who attend...,Then to New York City residents who attend an ...,Then to Bronx students or residents,Then to New York City residents,NaN,NaN,NaN,NaN,NaN,"1716 Southern Boulevard\nBronx, NY 10460\n(40...."
24,13K265,DR. SUSAN S. MCKINNEY SECONDARY SCHOOL OF THE ...,29,352.0,349.0,373.0,1074.0,8,2011,All Students,...,Then to District 13 students or residents,Then to New York City residents,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"101 Park Avenue\nBrooklyn, NY 11205\n(40.69634..."
25,14K071,JUAN MOREL CAMPOS SECONDARY SCHOOL,102,365.0,361.0,359.0,1085.0,8,2011,All Students,...,Then to New York City residents,For K11X only: a. Priority to District 14 stud...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"215 Heyward Street\nBrooklyn, NY 11206\n(40.70..."
26,15K463,SECONDARY SCHOOL FOR JOURNALISM,58,397.0,391.0,381.0,1169.0,8,2011,All Students,...,Then to District 15 students or residents,Then to Brooklyn students or residents,Then to New York City residents,NaN,NaN,NaN,NaN,NaN,NaN,"237 7 Avenue\nBrooklyn, NY 11215\n(40.66959817..."
27,15K497,SCHOOL FOR INTERNATIONAL STUDIES,64,405.0,415.0,392.0,1212.0,8,2011,All Students,...,Then to District 15 students or residents,Then to Brooklyn students or residents,Then to New York City residents,NaN,NaN,NaN,NaN,NaN,NaN,"284 Baltic Street\nBrooklyn, NY 11201\n(40.685..."
28,17K382,ACADEMY FOR COLLEGE PREPARATION AND CAREER EXP...,59,396.0,374.0,369.0,1139.0,8,2011,All Students,...,Then to New York City residents who attend an ...,Then to New York City residents,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"911 Flatbush Avenue\nBrooklyn, NY 11226\n(40.6..."
29,17K590,MEDGAR EVERS COLLEGE PREPARATORY SCHOOL,165,476.0,481.0,479.0,1436.0,8,2011,All Students,...,Then to New York City residents,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"1186 Carroll Street\nBrooklyn, NY 11225\n(40.6..."
30,19K409,EAST NEW YORK FAMILY ACADEMY,54,416.0,432.0,394.0,1242.0,8,2011,All Students,...,Then to New York City residents,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"2057 Linden Boulevard\nBrooklyn, NY 11207\n(40..."
31,21K690,BROOKLYN STUDIO SECONDARY SCHOOL,119,429.0,449.0,435.0,1313.0,8,2011,All Students,...,Then to District 21 students or residents,Then to Brooklyn students or residents,Then to New York City residents,NaN,NaN,NaN,NaN,NaN,NaN,"8310 21St Avenue\nBrooklyn, NY 11214\n(40.6048..."
32,23K493,BROOKLYN COLLEGIATE: A COLLEGE BOARD SCHOOL,60,389.0,409.0,387.0,1185.0,8,2011,All Students,...,Then to Brooklyn students or residents who att...,Then to New York City residents who attend an ...,Then to Brooklyn students or residents,Then to New York City residents,NaN,NaN,NaN,NaN,NaN,"2021 Bergen Street\nBrooklyn, NY 11233\n(40.67..."
33,23K697,TEACHERS PREPARATORY HIGH SCHOOL,69,392.0,416.0,388.0,1196.0,8,2011,All Students,...,Then to Brooklyn students or residents,Then to New York City residents,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"226 Bristol Street\nBrooklyn, NY 11212\n(40.66..."
34,25Q285,WORLD JOURNALISM PREPARATORY: A COLLEGE BOARD ...,63,471.0,489.0,481.0,1441.0,8,2011,All Students,...,Then to New York City residents who attend an ...,Then to New York City residents,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"34-65 192 Street\nFlushing, NY 11358\n(40.7651..."
35,27Q262,CHANNEL VIEW SCHOOL FOR RESEARCH,74,432.0,419.0,401.0,1252.0,8,2011,All Students,...,Then to District 27 students or residents who ...,Then to Queens students or residents who atten...,Then to New York City residents who attend an ...,Then to District 27 students or residents,Then to Queens students or residents,Then to New York City residents,NaN,NaN,NaN,"100-00 Beach Channel Drive\nRockaway Park, NY ..."
36,28Q680,QUEENS GATEWAY TO HEALTH SCIENCES SECONDARY SC...,99,513.0,523.0,502.0,1538.0,8,2011,All Students,...,Then to Districts 28 and 29 students or residents,Then to Queens students or residents,Then to New York City residents,NaN,NaN,NaN,NaN,NaN,NaN,"160-20 Goethals Avenue\nJamaica, NY 11432\n(40..."
37,29Q259,PATHWAYS COLLEGE PREPARATORY SCHOOL: A COLLEGE...,46,401.0,397.0,375.0,1173.0,8,2011,All Students,...,Then to Queens students or residents who atten...,Then to New York City residents who attend an ...,Then to Queens students or residents,Then to New York City residents,NaN,NaN,NaN,NaN,NaN,"109-89 204 Street\nSaint Albans, NY 11412\n(40..."
38,29Q283,PREPARATORY ACADEMY FOR WRITERS: A COLLEGE BOA...,43,370.0,367.0,363.0,1100.0,8,2011,All Students,...,Then to New York City residents who attend an ...,Then to New York City residents,NaN,NaN,NaN,NaN,NaN,NaN,NaN,143-10 Springfield Boulevard\nSpringfield Gard...
39,31R080,THE MICHAEL J. PETRIDES SCHOOL,107,472.0,488.0,466.0,1426.0,8,2011,All Students,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"715 Ocean Terrace\nStaten Island, NY 10301\n(4..."
40,32K554,ALL CITY LEADERSHIP SECONDARY SCHOOL,39,428.0,465.0,422.0,1315.0,8,2011,All Students,...,"Then to Districts 24, 30 and 32 students or re...",Then to Brooklyn students or residents who att...,Then to New York City residents who attend an ...,"Then to Districts 24, 30 and 32 students or re...",Then to Brooklyn students or residents,Then to New York City residents,NaN,NaN,NaN,"321 Palmetto Street\nBrooklyn, NY 11237\n(40.6..."