In [294]:
from pylab import *
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline
from sklearn.cross_validation import cross_val_score
from sklearn.neighbors import KNeighborsClassifier
from sklearn.lda import LDA
import datetime

#data1 = "/Users/Derrick/Desktop/data science new topic/SAT_Results.csv" # data path to data
#data2 = "/Users/Derrick/Desktop/data science new topic/nysd.csv"
#data3 = "/Users/Derrick/Desktop/data science new topic/NYS_Math_Test_Results_By_Grade_2006-2011_-_School_Level_-_All_Students.csv"
#data4 = "/Users/Derrick/Desktop/data science new topic/School_Attendance_and_Enrollment_Statistics_by_District__2010-11.csv"
#data5 = "/Users/Derrick/Desktop/data science new topic/School_Demographics_and_Accountability_Snapshot_2006-2012.csv"
#data6 = "/Users/Derrick/Desktop/data science new topic/Graduation_Outcomes_-_Classes_Of_2005-2010_-_School_Level.csv"
#data7 = "/Users/Derrick/Desktop/data science new topic/AP__College_Board__2010_School_Level_Results.csv"
#data8 = "/Users/Derrick/Desktop/data science new topic/2010-2011_Class_Size_-_School-level_detail.csv"
#data9 = "/Users/Derrick/Desktop/data science new topic/masterfile11_d75_final.xlsx"
#data10 = "/Users/Derrick/Desktop/data science new topic/masterfile11_gened_final.xlsx"
#data11 = "/Users/Derrick/Desktop/data science new topic/Survey Data Dictionary.xls"

data1 = "/Users/dev_derrick/Desktop/data science new topic/SAT_Results.csv" # data path to data
data2 = "/Users/dev_derrick/Desktop/data science new topic/nysd.csv"
data3 = "/Users/dev_derrick/Desktop/data science new topic/NYS_Math_Test_Results_By_Grade_2006-2011_-_School_Level_-_All_Students.csv"
data4 = "/Users/dev_derrick/Desktop/data science new topic/School_Attendance_and_Enrollment_Statistics_by_District__2010-11_.csv"
data5 = "/Users/dev_derrick/Desktop/data science new topic/School_Demographics_and_Accountability_Snapshot_2006-2012.csv"
data6 = "/Users/dev_derrick/Desktop/data science new topic/Graduation_Outcomes_-_Classes_Of_2005-2010_-_School_Level.csv"
data7 = "/Users/dev_derrick/Desktop/data science new topic/AP__College_Board__2010_School_Level_Results.csv"
data8 = "/Users/dev_derrick/Desktop/data science new topic/2010-2011_Class_Size_-_School-level_detail.csv"
data9 = "/Users/dev_derrick/Desktop/data science new topic/masterfile11_d75_final.txt"
data10 = "/Users/dev_derrick/Desktop/data science new topic/masterfile11_gened_final.txt"
data11 = "/Users/dev_derrick/Desktop/data science new topic/Survey Data Dictionary.xls"
data12 = "/Users/dev_derrick/Desktop/data science new topic/DOE_High_School_Directory_2014-2015.csv"

In [295]:
readFile1 = pd.read_csv(data1)
readFile1.head()

,DBN,SCHOOL NAME,Num of SAT Test Takers,SAT Critical Reading Avg. Score,SAT Math Avg. Score,SAT Writing Avg. Score
0,01M292,HENRY STREET SCHOOL FOR INTERNATIONAL STUDIES,29,355,404,363
1,01M448,UNIVERSITY NEIGHBORHOOD HIGH SCHOOL,91,383,423,366
2,01M450,EAST SIDE COMMUNITY SCHOOL,70,377,402,370
3,01M458,FORSYTH SATELLITE ACADEMY,7,414,401,359
4,01M509,MARTA VALLE HIGH SCHOOL,44,390,433,384

In [296]:
readFile1.ix[readFile1['Num of SAT Test Takers']=="s"] = np.nan

In [297]:
readFile1

,DBN,SCHOOL NAME,Num of SAT Test Takers,SAT Critical Reading Avg. Score,SAT Math Avg. Score,SAT Writing Avg. Score
0,01M292,HENRY STREET SCHOOL FOR INTERNATIONAL STUDIES,29,355,404,363
1,01M448,UNIVERSITY NEIGHBORHOOD HIGH SCHOOL,91,383,423,366
2,01M450,EAST SIDE COMMUNITY SCHOOL,70,377,402,370
3,01M458,FORSYTH SATELLITE ACADEMY,7,414,401,359
4,01M509,MARTA VALLE HIGH SCHOOL,44,390,433,384
5,01M515,LOWER EAST SIDE PREPARATORY HIGH SCHOOL,112,332,557,316
6,01M539,"NEW EXPLORATIONS INTO SCIENCE, TECHNOLOGY AND ...",159,522,574,525
7,01M650,CASCADES HIGH SCHOOL,18,417,418,411
8,01M696,BARD HIGH SCHOOL EARLY COLLEGE,130,624,604,628
9,02M047,47 THE AMERICAN SIGN LANGUAGE AND ENGLISH SECO...,16,395,400,387
10,02M288,FOOD AND FINANCE HIGH SCHOOL,62,409,393,392
11,02M294,ESSEX STREET ACADEMY,53,394,384,378
12,02M296,HIGH SCHOOL OF HOSPITALITY MANAGEMENT,58,374,375,362
13,02M298,PACE HIGH SCHOOL,85,423,438,432
14,02M300,URBAN ASSEMBLY SCHOOL OF DESIGN AND CONSTRUCTI...,48,404,449,416
15,02M303,"FACING HISTORY SCHOOL, THE",76,353,358,340
16,02M305,"URBAN ASSEMBLY ACADEMY OF GOVERNMENT AND LAW, THE",50,375,388,385
17,02M308,LOWER MANHATTAN ARTS ACADEMY,40,403,392,405
18,02M313,"JAMES BALDWIN SCHOOL, THE: A SCHOOL FOR EXPEDI...",69,408,390,390
19,02M316,URBAN ASSEMBLY SCHOOL OF BUSINESS FOR YOUNG WO...,42,373,370,384
20,02M374,GRAMERCY ARTS HIGH SCHOOL,60,391,391,394
21,02M376,NYC ISCHOOL,92,473,483,479
22,NaN,NaN,NaN,NaN,NaN,NaN
23,NaN,NaN,NaN,NaN,NaN,NaN
24,02M394,EMMA LAZARUS HIGH SCHOOL,79,319,512,357
25,NaN,NaN,NaN,NaN,NaN,NaN
26,02M400,HIGH SCHOOL FOR ENVIRONMENTAL STUDIES,263,465,493,461
27,02M407,INSTITUTE FOR COLLABORATIVE EDUCATION,54,492,465,467
28,02M408,PROFESSIONAL PERFORMING ARTS HIGH SCHOOL,94,509,490,523
29,02M411,BARUCH COLLEGE CAMPUS HIGH SCHOOL,104,496,563,518
...,...,...,...,...,...,...
448,30Q580,BACCALAUREATE SCHOOL FOR GLOBAL EDUCATION,61,524,568,544
449,31R047,CSI HIGH SCHOOL FOR INTERNATIONAL STUDIES,137,452,451,450
450,31R064,GAYNOR MCCOWN EXPEDITIONARY LEARNING SCHOOL,61,398,412,385
451,31R080,THE MICHAEL J. PETRIDES SCHOOL,107,472,488,466
452,31R440,NEW DORP HIGH SCHOOL,391,424,437,416
453,31R445,PORT RICHMOND HIGH SCHOOL,271,424,438,417
454,31R450,CURTIS HIGH SCHOOL,375,437,435,429
455,31R455,TOTTENVILLE HIGH SCHOOL,807,462,486,470
456,31R460,SUSAN E. WAGNER HIGH SCHOOL,535,455,474,459
457,31R470,CONCORD HIGH SCHOOL,10,466,455,414
458,31R600,RALPH R. MCKEE CAREER AND TECHNICAL EDUCATION ...,94,416,422,397
459,31R605,STATEN ISLAND TECHNICAL HIGH SCHOOL,227,635,682,636
460,31R607,YOUNG ADULT BOROUGH CENTER AT STATEN IS TECH HS,10,405,375,370
461,32K403,ACADEMY FOR ENVIRONMENTAL LEADERSHIP,50,380,366,352
462,32K545,EBC HIGH SCHOOL FOR PUBLIC SERVICE–BUSHWICK,88,384,409,361
463,32K549,BUSHWICK SCHOOL FOR SOCIAL JUSTICE,75,348,353,334
464,32K552,ACADEMY OF URBAN PLANNING,67,342,364,354
465,32K554,ALL CITY LEADERSHIP SECONDARY SCHOOL,39,428,465,422
466,32K556,BUSHWICK LEADERS HIGH SCHOOL FOR ACADEMIC EXCE...,23,347,358,350
467,32K564,BUSHWICK COMMUNITY HIGH SCHOOL,24,359,317,358
468,NaN,NaN,NaN,NaN,NaN,NaN
469,NaN,NaN,NaN,NaN,NaN,NaN
470,NaN,NaN,NaN,NaN,NaN,NaN
471,75Q811,P.S. Q811,32,429,444,433
472,NaN,NaN,NaN,NaN,NaN,NaN
473,NaN,NaN,NaN,NaN,NaN,NaN
474,NaN,NaN,NaN,NaN,NaN,NaN
475,NaN,NaN,NaN,NaN,NaN,NaN
476,79Q950,GED PLUS s CITYWIDE,8,496,400,426
477,79X490,PHOENIX ACADEMY,9,367,370,360

In [298]:
readFile2 = pd.read_csv(data2)
readFile2.head()

,the_geom,SchoolDist,Shape_Leng,Shape_Area
0,MULTIPOLYGON (((-73.82049919995312 40.80101146...,25,175816.081000,4.436314e+08
1,MULTIPOLYGON (((-74.02552971543656 40.65147855...,20,95513.486010,2.427230e+08
2,MULTIPOLYGON (((-73.95671863064405 40.78660079...,3,52071.976405,1.134879e+08
3,MULTIPOLYGON (((-73.92133752419399 40.80085210...,4,52056.107857,5.262001e+07
4,MULTIPOLYGON (((-73.74344992332192 40.77824115...,26,125716.377003,4.249042e+08

In [299]:
readFile3 = pd.read_csv(data3)
readFile3.head()

,DBN,Grade,Year,Category,Number Tested,Mean Scale Score,Level 1 #,Level 1 %,Level 2 #,Level 2 %,Level 3 #,Level 3 %,Level 4 #,Level 4 %,Level 3+4 #,Level 3+4 %
0,01M015,3,2006,All Students,39,667,2,5.1%,11,28.2%,20,51.3%,6,15.4%,26,66.7%
1,01M015,3,2007,All Students,31,672,2,6.5%,3,9.7%,22,71%,4,12.9%,26,83.9%
2,01M015,3,2008,All Students,37,668,0,0%,6,16.2%,29,78.4%,2,5.4%,31,83.8%
3,01M015,3,2009,All Students,33,668,0,0%,4,12.1%,28,84.8%,1,3%,29,87.9%
4,01M015,3,2010,All Students,26,677,6,23.1%,12,46.2%,6,23.1%,2,7.7%,8,30.8%

In [300]:
readFile4 = pd.read_csv(data4)
readFile4.head()

      District YTD % Attendance (Avg)  YTD Enrollment(Avg)
0  DISTRICT 01                 91.18%                12367
1  DISTRICT 02                 89.01%                60823
2  DISTRICT 03                 89.28%                21962
3  DISTRICT 04                 91.13%                14252
4  DISTRICT 05                 89.08%                13170

In [301]:
readFile5 = pd.read_csv(data5)
readFile5.head()

,DBN,Name,schoolyear,fl_percent,frl_percent,total_enrollment,prek,k,grade1,grade2,...,black_num,black_per,hispanic_num,hispanic_per,white_num,white_per,male_num,male_per,female_num,female_per
0,01M015,P.S. 015 ROBERTO CLEMENTE,20052006,89.4,NaN,281,15,36,40,33,...,74,26.3,189,67.3,5,1.8,158.0,56.2,123.0,43.8
1,01M015,P.S. 015 ROBERTO CLEMENTE,20062007,89.4,NaN,243,15,29,39,38,...,68,28.0,153,63.0,4,1.6,140.0,57.6,103.0,42.4
2,01M015,P.S. 015 ROBERTO CLEMENTE,20072008,89.4,NaN,261,18,43,39,36,...,77,29.5,157,60.2,7,2.7,143.0,54.8,118.0,45.2
3,01M015,P.S. 015 ROBERTO CLEMENTE,20082009,89.4,NaN,252,17,37,44,32,...,75,29.8,149,59.1,7,2.8,149.0,59.1,103.0,40.9
4,01M015,P.S. 015 ROBERTO CLEMENTE,20092010,,96.5,208,16,40,28,32,...,67,32.2,118,56.7,6,2.9,124.0,59.6,84.0,40.4

In [302]:
readFile6 = pd.read_csv(data6)
readFile6.head()

,Demographic,DBN,School Name,Cohort,Total Cohort,Total Grads - n,Total Grads - % of cohort,Total Regents - n,Total Regents - % of cohort,Total Regents - % of grads,...,Regents w/o Advanced - n,Regents w/o Advanced - % of cohort,Regents w/o Advanced - % of grads,Local - n,Local - % of cohort,Local - % of grads,Still Enrolled - n,Still Enrolled - % of cohort,Dropped Out - n,Dropped Out - % of cohort
0,Total Cohort,01M292,HENRY STREET SCHOOL FOR INTERNATIONAL,2003,5,s,s,s,s,s,...,s,s,s,s,s,s,s,s,s,s
1,Total Cohort,01M292,HENRY STREET SCHOOL FOR INTERNATIONAL,2004,55,37,67.3%,17,30.9%,45.9%,...,17,30.9%,45.9%,20,36.4%,54.1%,15,27.3%,3,5.5%
2,Total Cohort,01M292,HENRY STREET SCHOOL FOR INTERNATIONAL,2005,64,43,67.2%,27,42.2%,62.8%,...,27,42.2%,62.8%,16,25%,37.200000000000003%,9,14.1%,9,14.1%
3,Total Cohort,01M292,HENRY STREET SCHOOL FOR INTERNATIONAL,2006,78,43,55.1%,36,46.2%,83.7%,...,36,46.2%,83.7%,7,9%,16.3%,16,20.5%,11,14.1%
4,Total Cohort,01M292,HENRY STREET SCHOOL FOR INTERNATIONAL,2006 Aug,78,44,56.4%,37,47.4%,84.1%,...,37,47.4%,84.1%,7,9%,15.9%,15,19.2%,11,14.1%

In [303]:
readFile7 = pd.read_csv(data7)
readFile7.head()

,DBN,SchoolName,AP Test Takers,Total Exams Taken,Number of Exams with scores 3 4 or 5
0,01M448,UNIVERSITY NEIGHBORHOOD H.S.,39,49,10
1,01M450,EAST SIDE COMMUNITY HS,19,21,s
2,01M515,LOWER EASTSIDE PREP,24,26,24
3,01M539,"NEW EXPLORATIONS SCI,TECH,MATH",255,377,191
4,02M296,High School of Hospitality Management,s,s,s

In [304]:
readFile8 = pd.read_csv(data8)
readFile8.head()

,CSD,BOROUGH,SCHOOL CODE,SCHOOL NAME,GRADE,PROGRAM TYPE,CORE SUBJECT (MS CORE and 9-12 ONLY),CORE COURSE (MS CORE and 9-12 ONLY),SERVICE CATEGORY(K-9* ONLY),NUMBER OF STUDENTS / SEATS FILLED,NUMBER OF SECTIONS,AVERAGE CLASS SIZE,SIZE OF SMALLEST CLASS,SIZE OF LARGEST CLASS,DATA SOURCE,SCHOOLWIDE PUPIL-TEACHER RATIO
0,1,M,M015,P.S. 015 Roberto Clemente,0K,GEN ED,-,-,-,19.0,1.0,19.0,19.0,19.0,ATS,NaN
1,1,M,M015,P.S. 015 Roberto Clemente,0K,CTT,-,-,-,21.0,1.0,21.0,21.0,21.0,ATS,NaN
2,1,M,M015,P.S. 015 Roberto Clemente,01,GEN ED,-,-,-,17.0,1.0,17.0,17.0,17.0,ATS,NaN
3,1,M,M015,P.S. 015 Roberto Clemente,01,CTT,-,-,-,17.0,1.0,17.0,17.0,17.0,ATS,NaN
4,1,M,M015,P.S. 015 Roberto Clemente,02,GEN ED,-,-,-,15.0,1.0,15.0,15.0,15.0,ATS,NaN

In [305]:
readFile12 = pd.read_csv(data12)
readFile12.head()

,dbn,school_name,boro,building_code,phone_number,fax_number,grade_span_min,grade_span_max,expgrade_span_min,expgrade_span_max,...,priority02,priority03,priority04,priority05,priority06,priority07,priority08,priority09,priority10,Location 1
0,17K548,Brooklyn School for Music & Theatre,Brooklyn,K440,718-230-6250,718-230-6262,9,12,NaN,NaN,...,Then to New York City residents,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"883 Classon Avenue\nBrooklyn, NY 11225\n(40.67..."
1,09X543,High School for Violin and Dance,Bronx,X400,718-842-0687,718-589-9849,9,12,NaN,NaN,...,Then to New York City residents who attend an ...,Then to Bronx students or residents,Then to New York City residents,NaN,NaN,NaN,NaN,NaN,NaN,"1110 Boston Road\nBronx, NY 10456\n(40.8276026..."
2,09X327,Comprehensive Model School Project M.S. 327,Bronx,X240,718-294-8111,718-294-8109,6,12,NaN,NaN,...,Then to Bronx students or residents who attend...,Then to New York City residents who attend an ...,Then to Bronx students or residents,Then to New York City residents,NaN,NaN,NaN,NaN,NaN,"1501 Jerome Avenue\nBronx, NY 10452\n(40.84241..."
3,02M280,Manhattan Early College School for Advertising,Manhattan,M520,718-935-3477,NaN,9,10,9,14.0,...,Then to New York City residents who attend an ...,Then to Manhattan students or residents,Then to New York City residents,NaN,NaN,NaN,NaN,NaN,NaN,"411 Pearl Street\nNew York, NY 10038\n(40.7106..."
4,28Q680,Queens Gateway to Health Sciences Secondary Sc...,Queens,Q695,718-969-3155,718-969-3552,6,12,NaN,NaN,...,Then to Districts 28 and 29 students or residents,Then to Queens students or residents,Then to New York City residents,NaN,NaN,NaN,NaN,NaN,NaN,"160-20 Goethals Avenue\nJamaica, NY 11432\n(40..."

In [306]:
readFile5["DBN"].head()

0    01M015
1    01M015
2    01M015
3    01M015
4    01M015
Name: DBN, dtype: object

#### add DBN column into readfile8, including CSD, Borough and School Code

In [307]:
readFile8["DBN"] = readFile8.apply(lambda x: "{0:02d}{1}".format(x["CSD"], x["SCHOOL CODE"]), axis=1)
readFile8.head()

,CSD,BOROUGH,SCHOOL CODE,SCHOOL NAME,GRADE,PROGRAM TYPE,CORE SUBJECT (MS CORE and 9-12 ONLY),CORE COURSE (MS CORE and 9-12 ONLY),SERVICE CATEGORY(K-9* ONLY),NUMBER OF STUDENTS / SEATS FILLED,NUMBER OF SECTIONS,AVERAGE CLASS SIZE,SIZE OF SMALLEST CLASS,SIZE OF LARGEST CLASS,DATA SOURCE,SCHOOLWIDE PUPIL-TEACHER RATIO,DBN
0,1,M,M015,P.S. 015 Roberto Clemente,0K,GEN ED,-,-,-,19.0,1.0,19.0,19.0,19.0,ATS,NaN,01M015
1,1,M,M015,P.S. 015 Roberto Clemente,0K,CTT,-,-,-,21.0,1.0,21.0,21.0,21.0,ATS,NaN,01M015
2,1,M,M015,P.S. 015 Roberto Clemente,01,GEN ED,-,-,-,17.0,1.0,17.0,17.0,17.0,ATS,NaN,01M015
3,1,M,M015,P.S. 015 Roberto Clemente,01,CTT,-,-,-,17.0,1.0,17.0,17.0,17.0,ATS,NaN,01M015
4,1,M,M015,P.S. 015 Roberto Clemente,02,GEN ED,-,-,-,15.0,1.0,15.0,15.0,15.0,ATS,NaN,01M015

In [308]:
new_readFile8 = readFile8.drop(readFile8.columns[[0, 1, 2]], axis=1)

In [309]:
new_readFile8

,SCHOOL NAME,GRADE,PROGRAM TYPE,CORE SUBJECT (MS CORE and 9-12 ONLY),CORE COURSE (MS CORE and 9-12 ONLY),SERVICE CATEGORY(K-9* ONLY),NUMBER OF STUDENTS / SEATS FILLED,NUMBER OF SECTIONS,AVERAGE CLASS SIZE,SIZE OF SMALLEST CLASS,SIZE OF LARGEST CLASS,DATA SOURCE,SCHOOLWIDE PUPIL-TEACHER RATIO,DBN
0,P.S. 015 Roberto Clemente,0K,GEN ED,-,-,-,19.0,1.0,19.0,19.0,19.0,ATS,NaN,01M015
1,P.S. 015 Roberto Clemente,0K,CTT,-,-,-,21.0,1.0,21.0,21.0,21.0,ATS,NaN,01M015
2,P.S. 015 Roberto Clemente,01,GEN ED,-,-,-,17.0,1.0,17.0,17.0,17.0,ATS,NaN,01M015
3,P.S. 015 Roberto Clemente,01,CTT,-,-,-,17.0,1.0,17.0,17.0,17.0,ATS,NaN,01M015
4,P.S. 015 Roberto Clemente,02,GEN ED,-,-,-,15.0,1.0,15.0,15.0,15.0,ATS,NaN,01M015
5,P.S. 015 Roberto Clemente,02,CTT,-,-,-,17.0,1.0,17.0,17.0,17.0,ATS,NaN,01M015
6,P.S. 015 Roberto Clemente,03,GEN ED,-,-,-,12.0,1.0,12.0,12.0,12.0,ATS,NaN,01M015
7,P.S. 015 Roberto Clemente,03,CTT,-,-,-,15.0,1.0,15.0,15.0,15.0,ATS,NaN,01M015
8,P.S. 015 Roberto Clemente,04,GEN ED,-,-,-,26.0,2.0,13.0,12.0,14.0,ATS,NaN,01M015
9,P.S. 015 Roberto Clemente,05,GEN ED,-,-,-,27.0,1.0,27.0,27.0,27.0,ATS,NaN,01M015
10,P.S. 015 Roberto Clemente,0K-09,SPEC ED,-,-,12:1:1,9.0,1.0,9.0,9.0,9.0,ATS,NaN,01M015
11,P.S. 015 Roberto Clemente,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,8.4,01M015
12,P.S. 019 Asher Levy,0K,GEN ED,-,-,-,39.0,2.0,19.5,18.0,21.0,ATS,NaN,01M019
13,P.S. 019 Asher Levy,0K,CTT,-,-,-,12.0,1.0,12.0,12.0,12.0,ATS,NaN,01M019
14,P.S. 019 Asher Levy,01,GEN ED,-,-,-,39.0,2.0,19.5,19.0,20.0,ATS,NaN,01M019
15,P.S. 019 Asher Levy,01,CTT,-,-,-,13.0,1.0,13.0,13.0,13.0,ATS,NaN,01M019
16,P.S. 019 Asher Levy,02,GEN ED,-,-,-,46.0,2.0,23.0,22.0,24.0,ATS,NaN,01M019
17,P.S. 019 Asher Levy,03,GEN ED,-,-,-,35.0,2.0,17.5,17.0,18.0,ATS,NaN,01M019
18,P.S. 019 Asher Levy,04,GEN ED,-,-,-,22.0,1.0,22.0,22.0,22.0,ATS,NaN,01M019
19,P.S. 019 Asher Levy,04,CTT,-,-,-,24.0,1.0,24.0,24.0,24.0,ATS,NaN,01M019
20,P.S. 019 Asher Levy,05,GEN ED,-,-,-,22.0,1.0,22.0,22.0,22.0,ATS,NaN,01M019
21,P.S. 019 Asher Levy,05,CTT,-,-,-,21.0,1.0,21.0,21.0,21.0,ATS,NaN,01M019
22,P.S. 019 Asher Levy,0K-09,SPEC ED,-,-,12:1,7.0,1.0,7.0,7.0,7.0,ATS,NaN,01M019
23,P.S. 019 Asher Levy,0K-09,SPEC ED,-,-,12:1:1,11.0,1.0,11.0,11.0,11.0,ATS,NaN,01M019
24,P.S. 019 Asher Levy,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,10.0,01M019
25,P.S. 020 Anna Silver,0K,GEN ED,-,-,-,89.0,4.0,22.3,20.0,23.0,ATS,NaN,01M020
26,P.S. 020 Anna Silver,0K,CTT,-,-,-,22.0,1.0,22.0,22.0,22.0,ATS,NaN,01M020
27,P.S. 020 Anna Silver,01,GEN ED,-,-,-,69.0,3.0,23.0,22.0,24.0,ATS,NaN,01M020
28,P.S. 020 Anna Silver,01,CTT,-,-,-,21.0,1.0,21.0,21.0,21.0,ATS,NaN,01M020
29,P.S. 020 Anna Silver,02,GEN ED,-,-,-,55.0,3.0,18.3,16.0,21.0,ATS,NaN,01M020
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
27581,Bushwick Leaders High School for Academic Exce...,09-12,GEN ED,SCIENCE,Other Science,-,313.0,12.0,26.1,18.0,33.0,STARS,NaN,32K556
27582,Bushwick Leaders High School for Academic Exce...,09-12,GEN ED,SOCIAL STUDIES,Global History & Geography,-,289.0,11.0,26.3,15.0,34.0,STARS,NaN,32K556
27583,Bushwick Leaders High School for Academic Exce...,09-12,GEN ED,SOCIAL STUDIES,US History & Government,-,128.0,5.0,25.6,13.0,32.0,STARS,NaN,32K556
27584,Bushwick Leaders High School for Academic Exce...,09-12,GEN ED,SOCIAL STUDIES,Economics,-,59.0,2.0,29.5,26.0,33.0,STARS,NaN,32K556
27585,Bushwick Leaders High School for Academic Exce...,09-12,GEN ED,SOCIAL STUDIES,Participation in Government,-,63.0,2.0,31.5,30.0,33.0,STARS,NaN,32K556
27586,Bushwick Leaders High School for Academic Exce...,09-12,SPEC ED,ENGLISH,English 9,-,14.0,1.0,14.0,14.0,14.0,STARS,NaN,32K556
27587,Bushwick Leaders High School for Academic Exce...,09-12,SPEC ED,ENGLISH,English 10,-,11.0,1.0,11.0,11.0,11.0,STARS,NaN,32K556
27588,Bushwick Leaders High School for Academic Exce...,09-12,SPEC ED,ENGLISH,English 11,-,10.0,1.0,10.0,10.0,10.0,STARS,NaN,32K556
27589,Bushwick Leaders High School for Academic Exce...,09-12,SPEC ED,MATH,Integrated Algebra,-,26.0,2.0,13.0,12.0,14.0,STARS,NaN,32K556
27590,Bushwick Leaders High School for Academic Exce...,09-12,SPEC ED,SCIENCE,Earth Science,-,22.0,2.0,11.0,11.0,11.0,STARS,NaN,32K556
27591,Bushwick Leaders High School for Academic Exce...,09-12,SPEC ED,SCIENCE,Living Environment,-,25.0,2.0,12.5,12.0,13.0,STARS,NaN,32K556
27592,Bushwick Leaders High School for Academic Exce...,09-12,SPEC ED,SCIENCE,Chemistry,-,22.0,2.0,11.0,11.0,11.0,STARS,NaN,32K556
27593,Bushwick Leaders High School for Academic Exce...,09-12,SPEC ED,SOCIAL STUDIES,Global History & Geography,-,36.0,3.0,12.0,10.0,14.0,STARS,NaN,32K556
27594,Bushwick Leaders High School for Academic Exce...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,14.7,32K556
27595,Bushwick Community High School,09-12,GEN ED,ENGLISH,English 9,-,261.0,10.0,26.1,17.0,35.0,STARS,NaN,32K564
27596,Bushwick Community High School,09-12,GEN ED,ENGLISH,English 10,-,102.0,4.0,25.5,17.0,30.0,STARS,NaN,32K564
27597,Bushwick Community High School,09-12,GEN ED,ENGLISH,English 11,-,144.0,6.0,24.0,21.0,28.0,STARS,NaN,32K564
27598,Bushwick Community High School,09-12,GEN ED,ENGLISH,English 12,-,132.0,5.0,26.4,19.0,29.0,STARS,NaN,32K564
27599,Bushwick Community High School,09-12,GEN ED,MATH,Integrated Algebra,-,342.0,14.0,24.4,19.0,28.0,STARS,NaN,32K564
27600,Bushwick Community High School,09-12,GEN ED,MATH,Math A,-,23.0,1.0,23.0,23.0,23.0,STARS,NaN,32K564
27601,Bushwick Community High School,09-12,GEN ED,SCIENCE,Earth Science,-,24.0,2.0,12.0,12.0,12.0,STARS,NaN,32K564
27602,Bushwick Community High School,09-12,GEN ED,SCIENCE,Living Environment,-,161.0,6.0,26.8,17.0,31.0,STARS,NaN,32K564
27603,Bushwick Community High School,09-12,GEN ED,SCIENCE,Chemistry,-,57.0,2.0,28.5,27.0,30.0,STARS,NaN,32K564
27604,Bushwick Community High School,09-12,GEN ED,SCIENCE,Physics,-,49.0,2.0,24.5,22.0,27.0,STARS,NaN,32K564
27605,Bushwick Community High School,09-12,GEN ED,SOCIAL STUDIES,Global History & Geography,-,237.0,10.0,23.7,15.0,31.0,STARS,NaN,32K564
27606,Bushwick Community High School,09-12,GEN ED,SOCIAL STUDIES,US History & Government,-,256.0,10.0,25.6,15.0,35.0,STARS,NaN,32K564
27607,Bushwick Community High School,09-12,GEN ED,SOCIAL STUDIES,Economics,-,65.0,2.0,32.5,32.0,33.0,STARS,NaN,32K564
27608,Bushwick Community High School,09-12,GEN ED,SOCIAL STUDIES,Participation in Government,-,53.0,2.0,26.5,25.0,28.0,STARS,NaN,32K564
27609,Bushwick Community High School,09-12,CTT,MATH,Integrated Algebra,-,50.0,2.0,25.0,25.0,25.0,STARS,NaN,32K564
27610,Bushwick Community High School,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,17.1,32K564

In [310]:
cols = new_readFile8.columns.tolist()
cols

['SCHOOL NAME',
 'GRADE ',
 'PROGRAM TYPE',
 'CORE SUBJECT (MS CORE and 9-12 ONLY)',
 'CORE COURSE (MS CORE and 9-12 ONLY)',
 'SERVICE CATEGORY(K-9* ONLY)',
 'NUMBER OF STUDENTS / SEATS FILLED',
 'NUMBER OF SECTIONS',
 'AVERAGE CLASS SIZE',
 'SIZE OF SMALLEST CLASS',
 'SIZE OF LARGEST CLASS',
 'DATA SOURCE',
 'SCHOOLWIDE PUPIL-TEACHER RATIO',
 'DBN']

In [311]:
cols_switch = cols[-1:] + cols[:-1]
cols_switch

['DBN',
 'SCHOOL NAME',
 'GRADE ',
 'PROGRAM TYPE',
 'CORE SUBJECT (MS CORE and 9-12 ONLY)',
 'CORE COURSE (MS CORE and 9-12 ONLY)',
 'SERVICE CATEGORY(K-9* ONLY)',
 'NUMBER OF STUDENTS / SEATS FILLED',
 'NUMBER OF SECTIONS',
 'AVERAGE CLASS SIZE',
 'SIZE OF SMALLEST CLASS',
 'SIZE OF LARGEST CLASS',
 'DATA SOURCE',
 'SCHOOLWIDE PUPIL-TEACHER RATIO']

In [312]:
new_readFile8 =  new_readFile8[cols_switch]
new_readFile8.head()

,DBN,SCHOOL NAME,GRADE,PROGRAM TYPE,CORE SUBJECT (MS CORE and 9-12 ONLY),CORE COURSE (MS CORE and 9-12 ONLY),SERVICE CATEGORY(K-9* ONLY),NUMBER OF STUDENTS / SEATS FILLED,NUMBER OF SECTIONS,AVERAGE CLASS SIZE,SIZE OF SMALLEST CLASS,SIZE OF LARGEST CLASS,DATA SOURCE,SCHOOLWIDE PUPIL-TEACHER RATIO
0,01M015,P.S. 015 Roberto Clemente,0K,GEN ED,-,-,-,19.0,1.0,19.0,19.0,19.0,ATS,NaN
1,01M015,P.S. 015 Roberto Clemente,0K,CTT,-,-,-,21.0,1.0,21.0,21.0,21.0,ATS,NaN
2,01M015,P.S. 015 Roberto Clemente,01,GEN ED,-,-,-,17.0,1.0,17.0,17.0,17.0,ATS,NaN
3,01M015,P.S. 015 Roberto Clemente,01,CTT,-,-,-,17.0,1.0,17.0,17.0,17.0,ATS,NaN
4,01M015,P.S. 015 Roberto Clemente,02,GEN ED,-,-,-,15.0,1.0,15.0,15.0,15.0,ATS,NaN

#### change column[dbn] name in readFile12 to DBN

In [313]:
readFile12["DBN"] = readFile12["dbn"]
readFile12.head()

,dbn,school_name,boro,building_code,phone_number,fax_number,grade_span_min,grade_span_max,expgrade_span_min,expgrade_span_max,...,priority03,priority04,priority05,priority06,priority07,priority08,priority09,priority10,Location 1,DBN
0,17K548,Brooklyn School for Music & Theatre,Brooklyn,K440,718-230-6250,718-230-6262,9,12,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"883 Classon Avenue\nBrooklyn, NY 11225\n(40.67...",17K548
1,09X543,High School for Violin and Dance,Bronx,X400,718-842-0687,718-589-9849,9,12,NaN,NaN,...,Then to Bronx students or residents,Then to New York City residents,NaN,NaN,NaN,NaN,NaN,NaN,"1110 Boston Road\nBronx, NY 10456\n(40.8276026...",09X543
2,09X327,Comprehensive Model School Project M.S. 327,Bronx,X240,718-294-8111,718-294-8109,6,12,NaN,NaN,...,Then to New York City residents who attend an ...,Then to Bronx students or residents,Then to New York City residents,NaN,NaN,NaN,NaN,NaN,"1501 Jerome Avenue\nBronx, NY 10452\n(40.84241...",09X327
3,02M280,Manhattan Early College School for Advertising,Manhattan,M520,718-935-3477,NaN,9,10,9,14.0,...,Then to Manhattan students or residents,Then to New York City residents,NaN,NaN,NaN,NaN,NaN,NaN,"411 Pearl Street\nNew York, NY 10038\n(40.7106...",02M280
4,28Q680,Queens Gateway to Health Sciences Secondary Sc...,Queens,Q695,718-969-3155,718-969-3552,6,12,NaN,NaN,...,Then to Queens students or residents,Then to New York City residents,NaN,NaN,NaN,NaN,NaN,NaN,"160-20 Goethals Avenue\nJamaica, NY 11432\n(40...",28Q680

In [314]:
new_readFile12 = readFile12.drop(readFile12.columns[[0]], axis=1)
#new_readFile12.head()

In [315]:
cols2 = new_readFile12.columns.tolist()
cols2

['school_name',
 'boro',
 'building_code',
 'phone_number',
 'fax_number',
 'grade_span_min',
 'grade_span_max',
 'expgrade_span_min',
 'expgrade_span_max',
 'bus',
 'subway',
 'primary_address_line_1',
 'city',
 'state_code',
 'zip',
 'website',
 'total_students',
 'campus_name',
 'school_type',
 'overview_paragraph',
 'program_highlights',
 'language_classes',
 'advancedplacement_courses',
 'online_ap_courses',
 'online_language_courses',
 'extracurricular_activities',
 'psal_sports_boys',
 'psal_sports_girls',
 'psal_sports_coed',
 'school_sports',
 'partner_cbo',
 'partner_hospital',
 'partner_highered',
 'partner_cultural',
 'partner_nonprofit',
 'partner_corporate',
 'partner_financial',
 'partner_other',
 'addtl_info1',
 'addtl_info2',
 'start_time',
 'end_time',
 'se_services',
 'ell_programs',
 'school_accessibility_description',
 'number_programs',
 'priority01',
 'priority02',
 'priority03',
 'priority04',
 'priority05',
 'priority06',
 'priority07',
 'priority08',
 'priority09',
 'priority10',
 'Location 1',
 'DBN']

In [316]:
cols2_switch = cols2[-1:] + cols2[:-1]
cols2_switch

['DBN',
 'school_name',
 'boro',
 'building_code',
 'phone_number',
 'fax_number',
 'grade_span_min',
 'grade_span_max',
 'expgrade_span_min',
 'expgrade_span_max',
 'bus',
 'subway',
 'primary_address_line_1',
 'city',
 'state_code',
 'zip',
 'website',
 'total_students',
 'campus_name',
 'school_type',
 'overview_paragraph',
 'program_highlights',
 'language_classes',
 'advancedplacement_courses',
 'online_ap_courses',
 'online_language_courses',
 'extracurricular_activities',
 'psal_sports_boys',
 'psal_sports_girls',
 'psal_sports_coed',
 'school_sports',
 'partner_cbo',
 'partner_hospital',
 'partner_highered',
 'partner_cultural',
 'partner_nonprofit',
 'partner_corporate',
 'partner_financial',
 'partner_other',
 'addtl_info1',
 'addtl_info2',
 'start_time',
 'end_time',
 'se_services',
 'ell_programs',
 'school_accessibility_description',
 'number_programs',
 'priority01',
 'priority02',
 'priority03',
 'priority04',
 'priority05',
 'priority06',
 'priority07',
 'priority08',
 'priority09',
 'priority10',
 'Location 1']

In [317]:
new_readFile12 = new_readFile12[cols2_switch]
new_readFile12.head()

,DBN,school_name,boro,building_code,phone_number,fax_number,grade_span_min,grade_span_max,expgrade_span_min,expgrade_span_max,...,priority02,priority03,priority04,priority05,priority06,priority07,priority08,priority09,priority10,Location 1
0,17K548,Brooklyn School for Music & Theatre,Brooklyn,K440,718-230-6250,718-230-6262,9,12,NaN,NaN,...,Then to New York City residents,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"883 Classon Avenue\nBrooklyn, NY 11225\n(40.67..."
1,09X543,High School for Violin and Dance,Bronx,X400,718-842-0687,718-589-9849,9,12,NaN,NaN,...,Then to New York City residents who attend an ...,Then to Bronx students or residents,Then to New York City residents,NaN,NaN,NaN,NaN,NaN,NaN,"1110 Boston Road\nBronx, NY 10456\n(40.8276026..."
2,09X327,Comprehensive Model School Project M.S. 327,Bronx,X240,718-294-8111,718-294-8109,6,12,NaN,NaN,...,Then to Bronx students or residents who attend...,Then to New York City residents who attend an ...,Then to Bronx students or residents,Then to New York City residents,NaN,NaN,NaN,NaN,NaN,"1501 Jerome Avenue\nBronx, NY 10452\n(40.84241..."
3,02M280,Manhattan Early College School for Advertising,Manhattan,M520,718-935-3477,NaN,9,10,9,14.0,...,Then to New York City residents who attend an ...,Then to Manhattan students or residents,Then to New York City residents,NaN,NaN,NaN,NaN,NaN,NaN,"411 Pearl Street\nNew York, NY 10038\n(40.7106..."
4,28Q680,Queens Gateway to Health Sciences Secondary Sc...,Queens,Q695,718-969-3155,718-969-3552,6,12,NaN,NaN,...,Then to Districts 28 and 29 students or residents,Then to Queens students or residents,Then to New York City residents,NaN,NaN,NaN,NaN,NaN,NaN,"160-20 Goethals Avenue\nJamaica, NY 11432\n(40..."

#### compress some data in readFile8

In [318]:
class_size = new_readFile8
class_size = class_size[class_size["GRADE "] == "09-12"]
class_size = class_size[class_size["PROGRAM TYPE"] == "GEN ED"]
class_size = class_size.groupby("DBN").agg(np.mean)
class_size.reset_index(inplace=True)
new_readFile8 = class_size

In [319]:
new_readFile8.head()

,DBN,NUMBER OF STUDENTS / SEATS FILLED,NUMBER OF SECTIONS,AVERAGE CLASS SIZE,SIZE OF SMALLEST CLASS,SIZE OF LARGEST CLASS,SCHOOLWIDE PUPIL-TEACHER RATIO
0,01M292,88.0000,4.000000,22.564286,18.50,26.571429,NaN
1,01M332,46.0000,2.000000,22.000000,21.00,23.500000,NaN
2,01M378,33.0000,1.000000,33.000000,33.00,33.000000,NaN
3,01M448,105.6875,4.750000,22.231250,18.25,27.062500,NaN
4,01M450,57.6000,2.733333,21.200000,19.40,22.866667,NaN

In [320]:
demographic = readFile5
demographic = demographic[demographic["schoolyear"] == 20112012]
readFile5 = demographic

In [321]:
readFile5.head()

,DBN,Name,schoolyear,fl_percent,frl_percent,total_enrollment,prek,k,grade1,grade2,...,black_num,black_per,hispanic_num,hispanic_per,white_num,white_per,male_num,male_per,female_num,female_per
6,01M015,P.S. 015 ROBERTO CLEMENTE,20112012,NaN,89.4,189,13,31,35,28,...,63,33.3,109,57.7,4,2.1,97.0,51.3,92.0,48.7
13,01M019,P.S. 019 ASHER LEVY,20112012,NaN,61.5,328,32,46,52,54,...,81,24.7,158,48.2,28,8.5,147.0,44.8,181.0,55.2
20,01M020,PS 020 ANNA SILVER,20112012,NaN,92.5,626,52,102,121,87,...,55,8.8,357,57.0,16,2.6,330.0,52.7,296.0,47.3
27,01M034,PS 034 FRANKLIN D ROOSEVELT,20112012,NaN,99.7,401,14,34,38,36,...,90,22.4,275,68.6,8,2.0,204.0,50.9,197.0,49.1
35,01M063,PS 063 WILLIAM MCKINLEY,20112012,NaN,78.9,176,18,20,30,21,...,41,23.3,110,62.5,15,8.5,97.0,55.1,79.0,44.9

In [322]:
new_readFile3 = readFile3[readFile3["Year"] == 2011]
new_readFile3 = readFile3[readFile3["Grade"] == "8"]

In [323]:
new_readFile3

,DBN,Grade,Year,Category,Number Tested,Mean Scale Score,Level 1 #,Level 1 %,Level 2 #,Level 2 %,Level 3 #,Level 3 %,Level 4 #,Level 4 %,Level 3+4 #,Level 3+4 %
106,01M034,8,2006,All Students,66,617,29,43.9%,28,42.4%,9,13.6%,0,0%,9,13.6%
107,01M034,8,2007,All Students,48,636,15,31.3%,18,37.5%,13,27.1%,2,4.2%,15,31.3%
108,01M034,8,2008,All Students,54,648,3,5.6%,26,48.1%,23,42.6%,2,3.7%,25,46.3%
109,01M034,8,2009,All Students,67,653,8,11.9%,18,26.9%,39,58.2%,2,3%,41,61.2%
110,01M034,8,2010,All Students,59,651,16,27.1%,36,61%,6,10.2%,1,1.7%,7,11.9%
111,01M034,8,2011,All Students,48,646,15,31.3%,22,45.8%,11,22.9%,0,0%,11,22.9%
188,01M110,8,2006,All Students,45,645,6,13.3%,22,48.9%,14,31.1%,3,6.7%,17,37.8%
275,01M140,8,2006,All Students,94,629,26,27.7%,48,51.1%,18,19.1%,2,2.1%,20,21.3%
276,01M140,8,2007,All Students,87,633,20,23%,41,47.1%,26,29.9%,0,0%,26,29.9%
277,01M140,8,2008,All Students,63,657,4,6.3%,20,31.7%,33,52.4%,6,9.5%,39,61.9%
278,01M140,8,2009,All Students,68,653,8,11.8%,20,29.4%,40,58.8%,0,0%,40,58.8%
279,01M140,8,2010,All Students,62,667,6,9.7%,30,48.4%,23,37.1%,3,4.8%,26,41.9%
280,01M140,8,2011,All Students,61,665,1,1.6%,43,70.5%,17,27.9%,0,0%,17,27.9%
342,01M184,8,2007,All Students,46,698,0,0%,1,2.2%,24,52.2%,21,45.7%,45,97.8%
343,01M184,8,2008,All Students,56,718,0,0%,1,1.8%,15,26.8%,40,71.4%,55,98.2%
344,01M184,8,2009,All Students,51,719,0,0%,0,0%,12,23.5%,39,76.5%,51,100%
345,01M184,8,2010,All Students,54,723,0,0%,2,3.7%,11,20.4%,41,75.9%,52,96.3%
346,01M184,8,2011,All Students,49,727,0,0%,0,0%,5,10.2%,44,89.8%,49,100%
383,01M188,8,2006,All Students,63,627,13,20.6%,38,60.3%,12,19%,0,0%,12,19%
384,01M188,8,2007,All Students,51,649,5,9.8%,20,39.2%,24,47.1%,2,3.9%,26,51%
385,01M188,8,2008,All Students,56,665,2,3.6%,15,26.8%,35,62.5%,4,7.1%,39,69.6%
386,01M188,8,2009,All Students,57,667,1,1.8%,11,19.3%,42,73.7%,3,5.3%,45,78.9%
387,01M188,8,2010,All Students,61,657,9,14.8%,40,65.6%,11,18%,1,1.6%,12,19.7%
388,01M188,8,2011,All Students,49,658,10,20.4%,26,53.1%,10,20.4%,3,6.1%,13,26.5%
406,01M292,8,2006,All Students,65,627,18,27.7%,30,46.2%,16,24.6%,1,1.5%,17,26.2%
407,01M292,8,2007,All Students,71,640,12,16.9%,38,53.5%,18,25.4%,3,4.2%,21,29.6%
408,01M292,8,2008,All Students,70,647,6,8.6%,33,47.1%,29,41.4%,2,2.9%,31,44.3%
409,01M292,8,2009,All Students,54,655,4,7.4%,17,31.5%,30,55.6%,3,5.6%,33,61.1%
410,01M292,8,2010,All Students,76,642,24,31.6%,44,57.9%,8,10.5%,0,0%,8,10.5%
411,01M292,8,2011,All Students,49,650,15,30.6%,25,51%,7,14.3%,2,4.1%,9,18.4%
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
28286,75X176,8,2011,All Students,2,s,s,s,s,s,s,s,s,s,s,s
28323,75X186,8,2006,All Students,28,560,25,89.3%,3,10.7%,0,0%,0,0%,0,0%
28324,75X186,8,2007,All Students,22,590,18,81.8%,4,18.2%,0,0%,0,0%,0,0%
28325,75X186,8,2008,All Students,23,579,21,91.3%,2,8.7%,0,0%,0,0%,0,0%
28326,75X186,8,2009,All Students,27,617,10,37%,14,51.9%,3,11.1%,0,0%,3,11.1%
28327,75X186,8,2010,All Students,37,600,35,94.6%,2,5.4%,0,0%,0,0%,0,0%
28328,75X186,8,2011,All Students,31,596,23,74.2%,8,25.8%,0,0%,0,0%,0,0%
28364,75X188,8,2006,All Students,27,577,22,81.5%,4,14.8%,1,3.7%,0,0%,1,3.7%
28365,75X188,8,2007,All Students,43,588,31,72.1%,11,25.6%,1,2.3%,0,0%,1,2.3%
28366,75X188,8,2008,All Students,42,579,32,76.2%,9,21.4%,1,2.4%,0,0%,1,2.4%
28367,75X188,8,2009,All Students,43,622,13,30.2%,21,48.8%,9,20.9%,0,0%,9,20.9%
28368,75X188,8,2010,All Students,38,614,32,84.2%,5,13.2%,1,2.6%,0,0%,1,2.6%
28369,75X188,8,2011,All Students,33,606,25,75.8%,5,15.2%,2,6.1%,1,3%,3,9.1%
28401,75X352,8,2007,All Students,9,573,9,100%,0,0%,0,0%,0,0%,0,0%
28402,75X352,8,2008,All Students,11,606,6,54.5%,4,36.4%,1,9.1%,0,0%,1,9.1%
28403,75X352,8,2009,All Students,6,624,3,50%,2,33.3%,1,16.7%,0,0%,1,16.7%
28404,75X352,8,2010,All Students,17,617,12,70.6%,3,17.6%,1,5.9%,1,5.9%,2,11.8%
28405,75X352,8,2011,All Students,13,610,10,76.9%,3,23.1%,0,0%,0,0%,0,0%
28425,75X721,8,2006,All Students,3,s,s,s,s,s,s,s,s,s,s,s
28426,75X721,8,2007,All Students,5,s,s,s,s,s,s,s,s,s,s,s
28427,75X721,8,2008,All Students,2,s,s,s,s,s,s,s,s,s,s,s
28428,75X721,8,2009,All Students,3,s,s,s,s,s,s,s,s,s,s,s
28429,75X721,8,2010,All Students,3,s,s,s,s,s,s,s,s,s,s,s
28430,75X721,8,2011,All Students,4,s,s,s,s,s,s,s,s,s,s,s
28466,75X723,8,2006,All Students,20,540,19,95%,1,5%,0,0%,0,0%,0,0%
28467,75X723,8,2007,All Students,27,570,24,88.9%,3,11.1%,0,0%,0,0%,0,0%
28468,75X723,8,2008,All Students,36,567,34,94.4%,2,5.6%,0,0%,0,0%,0,0%
28469,75X723,8,2009,All Students,31,597,18,58.1%,13,41.9%,0,0%,0,0%,0,0%
28470,75X723,8,2010,All Students,38,598,32,84.2%,6,15.8%,0,0%,0,0%,0,0%
28471,75X723,8,2011,All Students,32,595,24,75%,7,21.9%,1,3.1%,0,0%,1,3.1%

In [324]:
new_readFile6 = readFile6[readFile6["Cohort"] == "2006"]
new_readFile6 = readFile6[readFile6["Demographic"] == "Total Cohort"]

In [325]:
new_readFile6

,Demographic,DBN,School Name,Cohort,Total Cohort,Total Grads - n,Total Grads - % of cohort,Total Regents - n,Total Regents - % of cohort,Total Regents - % of grads,...,Regents w/o Advanced - n,Regents w/o Advanced - % of cohort,Regents w/o Advanced - % of grads,Local - n,Local - % of cohort,Local - % of grads,Still Enrolled - n,Still Enrolled - % of cohort,Dropped Out - n,Dropped Out - % of cohort
0,Total Cohort,01M292,HENRY STREET SCHOOL FOR INTERNATIONAL,2003,5,s,s,s,s,s,...,s,s,s,s,s,s,s,s,s,s
1,Total Cohort,01M292,HENRY STREET SCHOOL FOR INTERNATIONAL,2004,55,37,67.3%,17,30.9%,45.9%,...,17,30.9%,45.9%,20,36.4%,54.1%,15,27.3%,3,5.5%
2,Total Cohort,01M292,HENRY STREET SCHOOL FOR INTERNATIONAL,2005,64,43,67.2%,27,42.2%,62.8%,...,27,42.2%,62.8%,16,25%,37.200000000000003%,9,14.1%,9,14.1%
3,Total Cohort,01M292,HENRY STREET SCHOOL FOR INTERNATIONAL,2006,78,43,55.1%,36,46.2%,83.7%,...,36,46.2%,83.7%,7,9%,16.3%,16,20.5%,11,14.1%
4,Total Cohort,01M292,HENRY STREET SCHOOL FOR INTERNATIONAL,2006 Aug,78,44,56.4%,37,47.4%,84.1%,...,37,47.4%,84.1%,7,9%,15.9%,15,19.2%,11,14.1%
5,Total Cohort,01M448,UNIVERSITY NEIGHBORHOOD HIGH SCHOOL,2001,64,46,71.900000000000006%,32,50%,69.599999999999994%,...,25,39.1%,54.3%,14,21.9%,30.4%,10,15.6%,6,9.4%
6,Total Cohort,01M448,UNIVERSITY NEIGHBORHOOD HIGH SCHOOL,2002,52,33,63.5%,19,36.5%,57.6%,...,11,21.2%,33.299999999999997%,14,26.9%,42.4%,16,30.8%,1,1.9%
7,Total Cohort,01M448,UNIVERSITY NEIGHBORHOOD HIGH SCHOOL,2003,87,67,77%,39,44.8%,58.2%,...,28,32.200000000000003%,41.8%,28,32.200000000000003%,41.8%,9,10.3%,11,12.6%
8,Total Cohort,01M448,UNIVERSITY NEIGHBORHOOD HIGH SCHOOL,2004,112,75,67%,36,32.1%,48%,...,30,26.8%,40%,39,34.799999999999997%,52%,33,29.5%,4,3.6%
9,Total Cohort,01M448,UNIVERSITY NEIGHBORHOOD HIGH SCHOOL,2005,121,64,52.9%,35,28.9%,54.7%,...,31,25.6%,48.4%,29,24%,45.3%,41,33.9%,11,9.1%
10,Total Cohort,01M448,UNIVERSITY NEIGHBORHOOD HIGH SCHOOL,2006,124,53,42.7%,42,33.9%,79.2%,...,34,27.4%,64.2%,11,8.9%,20.8%,46,37.1%,20,16.100000000000001%
11,Total Cohort,01M448,UNIVERSITY NEIGHBORHOOD HIGH SCHOOL,2006 Aug,124,60,48.4%,42,33.9%,70%,...,34,27.4%,56.7%,18,14.5%,30%,39,31.5%,20,16.100000000000001%
12,Total Cohort,01M450,EAST SIDE COMMUNITY SCHOOL,2001,61,41,67.2%,40,65.599999999999994%,97.6%,...,40,65.599999999999994%,97.6%,1,1.6%,2.4%,7,11.5%,12,19.7%
13,Total Cohort,01M450,EAST SIDE COMMUNITY SCHOOL,2002,72,45,62.5%,45,62.5%,100%,...,45,62.5%,100%,0,0%,0%,18,25%,7,9.699999999999999%
14,Total Cohort,01M450,EAST SIDE COMMUNITY SCHOOL,2003,79,49,62%,44,55.7%,89.8%,...,44,55.7%,89.8%,5,6.3%,10.199999999999999%,20,25.3%,10,12.7%
15,Total Cohort,01M450,EAST SIDE COMMUNITY SCHOOL,2004,80,58,72.5%,48,60%,82.8%,...,48,60%,82.8%,10,12.5%,17.2%,13,16.3%,9,11.3%
16,Total Cohort,01M450,EAST SIDE COMMUNITY SCHOOL,2005,85,61,71.8%,58,68.2%,95.1%,...,58,68.2%,95.1%,3,3.5%,4.9%,11,12.9%,9,10.6%
17,Total Cohort,01M450,EAST SIDE COMMUNITY SCHOOL,2006,90,70,77.8%,67,74.400000000000006%,95.7%,...,67,74.400000000000006%,95.7%,3,3.3%,4.3%,15,16.7%,5,5.6%
18,Total Cohort,01M450,EAST SIDE COMMUNITY SCHOOL,2006 Aug,90,71,78.900000000000006%,68,75.599999999999994%,95.8%,...,68,75.599999999999994%,95.8%,3,3.3%,4.2%,14,15.6%,5,5.6%
19,Total Cohort,01M509,MARTA VALLE HIGH SCHOOL,2001,69,34,49.3%,6,8.699999999999999%,17.600000000000001%,...,6,8.699999999999999%,17.600000000000001%,28,40.6%,82.4%,19,27.5%,10,14.5%
20,Total Cohort,01M509,MARTA VALLE HIGH SCHOOL,2002,55,22,40%,11,20%,50%,...,7,12.7%,31.8%,11,20%,50%,18,32.700000000000003%,11,20%
21,Total Cohort,01M509,MARTA VALLE HIGH SCHOOL,2003,70,31,44.3%,22,31.4%,71%,...,22,31.4%,71%,9,12.9%,29%,20,28.6%,18,25.7%
22,Total Cohort,01M509,MARTA VALLE HIGH SCHOOL,2004,65,29,44.6%,13,20%,44.8%,...,10,15.4%,34.5%,16,24.6%,55.2%,27,41.5%,8,12.3%
23,Total Cohort,01M509,MARTA VALLE HIGH SCHOOL,2005,88,49,55.7%,38,43.2%,77.599999999999994%,...,20,22.7%,40.799999999999997%,11,12.5%,22.4%,20,22.7%,14,15.9%
24,Total Cohort,01M509,MARTA VALLE HIGH SCHOOL,2006,84,47,56%,40,47.6%,85.1%,...,23,27.4%,48.9%,7,8.300000000000001%,14.9%,25,29.8%,5,6%
25,Total Cohort,01M509,MARTA VALLE HIGH SCHOOL,2006 Aug,84,50,59.5%,41,48.8%,82%,...,23,27.4%,46%,9,10.7%,18%,22,26.2%,5,6%
26,Total Cohort,01M515,LOWER EAST SIDE PREPARATORY HIGH SCHO,2001,166,88,53%,36,21.7%,40.9%,...,36,21.7%,40.9%,53,31.9%,60.2%,45,27.1%,30,18.100000000000001%
27,Total Cohort,01M515,LOWER EAST SIDE PREPARATORY HIGH SCHO,2002,172,77,44.8%,53,30.8%,68.8%,...,53,30.8%,68.8%,24,14%,31.2%,67,39%,28,16.3%
28,Total Cohort,01M515,LOWER EAST SIDE PREPARATORY HIGH SCHO,2003,205,86,42%,71,34.6%,82.6%,...,23,11.2%,26.7%,15,7.3%,17.399999999999999%,80,39%,39,19%
29,Total Cohort,01M515,LOWER EAST SIDE PREPARATORY HIGH SCHO,2004,200,97,48.5%,74,37%,76.3%,...,14,7%,14.4%,23,11.5%,23.7%,78,39%,25,12.5%
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2465,Total Cohort,32K549,BUSHWICK SCHOOL FOR SOCIAL JUSTICE,2004,105,76,72.400000000000006%,32,30.5%,42.1%,...,31,29.5%,40.799999999999997%,44,41.9%,57.9%,17,16.2%,12,11.4%
2466,Total Cohort,32K549,BUSHWICK SCHOOL FOR SOCIAL JUSTICE,2005,102,66,64.7%,35,34.299999999999997%,53%,...,32,31.4%,48.5%,31,30.4%,47%,18,17.600000000000001%,17,16.7%
2467,Total Cohort,32K549,BUSHWICK SCHOOL FOR SOCIAL JUSTICE,2006,97,74,76.3%,59,60.8%,79.7%,...,54,55.7%,73%,15,15.5%,20.3%,12,12.4%,9,9.300000000000001%
2468,Total Cohort,32K549,BUSHWICK SCHOOL FOR SOCIAL JUSTICE,2006 Aug,97,75,77.3%,60,61.9%,80%,...,55,56.7%,73.3%,15,15.5%,20%,11,11.3%,9,9.300000000000001%
2469,Total Cohort,32K552,ACADEMY OF URBAN PLANNING,2001,2,s,s,s,s,s,...,s,s,s,s,s,s,s,s,s,s
2470,Total Cohort,32K552,ACADEMY OF URBAN PLANNING,2002,6,s,s,s,s,s,...,s,s,s,s,s,s,s,s,s,s
2471,Total Cohort,32K552,ACADEMY OF URBAN PLANNING,2003,108,58,53.7%,21,19.399999999999999%,36.200000000000003%,...,18,16.7%,31%,37,34.299999999999997%,63.8%,36,33.299999999999997%,13,12%
2472,Total Cohort,32K552,ACADEMY OF URBAN PLANNING,2004,101,60,59.4%,27,26.7%,45%,...,25,24.8%,41.7%,33,32.700000000000003%,55%,33,32.700000000000003%,6,5.9%
2473,Total Cohort,32K552,ACADEMY OF URBAN PLANNING,2005,106,63,59.4%,24,22.6%,38.1%,...,23,21.7%,36.5%,39,36.799999999999997%,61.9%,27,25.5%,13,12.3%
2474,Total Cohort,32K552,ACADEMY OF URBAN PLANNING,2006,115,55,47.8%,41,35.700000000000003%,74.5%,...,40,34.799999999999997%,72.7%,14,12.2%,25.5%,44,38.299999999999997%,10,8.699999999999999%
2475,Total Cohort,32K552,ACADEMY OF URBAN PLANNING,2006 Aug,115,62,53.9%,43,37.4%,69.400000000000006%,...,42,36.5%,67.7%,19,16.5%,30.6%,37,32.200000000000003%,10,8.699999999999999%
2476,Total Cohort,32K554,ALL CITY LEADERSHIP SECONDARY SCHOOL,2002,3,s,s,s,s,s,...,s,s,s,s,s,s,s,s,s,s
2477,Total Cohort,32K554,ALL CITY LEADERSHIP SECONDARY SCHOOL,2003,23,21,91.3%,12,52.2%,57.1%,...,12,52.2%,57.1%,9,39.1%,42.9%,2,8.699999999999999%,0,0%
2478,Total Cohort,32K554,ALL CITY LEADERSHIP SECONDARY SCHOOL,2004,23,19,82.6%,9,39.1%,47.4%,...,9,39.1%,47.4%,10,43.5%,52.6%,3,13%,1,4.3%
2479,Total Cohort,32K554,ALL CITY LEADERSHIP SECONDARY SCHOOL,2005,46,37,80.400000000000006%,23,50%,62.2%,...,19,41.3%,51.4%,14,30.4%,37.799999999999997%,9,19.600000000000001%,0,0%
2480,Total Cohort,32K554,ALL CITY LEADERSHIP SECONDARY SCHOOL,2006,43,36,83.7%,23,53.5%,63.9%,...,18,41.9%,50%,13,30.2%,36.1%,5,11.6%,2,4.7%
2481,Total Cohort,32K554,ALL CITY LEADERSHIP SECONDARY SCHOOL,2006 Aug,43,38,88.4%,24,55.8%,63.2%,...,19,44.2%,50%,14,32.6%,36.799999999999997%,3,7%,2,4.7%
2483,Total Cohort,32K556,BUSHWICK LEADERS HIGH SCHOOL FOR ACAD,2002,6,s,s,s,s,s,...,s,s,s,s,s,s,s,s,s,s
2484,Total Cohort,32K556,BUSHWICK LEADERS HIGH SCHOOL FOR ACAD,2003,108,72,66.7%,11,10.199999999999999%,15.3%,...,10,9.300000000000001%,13.9%,61,56.5%,84.7%,24,22.2%,8,7.4%
2485,Total Cohort,32K556,BUSHWICK LEADERS HIGH SCHOOL FOR ACAD,2004,81,54,66.7%,18,22.2%,33.299999999999997%,...,17,21%,31.5%,36,44.4%,66.7%,20,24.7%,4,4.9%
2486,Total Cohort,32K556,BUSHWICK LEADERS HIGH SCHOOL FOR ACAD,2005,103,65,63.1%,28,27.2%,43.1%,...,27,26.2%,41.5%,37,35.9%,56.9%,25,24.3%,6,5.8%
2487,Total Cohort,32K556,BUSHWICK LEADERS HIGH SCHOOL FOR ACAD,2006,117,65,55.6%,28,23.9%,43.1%,...,23,19.7%,35.4%,37,31.6%,56.9%,24,20.5%,22,18.8%
2488,Total Cohort,32K556,BUSHWICK LEADERS HIGH SCHOOL FOR ACAD,2006 Aug,117,66,56.4%,28,23.9%,42.4%,...,23,19.7%,34.799999999999997%,38,32.5%,57.6%,23,19.7%,22,18.8%
2489,Total Cohort,32K564,BUSHWICK COMMUNITY HIGH SCHOOL,2001,159,10,6.3%,0,0%,0%,...,0,0%,0%,10,6.3%,100%,136,85.5%,13,8.199999999999999%
2490,Total Cohort,32K564,BUSHWICK COMMUNITY HIGH SCHOOL,2002,179,7,3.9%,0,0%,0%,...,0,0%,0%,7,3.9%,100%,141,78.8%,31,17.3%
2491,Total Cohort,32K564,BUSHWICK COMMUNITY HIGH SCHOOL,2003,129,4,3.1%,0,0%,0%,...,0,0%,0%,4,3.1%,100%,94,72.900000000000006%,31,24%
2492,Total Cohort,32K564,BUSHWICK COMMUNITY HIGH SCHOOL,2004,113,7,6.2%,0,0%,0%,...,0,0%,0%,7,6.2%,100%,63,55.8%,41,36.299999999999997%
2493,Total Cohort,32K564,BUSHWICK COMMUNITY HIGH SCHOOL,2005,140,5,3.6%,3,2.1%,60%,...,3,2.1%,60%,2,1.4%,40%,83,59.3%,49,35%
2494,Total Cohort,32K564,BUSHWICK COMMUNITY HIGH SCHOOL,2006,128,10,7.8%,3,2.3%,30%,...,3,2.3%,30%,7,5.5%,70%,63,49.2%,52,40.6%
2495,Total Cohort,32K564,BUSHWICK COMMUNITY HIGH SCHOOL,2006 Aug,128,10,7.8%,3,2.3%,30%,...,3,2.3%,30%,7,5.5%,70%,63,49.2%,52,40.6%

#### get total sat score

In [326]:
cols3 = ['SAT Math Avg. Score', 'SAT Critical Reading Avg. Score', 'SAT Writing Avg. Score']
for c in cols3:
    readFile1[c] = readFile1[c].convert_objects(convert_numeric=True)

readFile1['Total SAT Score'] = readFile1[cols3[0]] + readFile1[cols3[1]] + readFile1[cols3[2]]

/Users/dev_derrick/anaconda3/lib/python3.5/site-packages/ipykernel/__main__.py:3: FutureWarning: convert_objects is deprecated.  Use the data-type specific converters pd.to_datetime, pd.to_timedelta and pd.to_numeric.
  app.launch_new_instance()

In [327]:
readFile1.head()

,DBN,SCHOOL NAME,Num of SAT Test Takers,SAT Critical Reading Avg. Score,SAT Math Avg. Score,SAT Writing Avg. Score,Total SAT Score
0,01M292,HENRY STREET SCHOOL FOR INTERNATIONAL STUDIES,29,355.0,404.0,363.0,1122.0
1,01M448,UNIVERSITY NEIGHBORHOOD HIGH SCHOOL,91,383.0,423.0,366.0,1172.0
2,01M450,EAST SIDE COMMUNITY SCHOOL,70,377.0,402.0,370.0,1149.0
3,01M458,FORSYTH SATELLITE ACADEMY,7,414.0,401.0,359.0,1174.0
4,01M509,MARTA VALLE HIGH SCHOOL,44,390.0,433.0,384.0,1207.0

In [328]:
readFile12['lat'] = readFile12['Location 1'].apply(lambda x: x.split("\n")[-1].replace("(", "").replace(")", "").split(", ")[0])
readFile12['lon'] = readFile12['Location 1'].apply(lambda x: x.split("\n")[-1].replace("(", "").replace(")", "").split(", ")[1])

for c in ['lat', 'lon']:
    readFile12[c] = readFile12[c].convert_objects(convert_numeric=True)

/Users/dev_derrick/anaconda3/lib/python3.5/site-packages/ipykernel/__main__.py:5: FutureWarning: convert_objects is deprecated.  Use the data-type specific converters pd.to_datetime, pd.to_timedelta and pd.to_numeric.

In [329]:
merge1 = pd.merge(readFile1, new_readFile6, how="outer", on='DBN')

In [330]:
merge2 = pd.merge(merge1, readFile7, how="outer", on='DBN')

In [331]:
merge3 = pd.merge(merge2, new_readFile3, how="inner", on='DBN')

In [332]:
merge3

,DBN,SCHOOL NAME,Num of SAT Test Takers,SAT Critical Reading Avg. Score,SAT Math Avg. Score,SAT Writing Avg. Score,Total SAT Score,Demographic,School Name,Cohort,...,Level 1 #,Level 1 %,Level 2 #,Level 2 %,Level 3 #,Level 3 %,Level 4 #,Level 4 %,Level 3+4 #,Level 3+4 %
0,01M292,HENRY STREET SCHOOL FOR INTERNATIONAL STUDIES,29,355.0,404.0,363.0,1122.0,Total Cohort,HENRY STREET SCHOOL FOR INTERNATIONAL,2003,...,18,27.7%,30,46.2%,16,24.6%,1,1.5%,17,26.2%
1,01M292,HENRY STREET SCHOOL FOR INTERNATIONAL STUDIES,29,355.0,404.0,363.0,1122.0,Total Cohort,HENRY STREET SCHOOL FOR INTERNATIONAL,2003,...,12,16.9%,38,53.5%,18,25.4%,3,4.2%,21,29.6%
2,01M292,HENRY STREET SCHOOL FOR INTERNATIONAL STUDIES,29,355.0,404.0,363.0,1122.0,Total Cohort,HENRY STREET SCHOOL FOR INTERNATIONAL,2003,...,6,8.6%,33,47.1%,29,41.4%,2,2.9%,31,44.3%
3,01M292,HENRY STREET SCHOOL FOR INTERNATIONAL STUDIES,29,355.0,404.0,363.0,1122.0,Total Cohort,HENRY STREET SCHOOL FOR INTERNATIONAL,2003,...,4,7.4%,17,31.5%,30,55.6%,3,5.6%,33,61.1%
4,01M292,HENRY STREET SCHOOL FOR INTERNATIONAL STUDIES,29,355.0,404.0,363.0,1122.0,Total Cohort,HENRY STREET SCHOOL FOR INTERNATIONAL,2003,...,24,31.6%,44,57.9%,8,10.5%,0,0%,8,10.5%
5,01M292,HENRY STREET SCHOOL FOR INTERNATIONAL STUDIES,29,355.0,404.0,363.0,1122.0,Total Cohort,HENRY STREET SCHOOL FOR INTERNATIONAL,2003,...,15,30.6%,25,51%,7,14.3%,2,4.1%,9,18.4%
6,01M292,HENRY STREET SCHOOL FOR INTERNATIONAL STUDIES,29,355.0,404.0,363.0,1122.0,Total Cohort,HENRY STREET SCHOOL FOR INTERNATIONAL,2004,...,18,27.7%,30,46.2%,16,24.6%,1,1.5%,17,26.2%
7,01M292,HENRY STREET SCHOOL FOR INTERNATIONAL STUDIES,29,355.0,404.0,363.0,1122.0,Total Cohort,HENRY STREET SCHOOL FOR INTERNATIONAL,2004,...,12,16.9%,38,53.5%,18,25.4%,3,4.2%,21,29.6%
8,01M292,HENRY STREET SCHOOL FOR INTERNATIONAL STUDIES,29,355.0,404.0,363.0,1122.0,Total Cohort,HENRY STREET SCHOOL FOR INTERNATIONAL,2004,...,6,8.6%,33,47.1%,29,41.4%,2,2.9%,31,44.3%
9,01M292,HENRY STREET SCHOOL FOR INTERNATIONAL STUDIES,29,355.0,404.0,363.0,1122.0,Total Cohort,HENRY STREET SCHOOL FOR INTERNATIONAL,2004,...,4,7.4%,17,31.5%,30,55.6%,3,5.6%,33,61.1%
10,01M292,HENRY STREET SCHOOL FOR INTERNATIONAL STUDIES,29,355.0,404.0,363.0,1122.0,Total Cohort,HENRY STREET SCHOOL FOR INTERNATIONAL,2004,...,24,31.6%,44,57.9%,8,10.5%,0,0%,8,10.5%
11,01M292,HENRY STREET SCHOOL FOR INTERNATIONAL STUDIES,29,355.0,404.0,363.0,1122.0,Total Cohort,HENRY STREET SCHOOL FOR INTERNATIONAL,2004,...,15,30.6%,25,51%,7,14.3%,2,4.1%,9,18.4%
12,01M292,HENRY STREET SCHOOL FOR INTERNATIONAL STUDIES,29,355.0,404.0,363.0,1122.0,Total Cohort,HENRY STREET SCHOOL FOR INTERNATIONAL,2005,...,18,27.7%,30,46.2%,16,24.6%,1,1.5%,17,26.2%
13,01M292,HENRY STREET SCHOOL FOR INTERNATIONAL STUDIES,29,355.0,404.0,363.0,1122.0,Total Cohort,HENRY STREET SCHOOL FOR INTERNATIONAL,2005,...,12,16.9%,38,53.5%,18,25.4%,3,4.2%,21,29.6%
14,01M292,HENRY STREET SCHOOL FOR INTERNATIONAL STUDIES,29,355.0,404.0,363.0,1122.0,Total Cohort,HENRY STREET SCHOOL FOR INTERNATIONAL,2005,...,6,8.6%,33,47.1%,29,41.4%,2,2.9%,31,44.3%
15,01M292,HENRY STREET SCHOOL FOR INTERNATIONAL STUDIES,29,355.0,404.0,363.0,1122.0,Total Cohort,HENRY STREET SCHOOL FOR INTERNATIONAL,2005,...,4,7.4%,17,31.5%,30,55.6%,3,5.6%,33,61.1%
16,01M292,HENRY STREET SCHOOL FOR INTERNATIONAL STUDIES,29,355.0,404.0,363.0,1122.0,Total Cohort,HENRY STREET SCHOOL FOR INTERNATIONAL,2005,...,24,31.6%,44,57.9%,8,10.5%,0,0%,8,10.5%
17,01M292,HENRY STREET SCHOOL FOR INTERNATIONAL STUDIES,29,355.0,404.0,363.0,1122.0,Total Cohort,HENRY STREET SCHOOL FOR INTERNATIONAL,2005,...,15,30.6%,25,51%,7,14.3%,2,4.1%,9,18.4%
18,01M292,HENRY STREET SCHOOL FOR INTERNATIONAL STUDIES,29,355.0,404.0,363.0,1122.0,Total Cohort,HENRY STREET SCHOOL FOR INTERNATIONAL,2006,...,18,27.7%,30,46.2%,16,24.6%,1,1.5%,17,26.2%
19,01M292,HENRY STREET SCHOOL FOR INTERNATIONAL STUDIES,29,355.0,404.0,363.0,1122.0,Total Cohort,HENRY STREET SCHOOL FOR INTERNATIONAL,2006,...,12,16.9%,38,53.5%,18,25.4%,3,4.2%,21,29.6%
20,01M292,HENRY STREET SCHOOL FOR INTERNATIONAL STUDIES,29,355.0,404.0,363.0,1122.0,Total Cohort,HENRY STREET SCHOOL FOR INTERNATIONAL,2006,...,6,8.6%,33,47.1%,29,41.4%,2,2.9%,31,44.3%
21,01M292,HENRY STREET SCHOOL FOR INTERNATIONAL STUDIES,29,355.0,404.0,363.0,1122.0,Total Cohort,HENRY STREET SCHOOL FOR INTERNATIONAL,2006,...,4,7.4%,17,31.5%,30,55.6%,3,5.6%,33,61.1%
22,01M292,HENRY STREET SCHOOL FOR INTERNATIONAL STUDIES,29,355.0,404.0,363.0,1122.0,Total Cohort,HENRY STREET SCHOOL FOR INTERNATIONAL,2006,...,24,31.6%,44,57.9%,8,10.5%,0,0%,8,10.5%
23,01M292,HENRY STREET SCHOOL FOR INTERNATIONAL STUDIES,29,355.0,404.0,363.0,1122.0,Total Cohort,HENRY STREET SCHOOL FOR INTERNATIONAL,2006,...,15,30.6%,25,51%,7,14.3%,2,4.1%,9,18.4%
24,01M292,HENRY STREET SCHOOL FOR INTERNATIONAL STUDIES,29,355.0,404.0,363.0,1122.0,Total Cohort,HENRY STREET SCHOOL FOR INTERNATIONAL,2006 Aug,...,18,27.7%,30,46.2%,16,24.6%,1,1.5%,17,26.2%
25,01M292,HENRY STREET SCHOOL FOR INTERNATIONAL STUDIES,29,355.0,404.0,363.0,1122.0,Total Cohort,HENRY STREET SCHOOL FOR INTERNATIONAL,2006 Aug,...,12,16.9%,38,53.5%,18,25.4%,3,4.2%,21,29.6%
26,01M292,HENRY STREET SCHOOL FOR INTERNATIONAL STUDIES,29,355.0,404.0,363.0,1122.0,Total Cohort,HENRY STREET SCHOOL FOR INTERNATIONAL,2006 Aug,...,6,8.6%,33,47.1%,29,41.4%,2,2.9%,31,44.3%
27,01M292,HENRY STREET SCHOOL FOR INTERNATIONAL STUDIES,29,355.0,404.0,363.0,1122.0,Total Cohort,HENRY STREET SCHOOL FOR INTERNATIONAL,2006 Aug,...,4,7.4%,17,31.5%,30,55.6%,3,5.6%,33,61.1%
28,01M292,HENRY STREET SCHOOL FOR INTERNATIONAL STUDIES,29,355.0,404.0,363.0,1122.0,Total Cohort,HENRY STREET SCHOOL FOR INTERNATIONAL,2006 Aug,...,24,31.6%,44,57.9%,8,10.5%,0,0%,8,10.5%
29,01M292,HENRY STREET SCHOOL FOR INTERNATIONAL STUDIES,29,355.0,404.0,363.0,1122.0,Total Cohort,HENRY STREET SCHOOL FOR INTERNATIONAL,2006 Aug,...,15,30.6%,25,51%,7,14.3%,2,4.1%,9,18.4%
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1965,02M442,NaN,NaN,NaN,NaN,NaN,NaN,Total Cohort,BALLET TECH NYC PUBLIC SCHOOL FOR DA,2004,...,0,0%,4,21.1%,14,73.7%,1,5.3%,15,78.9%
1966,02M442,NaN,NaN,NaN,NaN,NaN,NaN,Total Cohort,BALLET TECH NYC PUBLIC SCHOOL FOR DA,2004,...,0,0%,2,10.5%,13,68.4%,4,21.1%,17,89.5%
1967,02M442,NaN,NaN,NaN,NaN,NaN,NaN,Total Cohort,BALLET TECH NYC PUBLIC SCHOOL FOR DA,2004,...,0,0%,0,0%,15,71.4%,6,28.6%,21,100%
1968,02M442,NaN,NaN,NaN,NaN,NaN,NaN,Total Cohort,BALLET TECH NYC PUBLIC SCHOOL FOR DA,2004,...,0,0%,0,0%,8,38.1%,13,61.9%,21,100%
1969,02M442,NaN,NaN,NaN,NaN,NaN,NaN,Total Cohort,BALLET TECH NYC PUBLIC SCHOOL FOR DA,2004,...,0,0%,1,5%,14,70%,5,25%,19,95%
1970,02M442,NaN,NaN,NaN,NaN,NaN,NaN,Total Cohort,BALLET TECH NYC PUBLIC SCHOOL FOR DA,2004,...,0,0%,1,5%,9,45%,10,50%,19,95%
1971,02M442,NaN,NaN,NaN,NaN,NaN,NaN,Total Cohort,BALLET TECH NYC PUBLIC SCHOOL FOR DA,2005,...,0,0%,4,21.1%,14,73.7%,1,5.3%,15,78.9%
1972,02M442,NaN,NaN,NaN,NaN,NaN,NaN,Total Cohort,BALLET TECH NYC PUBLIC SCHOOL FOR DA,2005,...,0,0%,2,10.5%,13,68.4%,4,21.1%,17,89.5%
1973,02M442,NaN,NaN,NaN,NaN,NaN,NaN,Total Cohort,BALLET TECH NYC PUBLIC SCHOOL FOR DA,2005,...,0,0%,0,0%,15,71.4%,6,28.6%,21,100%
1974,02M442,NaN,NaN,NaN,NaN,NaN,NaN,Total Cohort,BALLET TECH NYC PUBLIC SCHOOL FOR DA,2005,...,0,0%,0,0%,8,38.1%,13,61.9%,21,100%
1975,02M442,NaN,NaN,NaN,NaN,NaN,NaN,Total Cohort,BALLET TECH NYC PUBLIC SCHOOL FOR DA,2005,...,0,0%,1,5%,14,70%,5,25%,19,95%
1976,02M442,NaN,NaN,NaN,NaN,NaN,NaN,Total Cohort,BALLET TECH NYC PUBLIC SCHOOL FOR DA,2005,...,0,0%,1,5%,9,45%,10,50%,19,95%
1977,15K027,NaN,NaN,NaN,NaN,NaN,NaN,Total Cohort,AGNES Y. HUMPHREY SCHOOL FOR LEADERSH,2005,...,19,50%,14,36.8%,5,13.2%,0,0%,5,13.2%
1978,15K027,NaN,NaN,NaN,NaN,NaN,NaN,Total Cohort,AGNES Y. HUMPHREY SCHOOL FOR LEADERSH,2005,...,9,18%,28,56%,13,26%,0,0%,13,26%
1979,15K027,NaN,NaN,NaN,NaN,NaN,NaN,Total Cohort,AGNES Y. HUMPHREY SCHOOL FOR LEADERSH,2005,...,6,12%,32,64%,12,24%,0,0%,12,24%
1980,15K027,NaN,NaN,NaN,NaN,NaN,NaN,Total Cohort,AGNES Y. HUMPHREY SCHOOL FOR LEADERSH,2005,...,7,15.9%,20,45.5%,17,38.6%,0,0%,17,38.6%
1981,15K027,NaN,NaN,NaN,NaN,NaN,NaN,Total Cohort,AGNES Y. HUMPHREY SCHOOL FOR LEADERSH,2005,...,8,20%,26,65%,5,12.5%,1,2.5%,6,15%
1982,15K027,NaN,NaN,NaN,NaN,NaN,NaN,Total Cohort,AGNES Y. HUMPHREY SCHOOL FOR LEADERSH,2005,...,8,25.8%,11,35.5%,12,38.7%,0,0%,12,38.7%
1983,15K027,NaN,NaN,NaN,NaN,NaN,NaN,Total Cohort,AGNES Y. HUMPHREY SCHOOL FOR LEADERSH,2006,...,19,50%,14,36.8%,5,13.2%,0,0%,5,13.2%
1984,15K027,NaN,NaN,NaN,NaN,NaN,NaN,Total Cohort,AGNES Y. HUMPHREY SCHOOL FOR LEADERSH,2006,...,9,18%,28,56%,13,26%,0,0%,13,26%
1985,15K027,NaN,NaN,NaN,NaN,NaN,NaN,Total Cohort,AGNES Y. HUMPHREY SCHOOL FOR LEADERSH,2006,...,6,12%,32,64%,12,24%,0,0%,12,24%
1986,15K027,NaN,NaN,NaN,NaN,NaN,NaN,Total Cohort,AGNES Y. HUMPHREY SCHOOL FOR LEADERSH,2006,...,7,15.9%,20,45.5%,17,38.6%,0,0%,17,38.6%
1987,15K027,NaN,NaN,NaN,NaN,NaN,NaN,Total Cohort,AGNES Y. HUMPHREY SCHOOL FOR LEADERSH,2006,...,8,20%,26,65%,5,12.5%,1,2.5%,6,15%
1988,15K027,NaN,NaN,NaN,NaN,NaN,NaN,Total Cohort,AGNES Y. HUMPHREY SCHOOL FOR LEADERSH,2006,...,8,25.8%,11,35.5%,12,38.7%,0,0%,12,38.7%
1989,15K027,NaN,NaN,NaN,NaN,NaN,NaN,Total Cohort,AGNES Y. HUMPHREY SCHOOL FOR LEADERSH,2006 Aug,...,19,50%,14,36.8%,5,13.2%,0,0%,5,13.2%
1990,15K027,NaN,NaN,NaN,NaN,NaN,NaN,Total Cohort,AGNES Y. HUMPHREY SCHOOL FOR LEADERSH,2006 Aug,...,9,18%,28,56%,13,26%,0,0%,13,26%
1991,15K027,NaN,NaN,NaN,NaN,NaN,NaN,Total Cohort,AGNES Y. HUMPHREY SCHOOL FOR LEADERSH,2006 Aug,...,6,12%,32,64%,12,24%,0,0%,12,24%
1992,15K027,NaN,NaN,NaN,NaN,NaN,NaN,Total Cohort,AGNES Y. HUMPHREY SCHOOL FOR LEADERSH,2006 Aug,...,7,15.9%,20,45.5%,17,38.6%,0,0%,17,38.6%
1993,15K027,NaN,NaN,NaN,NaN,NaN,NaN,Total Cohort,AGNES Y. HUMPHREY SCHOOL FOR LEADERSH,2006 Aug,...,8,20%,26,65%,5,12.5%,1,2.5%,6,15%
1994,15K027,NaN,NaN,NaN,NaN,NaN,NaN,Total Cohort,AGNES Y. HUMPHREY SCHOOL FOR LEADERSH,2006 Aug,...,8,25.8%,11,35.5%,12,38.7%,0,0%,12,38.7%

In [334]:
merge4 = merge3.dropna()

In [335]:
merge4

,DBN,SCHOOL NAME,Num of SAT Test Takers,SAT Critical Reading Avg. Score,SAT Math Avg. Score,SAT Writing Avg. Score,Total SAT Score,Demographic,School Name,Cohort,...,Level 1 #,Level 1 %,Level 2 #,Level 2 %,Level 3 #,Level 3 %,Level 4 #,Level 4 %,Level 3+4 #,Level 3+4 %
30,01M450,EAST SIDE COMMUNITY SCHOOL,70,377.0,402.0,370.0,1149.0,Total Cohort,EAST SIDE COMMUNITY SCHOOL,2001,...,11,11.8%,46,49.5%,35,37.6%,1,1.1%,36,38.7%
31,01M450,EAST SIDE COMMUNITY SCHOOL,70,377.0,402.0,370.0,1149.0,Total Cohort,EAST SIDE COMMUNITY SCHOOL,2001,...,15,18.5%,37,45.7%,29,35.8%,0,0%,29,35.8%
32,01M450,EAST SIDE COMMUNITY SCHOOL,70,377.0,402.0,370.0,1149.0,Total Cohort,EAST SIDE COMMUNITY SCHOOL,2001,...,1,1.3%,31,40.3%,43,55.8%,2,2.6%,45,58.4%
33,01M450,EAST SIDE COMMUNITY SCHOOL,70,377.0,402.0,370.0,1149.0,Total Cohort,EAST SIDE COMMUNITY SCHOOL,2001,...,0,0%,11,15.3%,56,77.8%,5,6.9%,61,84.7%
34,01M450,EAST SIDE COMMUNITY SCHOOL,70,377.0,402.0,370.0,1149.0,Total Cohort,EAST SIDE COMMUNITY SCHOOL,2001,...,0,0%,33,53.2%,25,40.3%,4,6.5%,29,46.8%
35,01M450,EAST SIDE COMMUNITY SCHOOL,70,377.0,402.0,370.0,1149.0,Total Cohort,EAST SIDE COMMUNITY SCHOOL,2001,...,2,3.6%,24,43.6%,27,49.1%,2,3.6%,29,52.7%
36,01M450,EAST SIDE COMMUNITY SCHOOL,70,377.0,402.0,370.0,1149.0,Total Cohort,EAST SIDE COMMUNITY SCHOOL,2002,...,11,11.8%,46,49.5%,35,37.6%,1,1.1%,36,38.7%
37,01M450,EAST SIDE COMMUNITY SCHOOL,70,377.0,402.0,370.0,1149.0,Total Cohort,EAST SIDE COMMUNITY SCHOOL,2002,...,15,18.5%,37,45.7%,29,35.8%,0,0%,29,35.8%
38,01M450,EAST SIDE COMMUNITY SCHOOL,70,377.0,402.0,370.0,1149.0,Total Cohort,EAST SIDE COMMUNITY SCHOOL,2002,...,1,1.3%,31,40.3%,43,55.8%,2,2.6%,45,58.4%
39,01M450,EAST SIDE COMMUNITY SCHOOL,70,377.0,402.0,370.0,1149.0,Total Cohort,EAST SIDE COMMUNITY SCHOOL,2002,...,0,0%,11,15.3%,56,77.8%,5,6.9%,61,84.7%
40,01M450,EAST SIDE COMMUNITY SCHOOL,70,377.0,402.0,370.0,1149.0,Total Cohort,EAST SIDE COMMUNITY SCHOOL,2002,...,0,0%,33,53.2%,25,40.3%,4,6.5%,29,46.8%
41,01M450,EAST SIDE COMMUNITY SCHOOL,70,377.0,402.0,370.0,1149.0,Total Cohort,EAST SIDE COMMUNITY SCHOOL,2002,...,2,3.6%,24,43.6%,27,49.1%,2,3.6%,29,52.7%
42,01M450,EAST SIDE COMMUNITY SCHOOL,70,377.0,402.0,370.0,1149.0,Total Cohort,EAST SIDE COMMUNITY SCHOOL,2003,...,11,11.8%,46,49.5%,35,37.6%,1,1.1%,36,38.7%
43,01M450,EAST SIDE COMMUNITY SCHOOL,70,377.0,402.0,370.0,1149.0,Total Cohort,EAST SIDE COMMUNITY SCHOOL,2003,...,15,18.5%,37,45.7%,29,35.8%,0,0%,29,35.8%
44,01M450,EAST SIDE COMMUNITY SCHOOL,70,377.0,402.0,370.0,1149.0,Total Cohort,EAST SIDE COMMUNITY SCHOOL,2003,...,1,1.3%,31,40.3%,43,55.8%,2,2.6%,45,58.4%
45,01M450,EAST SIDE COMMUNITY SCHOOL,70,377.0,402.0,370.0,1149.0,Total Cohort,EAST SIDE COMMUNITY SCHOOL,2003,...,0,0%,11,15.3%,56,77.8%,5,6.9%,61,84.7%
46,01M450,EAST SIDE COMMUNITY SCHOOL,70,377.0,402.0,370.0,1149.0,Total Cohort,EAST SIDE COMMUNITY SCHOOL,2003,...,0,0%,33,53.2%,25,40.3%,4,6.5%,29,46.8%
47,01M450,EAST SIDE COMMUNITY SCHOOL,70,377.0,402.0,370.0,1149.0,Total Cohort,EAST SIDE COMMUNITY SCHOOL,2003,...,2,3.6%,24,43.6%,27,49.1%,2,3.6%,29,52.7%
48,01M450,EAST SIDE COMMUNITY SCHOOL,70,377.0,402.0,370.0,1149.0,Total Cohort,EAST SIDE COMMUNITY SCHOOL,2004,...,11,11.8%,46,49.5%,35,37.6%,1,1.1%,36,38.7%
49,01M450,EAST SIDE COMMUNITY SCHOOL,70,377.0,402.0,370.0,1149.0,Total Cohort,EAST SIDE COMMUNITY SCHOOL,2004,...,15,18.5%,37,45.7%,29,35.8%,0,0%,29,35.8%
50,01M450,EAST SIDE COMMUNITY SCHOOL,70,377.0,402.0,370.0,1149.0,Total Cohort,EAST SIDE COMMUNITY SCHOOL,2004,...,1,1.3%,31,40.3%,43,55.8%,2,2.6%,45,58.4%
51,01M450,EAST SIDE COMMUNITY SCHOOL,70,377.0,402.0,370.0,1149.0,Total Cohort,EAST SIDE COMMUNITY SCHOOL,2004,...,0,0%,11,15.3%,56,77.8%,5,6.9%,61,84.7%
52,01M450,EAST SIDE COMMUNITY SCHOOL,70,377.0,402.0,370.0,1149.0,Total Cohort,EAST SIDE COMMUNITY SCHOOL,2004,...,0,0%,33,53.2%,25,40.3%,4,6.5%,29,46.8%
53,01M450,EAST SIDE COMMUNITY SCHOOL,70,377.0,402.0,370.0,1149.0,Total Cohort,EAST SIDE COMMUNITY SCHOOL,2004,...,2,3.6%,24,43.6%,27,49.1%,2,3.6%,29,52.7%
54,01M450,EAST SIDE COMMUNITY SCHOOL,70,377.0,402.0,370.0,1149.0,Total Cohort,EAST SIDE COMMUNITY SCHOOL,2005,...,11,11.8%,46,49.5%,35,37.6%,1,1.1%,36,38.7%
55,01M450,EAST SIDE COMMUNITY SCHOOL,70,377.0,402.0,370.0,1149.0,Total Cohort,EAST SIDE COMMUNITY SCHOOL,2005,...,15,18.5%,37,45.7%,29,35.8%,0,0%,29,35.8%
56,01M450,EAST SIDE COMMUNITY SCHOOL,70,377.0,402.0,370.0,1149.0,Total Cohort,EAST SIDE COMMUNITY SCHOOL,2005,...,1,1.3%,31,40.3%,43,55.8%,2,2.6%,45,58.4%
57,01M450,EAST SIDE COMMUNITY SCHOOL,70,377.0,402.0,370.0,1149.0,Total Cohort,EAST SIDE COMMUNITY SCHOOL,2005,...,0,0%,11,15.3%,56,77.8%,5,6.9%,61,84.7%
58,01M450,EAST SIDE COMMUNITY SCHOOL,70,377.0,402.0,370.0,1149.0,Total Cohort,EAST SIDE COMMUNITY SCHOOL,2005,...,0,0%,33,53.2%,25,40.3%,4,6.5%,29,46.8%
59,01M450,EAST SIDE COMMUNITY SCHOOL,70,377.0,402.0,370.0,1149.0,Total Cohort,EAST SIDE COMMUNITY SCHOOL,2005,...,2,3.6%,24,43.6%,27,49.1%,2,3.6%,29,52.7%
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1911,32K554,ALL CITY LEADERSHIP SECONDARY SCHOOL,39,428.0,465.0,422.0,1315.0,Total Cohort,ALL CITY LEADERSHIP SECONDARY SCHOOL,2003,...,8,15.4%,24,46.2%,20,38.5%,0,0%,20,38.5%
1912,32K554,ALL CITY LEADERSHIP SECONDARY SCHOOL,39,428.0,465.0,422.0,1315.0,Total Cohort,ALL CITY LEADERSHIP SECONDARY SCHOOL,2003,...,4,14.3%,7,25%,16,57.1%,1,3.6%,17,60.7%
1913,32K554,ALL CITY LEADERSHIP SECONDARY SCHOOL,39,428.0,465.0,422.0,1315.0,Total Cohort,ALL CITY LEADERSHIP SECONDARY SCHOOL,2003,...,1,2.1%,7,14.9%,37,78.7%,2,4.3%,39,83%
1914,32K554,ALL CITY LEADERSHIP SECONDARY SCHOOL,39,428.0,465.0,422.0,1315.0,Total Cohort,ALL CITY LEADERSHIP SECONDARY SCHOOL,2003,...,1,3.1%,4,12.5%,24,75%,3,9.4%,27,84.4%
1915,32K554,ALL CITY LEADERSHIP SECONDARY SCHOOL,39,428.0,465.0,422.0,1315.0,Total Cohort,ALL CITY LEADERSHIP SECONDARY SCHOOL,2003,...,0,0%,13,40.6%,18,56.3%,1,3.1%,19,59.4%
1916,32K554,ALL CITY LEADERSHIP SECONDARY SCHOOL,39,428.0,465.0,422.0,1315.0,Total Cohort,ALL CITY LEADERSHIP SECONDARY SCHOOL,2003,...,0,0%,8,22.2%,23,63.9%,5,13.9%,28,77.8%
1917,32K554,ALL CITY LEADERSHIP SECONDARY SCHOOL,39,428.0,465.0,422.0,1315.0,Total Cohort,ALL CITY LEADERSHIP SECONDARY SCHOOL,2004,...,8,15.4%,24,46.2%,20,38.5%,0,0%,20,38.5%
1918,32K554,ALL CITY LEADERSHIP SECONDARY SCHOOL,39,428.0,465.0,422.0,1315.0,Total Cohort,ALL CITY LEADERSHIP SECONDARY SCHOOL,2004,...,4,14.3%,7,25%,16,57.1%,1,3.6%,17,60.7%
1919,32K554,ALL CITY LEADERSHIP SECONDARY SCHOOL,39,428.0,465.0,422.0,1315.0,Total Cohort,ALL CITY LEADERSHIP SECONDARY SCHOOL,2004,...,1,2.1%,7,14.9%,37,78.7%,2,4.3%,39,83%
1920,32K554,ALL CITY LEADERSHIP SECONDARY SCHOOL,39,428.0,465.0,422.0,1315.0,Total Cohort,ALL CITY LEADERSHIP SECONDARY SCHOOL,2004,...,1,3.1%,4,12.5%,24,75%,3,9.4%,27,84.4%
1921,32K554,ALL CITY LEADERSHIP SECONDARY SCHOOL,39,428.0,465.0,422.0,1315.0,Total Cohort,ALL CITY LEADERSHIP SECONDARY SCHOOL,2004,...,0,0%,13,40.6%,18,56.3%,1,3.1%,19,59.4%
1922,32K554,ALL CITY LEADERSHIP SECONDARY SCHOOL,39,428.0,465.0,422.0,1315.0,Total Cohort,ALL CITY LEADERSHIP SECONDARY SCHOOL,2004,...,0,0%,8,22.2%,23,63.9%,5,13.9%,28,77.8%
1923,32K554,ALL CITY LEADERSHIP SECONDARY SCHOOL,39,428.0,465.0,422.0,1315.0,Total Cohort,ALL CITY LEADERSHIP SECONDARY SCHOOL,2005,...,8,15.4%,24,46.2%,20,38.5%,0,0%,20,38.5%
1924,32K554,ALL CITY LEADERSHIP SECONDARY SCHOOL,39,428.0,465.0,422.0,1315.0,Total Cohort,ALL CITY LEADERSHIP SECONDARY SCHOOL,2005,...,4,14.3%,7,25%,16,57.1%,1,3.6%,17,60.7%
1925,32K554,ALL CITY LEADERSHIP SECONDARY SCHOOL,39,428.0,465.0,422.0,1315.0,Total Cohort,ALL CITY LEADERSHIP SECONDARY SCHOOL,2005,...,1,2.1%,7,14.9%,37,78.7%,2,4.3%,39,83%
1926,32K554,ALL CITY LEADERSHIP SECONDARY SCHOOL,39,428.0,465.0,422.0,1315.0,Total Cohort,ALL CITY LEADERSHIP SECONDARY SCHOOL,2005,...,1,3.1%,4,12.5%,24,75%,3,9.4%,27,84.4%
1927,32K554,ALL CITY LEADERSHIP SECONDARY SCHOOL,39,428.0,465.0,422.0,1315.0,Total Cohort,ALL CITY LEADERSHIP SECONDARY SCHOOL,2005,...,0,0%,13,40.6%,18,56.3%,1,3.1%,19,59.4%
1928,32K554,ALL CITY LEADERSHIP SECONDARY SCHOOL,39,428.0,465.0,422.0,1315.0,Total Cohort,ALL CITY LEADERSHIP SECONDARY SCHOOL,2005,...,0,0%,8,22.2%,23,63.9%,5,13.9%,28,77.8%
1929,32K554,ALL CITY LEADERSHIP SECONDARY SCHOOL,39,428.0,465.0,422.0,1315.0,Total Cohort,ALL CITY LEADERSHIP SECONDARY SCHOOL,2006,...,8,15.4%,24,46.2%,20,38.5%,0,0%,20,38.5%
1930,32K554,ALL CITY LEADERSHIP SECONDARY SCHOOL,39,428.0,465.0,422.0,1315.0,Total Cohort,ALL CITY LEADERSHIP SECONDARY SCHOOL,2006,...,4,14.3%,7,25%,16,57.1%,1,3.6%,17,60.7%
1931,32K554,ALL CITY LEADERSHIP SECONDARY SCHOOL,39,428.0,465.0,422.0,1315.0,Total Cohort,ALL CITY LEADERSHIP SECONDARY SCHOOL,2006,...,1,2.1%,7,14.9%,37,78.7%,2,4.3%,39,83%
1932,32K554,ALL CITY LEADERSHIP SECONDARY SCHOOL,39,428.0,465.0,422.0,1315.0,Total Cohort,ALL CITY LEADERSHIP SECONDARY SCHOOL,2006,...,1,3.1%,4,12.5%,24,75%,3,9.4%,27,84.4%
1933,32K554,ALL CITY LEADERSHIP SECONDARY SCHOOL,39,428.0,465.0,422.0,1315.0,Total Cohort,ALL CITY LEADERSHIP SECONDARY SCHOOL,2006,...,0,0%,13,40.6%,18,56.3%,1,3.1%,19,59.4%
1934,32K554,ALL CITY LEADERSHIP SECONDARY SCHOOL,39,428.0,465.0,422.0,1315.0,Total Cohort,ALL CITY LEADERSHIP SECONDARY SCHOOL,2006,...,0,0%,8,22.2%,23,63.9%,5,13.9%,28,77.8%
1935,32K554,ALL CITY LEADERSHIP SECONDARY SCHOOL,39,428.0,465.0,422.0,1315.0,Total Cohort,ALL CITY LEADERSHIP SECONDARY SCHOOL,2006 Aug,...,8,15.4%,24,46.2%,20,38.5%,0,0%,20,38.5%
1936,32K554,ALL CITY LEADERSHIP SECONDARY SCHOOL,39,428.0,465.0,422.0,1315.0,Total Cohort,ALL CITY LEADERSHIP SECONDARY SCHOOL,2006 Aug,...,4,14.3%,7,25%,16,57.1%,1,3.6%,17,60.7%
1937,32K554,ALL CITY LEADERSHIP SECONDARY SCHOOL,39,428.0,465.0,422.0,1315.0,Total Cohort,ALL CITY LEADERSHIP SECONDARY SCHOOL,2006 Aug,...,1,2.1%,7,14.9%,37,78.7%,2,4.3%,39,83%
1938,32K554,ALL CITY LEADERSHIP SECONDARY SCHOOL,39,428.0,465.0,422.0,1315.0,Total Cohort,ALL CITY LEADERSHIP SECONDARY SCHOOL,2006 Aug,...,1,3.1%,4,12.5%,24,75%,3,9.4%,27,84.4%
1939,32K554,ALL CITY LEADERSHIP SECONDARY SCHOOL,39,428.0,465.0,422.0,1315.0,Total Cohort,ALL CITY LEADERSHIP SECONDARY SCHOOL,2006 Aug,...,0,0%,13,40.6%,18,56.3%,1,3.1%,19,59.4%
1940,32K554,ALL CITY LEADERSHIP SECONDARY SCHOOL,39,428.0,465.0,422.0,1315.0,Total Cohort,ALL CITY LEADERSHIP SECONDARY SCHOOL,2006 Aug,...,0,0%,8,22.2%,23,63.9%,5,13.9%,28,77.8%