In [91]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from scipy.stats import mode
from collections import Counter
import datetime as dt
import time

DATA_PATH = "/Users/Derrick/Desktop/311_Service_Requests_2015.csv" # Make this the /path/to/the/data

In [92]:
data = pd.read_csv(DATA_PATH)

/Users/Derrick/anaconda3/envs/venvforconda/lib/python3.5/site-packages/IPython/core/interactiveshell.py:2723: DtypeWarning: Columns (8,17,18,40,41,42,43,44,45,46,47,48,49) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [93]:
data.head()

,Unique Key,Created Date,Closed Date,Agency,Agency Name,Complaint Type,Descriptor,Location Type,Incident Zip,Incident Address,...,Bridge Highway Name,Bridge Highway Direction,Road Ramp,Bridge Highway Segment,Garage Lot Name,Ferry Direction,Ferry Terminal Name,Latitude,Longitude,Location
0,30264625,03/26/2015 06:50:06 PM,07/22/2015 12:00:00 AM,DSNY,Department of Sanitation,Graffiti,Graffiti,Mixed Use,11104,43-07 49 STREET,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,40.744356,-73.915600,"(40.744356415099226, -73.9155997390839)"
1,30279915,03/28/2015 04:30:52 PM,08/08/2016 12:00:00 AM,DOB,Department of Buildings,Building/Use,Zoning - Non-Conforming/Illegal Vehicle Storage,NaN,11361,40-20 215 STREET,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,40.764384,-73.768646,"(40.764383824168, -73.76864600551563)"
2,30314570,04/01/2015 04:48:00 PM,08/12/2016 04:07:00 PM,DOT,Department of Transportation,Street Light Condition,New Con Ed Service Request,NaN,NaN,GLENWOOD HOUSES PLGD,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,30542111,05/04/2015 04:46:00 PM,09/29/2016 06:54:00 PM,DOT,Department of Transportation,Street Light Condition,New Con Ed Service Request,NaN,11234,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,40.616437,-73.929517,"(40.61643737486982, -73.92951728340122)"
4,30422344,04/17/2015 01:50:07 PM,NaN,DSNY,Department of Sanitation,Graffiti,Graffiti,NaN,11236,8720 DITMAS AVENUE,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,40.646814,-73.916718,"(40.64681363585129, -73.91671771596958)"

In [94]:
data.dtypes

Unique Key                          int64
Created Date                       object
Closed Date                        object
Agency                             object
Agency Name                        object
Complaint Type                     object
Descriptor                         object
Location Type                      object
Incident Zip                       object
Incident Address                   object
Street Name                        object
Cross Street 1                     object
Cross Street 2                     object
Intersection Street 1              object
Intersection Street 2              object
Address Type                       object
City                               object
Landmark                           object
Facility Type                      object
Status                             object
Due Date                           object
Resolution Description             object
Resolution Action Updated Date     object
Community Board                    object
Borough                            object
X Coordinate (State Plane)        float64
Y Coordinate (State Plane)        float64
Park Facility Name                 object
Park Borough                       object
School Name                        object
School Number                      object
School Region                      object
School Code                        object
School Phone Number                object
School Address                     object
School City                        object
School State                       object
School Zip                         object
School Not Found                   object
School or Citywide Complaint      float64
Vehicle Type                       object
Taxi Company Borough               object
Taxi Pick Up Location              object
Bridge Highway Name                object
Bridge Highway Direction           object
Road Ramp                          object
Bridge Highway Segment             object
Garage Lot Name                    object
Ferry Direction                    object
Ferry Terminal Name                object
Latitude                          float64
Longitude                         float64
Location                           object
dtype: object

In [95]:
type(data)

pandas.core.frame.DataFrame

In [96]:
DF = data[(data['Complaint Type'] =='Noise - House of Worship') | (data['Complaint Type'] =='Noise')| (data['Complaint Type'] =='Noise - Commercial')| (data['Complaint Type'] =='Noise - Helicopter')| (data['Complaint Type'] =='Noise - Park')| (data['Complaint Type'] =='Noise - Street/Sidewalk')| (data['Complaint Type'] =='Noise Survey')| (data['Complaint Type'] =='Noise - Vehicle')| (data['Complaint Type'] =='Collection Truck Noise')]

In [97]:
DF.Borough.value_counts()

MANHATTAN        77110
BROOKLYN         51372
QUEENS           26270
BRONX            19303
STATEN ISLAND     3955
Unspecified       1111
Name: Borough, dtype: int64

In [101]:
%pylab inline
import matplotlib as mpl
import matplotlib.pyplot as plt
from mpl_toolkits.basemap import Basemap
mpl.use('Agg')
fig = plt.figure(figsize=(20,10))
x,y = (DF['Longitude'], DF['Latitude'])
map = Basemap(projection='gall',              
              resolution = 'l',              
              area_thresh = 100000.0,             
             lat_0=40, lon_0=-73)
map.drawcoastlines()
map.drawcountries()
map.fillcontinents(color = '#888888')
map.drawmapboundary(fill_color='#f4f4f4')
plt.plot(x, y, 'ro', markersize=3, color = 'red')
plt.title('NYC 311 Calls. Complaint type: Noise-Sidewalk/Worship/Park/Vehicle/Survey... ', fontsize=16, weight= 'bold')
plt.xlim([-74.27,-73.7])
plt.ylim([40.5, 40.91])
plt.style.use('dark_background')
plt.axis('off')
plt.show()

Populating the interactive namespace from numpy and matplotlib

ImportError: No module named 'mpl_toolkits.basemap'

alabaster==0.7.8
anaconda-client==1.4.0
anaconda-navigator==1.2.1
appnope==0.1.0
appscript==1.0.1
argcomplete==1.0.0
astropy==1.2.1
Babel==2.3.3
backports.shutil-get-terminal-size==1.0.0
basemap==1.0.7
beautifulsoup4==4.4.1
bitarray==0.8.1
blaze==0.10.1
bokeh==0.12.0
boto==2.40.0
Bottleneck==1.1.0
cffi==1.8.3
chest==0.2.3
click==6.6
cloudpickle==0.2.1
clyent==1.2.2
colorama==0.3.7
conda==4.2.13
conda-build==1.21.3
configobj==5.0.6
contextlib2==0.5.3
cryptography==1.4
cycler==0.10.0
Cython==0.24
cytoolz==0.8.0
dask==0.10.0
datashape==0.5.2
decorator==4.0.10
dill==0.2.5
docutils==0.12
dynd==0.7.3.dev1
et-xmlfile==1.0.1
fastcache==1.0.2
Flask==0.11.1
Flask-Cors==2.1.2
gevent==1.1.1
greenlet==0.4.10
h5py==2.6.0
HeapDict==1.0.0
idna==2.1
imagesize==0.7.1
ipykernel==4.3.1
ipython==4.2.0
ipython-genutils==0.1.0
ipywidgets==4.1.1
itsdangerous==0.24
jdcal==1.2
jedi==0.9.0
Jinja2==2.8
jsonschema==2.5.1
jupyter==1.0.0
jupyter-client==4.3.0
jupyter-console==4.1.1
jupyter-core==4.1.0
llvmlite==0.11.0
locket==0.2.0
lxml==3.6.0
MarkupSafe==0.23
matplotlib==1.5.1
mistune==0.7.2
mpmath==0.19
multipledispatch==0.4.8
nb-anacondacloud==1.1.0
nb-conda==1.1.0
nb-conda-kernels==1.0.3
nbconvert==4.2.0
nbformat==4.0.1
nbpresent==3.0.2
networkx==1.11
nltk==3.2.1
nose==1.3.7
notebook==4.2.1
numba==0.26.0
numexpr==2.6.0
numpy==1.11.1
odo==0.5.0
openpyxl==2.3.2
pandas==0.18.1
partd==0.3.4
path.py==0.0.0
pathlib2==2.1.0
patsy==0.4.1
pep8==1.7.0
pexpect==4.0.1
pickleshare==0.7.2
Pillow==3.2.0
ply==3.8
psutil==4.3.0
ptyprocess==0.5.1
py==1.4.31
pyasn1==0.1.9
pycosat==0.6.1
pycparser==2.14
pycrypto==2.6.1
pycurl==7.43.0
pyflakes==1.2.3
Pygments==2.1.3
pyOpenSSL==16.0.0
pyparsing==2.1.4
pytest==2.9.2
python-dateutil==2.5.3
pytz==2016.4
PyYAML==3.11
pyzmq==15.2.0
qtconsole==4.2.1
QtPy==1.0.2
redis==2.10.5
requests==2.10.0
rope-py3k==0.9.4.post1
ruamel-yaml===-VERSION
scikit-image==0.12.3
scikit-learn==0.17.1
scipy==0.17.1
simplegeneric==0.8.1
singledispatch==3.4.0.3
six==1.10.0
snowballstemmer==1.2.1
sockjs-tornado==1.0.3
Sphinx==1.4.1
sphinx-rtd-theme==0.1.9
spyder==2.3.9
SQLAlchemy==1.0.13
statsmodels==0.6.1
sympy==1.0
tables==3.2.2
terminado==0.6
toolz==0.8.0
tornado==4.3
traitlets==4.2.1
unicodecsv==0.14.1
Werkzeug==0.11.10
xlrd==1.0.0
XlsxWriter==0.9.2
xlwings==0.7.2
xlwt==1.1.2
You are using pip version 8.1.2, however version 9.0.1 is available.
You should consider upgrading via the 'pip install --upgrade pip' command.

In [11]:
data.count

<bound method DataFrame.count of          Unique Key            Created Date             Closed Date Agency  \
0          30264625  03/26/2015 06:50:06 PM  07/22/2015 12:00:00 AM   DSNY
1          30279915  03/28/2015 04:30:52 PM  08/08/2016 12:00:00 AM    DOB
2          30314570  04/01/2015 04:48:00 PM  08/12/2016 04:07:00 PM    DOT
3          30542111  05/04/2015 04:46:00 PM  09/29/2016 06:54:00 PM    DOT
4          30422344  04/17/2015 01:50:07 PM                     NaN   DSNY
5          30543106  05/04/2015 04:41:00 PM  09/29/2016 06:53:00 PM    DOT
6          30542875  05/04/2015 02:49:25 PM                     NaN   DSNY
7          30554653  05/06/2015 12:39:31 AM  08/13/2015 12:00:00 AM   DSNY
8          30554646  05/05/2015 10:49:36 AM  08/22/2016 12:00:00 AM    DOB
9          30556593  05/06/2015 01:04:44 PM  08/07/2015 12:00:00 AM   DSNY
10         30583844  05/09/2015 10:49:42 AM  08/08/2016 12:00:00 AM    DOB
11         30603296  05/12/2015 07:09:38 AM  09/24/2015 12:00:00 AM   DSNY
12         30608938  05/12/2015 10:54:03 AM  08/08/2016 12:00:00 AM    DOB
13         30611693  05/12/2015 09:42:43 PM  08/08/2016 12:00:00 AM    DOB
14         30611765  05/13/2015 02:52:23 PM  07/28/2015 12:00:00 AM   DSNY
15         30626207  05/15/2015 12:51:36 PM  08/08/2016 12:00:00 AM    DOB
16         30630915  05/15/2015 09:58:40 PM                     NaN   DSNY
17         30641550  05/17/2015 09:42:52 AM                     NaN   DSNY
18         30652451  05/18/2015 08:49:28 AM  08/08/2016 12:00:00 AM    DOB
19         30666148  05/20/2015 07:18:56 AM  08/08/2016 12:00:00 AM    DOB
20         30773711  06/04/2015 07:22:00 PM  08/12/2015 12:00:00 AM   DSNY
21         30727980  05/29/2015 01:22:49 PM  08/26/2016 08:09:30 AM    DPR
22         30898293  06/20/2015 01:18:11 PM  08/08/2016 12:00:00 AM    DOB
23         30757251  06/02/2015 02:30:17 PM  08/26/2016 04:00:07 PM    DPR
24         30764347  06/03/2015 09:20:12 PM                     NaN    DPR
25         30764420  06/03/2015 09:12:24 PM                     NaN    DPR
26         30768466  06/04/2015 03:14:28 AM  08/10/2016 12:00:00 AM    DOB
27         30968605  06/29/2015 10:50:12 AM                     NaN   DSNY
28         30805947  06/09/2015 12:49:22 PM  08/26/2016 05:01:32 PM    DPR
29         31034836  07/08/2015 10:23:41 AM  08/08/2016 12:00:00 AM    DOB
...             ...                     ...                     ...    ...
2282068    33375638  06/20/2015 04:25:46 PM                     NaN    DOT
2282069    33375675  06/21/2015 05:13:16 PM                     NaN    DOT
2282070    33375676  06/21/2015 10:02:57 AM                     NaN    DOT
2282071    33375683  06/20/2015 03:36:05 PM                     NaN    DOT
2282072    33375719  06/20/2015 01:14:18 PM                     NaN    DOT
2282073    33375720  06/19/2015 06:53:18 PM                     NaN    DOT
2282074    33375721  06/21/2015 05:01:40 PM                     NaN    DOT
2282075    33376672  06/20/2015 08:47:54 AM                     NaN    DOT
2282076    33376676  06/21/2015 02:49:25 AM                     NaN    DOT
2282077    33376679  06/22/2015 05:53:07 AM                     NaN    DOT
2282078    33376680  06/19/2015 06:52:59 PM                     NaN    DOT
2282079    33376685  06/19/2015 11:35:26 PM                     NaN    DOT
2282080    33376716  06/18/2015 06:11:54 AM                     NaN    DOT
2282081    33377634  06/21/2015 06:55:36 PM                     NaN    DOT
2282082    33377646  06/19/2015 09:50:11 PM                     NaN    DOT
2282083    33377665  06/21/2015 12:47:00 PM                     NaN    DOT
2282084    33377735  06/21/2015 05:59:35 PM                     NaN    DOT
2282085    33377751  06/20/2015 11:18:52 PM                     NaN    DOT
2282086    33378666  06/21/2015 09:52:02 PM                     NaN    DOT
2282087    33378667  06/21/2015 07:32:09 PM                     NaN    DOT
2282088    33378674  06/21/2015 01:20:01 PM                     NaN    DOT
2282089    33378676  06/20/2015 01:17:10 PM                     NaN    DOT
2282090    33378685  06/19/2015 11:38:27 PM                     NaN    DOT
2282091    33378693  06/20/2015 08:49:35 AM                     NaN    DOT
2282092    33378750  06/20/2015 08:56:51 AM                     NaN    DOT
2282093    33379656  06/20/2015 08:50:24 AM                     NaN    DOT
2282094    33379669  06/21/2015 07:30:48 PM                     NaN    DOT
2282095    33435251  09/02/2015 12:58:00 PM  12/14/2015 11:10:00 AM    DEP
2282096    33458138  09/02/2015 08:59:00 AM  12/10/2015 09:07:00 AM    DEP
2282097    33983441  07/16/2015 09:42:04 AM  08/01/2016 12:00:00 AM    DOB

                                    Agency Name  \
0                      Department of Sanitation
1                       Department of Buildings
2                  Department of Transportation
3                  Department of Transportation
4                      Department of Sanitation
5                  Department of Transportation
6                      Department of Sanitation
7                      Department of Sanitation
8                       Department of Buildings
9                      Department of Sanitation
10                      Department of Buildings
11                     Department of Sanitation
12                      Department of Buildings
13                      Department of Buildings
14                     Department of Sanitation
15                      Department of Buildings
16                     Department of Sanitation
17                     Department of Sanitation
18                      Department of Buildings
19                      Department of Buildings
20                     Department of Sanitation
21           Department of Parks and Recreation
22                      Department of Buildings
23           Department of Parks and Recreation
24           Department of Parks and Recreation
25           Department of Parks and Recreation
26                      Department of Buildings
27                     Department of Sanitation
28           Department of Parks and Recreation
29                      Department of Buildings
...                                         ...
2282068            Department of Transportation
2282069            Department of Transportation
2282070            Department of Transportation
2282071            Department of Transportation
2282072            Department of Transportation
2282073            Department of Transportation
2282074            Department of Transportation
2282075            Department of Transportation
2282076            Department of Transportation
2282077            Department of Transportation
2282078            Department of Transportation
2282079            Department of Transportation
2282080            Department of Transportation
2282081            Department of Transportation
2282082            Department of Transportation
2282083            Department of Transportation
2282084            Department of Transportation
2282085            Department of Transportation
2282086            Department of Transportation
2282087            Department of Transportation
2282088            Department of Transportation
2282089            Department of Transportation
2282090            Department of Transportation
2282091            Department of Transportation
2282092            Department of Transportation
2282093            Department of Transportation
2282094            Department of Transportation
2282095  Department of Environmental Protection
2282096  Department of Environmental Protection
2282097                 Department of Buildings

                        Complaint Type  \
0                             Graffiti
1                         Building/Use
2               Street Light Condition
3               Street Light Condition
4                             Graffiti
5               Street Light Condition
6                             Graffiti
7                             Graffiti
8                         Building/Use
9                             Graffiti
10                        Building/Use
11                            Graffiti
12                        Building/Use
13       General Construction/Plumbing
14                            Graffiti
15                        Building/Use
16                            Graffiti
17                            Graffiti
18       General Construction/Plumbing
19                        Building/Use
20                            Graffiti
21             Overgrown Tree/Branches
22                        Building/Use
23             Overgrown Tree/Branches
24             Overgrown Tree/Branches
25             Overgrown Tree/Branches
26                        Building/Use
27                            Graffiti
28             Overgrown Tree/Branches
29       General Construction/Plumbing
...                                ...
2282068               Street Condition
2282069               Street Condition
2282070               Street Condition
2282071               Street Condition
2282072               Street Condition
2282073               Street Condition
2282074               Street Condition
2282075               Street Condition
2282076               Street Condition
2282077               Street Condition
2282078               Street Condition
2282079               Street Condition
2282080               Street Condition
2282081               Street Condition
2282082               Street Condition
2282083               Street Condition
2282084               Street Condition
2282085               Street Condition
2282086               Street Condition
2282087               Street Condition
2282088               Street Condition
2282089               Street Condition
2282090               Street Condition
2282091               Street Condition
2282092               Street Condition
2282093               Street Condition
2282094               Street Condition
2282095                          Sewer
2282096                          Sewer
2282097  General Construction/Plumbing

                                                Descriptor Location Type  \
0                                                 Graffiti     Mixed Use
1          Zoning - Non-Conforming/Illegal Vehicle Storage           NaN
2                               New Con Ed Service Request           NaN
3                               New Con Ed Service Request           NaN
4                                                 Graffiti           NaN
5                               New Con Ed Service Request           NaN
6                                                 Graffiti           NaN
7                                                 Graffiti   Residential
8                 Illegal. Commercial Use In Resident Zone           NaN
9                                                 Graffiti   Residential
10        Illegal Conversion Of Residential Building/Space           NaN
11                                                Graffiti     Mixed Use
12        Illegal Conversion Of Residential Building/Space           NaN
13           Cons - Contrary/Beyond Approved Plans/Permits           NaN
14                                                Graffiti     Mixed Use
15        Illegal Conversion Of Residential Building/Space           NaN
16                                                Graffiti           NaN
17                                                Graffiti           NaN
18         Building Shaking/Vibrating/Structural Stability           NaN
19        Illegal Conversion Of Residential Building/Space           NaN
20                                                Graffiti     Mixed Use
21                                        Hitting Building        Street
22        Illegal Conversion Of Residential Building/Space           NaN
23                                         Blocking Street        Street
24                                         Blocking Street        Street
25                                   Dead Branches in Tree        Street
26       No Certificate Of Occupancy/Illegal/Contrary T...           NaN
27                                                Graffiti           NaN
28                                   Dead Branches in Tree        Street
29                                 Fence - None/Inadequate           NaN
...                                                    ...           ...
2282068                                            Pothole           NaN
2282069                                            Pothole           NaN
2282070                                            Pothole           NaN
2282071                                            Pothole           NaN
2282072                                            Pothole           NaN
2282073                                            Pothole           NaN
2282074                                            Pothole           NaN
2282075                                            Pothole           NaN
2282076                                            Pothole           NaN
2282077                                            Pothole           NaN
2282078                                            Pothole           NaN
2282079                                            Pothole           NaN
2282080                                            Pothole           NaN
2282081                                            Pothole           NaN
2282082                                            Pothole           NaN
2282083                                            Pothole           NaN
2282084                                            Pothole           NaN
2282085                                            Pothole           NaN
2282086                                            Pothole           NaN
2282087                                            Pothole           NaN
2282088                                            Pothole           NaN
2282089                                            Pothole           NaN
2282090                                            Pothole           NaN
2282091                                            Pothole           NaN
2282092                                            Pothole           NaN
2282093                                            Pothole           NaN
2282094                                            Pothole           NaN
2282095            Catch Basin Sunken/Damaged/Raised (SC1)           NaN
2282096             Manhole Cover Broken/Making Noise (SB)           NaN
2282097      Cons - Contrary/Beyond Approved Plans/Permits           NaN

        Incident Zip               Incident Address  \
0              11104                43-07 49 STREET
1              11361               40-20 215 STREET
2                NaN           GLENWOOD HOUSES PLGD
3              11234                            NaN
4              11236             8720 DITMAS AVENUE
5              11234                            NaN
6                NaN             ELI AND NEREID AVE
7              11373           87-33 JUSTICE AVENUE
8              10033           717 WEST  177 STREET
9              10023              2 RIVERSIDE DRIVE
10             11235                  1109 AVENUE X
11             11229             1909 KINGS HIGHWAY
12             11229              2375 BRAGG STREET
13             11226           1333 FLATBUSH AVENUE
14             10014            259 BLEECKER STREET
15             11225       464 EAST NEW YORK AVENUE
16               NaN  HICKS STREET AND HAMILTON AVE
17               NaN                   1234 befford
18             11235      3064 BRIGHTON    6 STREET
19             11210           860 EAST   35 STREET
20             11222              235 DRIGGS AVENUE
21             11209                  531 76 STREET
22             11355        48-15 KISSENA BOULEVARD
23             11207                  SUTTER AVENUE
24             11229          1737 GERRITSEN AVENUE
25             11229          1737 GERRITSEN AVENUE
26             11208                508 PINE STREET
27             10467          3505 WHITEPLAINS ROAD
28             11229          1735 GERRITSEN AVENUE
29             11355              140-02 OAK AVENUE
...              ...                            ...
2282068        10022                            NaN
2282069          NaN                            NaN
2282070        11360                            NaN
2282071        10306              168 CLARKE AVENUE
2282072        11412                            NaN
2282073        11354        135-44 ROOSEVELT AVENUE
2282074        10013              484 BROOME STREET
2282075        10474             287 HALLECK STREET
2282076        10306              170 CLARKE AVENUE
2282077        10022                   940 3 AVENUE
2282078          NaN                            NaN
2282079        10040              40 SHERMAN AVENUE
2282080        10033           160 WADSWORTH AVENUE
2282081        10024          190 CENTRAL PARK WEST
2282082        10308                51 HEINZ AVENUE
2282083        10009               EAST   13 STREET
2282084        10306              174 CLARKE AVENUE
2282085        10013                            NaN
2282086        10029               EAST  102 STREET
2282087        10017                    PARK AVENUE
2282088        10309             296 BAYVIEW AVENUE
2282089        11412                            NaN
2282090        10003               EAST   14 STREET
2282091        10474             287 HALLECK STREET
2282092        10308          223 GREENCROFT AVENUE
2282093        10474             287 HALLECK STREET
2282094        10022                    PARK AVENUE
2282095        11001               87-11 260 STREET
2282096        11691                            NaN
2282097        11222                  38 ASH STREET

                           ...                    Bridge Highway Name  \
0                          ...                                    NaN
1                          ...                                    NaN
2                          ...                                    NaN
3                          ...                                    NaN
4                          ...                                    NaN
5                          ...                                    NaN
6                          ...                                    NaN
7                          ...                                    NaN
8                          ...                                    NaN
9                          ...                                    NaN
10                         ...                                    NaN
11                         ...                                    NaN
12                         ...                                    NaN
13                         ...                                    NaN
14                         ...                                    NaN
15                         ...                                    NaN
16                         ...                                    NaN
17                         ...                                    NaN
18                         ...                                    NaN
19                         ...                                    NaN
20                         ...                                    NaN
21                         ...                                    NaN
22                         ...                                    NaN
23                         ...                                    NaN
24                         ...                                    NaN
25                         ...                                    NaN
26                         ...                                    NaN
27                         ...                                    NaN
28                         ...                                    NaN

In [22]:
col = ['Created Date', 'Incident Zip', 'Complaint Type']

In [28]:
data.shape

(2282098, 53)

In [34]:
data_col = ['Unique Key', 'Created Date', 'Closed Date', 'Due Date', 'Borough']
data_filtered = data[data_col]
data_filtered.head()

,Unique Key,Created Date,Closed Date,Due Date,Borough
0,30264625,03/26/2015 06:50:06 PM,07/22/2015 12:00:00 AM,06/27/2015 10:29:08 AM,QUEENS
1,30279915,03/28/2015 04:30:52 PM,08/08/2016 12:00:00 AM,NaN,QUEENS
2,30314570,04/01/2015 04:48:00 PM,08/12/2016 04:07:00 PM,NaN,BROOKLYN
3,30542111,05/04/2015 04:46:00 PM,09/29/2016 06:54:00 PM,NaN,BROOKLYN
4,30422344,04/17/2015 01:50:07 PM,NaN,NaN,BROOKLYN

In [36]:
data_filtered.dropna(axis=0).head()

,Unique Key,Created Date,Closed Date,Due Date,Borough
0,30264625,03/26/2015 06:50:06 PM,07/22/2015 12:00:00 AM,06/27/2015 10:29:08 AM,QUEENS
7,30554653,05/06/2015 12:39:31 AM,08/13/2015 12:00:00 AM,08/14/2015 03:09:43 PM,QUEENS
9,30556593,05/06/2015 01:04:44 PM,08/07/2015 12:00:00 AM,08/14/2015 03:09:43 PM,MANHATTAN
11,30603296,05/12/2015 07:09:38 AM,09/24/2015 12:00:00 AM,06/27/2015 10:29:08 AM,BROOKLYN
14,30611765,05/13/2015 02:52:23 PM,07/28/2015 12:00:00 AM,06/27/2015 10:29:08 AM,MANHATTAN

#### calculate average

In [47]:
time_range = {'hour':1, 'day':24, 'week': 168}
area = ['tract', 'borough', 'global']

def rolling_total(sub_agg, area, time_range_dict):
    for key in time_range_dict:
        for i in range(len(area)):
            timeframe = datatime.timedelta(hours = time_range_dict[key])
            sub_agg    = sub_agg.sort([area[i],'created_date_parsed'],ascending = True).reset_index(drop = True)
            data_col = sub_agg['created_data_parsed']
            cum_sum = sub_agg[area[i]+'_cum_amt']
            sub_area = sub_agg[area[i]]
            index2 = 0
            last_range = []
            for index in range(len(date_col)):
                matched = False
                prior_date = data_col[index] - timeframe
                while not matched:
                    if (date_col[index2] > prior_date and
                        sub_area[index] == sub_area[index2]):
                        last_range.append(cum_sum[index] - cum_sum[index2])
                        matched = True
                    else:
                        index2 = index2 + 1
            sub_agg[area[i] + "_last_" + key] = np.array(last_range)
                        
            print ("finished with " + key + " hour " + area[i])  
        return sub_agg
    new_totals = rolling_total(sub_agg, area, time_range)
    print(new_total)

In [49]:
newdata = pd.to_datetime(data_filtered['Created Date'], format = ('%I/%d/%Y %H:%M:%S %p'))

In [62]:
newdata.apply(lambda x: x.strftime('%I-%d-%Y%S'))

0          06
1          52
2          00
3          00
4          07
5          00
6          25
7          31
8          36
9          44
10         42
11         38
12         03
13         43
14         23
15         36
16         40
17         52
18         28
19         56
20         00
21         49
22         11
23         17
24         12
25         24
26         28
27         12
28         22
29         41
           ..
2282068    46
2282069    16
2282070    57
2282071    05
2282072    18
2282073    18
2282074    40
2282075    54
2282076    25
2282077    07
2282078    59
2282079    26
2282080    54
2282081    36
2282082    11
2282083    00
2282084    35
2282085    52
2282086    02
2282087    09
2282088    01
2282089    10
2282090    27
2282091    35
2282092    51
2282093    24
2282094    48
2282095    00
2282096    00
2282097    04
Name: Created Date, dtype: object

In [59]:
hour_count_arr = {}

for i in newdata.index:
    hour_count_arr[i] = newdata[i].hour

In [70]:
newdata.apply(lambda x: x.strftime('%I-%d-%Y'))

0          06-26-2015
1          04-28-2015
2          04-01-2015
3          04-04-2015
4          01-17-2015
5          04-04-2015
6          02-04-2015
7          12-06-2015
8          10-05-2015
9          01-06-2015
10         10-09-2015
11         07-12-2015
12         10-12-2015
13         09-12-2015
14         02-13-2015
15         12-15-2015
16         09-15-2015
17         09-17-2015
18         08-18-2015
19         07-20-2015
20         07-04-2015
21         01-29-2015
22         01-20-2015
23         02-02-2015
24         09-03-2015
25         09-03-2015
26         03-04-2015
27         10-29-2015
28         12-09-2015
29         10-08-2015
              ...
2282068    04-20-2015
2282069    05-21-2015
2282070    10-21-2015
2282071    03-20-2015
2282072    01-20-2015
2282073    06-19-2015
2282074    05-21-2015
2282075    08-20-2015
2282076    02-21-2015
2282077    05-22-2015
2282078    06-19-2015
2282079    11-19-2015
2282080    06-18-2015
2282081    06-21-2015
2282082    09-19-2015
2282083    12-21-2015
2282084    05-21-2015
2282085    11-20-2015
2282086    09-21-2015
2282087    07-21-2015
2282088    01-21-2015
2282089    01-20-2015
2282090    11-19-2015
2282091    08-20-2015
2282092    08-20-2015
2282093    08-20-2015
2282094    07-21-2015
2282095    12-02-2015
2282096    08-02-2015
2282097    09-16-2015
Name: Created Date, dtype: object

In [78]:
newdata[1] - newdata[0]

Timedelta('1 days 21:40:46')

In [106]:
data.describe()

/Users/Derrick/anaconda3/envs/venvforconda/lib/python3.5/site-packages/numpy/lib/function_base.py:3834: RuntimeWarning: Invalid value encountered in percentile
  RuntimeWarning)

,Unique Key,X Coordinate (State Plane),Y Coordinate (State Plane),School or Citywide Complaint,Latitude,Longitude
count,2.282098e+06,2.047944e+06,2.047944e+06,0.0,2.047944e+06,2.047944e+06
mean,3.095266e+07,1.005212e+06,2.058314e+05,NaN,4.073158e+01,-7.392433e+01
std,7.841372e+05,2.225079e+04,3.149028e+04,NaN,8.643610e-02,8.023803e-02
min,1.056422e+07,-1.955550e+05,-1.955550e+05,NaN,3.955256e+01,-7.818451e+01
25%,3.027247e+07,NaN,NaN,NaN,NaN,NaN
50%,3.094694e+07,NaN,NaN,NaN,NaN,NaN
75%,3.163134e+07,NaN,NaN,NaN,NaN,NaN
max,3.452464e+07,1.067302e+06,2.718760e+05,NaN,4.091287e+01,-7.370029e+01

In [107]:
data.columns

Index(['Unique Key', 'Created Date', 'Closed Date', 'Agency', 'Agency Name',
       'Complaint Type', 'Descriptor', 'Location Type', 'Incident Zip',
       'Incident Address', 'Street Name', 'Cross Street 1', 'Cross Street 2',
       'Intersection Street 1', 'Intersection Street 2', 'Address Type',
       'City', 'Landmark', 'Facility Type', 'Status', 'Due Date',
       'Resolution Description', 'Resolution Action Updated Date',
       'Community Board', 'Borough', 'X Coordinate (State Plane)',
       'Y Coordinate (State Plane)', 'Park Facility Name', 'Park Borough',
       'School Name', 'School Number', 'School Region', 'School Code',
       'School Phone Number', 'School Address', 'School City', 'School State',
       'School Zip', 'School Not Found', 'School or Citywide Complaint',
       'Vehicle Type', 'Taxi Company Borough', 'Taxi Pick Up Location',
       'Bridge Highway Name', 'Bridge Highway Direction', 'Road Ramp',
       'Bridge Highway Segment', 'Garage Lot Name', 'Ferry Direction',
       'Ferry Terminal Name', 'Latitude', 'Longitude', 'Location'],
      dtype='object')

In [111]:
due_date = data["Due Date"]

In [ ]:
data.groupby(data["Due Date"]).Borough.describe()