In [1236]:
from pylab import *
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline
from sklearn.cross_validation import cross_val_score
from sklearn.neighbors import KNeighborsClassifier
from sklearn.lda import LDA
import datetime
import re
from sklearn.ensemble import RandomForestRegressor

#data1 = "/Users/Derrick/Desktop/data science new topic/SAT_Results.csv" # data path to data
#data2 = "/Users/Derrick/Desktop/data science new topic/nysd.csv"
#data3 = "/Users/Derrick/Desktop/data science new topic/NYS_Math_Test_Results_By_Grade_2006-2011_-_School_Level_-_All_Students.csv"
#data4 = "/Users/Derrick/Desktop/data science new topic/School_Attendance_and_Enrollment_Statistics_by_District__2010-11.csv"
#data5 = "/Users/Derrick/Desktop/data science new topic/School_Demographics_and_Accountability_Snapshot_2006-2012.csv"
#data6 = "/Users/Derrick/Desktop/data science new topic/Graduation_Outcomes_-_Classes_Of_2005-2010_-_School_Level.csv"
#data7 = "/Users/Derrick/Desktop/data science new topic/AP__College_Board__2010_School_Level_Results.csv"
#data8 = "/Users/Derrick/Desktop/data science new topic/2010-2011_Class_Size_-_School-level_detail.csv"
#data9 = "/Users/Derrick/Desktop/data science new topic/masterfile11_d75_final.xlsx"
#data10 = "/Users/Derrick/Desktop/data science new topic/masterfile11_gened_final.xlsx"
#data11 = "/Users/Derrick/Desktop/data science new topic/Survey Data Dictionary.xls"

data1 = "/Users/dev_derrick/Desktop/data science new topic/SAT_Results.csv" # data path to data
#data1 = "/Users/dev_derrick/Desktop/data science new topic/SAT__College_Board__2010_School_Level_Results.csv"
data2 = "/Users/dev_derrick/Desktop/data science new topic/nysd.csv"
data3 = "/Users/dev_derrick/Desktop/data science new topic/NYS_Math_Test_Results_By_Grade_2006-2011_-_School_Level_-_All_Students.csv"
data4 = "/Users/dev_derrick/Desktop/data science new topic/School_Attendance_and_Enrollment_Statistics_by_District__2010-11_.csv"
data5 = "/Users/dev_derrick/Desktop/data science new topic/School_Demographics_and_Accountability_Snapshot_2006-2012.csv"
data6 = "/Users/dev_derrick/Desktop/data science new topic/Graduation_Outcomes_-_Classes_Of_2005-2010_-_School_Level.csv"
data7 = "/Users/dev_derrick/Desktop/data science new topic/AP__College_Board__2010_School_Level_Results.csv"
data8 = "/Users/dev_derrick/Desktop/data science new topic/2010-2011_Class_Size_-_School-level_detail.csv"
#data8 = "/Users/dev_derrick/Desktop/data science new topic/2009-10_Class_Size_-_School-level_Detail.csv"
data9 = "/Users/dev_derrick/Desktop/data science new topic/masterfile11_d75_final.txt"
data10 = "/Users/dev_derrick/Desktop/data science new topic/masterfile11_gened_final.txt"
data11 = "/Users/dev_derrick/Desktop/data science new topic/Survey Data Dictionary.xls"
data12 = "/Users/dev_derrick/Desktop/data science new topic/DOE_High_School_Directory_2014-2015.csv"
data13 = "/Users/dev_derrick/Desktop/data science new topic/School_Progress_Report_2010-2011.csv"
#data13 = "/Users/dev_derrick/Desktop/data science new topic/School_Progress_Reports_-_All_Schools_-_2009-10.csv"
data14 = "/Users/dev_derrick/Desktop/data science new topic/School_District_Breakdowns.csv"
data15 = "/Users/dev_derrick/Desktop/data science new topic/attendance.csv"

In [1237]:
readFile1 = pd.read_csv(data1)
readFile1.head()

,DBN,SCHOOL NAME,Num of SAT Test Takers,SAT Critical Reading Avg. Score,SAT Math Avg. Score,SAT Writing Avg. Score
0,01M292,HENRY STREET SCHOOL FOR INTERNATIONAL STUDIES,29,355,404,363
1,01M448,UNIVERSITY NEIGHBORHOOD HIGH SCHOOL,91,383,423,366
2,01M450,EAST SIDE COMMUNITY SCHOOL,70,377,402,370
3,01M458,FORSYTH SATELLITE ACADEMY,7,414,401,359
4,01M509,MARTA VALLE HIGH SCHOOL,44,390,433,384

In [1238]:
readFile1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 478 entries, 0 to 477
Data columns (total 6 columns):
DBN                                478 non-null object
SCHOOL NAME                        478 non-null object
Num of SAT Test Takers             478 non-null object
SAT Critical Reading Avg. Score    478 non-null object
SAT Math Avg. Score                478 non-null object
SAT Writing Avg. Score             478 non-null object
dtypes: object(6)
memory usage: 22.5+ KB

In [1239]:
readFile2 = pd.read_csv(data2)
readFile2.head()

,the_geom,SchoolDist,Shape_Leng,Shape_Area
0,MULTIPOLYGON (((-73.82049919995312 40.80101146...,25,175816.081000,4.436314e+08
1,MULTIPOLYGON (((-74.02552971543656 40.65147855...,20,95513.486010,2.427230e+08
2,MULTIPOLYGON (((-73.95671863064405 40.78660079...,3,52071.976405,1.134879e+08
3,MULTIPOLYGON (((-73.92133752419399 40.80085210...,4,52056.107857,5.262001e+07
4,MULTIPOLYGON (((-73.74344992332192 40.77824115...,26,125716.377003,4.249042e+08

In [1240]:
readFile3 = pd.read_csv(data3)
readFile3.head()

,DBN,Grade,Year,Category,Number Tested,Mean Scale Score,Level 1 #,Level 1 %,Level 2 #,Level 2 %,Level 3 #,Level 3 %,Level 4 #,Level 4 %,Level 3+4 #,Level 3+4 %
0,01M015,3,2006,All Students,39,667,2,5.1%,11,28.2%,20,51.3%,6,15.4%,26,66.7%
1,01M015,3,2007,All Students,31,672,2,6.5%,3,9.7%,22,71%,4,12.9%,26,83.9%
2,01M015,3,2008,All Students,37,668,0,0%,6,16.2%,29,78.4%,2,5.4%,31,83.8%
3,01M015,3,2009,All Students,33,668,0,0%,4,12.1%,28,84.8%,1,3%,29,87.9%
4,01M015,3,2010,All Students,26,677,6,23.1%,12,46.2%,6,23.1%,2,7.7%,8,30.8%

In [1241]:
readFile4 = pd.read_csv(data4)
readFile4.head()

      District YTD % Attendance (Avg)  YTD Enrollment(Avg)
0  DISTRICT 01                 91.18%                12367
1  DISTRICT 02                 89.01%                60823
2  DISTRICT 03                 89.28%                21962
3  DISTRICT 04                 91.13%                14252
4  DISTRICT 05                 89.08%                13170

In [1242]:
readFile5 = pd.read_csv(data5)
readFile5.head()

,DBN,Name,schoolyear,fl_percent,frl_percent,total_enrollment,prek,k,grade1,grade2,...,black_num,black_per,hispanic_num,hispanic_per,white_num,white_per,male_num,male_per,female_num,female_per
0,01M015,P.S. 015 ROBERTO CLEMENTE,20052006,89.4,NaN,281,15,36,40,33,...,74,26.3,189,67.3,5,1.8,158.0,56.2,123.0,43.8
1,01M015,P.S. 015 ROBERTO CLEMENTE,20062007,89.4,NaN,243,15,29,39,38,...,68,28.0,153,63.0,4,1.6,140.0,57.6,103.0,42.4
2,01M015,P.S. 015 ROBERTO CLEMENTE,20072008,89.4,NaN,261,18,43,39,36,...,77,29.5,157,60.2,7,2.7,143.0,54.8,118.0,45.2
3,01M015,P.S. 015 ROBERTO CLEMENTE,20082009,89.4,NaN,252,17,37,44,32,...,75,29.8,149,59.1,7,2.8,149.0,59.1,103.0,40.9
4,01M015,P.S. 015 ROBERTO CLEMENTE,20092010,,96.5,208,16,40,28,32,...,67,32.2,118,56.7,6,2.9,124.0,59.6,84.0,40.4

In [1243]:
readFile6 = pd.read_csv(data6)
readFile6.head()

,Demographic,DBN,School Name,Cohort,Total Cohort,Total Grads - n,Total Grads - % of cohort,Total Regents - n,Total Regents - % of cohort,Total Regents - % of grads,...,Regents w/o Advanced - n,Regents w/o Advanced - % of cohort,Regents w/o Advanced - % of grads,Local - n,Local - % of cohort,Local - % of grads,Still Enrolled - n,Still Enrolled - % of cohort,Dropped Out - n,Dropped Out - % of cohort
0,Total Cohort,01M292,HENRY STREET SCHOOL FOR INTERNATIONAL,2003,5,s,s,s,s,s,...,s,s,s,s,s,s,s,s,s,s
1,Total Cohort,01M292,HENRY STREET SCHOOL FOR INTERNATIONAL,2004,55,37,67.3%,17,30.9%,45.9%,...,17,30.9%,45.9%,20,36.4%,54.1%,15,27.3%,3,5.5%
2,Total Cohort,01M292,HENRY STREET SCHOOL FOR INTERNATIONAL,2005,64,43,67.2%,27,42.2%,62.8%,...,27,42.2%,62.8%,16,25%,37.200000000000003%,9,14.1%,9,14.1%
3,Total Cohort,01M292,HENRY STREET SCHOOL FOR INTERNATIONAL,2006,78,43,55.1%,36,46.2%,83.7%,...,36,46.2%,83.7%,7,9%,16.3%,16,20.5%,11,14.1%
4,Total Cohort,01M292,HENRY STREET SCHOOL FOR INTERNATIONAL,2006 Aug,78,44,56.4%,37,47.4%,84.1%,...,37,47.4%,84.1%,7,9%,15.9%,15,19.2%,11,14.1%

In [1244]:
readFile7 = pd.read_csv(data7)
readFile7.head()

,DBN,SchoolName,AP Test Takers,Total Exams Taken,Number of Exams with scores 3 4 or 5
0,01M448,UNIVERSITY NEIGHBORHOOD H.S.,39,49,10
1,01M450,EAST SIDE COMMUNITY HS,19,21,s
2,01M515,LOWER EASTSIDE PREP,24,26,24
3,01M539,"NEW EXPLORATIONS SCI,TECH,MATH",255,377,191
4,02M296,High School of Hospitality Management,s,s,s

In [1245]:
readFile8 = pd.read_csv(data8)
readFile8.head()

,CSD,BOROUGH,SCHOOL CODE,SCHOOL NAME,GRADE,PROGRAM TYPE,CORE SUBJECT (MS CORE and 9-12 ONLY),CORE COURSE (MS CORE and 9-12 ONLY),SERVICE CATEGORY(K-9* ONLY),NUMBER OF STUDENTS / SEATS FILLED,NUMBER OF SECTIONS,AVERAGE CLASS SIZE,SIZE OF SMALLEST CLASS,SIZE OF LARGEST CLASS,DATA SOURCE,SCHOOLWIDE PUPIL-TEACHER RATIO
0,1,M,M015,P.S. 015 Roberto Clemente,0K,GEN ED,-,-,-,19.0,1.0,19.0,19.0,19.0,ATS,NaN
1,1,M,M015,P.S. 015 Roberto Clemente,0K,CTT,-,-,-,21.0,1.0,21.0,21.0,21.0,ATS,NaN
2,1,M,M015,P.S. 015 Roberto Clemente,01,GEN ED,-,-,-,17.0,1.0,17.0,17.0,17.0,ATS,NaN
3,1,M,M015,P.S. 015 Roberto Clemente,01,CTT,-,-,-,17.0,1.0,17.0,17.0,17.0,ATS,NaN
4,1,M,M015,P.S. 015 Roberto Clemente,02,GEN ED,-,-,-,15.0,1.0,15.0,15.0,15.0,ATS,NaN

In [1246]:
readFile12 = pd.read_csv(data12)
readFile12.head()

,dbn,school_name,boro,building_code,phone_number,fax_number,grade_span_min,grade_span_max,expgrade_span_min,expgrade_span_max,...,priority02,priority03,priority04,priority05,priority06,priority07,priority08,priority09,priority10,Location 1
0,17K548,Brooklyn School for Music & Theatre,Brooklyn,K440,718-230-6250,718-230-6262,9,12,NaN,NaN,...,Then to New York City residents,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"883 Classon Avenue\nBrooklyn, NY 11225\n(40.67..."
1,09X543,High School for Violin and Dance,Bronx,X400,718-842-0687,718-589-9849,9,12,NaN,NaN,...,Then to New York City residents who attend an ...,Then to Bronx students or residents,Then to New York City residents,NaN,NaN,NaN,NaN,NaN,NaN,"1110 Boston Road\nBronx, NY 10456\n(40.8276026..."
2,09X327,Comprehensive Model School Project M.S. 327,Bronx,X240,718-294-8111,718-294-8109,6,12,NaN,NaN,...,Then to Bronx students or residents who attend...,Then to New York City residents who attend an ...,Then to Bronx students or residents,Then to New York City residents,NaN,NaN,NaN,NaN,NaN,"1501 Jerome Avenue\nBronx, NY 10452\n(40.84241..."
3,02M280,Manhattan Early College School for Advertising,Manhattan,M520,718-935-3477,NaN,9,10,9,14.0,...,Then to New York City residents who attend an ...,Then to Manhattan students or residents,Then to New York City residents,NaN,NaN,NaN,NaN,NaN,NaN,"411 Pearl Street\nNew York, NY 10038\n(40.7106..."
4,28Q680,Queens Gateway to Health Sciences Secondary Sc...,Queens,Q695,718-969-3155,718-969-3552,6,12,NaN,NaN,...,Then to Districts 28 and 29 students or residents,Then to Queens students or residents,Then to New York City residents,NaN,NaN,NaN,NaN,NaN,NaN,"160-20 Goethals Avenue\nJamaica, NY 11432\n(40..."

In [1247]:
readFile5["DBN"].head()

0    01M015
1    01M015
2    01M015
3    01M015
4    01M015
Name: DBN, dtype: object

#### add DBN column into readfile8, including CSD, Borough and School Code

In [1248]:
#readFile8["DBN"] = readFile8.apply(lambda x: "{0:02d}{1}".format(x["CSD"], x["SCHOOL CODE"]), axis=1)
#readFile8.head()

In [1249]:
#new_readFile8 = readFile8.drop(readFile8.columns[[0, 1, 2]], axis=1)

In [1250]:
#new_readFile8.head()

In [1251]:
#cols = new_readFile8.columns.tolist()
#cols

In [1252]:
#cols_switch = cols[-1:] + cols[:-1]
#cols_switch

In [1253]:
#new_readFile8 =  new_readFile8[cols_switch]
#new_readFile8.head()

#### change column[dbn] name in readFile12 to DBN

In [1254]:
readFile12["DBN"] = readFile12["dbn"]
readFile12.head()

,dbn,school_name,boro,building_code,phone_number,fax_number,grade_span_min,grade_span_max,expgrade_span_min,expgrade_span_max,...,priority03,priority04,priority05,priority06,priority07,priority08,priority09,priority10,Location 1,DBN
0,17K548,Brooklyn School for Music & Theatre,Brooklyn,K440,718-230-6250,718-230-6262,9,12,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"883 Classon Avenue\nBrooklyn, NY 11225\n(40.67...",17K548
1,09X543,High School for Violin and Dance,Bronx,X400,718-842-0687,718-589-9849,9,12,NaN,NaN,...,Then to Bronx students or residents,Then to New York City residents,NaN,NaN,NaN,NaN,NaN,NaN,"1110 Boston Road\nBronx, NY 10456\n(40.8276026...",09X543
2,09X327,Comprehensive Model School Project M.S. 327,Bronx,X240,718-294-8111,718-294-8109,6,12,NaN,NaN,...,Then to New York City residents who attend an ...,Then to Bronx students or residents,Then to New York City residents,NaN,NaN,NaN,NaN,NaN,"1501 Jerome Avenue\nBronx, NY 10452\n(40.84241...",09X327
3,02M280,Manhattan Early College School for Advertising,Manhattan,M520,718-935-3477,NaN,9,10,9,14.0,...,Then to Manhattan students or residents,Then to New York City residents,NaN,NaN,NaN,NaN,NaN,NaN,"411 Pearl Street\nNew York, NY 10038\n(40.7106...",02M280
4,28Q680,Queens Gateway to Health Sciences Secondary Sc...,Queens,Q695,718-969-3155,718-969-3552,6,12,NaN,NaN,...,Then to Queens students or residents,Then to New York City residents,NaN,NaN,NaN,NaN,NaN,NaN,"160-20 Goethals Avenue\nJamaica, NY 11432\n(40...",28Q680

In [1255]:
new_readFile12 = readFile12.drop(readFile12.columns[[0]], axis=1)
#new_readFile12.head()

In [1256]:
cols2 = new_readFile12.columns.tolist()
cols2

['school_name',
 'boro',
 'building_code',
 'phone_number',
 'fax_number',
 'grade_span_min',
 'grade_span_max',
 'expgrade_span_min',
 'expgrade_span_max',
 'bus',
 'subway',
 'primary_address_line_1',
 'city',
 'state_code',
 'zip',
 'website',
 'total_students',
 'campus_name',
 'school_type',
 'overview_paragraph',
 'program_highlights',
 'language_classes',
 'advancedplacement_courses',
 'online_ap_courses',
 'online_language_courses',
 'extracurricular_activities',
 'psal_sports_boys',
 'psal_sports_girls',
 'psal_sports_coed',
 'school_sports',
 'partner_cbo',
 'partner_hospital',
 'partner_highered',
 'partner_cultural',
 'partner_nonprofit',
 'partner_corporate',
 'partner_financial',
 'partner_other',
 'addtl_info1',
 'addtl_info2',
 'start_time',
 'end_time',
 'se_services',
 'ell_programs',
 'school_accessibility_description',
 'number_programs',
 'priority01',
 'priority02',
 'priority03',
 'priority04',
 'priority05',
 'priority06',
 'priority07',
 'priority08',
 'priority09',
 'priority10',
 'Location 1',
 'DBN']

In [1257]:
cols2_switch = cols2[-1:] + cols2[:-1]
cols2_switch

['DBN',
 'school_name',
 'boro',
 'building_code',
 'phone_number',
 'fax_number',
 'grade_span_min',
 'grade_span_max',
 'expgrade_span_min',
 'expgrade_span_max',
 'bus',
 'subway',
 'primary_address_line_1',
 'city',
 'state_code',
 'zip',
 'website',
 'total_students',
 'campus_name',
 'school_type',
 'overview_paragraph',
 'program_highlights',
 'language_classes',
 'advancedplacement_courses',
 'online_ap_courses',
 'online_language_courses',
 'extracurricular_activities',
 'psal_sports_boys',
 'psal_sports_girls',
 'psal_sports_coed',
 'school_sports',
 'partner_cbo',
 'partner_hospital',
 'partner_highered',
 'partner_cultural',
 'partner_nonprofit',
 'partner_corporate',
 'partner_financial',
 'partner_other',
 'addtl_info1',
 'addtl_info2',
 'start_time',
 'end_time',
 'se_services',
 'ell_programs',
 'school_accessibility_description',
 'number_programs',
 'priority01',
 'priority02',
 'priority03',
 'priority04',
 'priority05',
 'priority06',
 'priority07',
 'priority08',
 'priority09',
 'priority10',
 'Location 1']

In [1258]:
new_readFile12 = new_readFile12[cols2_switch]
new_readFile12.head()

,DBN,school_name,boro,building_code,phone_number,fax_number,grade_span_min,grade_span_max,expgrade_span_min,expgrade_span_max,...,priority02,priority03,priority04,priority05,priority06,priority07,priority08,priority09,priority10,Location 1
0,17K548,Brooklyn School for Music & Theatre,Brooklyn,K440,718-230-6250,718-230-6262,9,12,NaN,NaN,...,Then to New York City residents,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"883 Classon Avenue\nBrooklyn, NY 11225\n(40.67..."
1,09X543,High School for Violin and Dance,Bronx,X400,718-842-0687,718-589-9849,9,12,NaN,NaN,...,Then to New York City residents who attend an ...,Then to Bronx students or residents,Then to New York City residents,NaN,NaN,NaN,NaN,NaN,NaN,"1110 Boston Road\nBronx, NY 10456\n(40.8276026..."
2,09X327,Comprehensive Model School Project M.S. 327,Bronx,X240,718-294-8111,718-294-8109,6,12,NaN,NaN,...,Then to Bronx students or residents who attend...,Then to New York City residents who attend an ...,Then to Bronx students or residents,Then to New York City residents,NaN,NaN,NaN,NaN,NaN,"1501 Jerome Avenue\nBronx, NY 10452\n(40.84241..."
3,02M280,Manhattan Early College School for Advertising,Manhattan,M520,718-935-3477,NaN,9,10,9,14.0,...,Then to New York City residents who attend an ...,Then to Manhattan students or residents,Then to New York City residents,NaN,NaN,NaN,NaN,NaN,NaN,"411 Pearl Street\nNew York, NY 10038\n(40.7106..."
4,28Q680,Queens Gateway to Health Sciences Secondary Sc...,Queens,Q695,718-969-3155,718-969-3552,6,12,NaN,NaN,...,Then to Districts 28 and 29 students or residents,Then to Queens students or residents,Then to New York City residents,NaN,NaN,NaN,NaN,NaN,NaN,"160-20 Goethals Avenue\nJamaica, NY 11432\n(40..."

#### compress some data in readFile8

In [1259]:
#class_size = new_readFile8
#class_size = class_size[class_size["GRADE "] == "09-12"]
#class_size = class_size[class_size["PROGRAM TYPE"] == "GEN ED"]
#class_size = class_size.groupby("DBN").agg(np.mean)
#class_size.reset_index(inplace=True)
#new_readFile8 = class_size

In [1260]:
#new_readFile8.head()

In [1261]:
demographic = readFile5
demographic = demographic[demographic["schoolyear"] == 20112012]
readFile5 = demographic

In [1262]:
readFile5.head()

,DBN,Name,schoolyear,fl_percent,frl_percent,total_enrollment,prek,k,grade1,grade2,...,black_num,black_per,hispanic_num,hispanic_per,white_num,white_per,male_num,male_per,female_num,female_per
6,01M015,P.S. 015 ROBERTO CLEMENTE,20112012,NaN,89.4,189,13,31,35,28,...,63,33.3,109,57.7,4,2.1,97.0,51.3,92.0,48.7
13,01M019,P.S. 019 ASHER LEVY,20112012,NaN,61.5,328,32,46,52,54,...,81,24.7,158,48.2,28,8.5,147.0,44.8,181.0,55.2
20,01M020,PS 020 ANNA SILVER,20112012,NaN,92.5,626,52,102,121,87,...,55,8.8,357,57.0,16,2.6,330.0,52.7,296.0,47.3
27,01M034,PS 034 FRANKLIN D ROOSEVELT,20112012,NaN,99.7,401,14,34,38,36,...,90,22.4,275,68.6,8,2.0,204.0,50.9,197.0,49.1
35,01M063,PS 063 WILLIAM MCKINLEY,20112012,NaN,78.9,176,18,20,30,21,...,41,23.3,110,62.5,15,8.5,97.0,55.1,79.0,44.9

In [1263]:
new_readFile3 = readFile3[readFile3["Year"] == 2011]
new_readFile3 = readFile3[readFile3["Grade"] == "8"]

In [1264]:
new_readFile3

,DBN,Grade,Year,Category,Number Tested,Mean Scale Score,Level 1 #,Level 1 %,Level 2 #,Level 2 %,Level 3 #,Level 3 %,Level 4 #,Level 4 %,Level 3+4 #,Level 3+4 %
106,01M034,8,2006,All Students,66,617,29,43.9%,28,42.4%,9,13.6%,0,0%,9,13.6%
107,01M034,8,2007,All Students,48,636,15,31.3%,18,37.5%,13,27.1%,2,4.2%,15,31.3%
108,01M034,8,2008,All Students,54,648,3,5.6%,26,48.1%,23,42.6%,2,3.7%,25,46.3%
109,01M034,8,2009,All Students,67,653,8,11.9%,18,26.9%,39,58.2%,2,3%,41,61.2%
110,01M034,8,2010,All Students,59,651,16,27.1%,36,61%,6,10.2%,1,1.7%,7,11.9%
111,01M034,8,2011,All Students,48,646,15,31.3%,22,45.8%,11,22.9%,0,0%,11,22.9%
188,01M110,8,2006,All Students,45,645,6,13.3%,22,48.9%,14,31.1%,3,6.7%,17,37.8%
275,01M140,8,2006,All Students,94,629,26,27.7%,48,51.1%,18,19.1%,2,2.1%,20,21.3%
276,01M140,8,2007,All Students,87,633,20,23%,41,47.1%,26,29.9%,0,0%,26,29.9%
277,01M140,8,2008,All Students,63,657,4,6.3%,20,31.7%,33,52.4%,6,9.5%,39,61.9%
278,01M140,8,2009,All Students,68,653,8,11.8%,20,29.4%,40,58.8%,0,0%,40,58.8%
279,01M140,8,2010,All Students,62,667,6,9.7%,30,48.4%,23,37.1%,3,4.8%,26,41.9%
280,01M140,8,2011,All Students,61,665,1,1.6%,43,70.5%,17,27.9%,0,0%,17,27.9%
342,01M184,8,2007,All Students,46,698,0,0%,1,2.2%,24,52.2%,21,45.7%,45,97.8%
343,01M184,8,2008,All Students,56,718,0,0%,1,1.8%,15,26.8%,40,71.4%,55,98.2%
344,01M184,8,2009,All Students,51,719,0,0%,0,0%,12,23.5%,39,76.5%,51,100%
345,01M184,8,2010,All Students,54,723,0,0%,2,3.7%,11,20.4%,41,75.9%,52,96.3%
346,01M184,8,2011,All Students,49,727,0,0%,0,0%,5,10.2%,44,89.8%,49,100%
383,01M188,8,2006,All Students,63,627,13,20.6%,38,60.3%,12,19%,0,0%,12,19%
384,01M188,8,2007,All Students,51,649,5,9.8%,20,39.2%,24,47.1%,2,3.9%,26,51%
385,01M188,8,2008,All Students,56,665,2,3.6%,15,26.8%,35,62.5%,4,7.1%,39,69.6%
386,01M188,8,2009,All Students,57,667,1,1.8%,11,19.3%,42,73.7%,3,5.3%,45,78.9%
387,01M188,8,2010,All Students,61,657,9,14.8%,40,65.6%,11,18%,1,1.6%,12,19.7%
388,01M188,8,2011,All Students,49,658,10,20.4%,26,53.1%,10,20.4%,3,6.1%,13,26.5%
406,01M292,8,2006,All Students,65,627,18,27.7%,30,46.2%,16,24.6%,1,1.5%,17,26.2%
407,01M292,8,2007,All Students,71,640,12,16.9%,38,53.5%,18,25.4%,3,4.2%,21,29.6%
408,01M292,8,2008,All Students,70,647,6,8.6%,33,47.1%,29,41.4%,2,2.9%,31,44.3%
409,01M292,8,2009,All Students,54,655,4,7.4%,17,31.5%,30,55.6%,3,5.6%,33,61.1%
410,01M292,8,2010,All Students,76,642,24,31.6%,44,57.9%,8,10.5%,0,0%,8,10.5%
411,01M292,8,2011,All Students,49,650,15,30.6%,25,51%,7,14.3%,2,4.1%,9,18.4%
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
28286,75X176,8,2011,All Students,2,s,s,s,s,s,s,s,s,s,s,s
28323,75X186,8,2006,All Students,28,560,25,89.3%,3,10.7%,0,0%,0,0%,0,0%
28324,75X186,8,2007,All Students,22,590,18,81.8%,4,18.2%,0,0%,0,0%,0,0%
28325,75X186,8,2008,All Students,23,579,21,91.3%,2,8.7%,0,0%,0,0%,0,0%
28326,75X186,8,2009,All Students,27,617,10,37%,14,51.9%,3,11.1%,0,0%,3,11.1%
28327,75X186,8,2010,All Students,37,600,35,94.6%,2,5.4%,0,0%,0,0%,0,0%
28328,75X186,8,2011,All Students,31,596,23,74.2%,8,25.8%,0,0%,0,0%,0,0%
28364,75X188,8,2006,All Students,27,577,22,81.5%,4,14.8%,1,3.7%,0,0%,1,3.7%
28365,75X188,8,2007,All Students,43,588,31,72.1%,11,25.6%,1,2.3%,0,0%,1,2.3%
28366,75X188,8,2008,All Students,42,579,32,76.2%,9,21.4%,1,2.4%,0,0%,1,2.4%
28367,75X188,8,2009,All Students,43,622,13,30.2%,21,48.8%,9,20.9%,0,0%,9,20.9%
28368,75X188,8,2010,All Students,38,614,32,84.2%,5,13.2%,1,2.6%,0,0%,1,2.6%
28369,75X188,8,2011,All Students,33,606,25,75.8%,5,15.2%,2,6.1%,1,3%,3,9.1%
28401,75X352,8,2007,All Students,9,573,9,100%,0,0%,0,0%,0,0%,0,0%
28402,75X352,8,2008,All Students,11,606,6,54.5%,4,36.4%,1,9.1%,0,0%,1,9.1%
28403,75X352,8,2009,All Students,6,624,3,50%,2,33.3%,1,16.7%,0,0%,1,16.7%
28404,75X352,8,2010,All Students,17,617,12,70.6%,3,17.6%,1,5.9%,1,5.9%,2,11.8%
28405,75X352,8,2011,All Students,13,610,10,76.9%,3,23.1%,0,0%,0,0%,0,0%
28425,75X721,8,2006,All Students,3,s,s,s,s,s,s,s,s,s,s,s
28426,75X721,8,2007,All Students,5,s,s,s,s,s,s,s,s,s,s,s
28427,75X721,8,2008,All Students,2,s,s,s,s,s,s,s,s,s,s,s
28428,75X721,8,2009,All Students,3,s,s,s,s,s,s,s,s,s,s,s
28429,75X721,8,2010,All Students,3,s,s,s,s,s,s,s,s,s,s,s
28430,75X721,8,2011,All Students,4,s,s,s,s,s,s,s,s,s,s,s
28466,75X723,8,2006,All Students,20,540,19,95%,1,5%,0,0%,0,0%,0,0%
28467,75X723,8,2007,All Students,27,570,24,88.9%,3,11.1%,0,0%,0,0%,0,0%
28468,75X723,8,2008,All Students,36,567,34,94.4%,2,5.6%,0,0%,0,0%,0,0%
28469,75X723,8,2009,All Students,31,597,18,58.1%,13,41.9%,0,0%,0,0%,0,0%
28470,75X723,8,2010,All Students,38,598,32,84.2%,6,15.8%,0,0%,0,0%,0,0%
28471,75X723,8,2011,All Students,32,595,24,75%,7,21.9%,1,3.1%,0,0%,1,3.1%

In [1265]:
new_readFile6 = readFile6[readFile6["Cohort"] == "2006"]
new_readFile6 = readFile6[readFile6["Demographic"] == "Total Cohort"]

In [1266]:
new_readFile6

,Demographic,DBN,School Name,Cohort,Total Cohort,Total Grads - n,Total Grads - % of cohort,Total Regents - n,Total Regents - % of cohort,Total Regents - % of grads,...,Regents w/o Advanced - n,Regents w/o Advanced - % of cohort,Regents w/o Advanced - % of grads,Local - n,Local - % of cohort,Local - % of grads,Still Enrolled - n,Still Enrolled - % of cohort,Dropped Out - n,Dropped Out - % of cohort
0,Total Cohort,01M292,HENRY STREET SCHOOL FOR INTERNATIONAL,2003,5,s,s,s,s,s,...,s,s,s,s,s,s,s,s,s,s
1,Total Cohort,01M292,HENRY STREET SCHOOL FOR INTERNATIONAL,2004,55,37,67.3%,17,30.9%,45.9%,...,17,30.9%,45.9%,20,36.4%,54.1%,15,27.3%,3,5.5%
2,Total Cohort,01M292,HENRY STREET SCHOOL FOR INTERNATIONAL,2005,64,43,67.2%,27,42.2%,62.8%,...,27,42.2%,62.8%,16,25%,37.200000000000003%,9,14.1%,9,14.1%
3,Total Cohort,01M292,HENRY STREET SCHOOL FOR INTERNATIONAL,2006,78,43,55.1%,36,46.2%,83.7%,...,36,46.2%,83.7%,7,9%,16.3%,16,20.5%,11,14.1%
4,Total Cohort,01M292,HENRY STREET SCHOOL FOR INTERNATIONAL,2006 Aug,78,44,56.4%,37,47.4%,84.1%,...,37,47.4%,84.1%,7,9%,15.9%,15,19.2%,11,14.1%
5,Total Cohort,01M448,UNIVERSITY NEIGHBORHOOD HIGH SCHOOL,2001,64,46,71.900000000000006%,32,50%,69.599999999999994%,...,25,39.1%,54.3%,14,21.9%,30.4%,10,15.6%,6,9.4%
6,Total Cohort,01M448,UNIVERSITY NEIGHBORHOOD HIGH SCHOOL,2002,52,33,63.5%,19,36.5%,57.6%,...,11,21.2%,33.299999999999997%,14,26.9%,42.4%,16,30.8%,1,1.9%
7,Total Cohort,01M448,UNIVERSITY NEIGHBORHOOD HIGH SCHOOL,2003,87,67,77%,39,44.8%,58.2%,...,28,32.200000000000003%,41.8%,28,32.200000000000003%,41.8%,9,10.3%,11,12.6%
8,Total Cohort,01M448,UNIVERSITY NEIGHBORHOOD HIGH SCHOOL,2004,112,75,67%,36,32.1%,48%,...,30,26.8%,40%,39,34.799999999999997%,52%,33,29.5%,4,3.6%
9,Total Cohort,01M448,UNIVERSITY NEIGHBORHOOD HIGH SCHOOL,2005,121,64,52.9%,35,28.9%,54.7%,...,31,25.6%,48.4%,29,24%,45.3%,41,33.9%,11,9.1%
10,Total Cohort,01M448,UNIVERSITY NEIGHBORHOOD HIGH SCHOOL,2006,124,53,42.7%,42,33.9%,79.2%,...,34,27.4%,64.2%,11,8.9%,20.8%,46,37.1%,20,16.100000000000001%
11,Total Cohort,01M448,UNIVERSITY NEIGHBORHOOD HIGH SCHOOL,2006 Aug,124,60,48.4%,42,33.9%,70%,...,34,27.4%,56.7%,18,14.5%,30%,39,31.5%,20,16.100000000000001%
12,Total Cohort,01M450,EAST SIDE COMMUNITY SCHOOL,2001,61,41,67.2%,40,65.599999999999994%,97.6%,...,40,65.599999999999994%,97.6%,1,1.6%,2.4%,7,11.5%,12,19.7%
13,Total Cohort,01M450,EAST SIDE COMMUNITY SCHOOL,2002,72,45,62.5%,45,62.5%,100%,...,45,62.5%,100%,0,0%,0%,18,25%,7,9.699999999999999%
14,Total Cohort,01M450,EAST SIDE COMMUNITY SCHOOL,2003,79,49,62%,44,55.7%,89.8%,...,44,55.7%,89.8%,5,6.3%,10.199999999999999%,20,25.3%,10,12.7%
15,Total Cohort,01M450,EAST SIDE COMMUNITY SCHOOL,2004,80,58,72.5%,48,60%,82.8%,...,48,60%,82.8%,10,12.5%,17.2%,13,16.3%,9,11.3%
16,Total Cohort,01M450,EAST SIDE COMMUNITY SCHOOL,2005,85,61,71.8%,58,68.2%,95.1%,...,58,68.2%,95.1%,3,3.5%,4.9%,11,12.9%,9,10.6%
17,Total Cohort,01M450,EAST SIDE COMMUNITY SCHOOL,2006,90,70,77.8%,67,74.400000000000006%,95.7%,...,67,74.400000000000006%,95.7%,3,3.3%,4.3%,15,16.7%,5,5.6%
18,Total Cohort,01M450,EAST SIDE COMMUNITY SCHOOL,2006 Aug,90,71,78.900000000000006%,68,75.599999999999994%,95.8%,...,68,75.599999999999994%,95.8%,3,3.3%,4.2%,14,15.6%,5,5.6%
19,Total Cohort,01M509,MARTA VALLE HIGH SCHOOL,2001,69,34,49.3%,6,8.699999999999999%,17.600000000000001%,...,6,8.699999999999999%,17.600000000000001%,28,40.6%,82.4%,19,27.5%,10,14.5%
20,Total Cohort,01M509,MARTA VALLE HIGH SCHOOL,2002,55,22,40%,11,20%,50%,...,7,12.7%,31.8%,11,20%,50%,18,32.700000000000003%,11,20%
21,Total Cohort,01M509,MARTA VALLE HIGH SCHOOL,2003,70,31,44.3%,22,31.4%,71%,...,22,31.4%,71%,9,12.9%,29%,20,28.6%,18,25.7%
22,Total Cohort,01M509,MARTA VALLE HIGH SCHOOL,2004,65,29,44.6%,13,20%,44.8%,...,10,15.4%,34.5%,16,24.6%,55.2%,27,41.5%,8,12.3%
23,Total Cohort,01M509,MARTA VALLE HIGH SCHOOL,2005,88,49,55.7%,38,43.2%,77.599999999999994%,...,20,22.7%,40.799999999999997%,11,12.5%,22.4%,20,22.7%,14,15.9%
24,Total Cohort,01M509,MARTA VALLE HIGH SCHOOL,2006,84,47,56%,40,47.6%,85.1%,...,23,27.4%,48.9%,7,8.300000000000001%,14.9%,25,29.8%,5,6%
25,Total Cohort,01M509,MARTA VALLE HIGH SCHOOL,2006 Aug,84,50,59.5%,41,48.8%,82%,...,23,27.4%,46%,9,10.7%,18%,22,26.2%,5,6%
26,Total Cohort,01M515,LOWER EAST SIDE PREPARATORY HIGH SCHO,2001,166,88,53%,36,21.7%,40.9%,...,36,21.7%,40.9%,53,31.9%,60.2%,45,27.1%,30,18.100000000000001%
27,Total Cohort,01M515,LOWER EAST SIDE PREPARATORY HIGH SCHO,2002,172,77,44.8%,53,30.8%,68.8%,...,53,30.8%,68.8%,24,14%,31.2%,67,39%,28,16.3%
28,Total Cohort,01M515,LOWER EAST SIDE PREPARATORY HIGH SCHO,2003,205,86,42%,71,34.6%,82.6%,...,23,11.2%,26.7%,15,7.3%,17.399999999999999%,80,39%,39,19%
29,Total Cohort,01M515,LOWER EAST SIDE PREPARATORY HIGH SCHO,2004,200,97,48.5%,74,37%,76.3%,...,14,7%,14.4%,23,11.5%,23.7%,78,39%,25,12.5%
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2465,Total Cohort,32K549,BUSHWICK SCHOOL FOR SOCIAL JUSTICE,2004,105,76,72.400000000000006%,32,30.5%,42.1%,...,31,29.5%,40.799999999999997%,44,41.9%,57.9%,17,16.2%,12,11.4%
2466,Total Cohort,32K549,BUSHWICK SCHOOL FOR SOCIAL JUSTICE,2005,102,66,64.7%,35,34.299999999999997%,53%,...,32,31.4%,48.5%,31,30.4%,47%,18,17.600000000000001%,17,16.7%
2467,Total Cohort,32K549,BUSHWICK SCHOOL FOR SOCIAL JUSTICE,2006,97,74,76.3%,59,60.8%,79.7%,...,54,55.7%,73%,15,15.5%,20.3%,12,12.4%,9,9.300000000000001%
2468,Total Cohort,32K549,BUSHWICK SCHOOL FOR SOCIAL JUSTICE,2006 Aug,97,75,77.3%,60,61.9%,80%,...,55,56.7%,73.3%,15,15.5%,20%,11,11.3%,9,9.300000000000001%
2469,Total Cohort,32K552,ACADEMY OF URBAN PLANNING,2001,2,s,s,s,s,s,...,s,s,s,s,s,s,s,s,s,s
2470,Total Cohort,32K552,ACADEMY OF URBAN PLANNING,2002,6,s,s,s,s,s,...,s,s,s,s,s,s,s,s,s,s
2471,Total Cohort,32K552,ACADEMY OF URBAN PLANNING,2003,108,58,53.7%,21,19.399999999999999%,36.200000000000003%,...,18,16.7%,31%,37,34.299999999999997%,63.8%,36,33.299999999999997%,13,12%
2472,Total Cohort,32K552,ACADEMY OF URBAN PLANNING,2004,101,60,59.4%,27,26.7%,45%,...,25,24.8%,41.7%,33,32.700000000000003%,55%,33,32.700000000000003%,6,5.9%
2473,Total Cohort,32K552,ACADEMY OF URBAN PLANNING,2005,106,63,59.4%,24,22.6%,38.1%,...,23,21.7%,36.5%,39,36.799999999999997%,61.9%,27,25.5%,13,12.3%
2474,Total Cohort,32K552,ACADEMY OF URBAN PLANNING,2006,115,55,47.8%,41,35.700000000000003%,74.5%,...,40,34.799999999999997%,72.7%,14,12.2%,25.5%,44,38.299999999999997%,10,8.699999999999999%
2475,Total Cohort,32K552,ACADEMY OF URBAN PLANNING,2006 Aug,115,62,53.9%,43,37.4%,69.400000000000006%,...,42,36.5%,67.7%,19,16.5%,30.6%,37,32.200000000000003%,10,8.699999999999999%
2476,Total Cohort,32K554,ALL CITY LEADERSHIP SECONDARY SCHOOL,2002,3,s,s,s,s,s,...,s,s,s,s,s,s,s,s,s,s
2477,Total Cohort,32K554,ALL CITY LEADERSHIP SECONDARY SCHOOL,2003,23,21,91.3%,12,52.2%,57.1%,...,12,52.2%,57.1%,9,39.1%,42.9%,2,8.699999999999999%,0,0%
2478,Total Cohort,32K554,ALL CITY LEADERSHIP SECONDARY SCHOOL,2004,23,19,82.6%,9,39.1%,47.4%,...,9,39.1%,47.4%,10,43.5%,52.6%,3,13%,1,4.3%
2479,Total Cohort,32K554,ALL CITY LEADERSHIP SECONDARY SCHOOL,2005,46,37,80.400000000000006%,23,50%,62.2%,...,19,41.3%,51.4%,14,30.4%,37.799999999999997%,9,19.600000000000001%,0,0%
2480,Total Cohort,32K554,ALL CITY LEADERSHIP SECONDARY SCHOOL,2006,43,36,83.7%,23,53.5%,63.9%,...,18,41.9%,50%,13,30.2%,36.1%,5,11.6%,2,4.7%
2481,Total Cohort,32K554,ALL CITY LEADERSHIP SECONDARY SCHOOL,2006 Aug,43,38,88.4%,24,55.8%,63.2%,...,19,44.2%,50%,14,32.6%,36.799999999999997%,3,7%,2,4.7%
2483,Total Cohort,32K556,BUSHWICK LEADERS HIGH SCHOOL FOR ACAD,2002,6,s,s,s,s,s,...,s,s,s,s,s,s,s,s,s,s
2484,Total Cohort,32K556,BUSHWICK LEADERS HIGH SCHOOL FOR ACAD,2003,108,72,66.7%,11,10.199999999999999%,15.3%,...,10,9.300000000000001%,13.9%,61,56.5%,84.7%,24,22.2%,8,7.4%
2485,Total Cohort,32K556,BUSHWICK LEADERS HIGH SCHOOL FOR ACAD,2004,81,54,66.7%,18,22.2%,33.299999999999997%,...,17,21%,31.5%,36,44.4%,66.7%,20,24.7%,4,4.9%
2486,Total Cohort,32K556,BUSHWICK LEADERS HIGH SCHOOL FOR ACAD,2005,103,65,63.1%,28,27.2%,43.1%,...,27,26.2%,41.5%,37,35.9%,56.9%,25,24.3%,6,5.8%
2487,Total Cohort,32K556,BUSHWICK LEADERS HIGH SCHOOL FOR ACAD,2006,117,65,55.6%,28,23.9%,43.1%,...,23,19.7%,35.4%,37,31.6%,56.9%,24,20.5%,22,18.8%
2488,Total Cohort,32K556,BUSHWICK LEADERS HIGH SCHOOL FOR ACAD,2006 Aug,117,66,56.4%,28,23.9%,42.4%,...,23,19.7%,34.799999999999997%,38,32.5%,57.6%,23,19.7%,22,18.8%
2489,Total Cohort,32K564,BUSHWICK COMMUNITY HIGH SCHOOL,2001,159,10,6.3%,0,0%,0%,...,0,0%,0%,10,6.3%,100%,136,85.5%,13,8.199999999999999%
2490,Total Cohort,32K564,BUSHWICK COMMUNITY HIGH SCHOOL,2002,179,7,3.9%,0,0%,0%,...,0,0%,0%,7,3.9%,100%,141,78.8%,31,17.3%
2491,Total Cohort,32K564,BUSHWICK COMMUNITY HIGH SCHOOL,2003,129,4,3.1%,0,0%,0%,...,0,0%,0%,4,3.1%,100%,94,72.900000000000006%,31,24%
2492,Total Cohort,32K564,BUSHWICK COMMUNITY HIGH SCHOOL,2004,113,7,6.2%,0,0%,0%,...,0,0%,0%,7,6.2%,100%,63,55.8%,41,36.299999999999997%
2493,Total Cohort,32K564,BUSHWICK COMMUNITY HIGH SCHOOL,2005,140,5,3.6%,3,2.1%,60%,...,3,2.1%,60%,2,1.4%,40%,83,59.3%,49,35%
2494,Total Cohort,32K564,BUSHWICK COMMUNITY HIGH SCHOOL,2006,128,10,7.8%,3,2.3%,30%,...,3,2.3%,30%,7,5.5%,70%,63,49.2%,52,40.6%
2495,Total Cohort,32K564,BUSHWICK COMMUNITY HIGH SCHOOL,2006 Aug,128,10,7.8%,3,2.3%,30%,...,3,2.3%,30%,7,5.5%,70%,63,49.2%,52,40.6%

#### get total sat score

In [1267]:
#cols3 = ['SAT Math Avg. Score', 'SAT Critical Reading Avg. Score', 'SAT Writing Avg. Score']
#for c in cols3:
#    readFile1[c] = readFile1[c].convert_objects(convert_numeric=True)

#readFile1['Total SAT Score'] = readFile1[cols3[0]] + readFile1[cols3[1]] + readFile1[cols3[2]]

In [1268]:
readFile1.head()

,DBN,SCHOOL NAME,Num of SAT Test Takers,SAT Critical Reading Avg. Score,SAT Math Avg. Score,SAT Writing Avg. Score
0,01M292,HENRY STREET SCHOOL FOR INTERNATIONAL STUDIES,29,355,404,363
1,01M448,UNIVERSITY NEIGHBORHOOD HIGH SCHOOL,91,383,423,366
2,01M450,EAST SIDE COMMUNITY SCHOOL,70,377,402,370
3,01M458,FORSYTH SATELLITE ACADEMY,7,414,401,359
4,01M509,MARTA VALLE HIGH SCHOOL,44,390,433,384

In [1269]:
readFile12['lat'] = readFile12['Location 1'].apply(lambda x: x.split("\n")[-1].replace("(", "").replace(")", "").split(", ")[0])
readFile12['lon'] = readFile12['Location 1'].apply(lambda x: x.split("\n")[-1].replace("(", "").replace(")", "").split(", ")[1])

for c in ['lat', 'lon']:
    readFile12[c] = readFile12[c].convert_objects(convert_numeric=True)

/Users/dev_derrick/anaconda3/lib/python3.5/site-packages/ipykernel/__main__.py:5: FutureWarning: convert_objects is deprecated.  Use the data-type specific converters pd.to_datetime, pd.to_timedelta and pd.to_numeric.

In [1270]:
readFile13 = pd.read_csv(data13)
readFile13.head()

,DBN,DISTRICT,SCHOOL,PRINCIPAL,PROGRESS REPORT TYPE,SCHOOL LEVEL*,PEER INDEX*,2010-2011 OVERALL GRADE,2010-2011 OVERALL SCORE,2010-2011 ENVIRONMENT CATEGORY SCORE,2010-2011 ENVIRONMENT GRADE,2010-2011 PERFORMANCE CATEGORY SCORE,2010-2011 PERFORMANCE GRADE,2010-2011 PROGRESS CATEGORY SCORE,2010-2011 PROGRESS GRADE,2010-2011 ADDITIONAL CREDIT,2009-10 PROGRESS REPORT GRADE
0,01M015,1,P.S. 015 Roberto Clemente,Irene Sanchez,EMS,Elementary,63.61,C,27.0,6.4,B,2.1,D,18.0,C,0.5,C
1,01M019,1,P.S. 019 Asher Levy,Jacqueline Flanagan,EMS,Elementary,49.48,B,48.7,7.8,B,5.2,D,35.1,A,0.5,C
2,01M020,1,P.S. 020 Anna Silver,James Lee,EMS,Elementary,56.65,B,48.2,7.7,B,7.4,C,31.1,B,2.0,A
3,01M034,1,P.S. 034 Franklin D. Roosevelt,Joyce Stallings Harte,EMS,K-8,67.97,C,39.8,7.5,B,11.3,B,18.5,C,2.5,B
4,01M063,1,P.S. 063 William McKinley,Darlene Despeignes,EMS,Elementary,58.85,B,49.0,8.1,B,10.4,B,29.0,B,1.5,B

In [1271]:
readFile14 = pd.read_csv(data14)
readFile14.head()

,JURISDICTION NAME,COUNT PARTICIPANTS,COUNT FEMALE,PERCENT FEMALE,COUNT MALE,PERCENT MALE,COUNT GENDER UNKNOWN,PERCENT GENDER UNKNOWN,COUNT GENDER TOTAL,PERCENT GENDER TOTAL,...,COUNT CITIZEN STATUS TOTAL,PERCENT CITIZEN STATUS TOTAL,COUNT RECEIVES PUBLIC ASSISTANCE,PERCENT RECEIVES PUBLIC ASSISTANCE,COUNT NRECEIVES PUBLIC ASSISTANCE,PERCENT NRECEIVES PUBLIC ASSISTANCE,COUNT PUBLIC ASSISTANCE UNKNOWN,PERCENT PUBLIC ASSISTANCE UNKNOWN,COUNT PUBLIC ASSISTANCE TOTAL,PERCENT PUBLIC ASSISTANCE TOTAL
0,CSD 01 Manhattan,11,4,0.36,7,0.64,0,0,11,100,...,11,100,0,0.00,11,1.00,0,0,11,100
1,CSD 02 Manhattan,124,70,0.56,54,0.44,0,0,124,100,...,124,100,38,0.31,86,0.69,0,0,124,100
2,CSD 03 Manhattan,38,26,0.68,12,0.32,0,0,38,100,...,38,100,14,0.37,24,0.63,0,0,38,100
3,CSD 04 Manhattan,20,13,0.65,7,0.35,0,0,20,100,...,20,100,8,0.40,12,0.60,0,0,20,100
4,CSD 05 Manhattan,7,4,0.57,3,0.43,0,0,7,100,...,7,100,1,0.14,6,0.86,0,0,7,100

In [1272]:
readFile15 = pd.read_csv(data15)
readFile15.head()

      District YTD % Attendance (Avg)  YTD Enrollment(Avg)
0  DISTRICT 01                 91.18%                12367
1  DISTRICT 02                 89.01%                60823
2  DISTRICT 03                 89.28%                21962
3  DISTRICT 04                 91.13%                14252
4  DISTRICT 05                 89.08%                13170

In [1273]:
pd.merge(readFile1, readFile8, how='inner', left_on="DBN", right_on="SCHOOL CODE")
pd.merge(readFile13, readFile1, how='inner', on="DBN")
pd.merge(readFile14, readFile13, how='inner', right_on="DBN", left_on="JURISDICTION NAME")
pd.merge(readFile15, readFile13, how='inner', right_on="DISTRICT", left_on="District")

Empty DataFrame
Columns: [District, YTD % Attendance (Avg), YTD Enrollment(Avg), DBN, DISTRICT, SCHOOL, PRINCIPAL, PROGRESS REPORT TYPE, SCHOOL LEVEL*, PEER INDEX*, 2010-2011 OVERALL GRADE, 2010-2011 OVERALL SCORE, 2010-2011 ENVIRONMENT CATEGORY SCORE, 2010-2011 ENVIRONMENT GRADE, 2010-2011 PERFORMANCE CATEGORY SCORE, 2010-2011 PERFORMANCE GRADE, 2010-2011 PROGRESS CATEGORY SCORE, 2010-2011 PROGRESS GRADE, 2010-2011 ADDITIONAL CREDIT, 2009-10 PROGRESS REPORT GRADE]
Index: []

#### strip the first two character of DBN from readFile1 and readFile13 to match school code of class size

In [1274]:
readFile13.DBN = readFile13.DBN.map(lambda x: x[2:])
readFile1.DBN = readFile1.DBN.map(lambda x: x[2:])
#pd.DataFrame(data=[readFile13['DBN'].list(range(5)), readFile1['DBN'].list(range(5)), readFile8['SCHOOL CODE'].list(range(5))])

In [1275]:
pd.DataFrame(data=[readFile13['DISTRICT'][:3], readFile14['JURISDICTION NAME'][:3], readFile15['District'][:3]])

                                  0                 1                 2
DISTRICT                          1                 1                 1
JURISDICTION NAME  CSD 01 Manhattan  CSD 02 Manhattan  CSD 03 Manhattan
District                DISTRICT 01       DISTRICT 02       DISTRICT 03

In [1276]:
readFile14["JURISDICTION NAME"] = readFile14["JURISDICTION NAME"].map(lambda x: re.match(r'([A-Za-z]*\s)([0-9]*)', x).group(2)).astype(int)

#### convert district to int

In [1277]:
readFile15.District = readFile15.District.map(lambda x: x[-2:]).astype(int)

In [1278]:
pd.DataFrame(data=[readFile13['DISTRICT'][:3], readFile14['JURISDICTION NAME'][:3], readFile15['District'][:3]])

                   0  1  2
DISTRICT           1  1  1
JURISDICTION NAME  1  2  3
District           1  2  3

In [1279]:
readFile13 = readFile13.set_index('DBN')
readFile14 = readFile14.set_index('JURISDICTION NAME')
readFile8 = readFile8.set_index('SCHOOL CODE')
readFile15 = readFile15.set_index('District')
readFile1 = readFile1.set_index('DBN')

In [1280]:
#create boolean vector mask
mask = readFile1['Num of SAT Test Takers'].map(lambda x: x != 's')
readFile1 = readFile1[mask]

In [1281]:
readFile1['Num of SAT Test Takers'] = readFile1['Num of SAT Test Takers'].astype(int)
readFile1['SAT Critical Reading Avg. Score'] = readFile1['SAT Critical Reading Avg. Score'].astype(int)
readFile1['SAT Math Avg. Score'] = readFile1['SAT Math Avg. Score'].astype(int)
readFile1['SAT Writing Avg. Score'] = readFile1['SAT Writing Avg. Score'].astype(int)

In [1282]:
readFile1.head()

,SCHOOL NAME,Num of SAT Test Takers,SAT Critical Reading Avg. Score,SAT Math Avg. Score,SAT Writing Avg. Score
DBN,,,,,
M292,HENRY STREET SCHOOL FOR INTERNATIONAL STUDIES,29,355,404,363
M448,UNIVERSITY NEIGHBORHOOD HIGH SCHOOL,91,383,423,366
M450,EAST SIDE COMMUNITY SCHOOL,70,377,402,370
M458,FORSYTH SATELLITE ACADEMY,7,414,401,359
M509,MARTA VALLE HIGH SCHOOL,44,390,433,384

In [1283]:
dsPupilTeacher = readFile8.filter(['SCHOOLWIDE PUPIL-TEACHER RATIO'])
mask = dsPupilTeacher['SCHOOLWIDE PUPIL-TEACHER RATIO'].map(lambda x: x>0)
dsPupilTeacher = dsPupilTeacher[mask]
readFile8 = readFile8.drop('SCHOOLWIDE PUPIL-TEACHER RATIO', axis = 1)

In [1284]:
readFile8.info()

<class 'pandas.core.frame.DataFrame'>
Index: 27611 entries, M015 to K564
Data columns (total 14 columns):
CSD                                     27611 non-null int64
BOROUGH                                 27611 non-null object
SCHOOL NAME                             27611 non-null object
GRADE                                   26127 non-null object
PROGRAM TYPE                            26127 non-null object
CORE SUBJECT (MS CORE and 9-12 ONLY)    26127 non-null object
CORE COURSE (MS CORE and 9-12 ONLY)     26127 non-null object
SERVICE CATEGORY(K-9* ONLY)             26127 non-null object
NUMBER OF STUDENTS / SEATS FILLED       26127 non-null float64
NUMBER OF SECTIONS                      26127 non-null float64
AVERAGE CLASS SIZE                      26127 non-null float64
SIZE OF SMALLEST CLASS                  26127 non-null float64
SIZE OF LARGEST CLASS                   26127 non-null float64
DATA SOURCE                             26127 non-null object
dtypes: float64(5), int64(1), object(8)
memory usage: 3.2+ MB

In [1285]:
readFile8 = readFile8.drop(['BOROUGH', 'CSD', 'SCHOOL NAME', 'GRADE ', 'PROGRAM TYPE',
	'CORE SUBJECT (MS CORE and 9-12 ONLY)',
	'CORE COURSE (MS CORE and 9-12 ONLY)', 
	'SERVICE CATEGORY(K-9* ONLY)',
	'DATA SOURCE'], axis=1)

In [1286]:
grouped = readFile8.groupby(level=0)
readFile8 = grouped.aggregate(np.max).\
join(grouped.aggregate(np.min), lsuffix=".max").\
join(grouped.aggregate(np.mean), lsuffix=".min", rsuffix=".mean").\
join(dsPupilTeacher)

In [1287]:
mask = readFile13['SCHOOL LEVEL*'].map(lambda x: x == 'High School')
readFile13 = readFile13[mask]

In [1288]:
final = readFile1.join(readFile8).\
join(readFile13).\
merge(readFile14, left_on='DISTRICT', right_index=True).\
merge(readFile15, left_on='DISTRICT', right_index=True)

In [1289]:
final = final.drop(['SCHOOL NAME','SCHOOL','PRINCIPAL','SCHOOL LEVEL*','PROGRESS REPORT TYPE'],axis=1)

In [1290]:
final.head()
final.info()

<class 'pandas.core.frame.DataFrame'>
Index: 368 entries, M292 to K556
Data columns (total 78 columns):
Num of SAT Test Takers                    368 non-null int64
SAT Critical Reading Avg. Score           368 non-null int64
SAT Math Avg. Score                       368 non-null int64
SAT Writing Avg. Score                    368 non-null int64
NUMBER OF STUDENTS / SEATS FILLED.max     366 non-null float64
NUMBER OF SECTIONS.max                    366 non-null float64
AVERAGE CLASS SIZE.max                    366 non-null float64
SIZE OF SMALLEST CLASS.max                366 non-null float64
SIZE OF LARGEST CLASS.max                 366 non-null float64
NUMBER OF STUDENTS / SEATS FILLED.min     366 non-null float64
NUMBER OF SECTIONS.min                    366 non-null float64
AVERAGE CLASS SIZE.min                    366 non-null float64
SIZE OF SMALLEST CLASS.min                366 non-null float64
SIZE OF LARGEST CLASS.min                 366 non-null float64
NUMBER OF STUDENTS / SEATS FILLED.mean    366 non-null float64
NUMBER OF SECTIONS.mean                   366 non-null float64
AVERAGE CLASS SIZE.mean                   366 non-null float64
SIZE OF SMALLEST CLASS.mean               366 non-null float64
SIZE OF LARGEST CLASS.mean                366 non-null float64
SCHOOLWIDE PUPIL-TEACHER RATIO            365 non-null float64
DISTRICT                                  368 non-null float64
PEER INDEX*                               368 non-null float64
2010-2011 OVERALL GRADE                   327 non-null object
2010-2011 OVERALL SCORE                   327 non-null float64
2010-2011 ENVIRONMENT CATEGORY SCORE      327 non-null float64
2010-2011 ENVIRONMENT GRADE               327 non-null object
2010-2011 PERFORMANCE CATEGORY SCORE      327 non-null float64
2010-2011 PERFORMANCE GRADE               327 non-null object
2010-2011 PROGRESS CATEGORY SCORE         327 non-null float64
2010-2011 PROGRESS GRADE                  327 non-null object
2010-2011 ADDITIONAL CREDIT               269 non-null float64
2009-10 PROGRESS REPORT GRADE             322 non-null object
COUNT PARTICIPANTS                        368 non-null int64
COUNT FEMALE                              368 non-null int64
PERCENT FEMALE                            368 non-null float64
COUNT MALE                                368 non-null int64
PERCENT MALE                              368 non-null float64
COUNT GENDER UNKNOWN                      368 non-null int64
PERCENT GENDER UNKNOWN                    368 non-null int64
COUNT GENDER TOTAL                        368 non-null int64
PERCENT GENDER TOTAL                      368 non-null int64
COUNT PACIFIC ISLANDER                    368 non-null int64
COUNT HISPANIC LATINO                     368 non-null int64
PERCENT HISPANIC LATINO                   368 non-null float64
COUNT AMERICAN INDIAN                     368 non-null int64
PERCENT AMERICAN INDIAN                   368 non-null float64
COUNT ASIAN NON HISPANIC                  368 non-null int64
PERCENT ASIAN NON HISPANIC                368 non-null float64
COUNT WHITE NON HISPANIC                  368 non-null int64
PERCENT WHITE NON HISPANIC                368 non-null float64
COUNT BLACK NON HISPANIC                  368 non-null int64
PERCENT BLACK NON HISPANIC                368 non-null float64
COUNT OTHER ETHNICITY                     368 non-null int64
PERCENT OTHER ETHNICITY                   368 non-null float64
COUNT ETHNICITY UNKNOWN                   368 non-null int64
PERCENT ETHNICITY UNKNOWN                 368 non-null float64
COUNT ETHNICITY TOTAL                     368 non-null int64
PERCENT ETHNICITY TOTAL                   368 non-null int64
COUNT PERMANENT RESIDENT ALIEN            368 non-null int64
PERCENT PERMANENT RESIDENT ALIEN          368 non-null float64
COUNT US CITIZEN                          368 non-null int64
PERCENT US CITIZEN                        368 non-null float64
COUNT OTHER CITIZEN STATUS                368 non-null int64
PERCENT OTHER CITIZEN STATUS              368 non-null float64
COUNT CITIZEN STATUS UNKNOWN              368 non-null int64
PERCENT CITIZEN STATUS UNKNOWN            368 non-null int64
COUNT CITIZEN STATUS TOTAL                368 non-null int64
PERCENT CITIZEN STATUS TOTAL              368 non-null int64
COUNT RECEIVES PUBLIC ASSISTANCE          368 non-null int64
PERCENT RECEIVES PUBLIC ASSISTANCE        368 non-null float64
COUNT NRECEIVES PUBLIC ASSISTANCE         368 non-null int64
PERCENT NRECEIVES PUBLIC ASSISTANCE       368 non-null float64
COUNT PUBLIC ASSISTANCE UNKNOWN           368 non-null int64
PERCENT PUBLIC ASSISTANCE UNKNOWN         368 non-null int64
COUNT PUBLIC ASSISTANCE TOTAL             368 non-null int64
PERCENT PUBLIC ASSISTANCE TOTAL           368 non-null int64
YTD % Attendance (Avg)                    368 non-null object
YTD Enrollment(Avg)                       368 non-null int64
dtypes: float64(37), int64(35), object(6)
memory usage: 227.1+ KB

In [1291]:
final['YTD % Attendance (Avg)'].head()

DBN
M292    91.18%
M448    91.18%
M450    91.18%
M509    91.18%
M539    91.18%
Name: YTD % Attendance (Avg), dtype: object

In [1292]:
final['YTD % Attendance (Avg)'] = final['YTD % Attendance (Avg)'].map(lambda x: x.replace("%","")).astype(float)

In [1293]:
final['YTD % Attendance (Avg)'].head()

DBN
M292    91.18
M448    91.18
M450    91.18
M509    91.18
M539    91.18
Name: YTD % Attendance (Avg), dtype: float64

In [1294]:
final.dtypes[final.dtypes.map(lambda x: x=='object')]

2010-2011 OVERALL GRADE          object
2010-2011 ENVIRONMENT GRADE      object
2010-2011 PERFORMANCE GRADE      object
2010-2011 PROGRESS GRADE         object
2009-10 PROGRESS REPORT GRADE    object
dtype: object

In [1298]:
gradeCols = ['2010-2011 OVERALL GRADE','2010-2011 ENVIRONMENT GRADE','2010-2011 PERFORMANCE GRADE','2010-2011 PROGRESS GRADE', '2009-10 PROGRESS REPORT GRADE']

In [1299]:
final = final.drop(gradeCols, axis=1)

In [1300]:
#grades = np.array(final[gradeCols].values)

In [1301]:
#for c in gradeCols:
#    for g in grades:
#        colName = c + "_is_" + str(g)
 #       final[colName] = pd.Series(data=final[c].map(lambda x: 1 if x is g else -1))

In [1302]:
final.drop(['SAT Critical Reading Avg. Score','SAT Math Avg. Score','SAT Writing Avg. Score'],axis=1).to_csv('train.csv')

In [1303]:
final.dropna()

,Num of SAT Test Takers,SAT Critical Reading Avg. Score,SAT Math Avg. Score,SAT Writing Avg. Score,NUMBER OF STUDENTS / SEATS FILLED.max,NUMBER OF SECTIONS.max,AVERAGE CLASS SIZE.max,SIZE OF SMALLEST CLASS.max,SIZE OF LARGEST CLASS.max,NUMBER OF STUDENTS / SEATS FILLED.min,...,COUNT RECEIVES PUBLIC ASSISTANCE,PERCENT RECEIVES PUBLIC ASSISTANCE,COUNT NRECEIVES PUBLIC ASSISTANCE,PERCENT NRECEIVES PUBLIC ASSISTANCE,COUNT PUBLIC ASSISTANCE UNKNOWN,PERCENT PUBLIC ASSISTANCE UNKNOWN,COUNT PUBLIC ASSISTANCE TOTAL,PERCENT PUBLIC ASSISTANCE TOTAL,YTD % Attendance (Avg),YTD Enrollment(Avg)
DBN,,,,,,,,,,,,,,,,,,,,,
M448,91,383,423,366,303.0,14.0,30.0,30.0,33.0,18.0,...,0,0.00,11,1.00,0,0,11,100,91.18,12367
M450,70,377,402,370,130.0,7.0,26.0,26.0,28.0,5.0,...,0,0.00,11,1.00,0,0,11,100,91.18,12367
M509,44,390,433,384,137.0,6.0,33.5,33.0,35.0,6.0,...,0,0.00,11,1.00,0,0,11,100,91.18,12367
M283,27,406,379,408,308.0,10.0,33.6,31.0,38.0,10.0,...,14,0.37,24,0.63,0,0,38,100,89.28,21962
M299,49,374,384,374,252.0,9.0,29.5,27.0,35.0,10.0,...,14,0.37,24,0.63,0,0,38,100,89.28,21962
M307,41,384,390,370,115.0,5.0,24.0,22.0,27.0,16.0,...,14,0.37,24,0.63,0,0,38,100,89.28,21962
M415,32,371,368,370,332.0,12.0,31.3,28.0,34.0,10.0,...,14,0.37,24,0.63,0,0,38,100,89.28,21962
M479,261,577,575,592,833.0,27.0,34.0,34.0,34.0,33.0,...,14,0.37,24,0.63,0,0,38,100,89.28,21962
M492,66,396,398,402,317.0,15.0,32.0,32.0,34.0,10.0,...,14,0.37,24,0.63,0,0,38,100,89.28,21962
M494,75,433,433,411,262.0,9.0,36.0,36.0,36.0,10.0,...,14,0.37,24,0.63,0,0,38,100,89.28,21962
M860,43,356,379,361,165.0,8.0,30.0,30.0,30.0,13.0,...,14,0.37,24,0.63,0,0,38,100,89.28,21962
M288,62,409,393,392,272.0,12.0,32.5,32.0,33.0,15.0,...,38,0.31,86,0.69,0,0,124,100,89.01,60823
M296,58,374,375,362,280.0,12.0,32.0,32.0,35.0,18.0,...,38,0.31,86,0.69,0,0,124,100,89.01,60823
M298,85,423,438,432,135.0,8.0,31.0,31.0,33.0,13.0,...,38,0.31,86,0.69,0,0,124,100,89.01,60823
M300,48,404,449,416,155.0,6.0,33.5,33.0,36.0,17.0,...,38,0.31,86,0.69,0,0,124,100,89.01,60823
M303,76,353,358,340,177.0,8.0,32.0,29.0,35.0,17.0,...,38,0.31,86,0.69,0,0,124,100,89.01,60823
M305,50,375,388,385,150.0,8.0,29.0,29.0,32.0,15.0,...,38,0.31,86,0.69,0,0,124,100,89.01,60823
M308,40,403,392,405,162.0,14.0,29.0,29.0,31.0,15.0,...,38,0.31,86,0.69,0,0,124,100,89.01,60823
M316,42,373,370,384,299.0,12.0,35.0,35.0,35.0,26.0,...,38,0.31,86,0.69,0,0,124,100,89.01,60823
M374,60,391,391,394,247.0,9.0,34.0,34.0,36.0,24.0,...,38,0.31,86,0.69,0,0,124,100,89.01,60823
M400,263,465,493,461,725.0,23.0,34.3,34.0,36.0,11.0,...,38,0.31,86,0.69,0,0,124,100,89.01,60823
M412,114,537,590,550,130.0,4.0,36.0,36.0,36.0,30.0,...,38,0.31,86,0.69,0,0,124,100,89.01,60823
M413,66,517,533,515,95.0,7.0,14.8,14.0,16.0,10.0,...,38,0.31,86,0.69,0,0,124,100,89.01,60823
M414,103,468,492,459,336.0,12.0,33.6,33.0,47.0,20.0,...,38,0.31,86,0.69,0,0,124,100,89.01,60823
M416,127,572,594,592,278.0,10.0,31.8,31.0,34.0,31.0,...,38,0.31,86,0.69,0,0,124,100,89.01,60823
M418,144,528,553,533,363.0,12.0,34.0,34.0,34.0,21.0,...,38,0.31,86,0.69,0,0,124,100,89.01,60823
M420,336,429,449,428,1390.0,43.0,33.9,33.0,35.0,30.0,...,38,0.31,86,0.69,0,0,124,100,89.01,60823
M425,84,416,426,391,653.0,21.0,33.0,32.0,34.0,12.0,...,38,0.31,86,0.69,0,0,124,100,89.01,60823
M429,29,356,357,349,190.0,10.0,32.5,31.0,34.0,6.0,...,38,0.31,86,0.69,0,0,124,100,89.01,60823
M439,95,441,473,458,220.0,10.0,26.0,26.0,26.0,19.0,...,38,0.31,86,0.69,0,0,124,100,89.01,60823
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Q480,403,391,409,392,2813.0,97.0,33.6,32.0,72.0,11.0,...,5,0.13,35,0.88,0,0,40,100,89.88,46007
Q650,194,429,491,425,478.0,18.0,34.0,34.0,34.0,34.0,...,5,0.13,35,0.88,0,0,40,100,89.88,46007
Q440,762,456,497,454,1802.0,56.0,34.0,34.0,51.0,13.0,...,7,0.27,19,0.73,0,0,26,100,91.70,37009
Q505,462,395,413,386,1552.0,53.0,34.0,34.0,34.0,11.0,...,7,0.27,19,0.73,0,0,26,100,91.70,37009
Q620,422,452,478,442,1046.0,36.0,34.0,34.0,34.0,13.0,...,7,0.27,19,0.73,0,0,26,100,91.70,37009
Q690,74,406,406,384,233.0,8.0,34.3,33.0,39.0,11.0,...,7,0.27,19,0.73,0,0,26,100,91.70,37009
Q248,52,360,380,359,282.0,11.0,31.0,31.0,31.0,16.0,...,0,0.00,4,1.00,0,0,4,100,92.14,27232
Q259,46,401,397,375,293.0,12.0,29.5,28.0,34.0,8.0,...,0,0.00,4,1.00,0,0,4,100,92.14,27232
Q265,49,402,398,402,284.0,10.0,36.0,36.0,36.0,19.0,...,0,0.00,4,1.00,0,0,4,100,92.14,27232
Q272,59,436,427,424,286.0,11.0,34.5,34.0,36.0,18.0,...,0,0.00,4,1.00,0,0,4,100,92.14,27232
Q283,43,370,367,363,200.0,7.0,37.0,37.0,38.0,13.0,...,0,0.00,4,1.00,0,0,4,100,92.14,27232
Q492,78,400,426,394,196.0,8.0,32.0,30.0,37.0,15.0,...,0,0.00,4,1.00,0,0,4,100,92.14,27232
Q494,52,385,377,377,205.0,8.0,36.0,36.0,40.0,23.0,...,0,0.00,4,1.00,0,0,4,100,92.14,27232
Q498,62,393,381,377,208.0,7.0,34.0,34.0,36.0,27.0,...,0,0.00,4,1.00,0,0,4,100,92.14,27232
Q445,395,414,449,412,1683.0,58.0,34.0,34.0,39.0,10.0,...,1,0.17,5,0.83,0,0,6,100,92.79,39742
Q502,148,407,434,398,518.0,18.0,34.0,34.0,35.0,10.0,...,1,0.17,5,0.83,0,0,6,100,92.79,39742
Q555,143,323,475,329,786.0,27.0,33.7,33.0,35.0,12.0,...,1,0.17,5,0.83,0,0,6,100,92.79,39742
Q575,135,487,492,491,436.0,15.0,35.0,35.0,37.0,23.0,...,1,0.17,5,0.83,0,0,6,100,92.79,39742
R047,137,452,451,450,233.0,9.0,46.0,46.0,46.0,10.0,...,0,0.00,0,0.00,0,0,0,0,90.98,59373
R080,107,472,488,466,204.0,7.0,37.5,37.0,39.0,10.0,...,0,0.00,0,0.00,0,0,0,0,90.98,59373
R440,391,424,437,416,2443.0,86.0,36.0,33.0,44.0,13.0,...,0,0.00,0,0.00,0,0,0,0,90.98,59373
R445,271,424,438,417,895.0,33.0,43.0,34.0,52.0,12.0,...,0,0.00,0,0.00,0,0,0,0,90.98,59373
R450,375,437,435,429,1214.0,43.0,39.0,39.0,46.0,16.0,...,0,0.00,0,0.00,0,0,0,0,90.98,59373
R455,807,462,486,470,1524.0,47.0,34.0,34.0,41.0,14.0,...,0,0.00,0,0.00,0,0,0,0,90.98,59373
R460,535,455,474,459,1383.0,46.0,34.0,34.0,36.0,15.0,...,0,0.00,0,0.00,0,0,0,0,90.98,59373
R600,94,416,422,397,542.0,18.0,32.0,32.0,34.0,12.0,...,0,0.00,0,0.00,0,0,0,0,90.98,59373
K403,50,380,366,352,192.0,8.0,34.0,34.0,34.0,11.0,...,0,0.00,0,0.00,0,0,0,0,89.28,15297
K545,88,384,409,361,340.0,13.0,36.0,36.0,36.0,13.0,...,0,0.00,0,0.00,0,0,0,0,89.28,15297
K549,75,348,353,334,188.0,7.0,32.0,32.0,36.0,10.0,...,0,0.00,0,0.00,0,0,0,0,89.28,15297
K552,67,342,364,354,268.0,11.0,32.7,32.0,34.0,13.0,...,0,0.00,0,0.00,0,0,0,0,89.28,15297

In [1304]:
#final.filter(['Critical Reading Mean','Mathematics Mean','Writing Mean']).to_csv('target.csv')
final.filter(['SAT Critical Reading Avg. Score','SAT Math Avg. Score','SAT Writing Avg. Score'],axis=1).to_csv('target.csv')

In [1305]:
target = final.filter(['SAT Critical Reading Avg. Score'])

In [1306]:
#train = final.drop(['Critical Reading Mean','Mathematics Mean','Writing Mean'],axis=1)
train = final.drop(['SAT Critical Reading Avg. Score','SAT Math Avg. Score','SAT Writing Avg. Score'],axis=1)

In [1312]:
#model = RandomForestRegressor(n_estimators=100, n_jobs=-1)
#model.fit(train, target)

In [1308]:
#predictions = np.array(model.predict(train))
#rmse = math.sqrt(np.mean((np.array(target.values) - predictions)**2))
#imp = sorted(zip(train.columns, model.feature_importances_), key=lambda tup: tup[1], reverse=True)

#print ("RMSE: " + str(rmse))
#print ("10 Most Important Variables:" + str(imp[:10]))

In [1309]:
train_data = "/Users/dev_derrick/Desktop/CSC59970Project/train.csv"
target_data = "/Users/dev_derrick/Desktop/CSC59970Project/target.csv"

In [1310]:
read_train = pd.read_csv(train_data)
read_train

,DBN,Num of SAT Test Takers,NUMBER OF STUDENTS / SEATS FILLED.max,NUMBER OF SECTIONS.max,AVERAGE CLASS SIZE.max,SIZE OF SMALLEST CLASS.max,SIZE OF LARGEST CLASS.max,NUMBER OF STUDENTS / SEATS FILLED.min,NUMBER OF SECTIONS.min,AVERAGE CLASS SIZE.min,...,COUNT RECEIVES PUBLIC ASSISTANCE,PERCENT RECEIVES PUBLIC ASSISTANCE,COUNT NRECEIVES PUBLIC ASSISTANCE,PERCENT NRECEIVES PUBLIC ASSISTANCE,COUNT PUBLIC ASSISTANCE UNKNOWN,PERCENT PUBLIC ASSISTANCE UNKNOWN,COUNT PUBLIC ASSISTANCE TOTAL,PERCENT PUBLIC ASSISTANCE TOTAL,YTD % Attendance (Avg),YTD Enrollment(Avg)
0,M292,29,186.0,9.0,32.0,32.0,35.0,6.0,1.0,6.0,...,0,0.00,11,1.00,0,0,11,100,91.18,12367
1,M448,91,303.0,14.0,30.0,30.0,33.0,18.0,1.0,16.6,...,0,0.00,11,1.00,0,0,11,100,91.18,12367
2,M450,70,130.0,7.0,26.0,26.0,28.0,5.0,1.0,5.0,...,0,0.00,11,1.00,0,0,11,100,91.18,12367
3,M509,44,137.0,6.0,33.5,33.0,35.0,6.0,1.0,6.0,...,0,0.00,11,1.00,0,0,11,100,91.18,12367
4,M539,159,294.0,11.0,33.5,33.0,34.0,25.0,1.0,12.5,...,0,0.00,11,1.00,0,0,11,100,91.18,12367
5,M696,130,454.0,21.0,24.0,22.0,26.0,46.0,2.0,16.9,...,0,0.00,11,1.00,0,0,11,100,91.18,12367
6,M047,16,64.0,3.0,23.0,23.0,24.0,10.0,1.0,10.0,...,14,0.37,24,0.63,0,0,38,100,89.28,21962
7,M283,27,308.0,10.0,33.6,31.0,38.0,10.0,1.0,10.0,...,14,0.37,24,0.63,0,0,38,100,89.28,21962
8,M299,49,252.0,9.0,29.5,27.0,35.0,10.0,1.0,10.0,...,14,0.37,24,0.63,0,0,38,100,89.28,21962
9,M307,41,115.0,5.0,24.0,22.0,27.0,16.0,1.0,12.5,...,14,0.37,24,0.63,0,0,38,100,89.28,21962
10,M415,32,332.0,12.0,31.3,28.0,34.0,10.0,1.0,4.7,...,14,0.37,24,0.63,0,0,38,100,89.28,21962
11,M470,131,523.0,22.0,30.0,29.0,34.0,10.0,1.0,10.0,...,14,0.37,24,0.63,0,0,38,100,89.28,21962
12,M479,261,833.0,27.0,34.0,34.0,34.0,33.0,1.0,28.0,...,14,0.37,24,0.63,0,0,38,100,89.28,21962
13,M485,531,1373.0,42.0,33.5,32.0,40.0,69.0,3.0,23.0,...,14,0.37,24,0.63,0,0,38,100,89.28,21962
14,M492,66,317.0,15.0,32.0,32.0,34.0,10.0,1.0,10.0,...,14,0.37,24,0.63,0,0,38,100,89.28,21962
15,M494,75,262.0,9.0,36.0,36.0,36.0,10.0,1.0,10.0,...,14,0.37,24,0.63,0,0,38,100,89.28,21962
16,M541,111,249.0,12.0,25.8,24.0,31.0,20.0,1.0,16.9,...,14,0.37,24,0.63,0,0,38,100,89.28,21962
17,M860,43,165.0,8.0,30.0,30.0,30.0,13.0,1.0,11.0,...,14,0.37,24,0.63,0,0,38,100,89.28,21962
18,M288,62,272.0,12.0,32.5,32.0,33.0,15.0,1.0,14.5,...,38,0.31,86,0.69,0,0,124,100,89.01,60823
19,M294,53,122.0,11.0,21.3,19.0,25.0,10.0,1.0,10.0,...,38,0.31,86,0.69,0,0,124,100,89.01,60823
20,M296,58,280.0,12.0,32.0,32.0,35.0,18.0,1.0,16.8,...,38,0.31,86,0.69,0,0,124,100,89.01,60823
21,M298,85,135.0,8.0,31.0,31.0,33.0,13.0,1.0,12.5,...,38,0.31,86,0.69,0,0,124,100,89.01,60823
22,M300,48,155.0,6.0,33.5,33.0,36.0,17.0,1.0,16.0,...,38,0.31,86,0.69,0,0,124,100,89.01,60823
23,M303,76,177.0,8.0,32.0,29.0,35.0,17.0,1.0,14.5,...,38,0.31,86,0.69,0,0,124,100,89.01,60823
24,M305,50,150.0,8.0,29.0,29.0,32.0,15.0,1.0,15.0,...,38,0.31,86,0.69,0,0,124,100,89.01,60823
25,M308,40,162.0,14.0,29.0,29.0,31.0,15.0,1.0,11.6,...,38,0.31,86,0.69,0,0,124,100,89.01,60823
26,M316,42,299.0,12.0,35.0,35.0,35.0,26.0,1.0,21.5,...,38,0.31,86,0.69,0,0,124,100,89.01,60823
27,M374,60,247.0,9.0,34.0,34.0,36.0,24.0,1.0,22.0,...,38,0.31,86,0.69,0,0,124,100,89.01,60823
28,M376,92,291.0,10.0,95.0,95.0,95.0,16.0,1.0,16.0,...,38,0.31,86,0.69,0,0,124,100,89.01,60823
29,M400,263,725.0,23.0,34.3,34.0,36.0,11.0,1.0,11.0,...,38,0.31,86,0.69,0,0,124,100,89.01,60823
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
338,Q272,59,286.0,11.0,34.5,34.0,36.0,18.0,1.0,18.0,...,0,0.00,4,1.00,0,0,4,100,92.14,27232
339,Q283,43,200.0,7.0,37.0,37.0,38.0,13.0,1.0,8.0,...,0,0.00,4,1.00,0,0,4,100,92.14,27232
340,Q492,78,196.0,8.0,32.0,30.0,37.0,15.0,1.0,12.5,...,0,0.00,4,1.00,0,0,4,100,92.14,27232
341,Q494,52,205.0,8.0,36.0,36.0,40.0,23.0,1.0,19.5,...,0,0.00,4,1.00,0,0,4,100,92.14,27232
342,Q496,49,141.0,5.0,38.0,37.0,39.0,29.0,1.0,23.5,...,0,0.00,4,1.00,0,0,4,100,92.14,27232
343,Q498,62,208.0,7.0,34.0,34.0,36.0,27.0,1.0,23.0,...,0,0.00,4,1.00,0,0,4,100,92.14,27232
344,Q301,98,95.0,4.0,23.8,23.0,28.0,14.0,1.0,14.0,...,1,0.17,5,0.83,0,0,6,100,92.79,39742
345,Q445,395,1683.0,58.0,34.0,34.0,39.0,10.0,1.0,10.0,...,1,0.17,5,0.83,0,0,6,100,92.79,39742
346,Q450,392,1637.0,61.0,30.7,30.0,34.0,14.0,1.0,8.0,...,1,0.17,5,0.83,0,0,6,100,92.79,39742
347,Q501,174,408.0,13.0,34.0,32.0,35.0,81.0,4.0,20.3,...,1,0.17,5,0.83,0,0,6,100,92.79,39742
348,Q502,148,518.0,18.0,34.0,34.0,35.0,10.0,1.0,10.0,...,1,0.17,5,0.83,0,0,6,100,92.79,39742
349,Q555,143,786.0,27.0,33.7,33.0,35.0,12.0,1.0,12.0,...,1,0.17,5,0.83,0,0,6,100,92.79,39742
350,Q575,135,436.0,15.0,35.0,35.0,37.0,23.0,1.0,22.5,...,1,0.17,5,0.83,0,0,6,100,92.79,39742
351,Q580,61,195.0,9.0,27.0,27.0,28.0,11.0,1.0,11.0,...,1,0.17,5,0.83,0,0,6,100,92.79,39742
352,R047,137,233.0,9.0,46.0,46.0,46.0,10.0,1.0,10.0,...,0,0.00,0,0.00,0,0,0,0,90.98,59373
353,R064,61,210.0,10.0,33.0,33.0,34.0,13.0,1.0,13.0,...,0,0.00,0,0.00,0,0,0,0,90.98,59373
354,R080,107,204.0,7.0,37.5,37.0,39.0,10.0,1.0,10.0,...,0,0.00,0,0.00,0,0,0,0,90.98,59373
355,R440,391,2443.0,86.0,36.0,33.0,44.0,13.0,1.0,11.0,...,0,0.00,0,0.00,0,0,0,0,90.98,59373
356,R445,271,895.0,33.0,43.0,34.0,52.0,12.0,1.0,11.3,...,0,0.00,0,0.00,0,0,0,0,90.98,59373
357,R450,375,1214.0,43.0,39.0,39.0,46.0,16.0,1.0,16.0,...,0,0.00,0,0.00,0,0,0,0,90.98,59373
358,R455,807,1524.0,47.0,34.0,34.0,41.0,14.0,1.0,10.3,...,0,0.00,0,0.00,0,0,0,0,90.98,59373
359,R460,535,1383.0,46.0,34.0,34.0,36.0,15.0,1.0,10.0,...,0,0.00,0,0.00,0,0,0,0,90.98,59373
360,R600,94,542.0,18.0,32.0,32.0,34.0,12.0,1.0,11.3,...,0,0.00,0,0.00,0,0,0,0,90.98,59373
361,R605,227,687.0,23.0,33.0,33.0,34.0,19.0,1.0,19.0,...,0,0.00,0,0.00,0,0,0,0,90.98,59373
362,K403,50,192.0,8.0,34.0,34.0,34.0,11.0,1.0,11.0,...,0,0.00,0,0.00,0,0,0,0,89.28,15297
363,K545,88,340.0,13.0,36.0,36.0,36.0,13.0,1.0,13.0,...,0,0.00,0,0.00,0,0,0,0,89.28,15297
364,K549,75,188.0,7.0,32.0,32.0,36.0,10.0,1.0,10.0,...,0,0.00,0,0.00,0,0,0,0,89.28,15297
365,K552,67,268.0,11.0,32.7,32.0,34.0,13.0,1.0,11.5,...,0,0.00,0,0.00,0,0,0,0,89.28,15297
366,K554,39,149.0,7.0,38.0,38.0,38.0,13.0,1.0,11.3,...,0,0.00,0,0.00,0,0,0,0,89.28,15297
367,K556,23,313.0,12.0,34.0,34.0,34.0,10.0,1.0,10.0,...,0,0.00,0,0.00,0,0,0,0,89.28,15297